<div [@routerTransition]>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <p-confirmDialog
                [style]="{ 'max-width': '500px' }"
                appendTo="body"
                styleClass="behavior-cd"
                [closable]="false"
                [breakpoints]="{ '960px': '95vw', '640px': '98vw' }"
            ></p-confirmDialog>            
                <div class="d-flex flex-column flex-column-fluid">
                <sub-header *ngIf="theme != 'theme12'" [title]="'contacts' | localize" [description]="'contactsHeaderInfo' | localize">
                    <div role="actions">
                        <button (click)="exportToExcel($event)" class="btn btn-primary btn-round btn-sm waves-effect waves-float waves-light" >
                            <i class="fa fa-file-excel"></i> {{ l("ExportContacts") }}
                        </button>
                        <!-- working here -->
                        <button (click)="BackUpConversationForAll()" class="btn btn-outline-success" *ngIf="isGranted('Pages_Contacts_Backup_All_Converstion')">
                            <i class="fa fa-file-excel"></i> {{ l("BackUpConversation") }}
                        </button>
                        <!-- <button *ngIf="isGranted('Pages.Contacts.Create')" (click)="createContact()"
                                            class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewContact")}}</button> -->
                    </div>
                </sub-header>

                <!-- theme 12 sub header-->
                <sub-header *ngIf="theme === 'theme12'" [title]="'contacts' | localize" [description]="'contactHeaderInfo' | localize"> </sub-header>
                <!-- end of theme 12 sub header-->
                <div [ngClass]="theme != 'theme12' ? 'container' : ''">
                    <div class="card card-custom gutter-b">
                        <div class="card-body">
                            <form *ngIf="theme != 'theme12'" class="form p-1" autocomplete="off">
                                <div class="row align-items-center pb-5">
                                    <div class="input-group col-md-6 col-6 d-flex justify-content-md-start">
                                        <input
                                            [(ngModel)]="filterName"
                                            name="filterName"
                                            autoFocus
                                            class="form-control m-input"
                                            [placeholder]="'searchByName' | localize"
                                            type="text"
                                        />
                                    </div>
                                    <div class="input-group col-md-6 p-0 col-6 d-flex justify-content-md-start">
                                        <input
                                            [(ngModel)]="filterPhoneNumber"
                                            name="filterPhoneNumber"
                                            autoFocus
                                            class="form-control m-input"
                                            [placeholder]="'searchByPhone' | localize"
                                            type="text"
                                        />
                                        <button (click)="getContacts()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </div>     
                                    <div class="col-4">
                                        <p-dropdown 
                                            [options]="statusOptions"
                                            [(ngModel)]="selectedStatus"
                                            name="selectedStatus"
                                            placeholder="Select Status"
                                            pTooltip="Filter contacts by customer behavior"
                                            tooltipPosition="top"
                                            (onChange)="getContacts()">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </form>
                            <div class="row" [hidden]="theme != 'theme12'">
                                <div class="col-6"></div>
                                <div class="col-6 p-1" [ngClass]="isArabic ? 'text-left' : 'text-right'">
                                    <button (click)="exportToExcel($event)" class="btn btn-outline-primary-info mr-1" *ngIf="isGranted('Pages.Contacts.Export_to_Excel')">
                                        <i class="fa fa-file-excel"></i> {{ l("ExportToExcel") }}
                                    </button>

                                    <button (click)="BackUpConversationForAll()" class="btn btn-outline-primary-info mr-1" *ngIf=" isGranted('Pages.Contacts.Backup_All_Converstion')">
                                        <i class="fa fa-file-excel"></i> {{ l("BackUpConversation") }}
                                    </button>
                                </div>
                            </div>
                            <form autocomplete="off" [hidden]="theme != 'theme12'">
                                <div class="row align-items-center pb-1">
                                    <div class="col-6">
                                        <input [(ngModel)]="filterName" name="filterName" class="form-control m-input"
                                            [placeholder]="'searchByName' | localize" type="text" />
                                    </div>
                            
                                    <!-- Phone filter -->
                                    <div class="d-flex col-6 p-0">
                                        <input [(ngModel)]="filterPhoneNumber" name="filterPhoneNumber" class="m-input form-control"
                                            [placeholder]="'searchByPhone' | localize" type="text" />
                                        <button (click)="getContacts()" class="btn btn-primary-info" type="submit"><i
                                                class="flaticon-search-1"></i></button>
                                    </div>
                                </div>
                            
                                <!-- Behaviour filter dropdown -->
                                <div class="row align-items-center">
                                    <div class="col-md-6 col-12 mb-2">
                                        <label class="form-label behaviour-filter-label">Filter by Behaviour</label>
                                        <p-dropdown [options]="statusOptions" [(ngModel)]="selectedStatus" name="selectedStatus"
                                            placeholder="Select Status" [style]="{'width':'100%'}" pTooltip="Filter contacts by customer behavior"
                                            tooltipPosition="top" (onChange)="getContacts()">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </form>
                            <div class="align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                <div
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                    class="primeng-datatable-container"
                                    [busyIf]="primengTableHelper.isLoading"
                                >
                                    <p-table
                                        style="border-collapse: unset"
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                        #dataTable
                                        class="table-responsive"
                                        [scrollbarV]="true"
                                        [scrollbarH]="true"
                                        [loading]="loadingTable"
                                        [lazy]="true"
                                        (onLazyLoad)="getContacts($event)"
                                        [value]="primengTableHelper.records"
                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                        rows="20"
                                        [paginator]="true"
                                        [scrollable]="true"
                                        ScrollWidth="100%"
                                        scrollHeight="100vh"
                                        [responsive]="true"
                                        [resizableColumns]="primengTableHelper.resizableColumns"
                                        [rowsPerPageOptions]="[20, 30, 1000]"
                                        [breakpoint]="'960px'"
                                    >
                                        <ng-template pTemplate="header" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'">
                                            <tr class="header-background">
                                                <th
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                    style="width: 40px"
                                                    [hidden]="!isGrantedAny('Pages.Contacts.Edit', 'Pages.Contacts.Delete')"
                                                >
                                                    {{ l("Actions") }}
                                                </th>
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="font-family: system-ui; width: 100px">
                                                    {{ l("customer") }}
                                                </th>
                                                <th
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                    style="font-family: system-ui; width: 100px"
                                                    [hidden]="!isGrantedAny('Pages.Contacts.Edit', 'Pages.Contacts.Delete')"
                                                >
                                                    {{ l("PhoneNumber") }}
                                                </th>

                                                <th
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                    class="text-center"
                                                    style="font-family: system-ui; width: 100px"
                                                >
                                                    {{ l("Address") }}
                                                </th>

                                                <th
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                    class="text-center behaviour-column"
                                                    style="font-family: system-ui; width: 100px"
                                                >
                                                    {{ l("customerBehavior") }}
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                            <tr>
                                                <td
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                    style="width: 40px"
                                                    [hidden]="!isGrantedAny('Pages.Contacts.Edit', 'Pages.Contacts.Delete')"
                                                >
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button
                                                            [ngClass]="theme != 'theme12' ? 'btn-primary' : 'btn-primary-info'"
                                                            class="dropdown-toggle btn btn-sm"
                                                            dropdownToggle
                                                        >
                                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                                        </button>
                                                        <ul [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''" class="dropdown-menu" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;" class="dropdown-item" (click)="viewContactModal.show(record)">{{ l("view") }}</a>
                                                            </li>
                                                            <li *ngIf="(record.customerOPT === 0 || record.customerOPT === 2) && isGranted('Pages.Contacts.ChangeBehaviour')">
                                                              <a href="javascript:;" class="dropdown-item" (click)="changeBehaviour(record)">
                                                                {{ l("Add to Unsubscribed") }}
                                                              </a>
                                                            </li>

                                                            <li *ngIf="(record.customerOPT === 1) && isGranted('Pages.Contacts.ChangeBehaviour')">
                                                              <a href="javascript:;" class="dropdown-item" (click)="changeBehaviour(record)">
                                                                {{ l("Add to Neutral") }}
                                                              </a>
                                                            </li>
                                                            <!-- <li>
                                                                <a
                                                                    href="javascript:;"
                                                                    class="dropdown-item"
                                                                    (click)="viewInterestedOf(record)"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#interestedOf"
                                                                    >{{ l("Interested Of") }}</a
                                                                >
                                                            </li> -->

                                                            <!-- <li>
                                                                <a
                                                                    href="javascript:;"
                                                                    *ngIf="permission.isGranted('Pages.Contacts.Edit') && isAdmin"
                                                                    class="dropdown-item"
                                                                    (click)="createOrEditContactModal.show(record.id)"
                                                                    >{{ l("Edit") }}</a
                                                                >
                                                            </li> -->
<!-- 
                                                            <li>
                                                                <a
                                                                    href="javascript:;"
                                                                    *ngIf="permission.isGranted('Pages.Contacts.Edit') && !record.isBlock && isAdmin"
                                                                    class="dropdown-item"
                                                                    (click)="block(record.id, !record.isBlock)"
                                                                    >{{ l("block") }}</a
                                                                >
                                                            </li> -->

                                                            <li *ngIf="permission.isGranted('Pages.Contacts.Edit') && record.isBlock && isAdmin">
                                                                <a href="javascript:;" class="dropdown-item" (click)="block(record.id, !record.isBlock)">{{ l("unBlock") }}</a>
                                                            </li>

                                                            <li>
                                                                <a
                                                                    class="dropdown-item"
                                                                    href="javascript:;"
                                                                    *ngIf="permission.isGranted('Pages.Contacts.Delete') && isAdmin"
                                                                    (click)="deleteContact(record.id)"
                                                                    >{{ l("Delete") }}</a
                                                                >
                                                            </li>
                                                            <li *ngIf="permission.isGranted('Pages.Contacts.Delete') && isAdmin">
                                                                <a
                                                                    class="dropdown-item"
                                                                    href="javascript:;"
                                                                    *ngIf="permission.isGranted('Pages.Contacts.Delete') && isAdmin"
                                                                    (click)="deleteContactChat(record)"
                                                                    >{{ l("deleteChat") }}</a
                                                                >
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="javascript:;" *ngIf="isAdmin" (click)="BackUpConversation(record)">{{
                                                                    l("backUp")
                                                                }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <!-- <td style="width:150px">
                                                    <span class="p-column-title"> {{l('ChatStatusName')}}</span>
                                                    {{record.chatStatuseChatStatusName}}
                                                </td>
                                        <td style="width:150px">
                                                    <span class="p-column-title"> {{l('ContactStatusName')}}</span>
                                                    {{record.contactStatuseContactStatusName}}
                                                </td> -->
                                                <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 100px">
                                                    <span class="p-column-title"> {{ l("customer") }}</span>
                                                    {{ record.displayName }}
                                                </td>
                                                <td
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                    style="width: 100px"
                                                    [hidden]="!isGrantedAny('Pages.Contacts.Edit', 'Pages.Contacts.Delete')"
                                                >
                                                    <span class="p-column-title"> {{ l("PhoneNumber") }}</span>
                                                    {{ record.phoneNumber }}
                                                </td>
                                                <!-- <td style="width:150px">
                                            <span class="p-column-title"> {{l('IsLockedByAgent')}}</span>
                                            <div *ngIf="record.contact.isLockedByAgent" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.contact.isLockedByAgent" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                        </td> -->
                                                <!-- <td style="width:150px">
                                                <span class="p-column-title"> {{l('LockedByAgentName')}}</span>
                                                {{record.contact.lockedByAgentName}}
                                            </td> -->
                                                <!-- <td style="width:150px">
                                            <span class="p-column-title"> {{l('IsOpen')}}</span>
                                            <div *ngIf="record.contact.isOpen" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
                                            <div *ngIf="!record.contact.isOpen" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                        </td> -->
                                                <!-- <td style="width:150px">
                                                <span class="p-column-title"> {{l('EmailAddress')}}</span>
                                                {{record.contact.emailAddress}}
                                            </td> -->

                                                <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="text-align: center; width: 100px">
                                                    <span class="p-column-title"> {{ l("Address") }}</span>
                                                    {{ record.emailAddress }}
                                                </td>
                                                <td
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                    style="text-align: center; width: 100px"
                                                    *ngIf="record.customerOPT === 0"
                                                >
                                                    <span class="p-column-title"> {{ l("customerBehavior") }}</span>
                                                    {{ l("netural") }}
                                                </td>
                                                <td
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                    style="text-align: center; width: 100px; color:red"
                                                    *ngIf="record.customerOPT === 1"
                                                >
                                                    <span class="p-column-title"> {{ l("customerBehavior") }}</span>
                                                    {{ l("optOut") }}
                                                </td>
                                                <td
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                    style="text-align: center; width: 100px; color:green"
                                                    *ngIf="record.customerOPT === 2"
                                                >
                                                    <span class="p-column-title"> {{ l("optIn") }}</span>
                                                    {{ l("optIn") }}
                                                </td>
                                                <!--
                                        <td style="width: 150px">
                                            <span class="p-column-title"> {{ l("# Delivery") }}</span>
                                            {{ record.deliveryOrder }}
                                        </td>

                                        <td style="width: 150px">
                                            <span class="p-column-title"> {{ l("# TakeAway") }}</span>
                                            {{ record.takeAwayOrder }}
                                        </td>

                                        <td style="width: 150px">
                                            <span class="p-column-title"> {{ l("# Order") }}</span>
                                            {{ record.totalOrder }}
                                        </td>

                                        <td style="width: 150px">
                                            <span class="p-column-title"> {{ l("# Point") }}</span>
                                            {{ record.loyalityPoint }}
                                        </td>
                                        -->
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ l("NoData") }}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <!-- <p-paginator [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"
                                           #paginator
                                           >
                                        </p-paginator> -->
                                        <span class="total-records-count">
                                            {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount) }}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                                <!-- <createOrEditContactModal #createOrEditContactModal (modalSave)="getContacts()"></createOrEditContactModal> -->
                                <viewContactModal (modalSave)="getContacts()" #viewContactModal></viewContactModal>
                                <app-backup-all-conversation-modal #backupAllConversationModal (modalResult)="handleModalResult($event)"></app-backup-all-conversation-modal>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
