<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div *ngIf="theme != 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #contactForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="contact.id">{{ l("EditContact") }}</span>
                        <span *ngIf="!contact.id">{{ l("CreateNewContact") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class="form-group m-form__group">
                        <label for="ChatStatuseChatStatusName">{{ l("ChatStatuse") }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ChatStatuseChatStatusName"
                                name="chatStatuseChatStatusName"
                                [(ngModel)]="chatStatuseChatStatusName"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectChatStatuseModal()" type="button"><i class="fa fa-search"></i> {{ l("Pick") }}</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setChatStatuseIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div> -->
                    <input class="form-control" name="contact.chatStatuseId" [(ngModel)]="contact.chatStatuseId" type="text" hidden />

                    <!-- <div class="form-group m-form__group">
                        <label for="ContactStatuseContactStatusName">{{ l("ContactStatuse") }}</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ContactStatuseContactStatusName"
                                name="contactStatuseContactStatusName"
                                [(ngModel)]="contactStatuseContactStatusName"
                                type="text"
                                disabled
                            />
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectContactStatuseModal()" type="button"><i class="fa fa-search"></i> {{ l("Pick") }}</button>
                            </div>
                            <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setContactStatuseIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div> -->
                    <input class="form-control" name="contact.contactStatuseId" [(ngModel)]="contact.contactStatuseId" type="text" hidden />

                    <!-- <div class="form-group">
									<label for="Contact_UserId">{{l("UserId")}}</label>
									<input type="text" #Contact_UserId="ngModel" id="Contact_UserId" class="form-control" [(ngModel)]="contact.userId" name="UserId"  readonly  />
								    <validation-messages [formCtrl]="Contact_UserId"></validation-messages>
								</div> 

								<div class="form-group">
									<label for="Contact_AvatarUrl">{{l("AvatarUrl")}}</label>
									<input type="text" #Contact_AvatarUrl="ngModel" id="Contact_AvatarUrl" class="form-control" [(ngModel)]="contact.avatarUrl" name="AvatarUrl"   minlength="0"  maxlength="512" />
								    <validation-messages [formCtrl]="Contact_AvatarUrl"></validation-messages>
								</div>
					 -->
                    <div class="form-group">
                        <label for="Contact_DisplayName">{{ l("DisplayName") }}</label>
                        <input
                            type="text"
                            #Contact_DisplayName="ngModel"
                            id="Contact_DisplayName"
                            class="form-control"
                            [(ngModel)]="contact.displayName"
                            name="DisplayName"
                            minlength="0"
                            maxlength="512"
                        />
                        <validation-messages [formCtrl]="Contact_DisplayName"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="Contact_PhoneNumber">{{ l("PhoneNumber") }}</label>
                        <input
                            type="text"
                            #Contact_PhoneNumber="ngModel"
                            id="Contact_PhoneNumber"
                            class="form-control"
                            [(ngModel)]="contact.phoneNumber"
                            name="PhoneNumber"
                            minlength="0"
                            maxlength="512"
                        />
                        <validation-messages [formCtrl]="Contact_PhoneNumber"></validation-messages>
                    </div>

                    <!-- <br/><div class="m-checkbox-list">
									<label for="Contact_IsLockedByAgent" class="kt-checkbox">
										<input id="Contact_IsLockedByAgent" #Contact_IsLockedByAgent="ngModel" type="checkbox" name="IsLockedByAgent" [(ngModel)]="contact.isLockedByAgent"> 
										{{l("IsLockedByAgent")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="Contact_IsLockedByAgent"></validation-messages>
								</div> -->
                    <!-- 					
								<div class="form-group">
									<label for="Contact_LockedByAgentName">{{l("LockedByAgentName")}}</label>
									<input type="text" #Contact_LockedByAgentName="ngModel" id="Contact_LockedByAgentName" class="form-control" [(ngModel)]="contact.lockedByAgentName" name="LockedByAgentName"   minlength="0"  maxlength="512" />
								    <validation-messages [formCtrl]="Contact_LockedByAgentName"></validation-messages>
								</div> -->

                    <!-- <div class="form-group">
									<label for="Contact_Website">{{l("Website")}}</label>
									<input type="text" #Contact_Website="ngModel" id="Contact_Website" class="form-control" [(ngModel)]="contact.website" name="Website"   minlength="0"  maxlength="512" />
								    <validation-messages [formCtrl]="Contact_Website"></validation-messages>
								</div>
					 -->
                    <!-- <div class="form-group">
                        <label for="Contact_EmailAddress">{{ l("EmailAddress") }}</label>
                        <input
                            type="text"
                            #Contact_EmailAddress="ngModel"
                            id="Contact_EmailAddress"
                            class="form-control"
                            [(ngModel)]="contact.emailAddress"
                            name="EmailAddress"
                            minlength="0"
                            maxlength="512"
                        />
                        <validation-messages [formCtrl]="Contact_EmailAddress"></validation-messages>
                    </div> -->

                    <div class="form-group">
                        <label for="Contact_Description">{{ l("Address") }}</label>
                        <input
                            type="text"
                            #Contact_Description="ngModel"
                            id="Contact_Description"
                            class="form-control"
                            [(ngModel)]="contact.emailAddress"
                            name="Description"
                            minlength="0"
                            maxlength="5012"
                        />
                        <validation-messages [formCtrl]="Contact_Description"></validation-messages>
                    </div>

                    <!-- <div class="form-group">
									<label for="Contact_SunshineAppID">{{l("SunshineAppID")}}</label>
									<input type="text" #Contact_SunshineAppID="ngModel" id="Contact_SunshineAppID" class="form-control" [(ngModel)]="contact.sunshineAppID" name="SunshineAppID"   minlength="0"  maxlength="512" readonly/>
								    <validation-messages [formCtrl]="Contact_SunshineAppID" ></validation-messages>
								</div>
							


								<br>
								<br/><div class="m-checkbox-list">
									<label for="Contact_IsOpen" class="kt-checkbox">
										<input id="Contact_IsOpen" #Contact_IsOpen="ngModel" type="checkbox" name="IsOpen" [(ngModel)]="contact.isOpen"> 
										{{l("IsOpen")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="Contact_IsOpen"></validation-messages>
								</div> -->
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!contactForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
	<div *ngIf="theme === 'theme12'" class="modal-dialog modal-lg">
        <div    [ngClass]="darkModeService.currentSkin === 'dark' ? 'modal-content-dark ' : 'modal-content'">
			<div class="modal-header">
				<h4  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-header ' : ''" class="modal-title">
					<span *ngIf="contact.id">{{ l("EditContact") }}</span>
					<span *ngIf="!contact.id">{{ l("CreateNewContact") }}</span>
				</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
			</div>
            <form *ngIf="active" #contactForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
              
                <div class="modal-body">
					<div class="row">
                    <!-- <div class="col-12 mb-1 form-group m-form__group">
                        <label for="ChatStatuseChatStatusName">Chat Status</label>
                        <div class="input-group ">
                            <input
                                class="form-control"
                                id="ChatStatuseChatStatusName"
                                name="chatStatuseChatStatusName"
                                [(ngModel)]="chatStatuseChatStatusName"
                                type="text"
                                disabled
                            />
                            <div class="btn-group  input-group-append">
                                <button class="btn btn-outline-primary " rippleEffect (click)="openSelectChatStatuseModal()" type="button"><i class="fa fa-search"></i> {{ l("Pick") }}</button>
								<button class="btn btn-outline-primary btn-icon" rippleEffect type="button" (click)="setChatStatuseIdNull()"><i class="fa fa-times"></i></button>
							</div>
                            
                        </div>
                    </div>
                    <input class="form-control" name="contact.chatStatuseId" [(ngModel)]="contact.chatStatuseId" type="text" hidden />
 -->
                    <!-- <div class="col-12 mb-1 form-group m-form__group">
                        <label for="ContactStatuseContactStatusName">Contact Status</label>
                        <div class="input-group">
                            <input
                                class="form-control"
                                id="ContactStatuseContactStatusName"
                                name="contactStatuseContactStatusName"
                                [(ngModel)]="contactStatuseContactStatusName"
                                type="text"
                                disabled
                            />
                            <div class="btn-group input-group-append">
                                <button class="btn  btn-outline-primary " rippleEffect (click)="openSelectContactStatuseModal()" type="button"><i class="fa fa-search"></i> {{ l("Pick") }}</button>
								<button class="btn btn-outline-primary btn-icon" rippleEffect type="button" (click)="setContactStatuseIdNull()"><i class="fa fa-times"></i></button>
							</div>
                            
                        </div>
                    </div>
                    <input class="form-control" name="contact.contactStatuseId" [(ngModel)]="contact.contactStatuseId" type="text" hidden /> -->

                    <!-- <div class="form-group">
									<label for="Contact_UserId">{{l("UserId")}}</label>
									<input type="text" #Contact_UserId="ngModel" id="Contact_UserId" class="form-control" [(ngModel)]="contact.userId" name="UserId"  readonly  />
								    <validation-messages [formCtrl]="Contact_UserId"></validation-messages>
								</div> 

								<div class="form-group">
									<label for="Contact_AvatarUrl">{{l("AvatarUrl")}}</label>
									<input type="text" #Contact_AvatarUrl="ngModel" id="Contact_AvatarUrl" class="form-control" [(ngModel)]="contact.avatarUrl" name="AvatarUrl"   minlength="0"  maxlength="512" />
								    <validation-messages [formCtrl]="Contact_AvatarUrl"></validation-messages>
								</div>
					 -->
                    <div class="col-6 mb-1 form-group">
                        <label for="Contact_DisplayName">{{ l("DisplayName") }}</label>
                        <input
                            type="text"
                            #Contact_DisplayName="ngModel"
                            id="Contact_DisplayName"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"

                            [(ngModel)]="contact.displayName"
                            name="DisplayName"
                            minlength="0"
                            maxlength="512"
                        />
                        <validation-messages [formCtrl]="Contact_DisplayName"></validation-messages>
                    </div>

                    <div class="col-6 mb-1 form-group">
                        <label for="Contact_PhoneNumber">{{ l("PhoneNumber") }}</label>
                        <input
                            type="text"
                            #Contact_PhoneNumber="ngModel"
                            id="Contact_PhoneNumber"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            [(ngModel)]="contact.phoneNumber"
                            name="PhoneNumber"
                            minlength="0"
                            maxlength="512"
                        />
                        <validation-messages [formCtrl]="Contact_PhoneNumber"></validation-messages>
                    </div>

                    <!-- <br/><div class="m-checkbox-list">
									<label for="Contact_IsLockedByAgent" class="kt-checkbox">
										<input id="Contact_IsLockedByAgent" #Contact_IsLockedByAgent="ngModel" type="checkbox" name="IsLockedByAgent" [(ngModel)]="contact.isLockedByAgent"> 
										{{l("IsLockedByAgent")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="Contact_IsLockedByAgent"></validation-messages>
								</div> -->
                    <!-- 					
								<div class="form-group">
									<label for="Contact_LockedByAgentName">{{l("LockedByAgentName")}}</label>
									<input type="text" #Contact_LockedByAgentName="ngModel" id="Contact_LockedByAgentName" class="form-control" [(ngModel)]="contact.lockedByAgentName" name="LockedByAgentName"   minlength="0"  maxlength="512" />
								    <validation-messages [formCtrl]="Contact_LockedByAgentName"></validation-messages>
								</div> -->

                    <!-- <div class="form-group">
									<label for="Contact_Website">{{l("Website")}}</label>
									<input type="text" #Contact_Website="ngModel" id="Contact_Website" class="form-control" [(ngModel)]="contact.website" name="Website"   minlength="0"  maxlength="512" />
								    <validation-messages [formCtrl]="Contact_Website"></validation-messages>
								</div>
					 -->
                    <div class=" col-6 mb-1 form-group">
                        <label for="Contact_EmailAddress">{{ l("EmailAddress") }}</label>
                        <input
                            type="text"
                            #Contact_EmailAddress="ngModel"
                            id="Contact_EmailAddress"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            [(ngModel)]="contact.emailAddress"
                            name="EmailAddress"
                            minlength="0"
                            maxlength="512"
                        />
                        <validation-messages [formCtrl]="Contact_EmailAddress"></validation-messages>
                    </div>

                    <div class="col-6 mb-1 form-group">
                        <label for="Contact_Description">{{ l("Address") }}</label>
                        <input
                            type="text"
                            #Contact_Description="ngModel"
                            id="Contact_Description"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            [(ngModel)]="contact.description"
                            name="Description"
                            minlength="0"
                            maxlength="5012"
                        />
                        <validation-messages [formCtrl]="Contact_Description"></validation-messages>
                    </div>

                    <!-- <div class="form-group">
									<label for="Contact_SunshineAppID">{{l("SunshineAppID")}}</label>
									<input type="text" #Contact_SunshineAppID="ngModel" id="Contact_SunshineAppID" class="form-control" [(ngModel)]="contact.sunshineAppID" name="SunshineAppID"   minlength="0"  maxlength="512" readonly/>
								    <validation-messages [formCtrl]="Contact_SunshineAppID" ></validation-messages>
								</div>
							


								<br>
								<br/><div class="m-checkbox-list">
									<label for="Contact_IsOpen" class="kt-checkbox">
										<input id="Contact_IsOpen" #Contact_IsOpen="ngModel" type="checkbox" name="IsOpen" [(ngModel)]="contact.isOpen"> 
										{{l("IsOpen")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="Contact_IsOpen"></validation-messages>
								</div> -->
                </div>
				</div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                    <button type="submit" class="btn btn-primary-info" [disabled]="!contactForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- <contactChatStatuseLookupTableModal #contactChatStatuseLookupTableModal (modalSave)="getNewChatStatuseId()"></contactChatStatuseLookupTableModal>
    <contactContactStatuseLookupTableModal #contactContactStatuseLookupTableModal (modalSave)="getNewContactStatuseId()"></contactContactStatuseLookupTableModal> -->
</div>
