@model Infoseed.MassagingPort.OrderingMenu.Pages.Model.OrderingMenuContactLoyaltyModel
@{
}
<input id="OriginalLoyaltyPoints" type="hidden" value="@Model.OriginalLoyaltyPoints" />


<h6 class="text-warning p-1 pr-3 pl-3 m-0 ">Welcome @Model.DisplayName,  Your Points is <i id="MyPoints" class="MyPoints">@Model.OriginalLoyaltyPoints</i></h6>

 
        
