


@*<div class="col-12 footer-flat mb-4">
    <!---->
    <div class="flex-row justify-content-center flex-wrap mb-2">
        <div class="partner-logo"><img src="https://d14ty4rvj8rn16.cloudfront.net/static/store/views/partner-logos/dark/misc/makane-logo-type-en.svg"></div><div class="partner-logo"><img src="https://d14ty4rvj8rn16.cloudfront.net/static/store/views/partner-logos/dark/misc/makane-logo-type-ar.svg"></div><div class="partner-logo"><img src="https://d14ty4rvj8rn16.cloudfront.net/static/store/views/partner-logos/dark/payment/cashondelivery.png"></div>
    </div>
    <div class="flex-row justify-content-center align-items-center mb-2"><div><a href="https://www.facebook.com/almousalli?_rdc=1&amp;_rdr" target="_blank" class="social-icon mx-2"><img width="36" src="https://d14ty4rvj8rn16.cloudfront.net/static/store/views/social-icons/facebook.png" alt="facebook"></a></div><!----><div><a href="https://www.instagram.com/almousalli1/" target="_blank" class="social-icon mx-2"><img width="36" src="https://d14ty4rvj8rn16.cloudfront.net/static/store/views/social-icons/instagram.png" alt="instagram"></a></div><!----><!----></div> <div class="flex-row flex-center align-center text-center force-ltr">
        <p class="footer-text">
            This site is protected by reCAPTCHA and the google
            <a href="https://www.google.com/intl/en/policies/privacy/" target="_blank"><strong> Privacy Policy </strong></a>
            and
            <a href="https://policies.google.com/terms" target="_blank"><strong> Terms of Service </strong></a> apply.
        </p>
    </div>
</div>*@