@using Infoseed.MassagingPort.OrderingMenu.Pages.Model

@{
    Layout = "_LayoutMain";

}





<div id="divTenantInfo">
</div>
      


<div class="pb-5"  id="mainId" >
    <main role="main" class="paddeng">

        @RenderBody()
        <div class="col-md-6 text-right">
        </div>
    </main>
</div>

@Html.Partial("~/Pages/Market/_CartMarket.cshtml")




















