<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
	  <add name="InfoseedDB" connectionString="Server=tcp:info-seed-db-server-stg.database.windows.net,1433;Initial Catalog=InfoSeedDB-Stg;Persist Security Info=False;User ID=devadmin;Password=P@ssw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	  <!--<add name="InfoseedDB" connectionString="Server=tcp:info-seed-db-server-prod.database.windows.net,1433;Initial Catalog=InfoSeedDB-Prod;Persist Security Info=False;User ID=devadmin;Password=P@ssw0rd;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->





	   <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedstoragestg;AccountKey=sc089/Ku+IUBAbCwGnlumuK72RultGBqL/TwHS36SJHlCx3uC9dtEKjJJJHPRiRrAMwrIs2FyP6Z+ASt8j6gWg==;EndpointSuffix=core.windows.net" />
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedstoragestg;AccountKey=sc089/Ku+IUBAbCwGnlumuK72RultGBqL/TwHS36SJHlCx3uC9dtEKjJJJHPRiRrAMwrIs2FyP6Z+ASt8j6gWg==;EndpointSuffix=core.windows.net" />

	  <!--<add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedmediastorageprod;AccountKey=H9ZtPbCTB32FioP7waMAdrGV02pRFPeCTyyFPq3+z8Zz2Py0qxFM3upLGhwRXj6jU9MTSxZAGFke/6zGOhW5MA==;EndpointSuffix=core.windows.net" />
<add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedmediastorageprod;AccountKey=H9ZtPbCTB32FioP7waMAdrGV02pRFPeCTyyFPq3+z8Zz2Py0qxFM3upLGhwRXj6jU9MTSxZAGFke/6zGOhW5MA==;EndpointSuffix=core.windows.net" />-->
  </connectionStrings>

	<appSettings>



		<!--<add key="CosmosDBSettingsEndPoint" value="https://infoseed-cosmosdb-prod.documents.azure.com:443/"/>
		<add key="CosmosDBSettingsAuthKey" value="oQCAv3tSssTwitSya2dthggCXbtWfPtLbiHrLN6cmf0i5HryI5aMVPRkKcyxzk9vbQZKNxL9HJXeF0tTMsk4Jw=="/>
		<add key="CosmosDBSettingsDatabase" value="teaminbox"/>
		<add key="CosmosDBSettingsItemsCollection" value="Items"/>
		<add key="CosmosDBSettingsConversationsCollection" value= "Conversations"/>
		<add key="CosmosDBSettingsCustomersCollection" value=  "Customers"/>-->



		<add key="CosmosDBSettingsEndPoint" value="https://infoseed-cosmosdb-stg.documents.azure.com:443/"/>
		<add key="CosmosDBSettingsAuthKey" value="oixCrEB8X12y9TseyjOubhFRHiU0Q2wQBfX8GesNqaqfk2Xk5WlyBvmaInirAQkkOqnFX6W3lU829LHYod5xpA=="/>
		<add key="CosmosDBSettingsDatabase" value="InfoSeed"/>
		<add key="CosmosDBSettingsItemsCollection" value="Items"/>
		<add key="CosmosDBSettingsConversationsCollection" value= "Conversations"/>
		<add key="CosmosDBSettingsCustomersCollection" value=  "Customers"/>





	</appSettings>
	
	
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>