<div [@routerTransition]>
  
  <div class=" d-flex flex-column flex-column-fluid">
   <sub-header [title]="'ChatStatuses' | localize" [description]="'ChatStatusesHeaderInfo' | localize">
             <div role="actions">
                 
                 <button *ngIf="isGranted('Pages.Administration.ChatStatuses.Create')" (click)="createChatStatuse()" 
                                        class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewChatStatuse")}}</button>
             </div>
            </sub-header>
    
    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getChatStatuses()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="ChatStatusNameFilter">{{l("ChatStatusName")}}</label>
									<input type="text" class="form-control" id="ChatStatusNameFilter" name="chatStatusNameFilter" [(ngModel)]="chatStatusNameFilter">
								</div>
                            </div>	
							<div class="col-md-3">
								<label for="IsEnabledFilterSelect">{{l("IsEnabled")}}</label>
								<select class="form-control" name="IsEnabledFilter" id="IsEnabledFilterSelect" [(ngModel)]="isEnabledFilter">
								<option value="-1">{{l("All")}}</option>
								<option value="0">{{l("False")}}</option>
								<option value="1">{{l("True")}}</option>
								</select>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                        >
                        <p-table #dataTable
                                     (onLazyLoad)="getChatStatuses($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     [loading]="primengTableHelper.isLoading"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Administration.ChatStatuses.Edit', 'Pages.Administration.ChatStatuses.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="chatStatusName">
                                        {{l('ChatStatusName')}}
                                        <p-sortIcon field="chatStatuse.chatStatusName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="isEnabled">
                                        {{l('IsEnabled')}}
                                        <p-sortIcon field="chatStatuse.isEnabled"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Administration.ChatStatuses.Edit', 'Pages.Administration.ChatStatuses.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>

												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.ChatStatuses.Edit')" class="dropdown-item"
														(click)="createOrEditChatStatuseModal.show(record.chatStatuse.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a class="dropdown-item" href="javascript:;" *ngIf="permission.isGranted('Pages.Administration.ChatStatuses.Delete')"
														(click)="deleteChatStatuse(record.chatStatuse)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('ChatStatusName')}}</span>
											{{record.chatStatuse.chatStatusName}}
										</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('IsEnabled')}}</span>
                                        <div *ngIf="record.chatStatuse.isEnabled" class="text-center"><i class="fa fa-check-circle text-success" title="True"></i></div>
										<div *ngIf="!record.chatStatuse.isEnabled" class="text-center"><i class="fa fa-times-circle" title="False"></i></div>
                                    </td>

                                </tr>
                               
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getChatStatuses($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditChatStatuseModal #createOrEditChatStatuseModal (modalSave)="getChatStatuses()"></createOrEditChatStatuseModal>    
    
    
  </div>
</div>
