/* cairo-regular infoseedcustomlftstyle- latin */
@font-face {
  font-family: 'Cairo';
  src: url('~assets/fonts/cairo/Cairo-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Cairo-light';
  src: url('~assets/fonts/cairo/Cairo-Light.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'DIN';
  src: url('~assets/fonts/DIN-Black.woff2') format('woff2'),
      url('~assets/fonts/DIN-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

htmlennnnnnnnnnnnn {
  direction: rtl;
}

* {
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  direction: rtl;
}

:root {
  --font-color: #000;
  --sperator: #0000000d;
  --pink: #F13D5D;
}

html {
  background: #ffff;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-size: calc(12px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'Cairo-light', sans-serif;
  font-weight: 400;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
  background: #f3f3f3
}


.panel-wrapper {
  margin-bottom: 10px;
}


.product-panel {
  cursor: pointer;
  background-color: #fff;
  border-radius:0px ;
  font-family: Helvetica,Arial,sans-serif !important;
  color: #212529 !important;
   font-weight: 600 !important;
   font-size: 15px !important;
   padding: 10px 0px 5px 0px;
}

.product-panel .product-info {
  font-size: 16px !important;
}

a {
  color: var(--font-color)
}

.navbar .active {
  border-bottom: 3px solid #ffc107!important;

  /* border: 2px solid #de1414; */
  /* border-radius: 25px; */
  /* border-bottom: 1px solid #045802; */
  color: #000;
  color: var(--font-color);
}

.subCat.navbar .active {
  border: 2px solid #de1414;
  border-radius: 25px;
  /* border-bottom: 1px solid #045802; */
  color: var(--font-color)
}

.product-panel .product-info .title {
  /* white-space: nowrap; */
  font-size: 16px;
  color: var(--font-color);
  text-overflow: ellipsis;
  justify-content: start;
  display: flex;
}



.product-panel .product-info .description {
  color: var(--gray-dark);
  font-family: Helvetica,Arial,sans-serif;
  color: rgb(160, 160, 160);
  font-weight: 600;
  font-size: 15px;
}

.product-panel .product-info .description p {
  -webkit-line-clamp: 2;
}

.product-panel .custom-label {
  font-size: 14px;
  color: var(--gray-dark);
}

.layout-left .product-panel .custom-label {
  text-align: right;
}

.layout-right .product-panel .custom-label {
  text-align: left;
}

@media (max-width: 576px) {
  .product-panel .custom-label {
    text-align: initial !important;
  }
}

.product-panel .product-image img {
  height: 90pt !important;
  width: 73pt !important;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.card-img, .card-img-top {
  height: 41px;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}
.product-block {
  overflow: hidden;
  border: 1px solid;
  border-color: var(--border);
  border-radius: 30px;
  padding: 10px;
  background: white;
  width: 100%;
  cursor: pointer;
}
.product-price {
  color: #5c9352;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 15px;

}

.product-Oldprice {
  font-weight: 700;
  font-size: 20px;
  text-decoration: line-through;

}

.collection-title {
  font-size: 22px;
  font-weight: 600;
  padding-top: 8pt;
  padding-bottom: 4pt;
}

.layout {
  /* top: 35px; */
  max-width: 700pt;
  /* box-shadow: 0 0 12pt rgb(0 0 0 / 10%); */
  min-height: 100vh;
  position: relative;
}


.search_input {
  color: black;
  outline: 0;
  background: #f4f4f4;
  line-height: 40px;
  transition: width 0.4s linear;
  caret-color: #3d3d3d;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e7e7;
  text-indent: 30px;
}

.searchbar > .search_icon {
  background: white;
  color: #3d3d3d;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #3d3d3d;
  position: absolute;
  text-decoration: none;
  top: 2px;
}

.full-background {
  height: 220pt;
}




.background-container .bg-img {
  background-size: cover;
  object-fit: cover;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.logo img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.restaurant-info {
  top: 50%;
  justify-content: start;
  text-align: right;
  color: white;
  padding-inline-start: 20px;
  -webkit-padding-start: 20px;
}

.restaurant-info .restaurant-name {
  font-size: 18px;
  -webkit-padding-start: 10px;
}

.about_us {
  font-size: 16px;
  display: flex;
  justify-content: start;
}

.product-details {
  /* top: 35px; */
  font-size: 18px;
  position: relative;
  height: 100vh;
}

.qty-button {
  border: 2px solid #393937;
  background-color: #393937;
  font-size: 14px;
  height: 2em;
  width: 2em;
  position: relative;
}

.small-qty-btn {
  height: 2em;
  width: 2em;
}

.plus-button:after, .plus-button:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
}

.minus-button:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}
/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {

  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.qty-button:before {
  height: 1em;
  width: 0.2em;
}

.qty-button:after {
  height: 0.2em;
  width: 1em;
}

.checkout-btn {

  width: 100%;
  right: 0;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #3d3d3d;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 18px;
  cursor: pointer;

}

.checkout-btn:hover{
  color: #f00006;
}


.back-btn {
  /* top: 12pt; */
  left: 12pt;
  width: 35pt;
  height: 35pt;
  display: flex;
  position: absolute;
  font-size: 20px;

  align-items: center;
  justify-content: center;
  z-index: 999999999999999999;
  font-family: Helvetica,Arial,sans-serif;
  color: #212529;
  font-weight: 600;
  font-size: 15px;
}

.back-btn i{
  color: #212529;
  font-size: 18px;
}



.Condiments-btn {
  top: -109pt;
  right: 4pt;
  width: 53pt;
  height: 53pt;
  display: flex;
  position: absolute;
  font-size: 13px;
  background: #ffc107;
  box-shadow: 2pt 2pt 8pt rgb(0 0 0 / 25%);
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  z-index: 999999999999999999;
  color: black;
}

.specification-title {
  font-size: 14px;
  font-weight: bold;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.specification-chioce-title {
  font-size: 15px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #212529;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

}
.count{
  display: block;
  text-indent: 0;
  padding: 0 5px;
  line-height: 18px;
  font-size: 11px;
  box-sizing: content-box;
  position: absolute;
  border-radius: 100%;
  color: #fff;
  background-color: #ffc107;
  font-weight: 700;
}
 .MenuItem{
  /* padding-top: 25%; */
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;

}


.item-details {
  max-height: calc(127vh - 300px);
}

.cart-btn {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  /*width: 500px;*/
}

.ARClass {

   direction: rtl;
   text-align: right;
}
.ENClass {

  direction: ltr;
  text-align: left;
}



.scroll-arrow {
  width: 0pt;
  height: 100%;
  display: flex;
  padding: 12px;
  opacity: 1;
  position: absolute;
  font-size: 1.2rem;
  background: linear-gradient(
    -90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
  transition: 0.15s all;
  align-items: center;
  pointer-events: none;
  justify-content: flex-end;
  transform: scaleX(-1);
}

html[dir='ltr'] .scroll-arrow {
  right: 0;
}

html[dir='rtl'] .scroll-arrow {
  left: 0;
}

.b-sidebar > .b-sidebar-body {
  background-color: #3d3d3d;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

.cart-icon {
  /* margin-left: 22px;
  margin-right: 22px;
  position: absolute;
  top: -33px;
  background: white;
  color: black;
  border: 1px solid;
  border-radius: 16px; */
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #5c9352;
}

.category-items {
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
}

.required {
  color: red;
  font-weight: normal;
  margin-inline-start: 8px;
  margin-block-start: 3px;
}

.fixed-button {
  width: 100%;
  bottom: 0px;
  position: sticky;
  box-shadow: 0px -8px 8px -8px rgb(0 0 0 / 20%);
  z-index: 999;
}

.font-18 {
  font-size: 1.3rem;
}

.app-langague {
  position: absolute;
  top: 20px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: end;
  -webkit-padding-start: 20px;
  -webkit-padding-end: 20px;
  right: 0px;
}

.app-langague span {
  /* text-align: center;
  background: #e71b23;
  padding: 8px;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 50%; */
  font-size: 12px;
  cursor:pointer;
  margin-top: -3px;
}

.last-item {
  margin-bottom: 20px;
}

.opacity-5 {
  opacity: 0.5;
}
.navbar-expand .navbar-nav .nav-link {
  white-space: nowrap;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

@media only screen and (min-width: 1024px) {
  .cart-btn {
    width: 500px;
  }
}
.SortD {
  color: black;
  /* outline: 0; */
  background: #f4f4f4;
  /* line-height: 40px; */
  transition: width 0.4s linear;
  caret-color: #3d3d3d;
  /* width: 100%; */
  border-radius: 30px;
  border: 1px solid #cdc6c6;
  text-align: center;

}

.loading {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  width: 100px;
  margin: auto;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  background: #2c3e50;
  border-radius: 4px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1.25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 1;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 99999999999; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}





.imgcard{
  /* height:130px;
  width:100%;
  border: solid 5px;
  border-color: #f4f4f4; */
}


.card{
  transition:0.5s;
  cursor:pointer;
  border:0px;
}
.card-title{
  font-size:15px;
  transition:1s;
  cursor:pointer;
}
.card-title i{
  font-size:15px;
  transition:1s;
  cursor:pointer;
  color:#ffa710
}
.card-title i:hover{
  /* transform: scale(1.25) rotate(100deg);  */
  color:#18d4ca;

}
.card:hover{
  /* transform: scale(1.05);
  box-shadow: 10px 10px 15px rgba(0,0,0,0.3); */
}
.card-text{
  height:80px;
}

.card::before, .card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* transform: scale3d(0, 0, 1);
  transition: transform .3s ease-out 0s;
  background: rgba(255, 255, 255, 0.1); */
  content: '';
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
  transform: scale3d(1, 1, 1);
}

.maninmenurow {
  justify-content: space-evenly !important;
}


.catpointer{

  cursor:pointer !important;

}


.header-container {
background-color: #fff;
  justify-content: center;
}



.cardmainmnue{

   margin-top: 10px;
   margin-right: 20px;

}


.btn-secondary-card{
  color: #515151 !important;
  background-color: transparent !important;
  /* border-color: #fff !important; */
  font-size: 20px !important;
  border: 0px !important;
}
.divscroll{
  overflow-x: scroll;

}

.bodycontainer{
   font-weight: bold;
   font-size: 15px;
   white-space: nowrap ;
    background: #f3f3f3;
    box-shadow: rgb(0 0 0 / 25%) 0px 15px 15px -15px inset;
    padding: 15px;
}


.menucategoryheader{

    font-family: tahoma,Arial,sans-serif;
    font-size: 20px;
    text-align: left;

  }

.buttonCard {
  /* border: solid 5px;
  width: 100%;
  border-color: #f4f4f4;
  font-weight: 900;
  font-size: 12px; */
}


.subcategoryitems{
  background: #fff;
  border: solid 5px;
  border-color: #f4f4f4;
  font-weight: 900;
  font-size: 12px;
  height:100px  !important;
}

.imagsubcategory{
  top: 20%;
  width: 50px;
  height: 50px;
  position: relative;

}


.subcategoryitemsname{
  font-weight: 900;
  font-size: 12px;
  top: 20%;
  position: relative;
}

.navcategory{
  margin-left: 10px;
   margin-right: 10px;
    border-left: 1px #8080802b solid;
}

/****************************************************/

.change-icon{
  color: #20bbe7;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.change-icon img{
  width: 20px;
  margin-top: -5px;
}

.container-fluid{
  padding: 0px;
}

.card-block{
  border-radius: 0px;
  background-color: transparent;
}

.card-block .imgcard{
  background-color: #fff;
  height: 130px;
  object-fit: cover;
}
.card-block .buttonCard{
 margin-top: 10px;
 background-color: #fff;
 border-radius: 0px;
 font-family: Helvetica,Arial,sans-serif;
 color: #212529;
 font-weight: 600;
 font-size: 15px;
 padding: 12px 0px;
}


.btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus, .show > .btn-secondary.dropdown-toggle:focus{
  box-shadow: 0 0 0 0rem rgb(130 138 145 / 50%) !important;
}

.b-sidebar > .b-sidebar-header{
   background-color:#383838;
   color:#acacac;
}

button.close{
  color: #acacac !important;
}

.b-icon.bi{
  width: 40px;
  height: 40px;
}

.menu-btn .btn{
  padding: 10px 20px;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  font-weight: 600;
}

 [dir=rtl] .b-sidebar > .b-sidebar-header {
    flex-direction: row;}

.menu-btn img{
  width: 25px;
  margin-top: -6px;
}

.btn:focus, .btn.focus{
  box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%) !important;
}

.b-sidebar{
  width: 260px;
}

.category-items{
  box-shadow: rgb(0 0 0 / 25%) 0px 15px 15px -15px inset;
}

.nav-link{
  border-right: 1px solid #ddd;
  font-family: Helvetica,Arial,sans-serif;
  padding: 0rem 1rem 0rem 1rem;
  cursor: pointer;
}

.navbar .nav-item {
  border-bottom: 2px solid #fff !important;
  line-height: 45px;
  white-space: nowrap;
  color: #212529;
  font-weight: 600;
  font-size: 15px;
}


.navbar .nav-item.active {
  border-bottom: 3px solid #fcc745 !important;
}

.buttonTitle{
  font-family: Helvetica,Arial,sans-serif;
  color: #212529;
  font-weight: 600;
  font-size: 15px;
  padding-left: 0px;
  padding-bottom: 0px !important;
}

.navbar{
  padding: 0.5rem 1rem 0rem 1rem;
}

.arrow-icon{
  font-size: 22px;
  color: #7f7f7f;
}

.text-green{
  color: #5c9352;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 600;
  font-size: 15px;
}

.new-item{
  color: #fe0056;
  margin-bottom: 0px !important;
}

.btn-secondary:hover, .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active, .show > .btn-secondary.dropdown-toggle{
  background-color: transparent !important;
}

.lang-icon{
  width: 9px;
  height: 14px;
}


.b-sidebar:not(.b-sidebar-right) > .b-sidebar-header .close {
  margin-left: inherit !important;
  z-index: 10000;
}

.card-details-img{
  border-radius: 0px !important;
  border: 1px solid #ddd;
 width: 100%;
 font-family: Helvetica,Arial,sans-serif;
 color: #212529;
 font-weight: 600;
 font-size: 15px;
 padding: 20px;
}

.card-details-img img{
  object-fit: cover !important;
  margin-bottom: 20px;
}

.back-btn-txt{
  font-family: Helvetica,Arial,sans-serif;
  color: #212529;
  font-weight: 600;
  font-size: 15px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.back-btn-txt .arrow-icon{
  color: #212529;
  font-size: 15px;
  margin-right: 5px !important;
}

.img-block img{
  object-fit: cover;
}
.product-block{
  border-radius:0px;
  margin-bottom: 10px;
  border:0px;
  color: #212529 !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}

.product-block .title{
  font-family: Helvetica,Arial,sans-serif !important;
 color: #212529 !important;
  font-weight: 600 !important;
  font-size: 15px !important;
}



h1{
  font-family: Helvetica,Arial,sans-serif;
  color: #212529;
  font-size: 20px;
  font-weight: 700;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.border-right{
  border-right: 1px solid #ddd;
  width: 100%;
  padding: 10px 0px;
}

.qty-button-holder{
  margin: 0 auto;
  line-height: 14px;
  border-radius: 5px;
  width:108px;
}
.qty-button-holder-1{
  line-height: 14px;
  border-radius: 5px;
  width:108px;
}

.qty-button-holder .px-3{
  border: 1px solid #ddd;
  padding-top: 5px;
  height: 28px;
}

/* .minus-button{
  border-radius: 5px 0px 0px 5px;
}

.plus-button{
  border-radius: 0px 5px 5px 0px;
} */

.adding-item{
  font-family: Helvetica,Arial,sans-serif !important;
  color: #212529 !important;
   font-weight: 600 !important;
   font-size: 15px !important;
}

.delete-btn{
color: #21b3e4;
}

.card-size{
  font-family: Helvetica,Arial,sans-serif !important;
  color: #212529 !important;
   font-weight: 600 !important;
   font-size: 15px !important;
   border-radius: 0px;
   padding: 10px;
}

.btn-blue{
  color: #21b3e4;
  font-family: Helvetica,Arial,sans-serif !important;
   font-weight: 600 !important;
   font-size: 15px !important;
}




.list-item ul{
  margin-bottom: 0px;
}

.list-item ul li{
  color: #818181;
}

.cursor-pointer{
  cursor: pointer !important;
}

.checkout-btn{

  font-family: Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.sub-total{
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.list-category ul{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.text-unavailable{
  color:red;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.text-grey{
  color: #a0a0a0;
}

.card-total{
  padding: 15px;
  margin-bottom: 5px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 700;
}

.text-bold{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #212529 !important;
}

.text-small{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 400;
  white-space: break-spaces;
}

.btn-checkout{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  background-color: #d31c21;
  padding: 10px 40px;
  display: table;
  margin: 0 auto;
}

.btn-checkout:hover{
  color: #fff;
}

.condiments-card{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #212529;
  background-color: #fff;
  padding: 15px 0px 0px 0px;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
}
.condiments-img{
 width: 70%;
 margin: 0 auto;
}

.condiments-title{
  padding: 15px 0px;
}

.condiments-qty{
  padding: 15px 0px 5px 0px;
  box-shadow: rgb(0 0 0 / 25%) 0px 15px 15px -15px inset;

}


.footer{
  background-color: #000;
  color: #a0a0a0;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  padding: 20px 10px;
  margin-top: 20px;
}
.menu-icon{
  color: #666666;
}

@media only screen and (max-width: 767px)  {
  .b-sidebar{
    width: 100%;
  }
  div [class^="col-"]{
    padding-left:5px;
    padding-right:5px;
  }
  .card-block .buttonCard{
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px)  {
  .bodycontainer{
    padding: 0px;
  }
  .card-block .imgcard{
    height: 170px;
  }
}

.btn-warning{
  background-color: transparent !important;
  border-color: transparent !important;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #212529;
}

.shopping-cart{
  margin-top: 15px;
}


.pb-0{
  padding-bottom: 0px !important;
}



.accordion-button{
  width: 100%;
  text-align: left;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #212529;
  height: 70px;

}



.accordion-body{
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #212529;
  padding: 10px;
  border: 1px solid #ddd;
  border-top: 0px;
  margin-top: -8px;
  margin-bottom: 8px;
}

.accordion-button:hover{
  background-color:#f3f3f3;
}

.accordion-collapse.collapse.show .accordion-button{
  border-bottom: 0px !important;
}

.arow{
  position: relative;
  margin-left: auto;
  margin-right: 0;
}
.itemName{
  white-space: pre-line;
  font-weight: bold;
  word-wrap: break-word;
  font-size: 18px;
}
