<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #contactStatuseForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="contactStatuse.id">{{l("EditContactStatuse")}}</span>
                        <span *ngIf="!contactStatuse.id">{{l("CreateNewContactStatuse")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="ContactStatuse_ContactStatusName">{{l("ContactStatusName")}} *</label>
									<input type="text" #ContactStatuse_ContactStatusName="ngModel" id="ContactStatuse_ContactStatusName" class="form-control" [(ngModel)]="contactStatuse.contactStatusName" name="ContactStatusName"   minlength="0"  maxlength="1024"  required/>
								    <validation-messages [formCtrl]="ContactStatuse_ContactStatusName"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ContactStatuse_IsEnabled" class="kt-checkbox">
										<input id="ContactStatuse_IsEnabled" #ContactStatuse_IsEnabled="ngModel" type="checkbox" name="IsEnabled" [(ngModel)]="contactStatuse.isEnabled"> 
										{{l("IsEnabled")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="ContactStatuse_IsEnabled"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary " [disabled]="!contactStatuseForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>