/* cairo-regular - latin */
@font-face {
  font-family: 'Cairo';
  src: url('~assets/fonts/cairo/Cairo-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Cairo-light';
  src: url('~assets/fonts/cairo/Cairo-Light.ttf'); /* IE9 Compat Modes */
}

* {
  -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  direction: rtl;
}

:root {
  --font-color: #000;
  --sperator: #0000000d;
  --pink: #F13D5D;
}

html {
  background: #ffff;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-size: calc(12px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
  font-family: 'Cairo-light', sans-serif;
  font-weight: 400;
  margin: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}


.panel-wrapper {
  padding-bottom: 8pt !important;
  margin-bottom: 8pt;
}

.panel-wrapper {
  border-bottom: 1px solid #0000000d;
}

.product-panel {
  height: 100%;
  cursor: pointer;
}

.product-panel .product-info {
  height: 100%;
  min-width: 0;
  font-size: 14px;
}

a {
  color: var(--font-color)
}

.navbar .active {
    border: 2px solid #de1414;
    border-radius: 25px;
  /* border-bottom: 1px solid #045802; */
  color: var(--font-color)
}

.subCat.navbar .active {
  border: 2px solid #de1414;
  border-radius: 25px;
  /* border-bottom: 1px solid #045802; */
  color: var(--font-color)
}

.product-panel .product-info .title {
  white-space: nowrap;
  font-size: 14px;
  color: var(--font-color);
  text-overflow: ellipsis;
  justify-content: start;
  display: flex;
}

.product-panel .product-info .description {
  color: var(--gray-dark);
  margin-bottom: 4pt;
}

.product-panel .product-info .description p {
  -webkit-line-clamp: 2;
}

.product-panel .custom-label {
  font-size: 14px;
  color: var(--gray-dark);
}

.layout-left .product-panel .custom-label {
  text-align: right;
}

.layout-right .product-panel .custom-label {
  text-align: left;
}

@media (max-width: 576px) {
  .product-panel .custom-label {
    text-align: initial !important;
  }
}

.product-panel .product-image img {
  height: 90pt !important;
  width: 73pt !important;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.product-price {
  color: var(--pink);
  text-align: right;
}

.collection-title {
  font-size: 22px;
  font-weight: 600;
  padding-top: 8pt;
  padding-bottom: 4pt;
}

.layout {
  max-width: 640pt;
  box-shadow: 0 0 12pt rgb(0 0 0 / 10%);
  min-height: 100vh;
  position: relative;
}


.search_input {
  color: black;
  outline: 0;
  background: #f4f4f4;
  line-height: 40px;
  transition: width 0.4s linear;
  caret-color: #389475;
  width: 100%;
  border-radius: 30px;
  border: 1px solid #e7e7e7;
  text-indent: 30px;
}

.searchbar > .search_icon {
  background: white;
  color: #389475;
}

.search_icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #389475;
  position: absolute;
  text-decoration: none;
  top: 2px;
}

.full-background {
  height: 180pt;
}

.background-container {
  /*position: absolute;*/
  /*width: 100vw !important;*/
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
}

.background-container .bg-img {
  height: 180pt;

  width: 100%;
  background-size: cover;
  object-fit: cover;
  object-position: 50% 50%;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.logo img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.restaurant-info {
  top: 50%;
  justify-content: start;
  text-align: right;
  color: white;
  padding-inline-start: 20px;
  -webkit-padding-start: 20px;
}

.restaurant-info .restaurant-name {
  font-size: 18px;
  -webkit-padding-start: 10px;
}

.about_us {
  font-size: 16px;
  display: flex;
  justify-content: start;
}

.product-details {
  font-size: 18px;
  position: relative;
  height: 100vh;
}

.qty-button {
  border: 2px solid #389475;
  background-color: #389475;
  font-size: 14px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;
}

.small-qty-btn {
  height: 2em;
  width: 2em;
}

.plus-button:after, .plus-button:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.minus-button:before {
  content: "";
  display: block;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}


.qty-button:before {
  height: 1em;
  width: 0.2em;
}

.qty-button:after {
  height: 0.2em;
  width: 1em;
}

.checkout-btn {

  width: 100%;
  right: 0;
  /*left: 50%;*/
  /*transform: translateX(-50%);*/
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: #389475;
  align-items: center;
  height: 50px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}


.back-btn {
  top: 12pt;
  left: 12pt;
  width: 42pt;
  height: 42pt;
  display: flex;
  position: absolute;
  font-size: 20px;
  background: #ffffff;
  box-shadow: 2pt 2pt 8pt rgb(0 0 0 / 25%);
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  z-index: 1;
}

.specification-title {
  font-size: 14px;
  font-weight: bold;
}

.specification-chioce-title {
  font-size: 16px;

}

.cart-count {
  font-size: 20px;
}

.item-details {
  max-height: calc(100vh - 300px);
}

.cart-btn {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  /*width: 500px;*/
}

.scroll-arrow {
  width: 0pt;
  height: 100%;
  display: flex;
  padding: 12px;
  opacity: 1;
  position: absolute;
  font-size: 1.2rem;
  background: linear-gradient(
    -90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.5) 100%);
  transition: 0.15s all;
  align-items: center;
  pointer-events: none;
  justify-content: flex-end;
  transform: scaleX(-1);
}

html[dir='ltr'] .scroll-arrow {
  right: 0;
}

html[dir='rtl'] .scroll-arrow {
  left: 0;
}



.cart-icon {
  position: absolute;
  top: -21px;
  background: white;
  color: black;
  border: 1px solid;
  border-radius: 16px;
}

.category-items {
  position: sticky;
  top: 0;
  background: white;
  z-index: 99;
}

.required {
  color: #546e7a;
  font-weight: normal;
  margin-inline-start: 8px;
  margin-block-start: 3px;
}

.fixed-button {
  width: 100%;
  bottom: 0px;
  position: sticky;
  box-shadow: 0px -8px 8px -8px rgb(0 0 0 / 20%);
  z-index: 999;
}

.font-18 {
  font-size: 1.3rem;
}

.app-langague {
  position: absolute;
  top: 20px;
  font-size: 20px;
  width: 100%;
  color: white;
  display: flex;
  justify-content: end;
  -webkit-padding-start: 20px;
  -webkit-padding-end: 20px;
}

.app-langague span {
  text-align: center;
  background: #389475;
  padding: 8px;
  width: 50px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 50%;
}

.last-item {
  margin-bottom: 80px;
}

.opacity-5 {
  opacity: 0.5;
}


@media only screen and (min-width: 1024px) {
  .cart-btn {
    width: 500px;
  }
}


.loading {
  position: absolute;
  bottom: 15%;
  left: 0;
  right: 0;
  width: 100px;
  margin: auto;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  background: #2c3e50;
  border-radius: 4px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
