<div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <p>
        {{ "calendarVideoNote" | localize }}  
      <a   (click)="openVideo( modalBasic2)" ><u>    {{ "learnHowCalendarWork" | localize }} <i class="bi bi-play-circle"></i></u></a>
    </p>
      <div class=" overflow-hidden border">
        <div class="row no-gutters">
          <!-- calendar main sidebar -->
          <div
            *ngIf="theme != 'theme12'"
            class="p-0 w-100"
            name="calendar-main-sidebar"
            overlayClass="body-content-overlay"
            collapsibleSidebar="bs-gt-lg">
            <app-calendar-main-sidebar></app-calendar-main-sidebar>
          </div>

          <div
            *ngIf="theme === 'theme12'"
            class="p-0"
            name="calendar-main-sidebar"
            overlayClass="body-content-overlay"
            collapsibleSidebar="bs-gt-lg">
            <app-calendar-main-sidebar></app-calendar-main-sidebar>
          </div>
          <!--/ calendar main sidebar -->

          <!-- calendar -->
          <div [hidden]="theme === 'theme12'" class="col position-relative p-0
            ">
            <div class=" shadow-none border-0 mb-0 rounded-0 card">
              <div class="card-body m-0 pb-0">
                <full-calendar #calendar class="theme-5"
                  [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>

          <div [hidden]="theme != 'theme12'" class="col position-relative p-0">
            <div class=" shadow-none border-0 mb-0 rounded-0 card">
              <div class="card-body p-0 pb-0">
                <full-calendar #calendar class="calendar"
                  [options]="calendarOptions"></full-calendar>
              </div>
            </div>
          </div>
          <!-- calendar -->
        </div>
      </div>

      <!-- calendar event sidebar -->
      <span [ngClass]="isArabic? 'arabic' : ''">
        <div
        *ngIf="theme != 'theme12'"
        [ngClass]="{'show': _calendarService.isOpened , 'd-none' :
        !_calendarService.isOpened }"
        class="modal center modal-slide-in fade event-sidebar"
        name="calendar-event-sidebar"
        overlayClass="modal-backdrop"
        hideOnEsc="true"
        id="BookingModal">
        <app-calendar-event-sidebar></app-calendar-event-sidebar>
      </div>
      </span>
   

      <span [ngClass]="isArabic? 'arabic' : ''">
      <div
        *ngIf="theme === 'theme12'"
        [ngClass]="_calendarService.isOpened ? 'show' : ''"
        class="modal modal-slide-in fade event-sidebar"
        name="calendar-event-sidebar"
        overlayClass="modal-backdrop"
        hideOnEsc="true"
        id="BookingModal">
        <app-calendar-event-sidebar></app-calendar-event-sidebar>
      </div>
      </span>
      <div *ngIf="_calendarService.isOpened"
        (click)="_calendarService.addEventt()" class="modal-backdrop show"></div>
      <!--/ calendar event sidebar -->
    </div>
  </div>
</div>
<!-- <viewVideo #viewVideo ></viewVideo> -->
<ng-template #modalBasic2 let-modal>

  <div class="modal-body p-0" tabindex="0" ngbAutofocus>
    <iframe class="w-100" height="315" src="https://www.youtube.com/embed/qvaErh3DgA0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </div>
 
</ng-template>