@import "~@ng-select/ng-select/themes/default.theme.css";

.modal-slide-in.modal {
    width: auto;
    display: block;
}

.center{
    left: 0!important;
    right: 0!important;
}

.bi-check2-all{
    color:  #34B7F1!important;
  }


  




