<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://infoseedfunctionqanew.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/611069e5-4027-4c5b-bd5e-48eb58ffdddc/resourceGroups/QA_RG/providers/Microsoft.Web/sites/InfoSeedFunctionQAnew</ResourceId>
    <UserName>$InfoSeedFunctionQAnew</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://infoseedfunctionqanew.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>