<div bsModal #viewlistsettingsmodal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="TableSettings" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 16px; padding: 0px">
            <form #userForm="ngForm" novalidate (ngSubmit)="savePositions()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ "TableSettings" | localize }}</span>
                    </h4>
                    <button *ngIf="theme != 'theme12'" type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" style="right: 0">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                    <button
                        *ngIf="theme === 'theme12'"
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="close()"
                        aria-label="Close"
                        style="right: 0"
                    ></button>
                </div>
                <div class="modal-body">
                    <div cdkDropList [cdkDropListData]="tempList" (cdkDropListDropped)="onDrop($event)" class="list-container">
                        <div *ngFor="let item of tempList; let i = index" cdkDrag class="draggable-item">
                            <label [class]="item.isActive && activeCount >= 5 ? 'custom-checkbox-disabled' : 'custom-checkbox'">
                                <input
                                    [disabled]="item.isActive && activeCount >= 5"
                                    [ngModelOptions]="{ standalone: true }"
                                    type="checkbox"
                                    [checked]="item.isActive"
                                    (change)="onCheckboxChange(item, i)"
                                />
                                <span class="checkmark"></span>
                                {{ item.name }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="min-height: 50px">
                    <div class="">
                        <button style="background-color: #009789 !important" [busyText]="l('SavingWithThreeDot')" type="button" class="btn btn-secondary" (click)="savePositions()">
                            {{ l("Submit") }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
