
<div class="container" *ngIf="!showChildComponent">
  <div class="setup-container">
    <!-- Template Setup Panel -->
    <div class="setup-panel">
      <div class="TemplateConstructionstages">
        <div  class="circle-active"   style="background-color: #e1edf7;">
          <div class="circle"></div>
          <p>Set up template</p>
        </div>
        <div class="circle-empty"></div>
          <p>Edit template</p>
        <div class="circle-empty" ></div>
        <p>Submit for review</p>
      </div>

      <h2 style="padding-top: 15px;">Set up your template</h2>
      <p class="description">
        Choose the category that best describes your message template. Then select the type of message you want to send. 
        <!-- <a href="#">Learn more about categories.</a> -->
      </p>
  
      <!-- Category Buttons -->
      <div class="categories">
        <button 
          class="category-button" 
          [ngClass]="{ active: template.category == 'MARKETING' }" 
          (click)="selectCategory('MARKETING')">
          <i class="icon marketing"></i> Marketing
        </button>
        <button 
          class="category-button" 
          [ngClass]="{ active: template.category == 'UTILITY' }" 
          (click)="selectCategory('UTILITY')">
          <i class="icon utility"></i> Utility
        </button>
        <button 
          class="category-button" 
          [ngClass]="{ active: template.category == 'AUTHENTICATION' }" 
          (click)="selectCategory('AUTHENTICATION')">
          <i class="icon authentication"></i> Authentication
        </button>
      </div>
  
      <!-- Message Type Options -->
      <div class="message-types">
<!-- Marketing Message Types -->
      <ng-container *ngIf="template.category === 'MARKETING'" >
        <div class="MARKETING">
       <label class="MARKETING">
         <input 
           type="radio" 
           name="messageType" 
           value="CUSTOM" 
           [(ngModel)]="template.sub_category" 
           (click)="selectCategory('MARKETING')"
         />
         <span>Custom</span>
         <p>Send promotions or announcements to increase awareness and engagement.</p>
         </label>
        </div>
        <div class="MARKETING">
          <label>
            <input 
            type="radio" 
            name="messageType" 
            value="carousel" 
            [(ngModel)]="template.sub_category" 
            (click)="selectCatolog()" 
          />
            <span>Carousel</span>
            <p>Send messages about your entire Carousel or multiple products from it.</p>
          </label>
          </div>

          <!-- <div class="MARKETING">
            <label>
              <input 
              type="radio" 
              name="messageType" 
              value="PRODUCT_MESSAGE" 
              [(ngModel)]="template.sub_category" 
              (click)="selectCatolog()" 
            />
           
              <span>Catalog</span>
              <p>Send messages about your entire catalog or multiple products from it.</p>
            </label>
          </div> -->
      
      </ng-container>
    
      <!-- Utility Message Types -->
      <ng-container *ngIf="template.category === 'UTILITY'"  >
         <label>
           <input 
             type="radio" 
             name="messageType" 
             value="CUSTOM" 
             [(ngModel)]="template.sub_category" 
           />
           <span>Custom</span>
           <p>Send promotions or announcements to increase awareness and engagement.</p>
         </label>
  <!-- <label>
    <input 
      type="radio" 
      name="messageType" 
      value="FLOWS" 
      [(ngModel)]="template.sub_category" 
    />
    <span>Flows</span>
    <p>Send a form to capture customer interests, appointment requests, or run surveys.</p>
  </label> -->
      </ng-container>
    
      <ng-container *ngIf="template.category === 'AUTHENTICATION'"  >
       <label>
         <input 
           type="radio" 
           name="messageType" 
           value="OneTimePasscode" 
           [(ngModel)]="template.sub_category" 
         />
         <span>One-time Passcode</span>
         <p>Send codes to verify a transaction or login.</p>
       </label>
      </ng-container>

      </div>
    </div>
  
    <!-- Template Preview Panel -->
    <div class="preview-panel">
      <h3>Template Preview</h3>
      <div class="message-preview">
        <img [src]="previewImageSrc" alt="Preview Image" class="preview-image" />
        <div class="message-content">
          <h4>This template is good for</h4>
          <p>Welcome messages, promotions, offers, coupons, newsletters, announcements</p>
        </div>
        <div class="message-content">
          <h4>Template areas you can customize</h4>
          <p>Header, body, footer, button</p>
        </div>
      </div>
    </div>
    <div class="action-buttons">
      <button (click)="Discard()" class="discard-button">Discard</button>
      <button (click)="next()" class="next-button">next</button>
    </div>
  </div>
</div>

<!-- <app-edit-template-facebook
  *ngIf="showChildComponent"
  [selectedCategory]="selectedCategory"
  [selectedMessageType]="selectedMessageType"
  (close)="closeChildComponent()"
></app-edit-template-facebook> -->

<!-- <div class="action-buttons">
  <button class="button discard">Discard</button>
  <button class="button next">Next</button>
</div> -->