<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true">
    <div *ngIf="theme != 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" novalidate autocomplete="off">
                <div class="modal-header">
                    <h6 class="modal-title">
                        <img src="/assets/common/images/assign-list.svg" alt="Icon" class="icon" />
                        Create/Edit Rule
                    </h6>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="row" style="align-items: center">
                            <div class="col-5">
                                <label> <strong>If Total value From *</strong></label>
                                <input
                                    [class.error]="submitted && totalValue.invalid"
                                    #totalValue="ngModel"
                                    class="form-control m-input"
                                    type="number"
                                    name="feesStart"
                                    [(ngModel)]="feesStart"
                                    required
                                />
                                <p class="text-danger" *ngIf="submitted && totalValue.invalid">{{l("ThisFieldIsRequired") }}</p>
                            </div>

                            <div class="col-5">
                                <label> <strong>To *</strong></label>
                                <input
                                    [class.error]="submitted && to.invalid"
                                    #to="ngModel"
                                    class="form-control m-input"
                                    name="feesEnd"
                                    type="number"
                                    [(ngModel)]="feesEnd"
                                    required
                                />
                                <p class="text-danger" *ngIf="submitted && to.invalid">{{l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="md-checkbox-list" style="width: 200px">
                        <div>
                            <label for="isPersentageDiscount" class="checkbox">
                                <input id="isPersentageDiscount" type="checkbox" name="isPersentageDiscount" [(ngModel)]="createOrEditOrderOfferDto.isPersentageDiscount" />
                                <span></span>
                                {{"is Persentage Discount" | localize}}
                            </label>
                        </div>
                    </div>
                    <!-- <div class="md-checkbox-list" style="width: 200px" *ngIf="createOrEditOrderOfferDto.isPersentageDiscount">
                        <div>
                            <label for="isBranchDiscount" class="checkbox">
                                <input id="isBranchDiscount" type="checkbox" name="isBranchDiscount"  [(ngModel)]="createOrEditOrderOfferDto.isBranchDiscount" />
                                <span></span>
                                {{"is Branch Discount" | localize}}
                            </label>
                        </div>
                    </div> -->
                    <!-- *ngIf="createOrEditOrderOfferDto.isBranchDiscount && createOrEditOrderOfferDto.isPersentageDiscount" -->
                    <div style="margin-top: 13px" >
                        <div class="form-group">
                            <div style="margin-top: 13px">
                                <label><strong>Select Branch</strong> </label>

                                <ng-multiselect-dropdown
                                    name="branches"
                                    required
                                    [class.error]="submitted && selectedBranchIds.length <= 0"
                                    [placeholder]=""
                                    [settings]="dropdownSettings12"
                                    [data]="areas"
                                    [(ngModel)]="selectedBranchIds"
                                >
                                </ng-multiselect-dropdown>
                                <p class="text-danger" *ngIf="submitted && selectedBranchIds.length <= 0">{{l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                    </div>
<!-- 
                    <div style="margin-top: 13px" *ngIf="!createOrEditOrderOfferDto.isPersentageDiscount ">
                        <label> <strong>City *</strong></label>
                        <select [class.error]="submitted && selectedItems.length <= 0" (change)="onChangeFromCity($event)" name="fromcityId" class="form-control" required>
                            <option [value]="null" selected disabled></option>
                            <option *ngFor="let fromcity of cities" [value]="fromcity.locationId" style="font-family: system-ui; font-size: 20px">{{fromcity.locationName}}</option>
                        </select>
                        <p class="text-danger" *ngIf="submitted && selectedItems.length <= 0">{{l("ThisFieldIsRequired") }}</p>
                    </div>

                    <div style="margin-top: 13px" *ngIf="!createOrEditOrderOfferDto.isPersentageDiscount ">
                        <label><strong>Area *</strong> </label>
                        <ng-multiselect-dropdown
                            [class.error]="submitted && selectedItems2.length <= 0"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''"
                            required
                            [placeholder]=""
                            [settings]="dropdownSettings"
                            [data]="selectedItems"
                            [(ngModel)]="selectedItems2"
                            (onSelect)="onItemSelect($event)"
                            (onDeSelect)="onItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                        >
                        </ng-multiselect-dropdown>
                        <p class="text-danger" *ngIf="submitted &&  selectedItems2.length <= 0">{{l("ThisFieldIsRequired") }}</p>
                    </div> -->

                    <div style="margin-top: 13px">
                        <div>
                            <label><strong>Select dates range *</strong> </label>
                            <br />
                            <input
                               
                                [class.error]="submitted && dates.invalid"
                                #dates="ngModel"
                                name="range-input"
                                type="text"
                              
                                class="form-control"
                                id="range-input"
                                placement="right"
                                (bsValueChange)="onDateRangeUpdate()"
                                [(ngModel)]="dateRange"
                                [bsConfig]="dateRangePickerOptions"
                                bsDaterangepicker
                                required
                            />
                            <p class="text-danger" *ngIf="submitted && dates.invalid">{{l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>

                    <div style="margin-top: 13px">
                        <div class="form-group">
                            <label for="StartDateSat"> <strong>Start Time *</strong></label>
                            <input
                                #startTime="ngModel"
                                id="orderOfferStartS"
                                class="form-control m-input"
                                name="ss"
                                type="time"
                                [(ngModel)]="createOrEditOrderOfferDto.orderOfferStartS"
                                required
                            />
                            <!-- <p class="text-danger" *ngIf="submitted && startTime.invalid">{{l("ThisFieldIsRequired") }}</p>
                            <p
                                class="text-danger"
                                *ngIf="createOrEditOrderOfferDto.orderOfferStartS >= createOrEditOrderOfferDto.orderOfferEndS || createOrEditOrderOfferDto.orderOfferEndS <= createOrEditOrderOfferDto.orderOfferStartS"
                            >
                                Invalid Date
                            </p> -->
                        </div>
                        <div class="form-group">
                            <label for="EndDate"> <strong>End Time *</strong> </label>
                            <input
                                
                                #endTime="ngModel"
                                id="orderOfferEndS"
                                class="form-control m-input"
                                name="ee"
                                type="time"
                                [(ngModel)]="createOrEditOrderOfferDto.orderOfferEndS"
                                required
                            />
                            <!-- <p class="text-danger" *ngIf="submitted && endTime.invalid">{{l("ThisFieldIsRequired") }}</p>
                            <p
                                class="text-danger"
                                *ngIf="createOrEditOrderOfferDto.orderOfferStartS >= createOrEditOrderOfferDto.orderOfferEndS || createOrEditOrderOfferDto.orderOfferEndS <= createOrEditOrderOfferDto.orderOfferStartS"
                            >
                                Invalid Date
                            </p> -->
                        </div>
                    </div>
                    <div style="margin-top: 13px">
                        <div *ngIf="!createOrEditOrderOfferDto.isPersentageDiscount">
                            <label> <strong>delivery fees * </strong> </label>
                            <input
                                [class.error]="submitted && deliveryFees.invalid"
                                #deliveryFees="ngModel"
                                class="form-control m-input"
                                type="number"
                                name="newFees"
                                [(ngModel)]="newFees"
                                required
                            />
                            <p class="text-danger" *ngIf="submitted && deliveryFees.invalid">{{l("ThisFieldIsRequired") }}</p>
                        </div>
                        <div *ngIf="createOrEditOrderOfferDto.isPersentageDiscount">
                            <label> <strong>discount % </strong> </label>
                            <input class="form-control m-input" type="number" name="newFees" [(ngModel)]="newFees" required />
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="height: 139px">
                    <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
                    <button (click)="save()" type="button" class="btn btn-primary blue" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{l("Save")}}</span>
                    </button>
                    <!-- <button (click)="save()" type="submit" class="btn btn-primary blue" ><i class="fa fa-save"></i> <span>Save</span></button> -->
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="theme === 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h6  class="modal-title">
                        <img src="/assets/common/images/assign-list.svg" alt="Icon" class="icon" />
                        {{ "create" | localize }}
                    </h6>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 col-lg-6 mt-1">
                            <label>{{ "ifTotalValueOrderFrom" | localize }}*</label>

                            <input
                                [class.error]="submitted && totalValue.invalid"
                                #totalValue="ngModel"
                                class="m-input form-control"
                                type="number"
                                name="feesStart"
                                [(ngModel)]="feesStart"
                                required
                            />
                            <p class="text-danger" *ngIf="submitted && totalValue.invalid">{{l("ThisFieldIsRequired") }}</p>
                        </div>

                        <div class="col-12 col-lg-6 mt-1">
                            <label> {{ "to" | localize }} *</label>
                            <input
                                [class.error]="submitted && to.invalid"
                                #to="ngModel"
                                class="m-input form-control"
                                name="feesEnd"
                                type="number"
                                [(ngModel)]="feesEnd"
                                required
                            />
                            <p class="text-danger" *ngIf="submitted && to.invalid">{{l("ThisFieldIsRequired") }}</p>
                        </div>

                        <div class="col-12 col-lg-6 mt-1 md-checkbox-list form-check form-switch">
                            <label for="isPersentageDiscount" class="checkbox">
                                <input
                                    id="isPersentageDiscount"
                                    type="checkbox"
                                    class="ml-1 form-check-input"
                                    name="isPersentageDiscount"
                                    [(ngModel)]="createOrEditOrderOfferDto.isPersentageDiscount"
                                />
                                <span></span>
                                {{"isPercentageDiscount" | localize}}
                            </label>
                        </div>
                        <!-- <div class="col-12 col-lg-6 mt-1 md-checkbox-list form-check form-switch" *ngIf="createOrEditOrderOfferDto.isPersentageDiscount">
                            <label for="isBranchDiscount" class="checkbox">
                                <input
                                    id="isBranchDiscount"
                                    type="checkbox"
                                    class="ml-1 form-check-input"
                                    name="isBranchDiscount"
                                    [(ngModel)]="createOrEditOrderOfferDto.isBranchDiscount"
                                />
                                <span></span>
                                {{"is Branch Discount" | localize}}
                            </label>
                        </div> -->
                        <div class="col-12 col-lg-6 mt-1" >
                            <div class="form-group">
                                <label>{{ "branch" | localize }}*</label>
                                <ng-multiselect-dropdown
                                    required
                                    [class.error]="submitted && selectedBranchIds.length <= 0"
                                    name="branches"
                                    [placeholder]=""
                                    [settings]="dropdownSettings12"
                                    [data]="areas"
                                    [(ngModel)]="selectedBranchIds"
                                >
                                </ng-multiselect-dropdown>
                                <p class="text-danger" *ngIf="submitted && selectedBranchIds.length <= 0">{{l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                        <!-- <div class="col-12 col-lg-6 mt-1" *ngIf="!createOrEditOrderOfferDto.isPersentageDiscount  ">
                            <label> City *</label>
                            <select
                                [class.error]="submitted && selectedItems.length <= 0"
                                (change)="onChangeFromCity($event)"
                                name="fromcityId"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                required
                            >
                                <option [value]="null" selected disabled></option>
                                <option *ngFor="let fromcity of cities" [value]="fromcity.locationId" style="font-family: system-ui; font-size: 20px">
                                    {{fromcity.locationName}}
                                </option>
                            </select>
                            <p class="text-danger" *ngIf="submitted && selectedItems.length <= 0">{{l("ThisFieldIsRequired") }}</p>
                        </div> -->

                        <!-- <div class="col-12 col-lg-6 mt-1" *ngIf="!createOrEditOrderOfferDto.isPersentageDiscount ">
                            <label>Area *</label>
                            <ng-multiselect-dropdown
                                [class.error]="submitted && selectedItems2.length <= 0"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''"
                                required
                                [placeholder]=""
                                [settings]="dropdownSettings"
                                [data]="selectedItems"
                                [(ngModel)]="selectedItems2"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                            >
                            </ng-multiselect-dropdown>
                            <p class="text-danger" *ngIf="submitted &&  selectedItems2.length <= 0">{{l("ThisFieldIsRequired") }}</p>
                        </div> -->

                        <div class="col-12 col-lg-6 mt-1">
                            <label>{{ "selectDateRange" | localize }} * </label>
                            <input
                               
                                [class.error]="submitted && dates.invalid"
                                #dates="ngModel"
                                name="range-input"
                                type="text"
                               
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                id="range-input"
                                placement="right"
                                (bsValueChange)="onDateRangeUpdate()"
                                [(ngModel)]="dateRange"
                                [bsConfig]="dateRangePickerOptions"
                                bsDaterangepicker
                                required
                            />
                            <p class="text-danger" *ngIf="submitted && dates.invalid">{{l("ThisFieldIsRequired") }}</p>
                        </div>

                        <div class="col-12 col-lg-6 mt-1">
                            <label for="StartDateSat">{{ "from" | localize }} *</label>
                            <input
                                id="orderOfferStartS"
                                #startTime="ngModel"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                class="m-input"
                                name="ss"
                                type="time"
                                [(ngModel)]="createOrEditOrderOfferDto.orderOfferStartS"
                                required
                            />
                            <!-- <p class="text-danger" *ngIf="submitted && startTime.invalid">{{l("ThisFieldIsRequired") }}</p>
                            <p
                                class="text-danger"
                                *ngIf="createOrEditOrderOfferDto.orderOfferStartS >= createOrEditOrderOfferDto.orderOfferEndS || createOrEditOrderOfferDto.orderOfferEndS <= createOrEditOrderOfferDto.orderOfferStartS"
                            >
                                Invalid Date
                            </p> -->
                        </div>
                        <div class="col-12 col-lg-6 mt-1">
                            <label for="EndDate"> {{ "to" | localize }} *</label>
                            <input
                                id="orderOfferEndS"
                                #endTime="ngModel"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                class="m-input"
                                name="ee"
                                type="time"
                                [(ngModel)]="createOrEditOrderOfferDto.orderOfferEndS"
                                required
                            />
                            <!-- <p class="text-danger" *ngIf="submitted && endTime.invalid">{{l("ThisFieldIsRequired") }}</p>
                            <p
                                class="text-danger"
                                *ngIf="createOrEditOrderOfferDto.orderOfferStartS >= createOrEditOrderOfferDto.orderOfferEndS || createOrEditOrderOfferDto.orderOfferEndS <= createOrEditOrderOfferDto.orderOfferStartS"
                            >
                                Invalid Date
                            </p> -->
                        </div>

                        <div class="col-12 col-lg-6 mt-1" *ngIf="!createOrEditOrderOfferDto.isPersentageDiscount">
                            <label> {{ "deliveryFees" | localize }} * </label>
                            <input
                                [class.error]="submitted && deliveryFees.invalid"
                                #deliveryFees="ngModel"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                class="m-input"
                                type="number"
                                name="newFees"
                                [(ngModel)]="newFees"
                                required
                            />
                            <p class="text-danger" *ngIf="submitted && deliveryFees.invalid">{{l("ThisFieldIsRequired") }}</p>
                        </div>
                        <div class="col-12 col-lg-6 mt-1" *ngIf="createOrEditOrderOfferDto.isPersentageDiscount">
                            <label>{{ "discount" | localize }} % </label>
                            <input
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                class="m-input"
                                type="number"
                                name="newFees"
                                [(ngModel)]="newFees"
                                required
                            />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()">{{ "Cancel" | localize }}</button>
                    <button type="button" class="btn btn-primary-info" (click)="save()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{l("Save")}}</span>
                    </button>
                    <!-- <button (click)="save()" type="submit" class="btn btn-primary blue" ><i class="fa fa-save"></i> <span>Save</span></button> -->
                </div>
            </form>
        </div>
    </div>
</div>
