<div bsModal #groupcontactModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="groupcontactModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content custom-modal-content">
      <!-- <div class="modal-header">
        <h4 class="modal-title">
          <span>{{ l("createGroup") }} *</span>
        </h4>
        <button type="button" class="p-1 btn-close" aria-label="Close" (click)="close()"></button>
      </div> -->


      <div class="modal-body">
        <div class="cont-bg">

          <div class="w-100 d-flex justify-content-center align-items-baseline my-2" >
            <div class="d-flex flex-column col-12"    >
              <label for="GroupName" >{{l("groupName") }}</label>
              <input id="GroupNameModel" name="GroupName" [maxlength]="20" type="text" class="col-12 form-control customInput"
              [(ngModel)]="groupNameModel"
                placeholder="Group name"  />
              <p class="text-danger" *ngIf="nextbtn && groupNameStatus === 1">{{l("groupNamecantbeempty") }}</p>
              <p class="text-danger" *ngIf="nextbtn && groupNameStatus === 3">{{l("groupNamealreadyexist") }}</p>
            </div>
          </div>

          <p class="font-weight-bold" style="color: #009789; padding: 0rem 3rem; " >{{l("createGroupFrom") }}</p>
          <div class="cont-main">

              <div class="cont-checkbox"  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''" >
              <input type="radio" name="myRadio" [id]="'myRadio-' + 1" [checked]="oldCotactsChecked"
                (change)="handleChange(1)"
                   />
              <label [for]="'myRadio-' + 1">
                  <img  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"  src="../../../../../assets/images/old_contact.png" alt="new image " width="50%" height="40%">
                <span class="cover-checkbox">
                  <svg viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg>
                </span>
                <div class="info"> Current Contacts </div>
              </label>
            </div>
              <div class="cont-checkbox"  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"  >
              <input type="radio" name="myRadio" [id]="'myRadio-' + 2" [checked]="newCotactsChecked"
                (change)="handleChange(2)"
                />
              <label [for]="'myRadio-' + 2">
                  <img  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"  src="../../../../../assets/images/upload_contact.png" alt="old Contact" width="50%" height="40%">

                <span class="cover-checkbox">
                  <svg viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg>
                </span>
                <div class="info">{{ l("newContacts") }}</div>
              </label>
            </div>
            <div *ngIf ="isGranted('Pages.Campaign_UnsubscribedGroup')" class="cont-checkbox" [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''">
              <input type="radio" name="myRadio" [id]="'myRadio-' + 3" [checked]="unsubscribedChecked"
                (change)="handleChange(3)" />
              <label [for]="'myRadio-' + 3">
                <img src="../../../../../assets/images/unsubscribd_contacts1.png" width="50%" height="40%">
                <span class="cover-checkbox">
                  <svg viewBox="0 0 12 10">
                    <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                  </svg>
                </span>
                <div class="info">Unsubscribed Contacts</div>
              </label>
            </div>
          </div>
        </div>

        <div class=" modal-footer col-12 d-flex justify-content-center   ">
          <button type="button" class="col-5 btn btn-outline-primary-info" data-dismiss="modal" (click)="close()">{{ l("Cancel") }}</button>
          <button type="button" class="col-5 btn btn-primary-info" [buttonBusy]="nextbtn" [disabled]="(groupNameModel.length===0) || (!oldCotactsChecked && !newCotactsChecked && !unsubscribedChecked)"
            (click)="handleNextButton()">{{ l("Next") }}</button>
        </div>
        </div>
    </div>
  </div>