* {
    --transition: 0.15s;
    --border-radius: 0.5rem;
    --background: #009789 ;
    --box-shadow: #009789 ;
   
  }

  .cont-main {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding-bottom:1rem;
  }
  
  .cont-checkbox {
    width: 150px;
    height: 160px;
    border-radius: var(--border-radius);
    box-shadow: 3px 4px 6px rgba(0.3, 0.3, 0.3, 0.3);
    border: 1px solid #0000001c;
    transition: transform var(--transition);
    background: white;
    margin-bottom: 0.75rem;
    margin-right: 0.75rem;
    &:active {
      transform: scale(0.9);
    }
    margin-left:0.25rem;
    input {
      display: none;
      &:checked + label {
        opacity: 1;
        box-shadow: 0 0 0 3px var(--background);
        .cover-checkbox {
          opacity: 1;
          transform: scale(1);
          svg {
            stroke-dashoffset: 0;
          }
        }
        i {
          -webkit-filter: none; /* Safari 6.0 - 9.0 */
          filter: none;
        }
      }
    }
    label {
      cursor: pointer;
      border-radius: var(--border-radius);
      overflow: hidden;
      width: 100%;
      height: 100%;
      position: relative;
      opacity: 0.6;
      display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
      i {
        width: 100%;
        height: 70%;
        object-fit: cover;
        clip-path: polygon(0% 0%, 100% 0, 100% 81%, 50% 100%, 0 81%);
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
      }
      .cover-checkbox {
        position: absolute;
        right: 5px;
        top: 3px;
        z-index: 1;
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background: var(--box-shadow);
        border: 2px solid #fff;
        transition: transform var(--transition),
          opacity calc(var(--transition) * 1.2) linear;
        opacity: 0;
        transform: scale(0);
        svg {
          width: 13px;
          height: 11px;
          display: inline-block;
          vertical-align: top;
          fill: none;
          margin: 5px 0 0 3px;
          stroke: #fff;
          stroke-width: 2;
          stroke-linecap: round;
          stroke-linejoin: round;
          stroke-dasharray: 16px;
          transition: stroke-dashoffset 0.4s ease var(--transition);
          stroke-dashoffset: 16px;
        }
      }
      .info {
        text-align: center;
        margin-top: 0.2rem;
        font-weight: 600;
        font-size: 1.3rem;
        padding: 12px 0px;
        margin: 0px 0px;
        background-color: transparent !important;
        color: #00796e !important;
        font-weight: bolder !important;

      }
    }
  }
  