<div
    appBsModal
    #createOrEditBookingSettings="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span> {{ "Edit" | localize }}  {{ "booking" | localize }}  {{ "Settings" | localize }}</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" (click)="close()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" class="invoice-repeater">
                    <div *ngFor="let item of listOfDates; let i= index" >
                        <div class="row d-flex align-items-end">
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="dateRanges{{ i }}"> {{ "selectMultiDates" | localize }}</label>
                                        <i class="bi bi-info-circle"  ngbTooltip="This field is
                                        required" *ngIf="submitted
                                        && dates.invalid"
                                            ></i>
                                    <ng2-flatpickr #dates="ngModel" required
                                        name="dateRanges{{ i }}"
                                        id="dateRanges{{ i }}"
                                        [setDate]="item.day"
                                        [(ngModel)]="item.day"
                                        [config]="multipleDateOptions"></ng2-flatpickr>
                                        
                                </div>
                            </div>


                            <div class="col-md-2 col-12" *ngIf="!item.isOffDayBooking">
                                <div class="form-group">
                                    <label for="startTime"> {{ "StartTime" | localize }}</label>
                                    <i class="bi bi-info-circle"  ngbTooltip="Start Time Must Be less than End Time" *ngIf="(item.startTime>=
                                    item.endTime) && submitted"
                                    ></i>
                                
                                <ng2-flatpickr [config]="timeOptions"
                                    [(ngModel)]="item.startTime"
                                    [setDate]="item.startTime"
                                    name="startTime{{ i }}"
                                    id="startTime{{ i }}"></ng2-flatpickr>
                                </div>
                            </div>

                            <div class="col-md-2 col-12"  *ngIf="!item.isOffDayBooking">
                                <div class="form-group">
                                    <label for="endTime{{ i }}"> {{ "EndTime" | localize }}</label>
                                    <i class="bi bi-info-circle"  ngbTooltip="End Time Must Be Greater
                                    than Start Time" *ngIf="(item.endTime <= item.startTime) && submitted"
                                    ></i>
                                    <ng2-flatpickr [config]="timeOptions"
                                        id="endTime{{ i }}"
                                        name="endTime{{ i }}"
                                        [setDate]="item.endTime"
                                        [(ngModel)]="item.endTime"></ng2-flatpickr>
                                </div>
                            </div>
                            <div class="col-md-2 col-12" [hidden]="theme != 'theme12'">
                                <div class="md-checkbox-list form-check form-switch">
                                    <input  class="form-check-input" id="isOffDayBooking{{i}}" type="checkbox" name="isOffDayBooking{{i}}"
                                    [(ngModel)]="item.isOffDayBooking" />
                                    <label for="isOffDayBooking{{i}}" class="checkbox">
                                        {{ "isOffDay" | localize }}
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-2 col-12" [hidden]="theme === 'theme12'">
                            <div class="md-checkbox-list form-group"  >
                                <div>
                                    <label for="isOffDay{{i}}" class="checkbox">
                                        <input  id="isOffDay{{i}}" type="checkbox" name="isOffDay{{i}}"
                                        [(ngModel)]="item.isOffDayBooking" />
                                        <span></span>
                                        {{ "isOffDay" | localize }}
                                    </label>
                                </div>
                            </div>
                        </div>
                            <div class="col-md-2 col-12 ">
                                <div class="form-group">
                                    <button class="btn btn-outline-danger
                                        text-nowrap px-1"
                                        (click)="deleteItem(i)" rippleEffect>
                                        <span> {{ "Delete" | localize }}</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </form>
                <div class="row mb-1">
                    <div class="col-12">
                        <button class="btn btn-icon btn-primary-info"
                            type="button" (click)="addItem()" rippleEffect>
                            <span> {{ "Add" | localize }}</span>
                        </button>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel")
                        }}</button>
                    <button type="button" class="btn btn-primary-info" (click)="save()"
                    [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                    <!-- [disabled]="!menuForm.valid" -->
                </div>
            </div>
        </div>
    </div>

</div>
