<div
    appBsModal
    #createOrEditModal="bs-modal"
    (onShown)="onShown()"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div class="modal-dialog modal-lg" *ngIf="theme != 'theme12'">
        <div class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="user.id">{{ "EditUser" | localize }}: {{ user.userName }}</span>
                        <span *ngIf="!user.id">{{ "CreateNewUser" | localize }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" [disabled]="saving">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <tabset>
                        <tab class="pt-5" heading="{{ 'UserInformations' | localize }}">
                            <div class="row">
                                <div class="col-sm-3 text-center mb-5 mt-5">
                                    <img src="{{ profilePicture }}" width="128" height="128" alt="UserImage" class="img-thumbnail img-rounded" />
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="Name">{{ "FirstName" | localize }} *</label>
                                        <input id="Name" 
                                        [class.error]="submitted && firstName.invalid" #firstName="ngModel" 
                                         class="form-control" type="text" name="Name" [(ngModel)]="user.name" required maxlength="15" />
                                        <p class="text-danger" *ngIf="submitted && firstName.invalid">{{l("ThisFieldIsRequired") }}</p>
                                    </div>

                                    <div class="form-group">
                                        <label for="Surname">{{ "Surname" | localize }} *</label>
                                        <input
                                            id="Surname"
                                            [class.error]="submitted && surName.invalid" #surName="ngModel"
                                            type="text"
                                            name="Surname"
                                            class="form-control"
                                            [(ngModel)]="user.surname"
                                            required
                                            maxlength="15"
                                        />
                                        <p class="text-danger" *ngIf="submitted && surName.invalid">{{l("ThisFieldIsRequired") }}</p>                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="EmailAddress">{{ "EmailAddress" | localize }} *</label>
                                <input
                                    id="EmailAddress"
                                    #emailAddressInput="ngModel"
                                    [class.error]="submitted && emailAddressInput.invalid" 
                                    type="email"
                                    name="EmailAddress"
                                    class="form-control"
                                    [(ngModel)]="user.emailAddress"
                                    required
                                    maxlength="256"
                                    email
                                />
                                <p class="text-danger" *ngIf="submitted && emailAddressInput.invalid">{{l("ThisFieldIsRequired") }}</p>
                            </div>

                            <div class="form-group">
                                <label for="PhoneNumber">{{ "PhoneNumber" | localize }}</label>
                                <input id="PhoneNumber" type="number" name="PhoneNumber" class="form-control" [(ngModel)]="user.phoneNumber" maxlength="32" />
                            </div>

                            <div class="form-group">
                                <label for="UserName">{{ "UserName" | localize }} *</label>
                                <input
                                    id="UserName"
                                    #userName="ngModel"
                                    [class.error]="submitted && userName.invalid"
                                    type="text"
                                    [disabled]="!canChangeUserName"
                                    name="UserName"
                                    class="form-control"
                                    [(ngModel)]="user.userName"
                                    required
                                    maxlength="15"
                                />
                                <span class="help-block" *ngIf="!canChangeUserName">{{ "CanNotChangeAdminUserName" | localize }}</span>
                                <p class="text-danger" *ngIf="submitted && userName.invalid">{{l("ThisFieldIsRequired") }}</p>                            </div>

                            <div class="checkbox-inline">
                                <label for="EditUser_SetRandomPassword" class="checkbox px-4">
                                    <input id="EditUser_SetRandomPassword" type="checkbox" style="position: relative;" name="SetRandomPassword" [(ngModel)]="setRandomPassword" />
                                    <span></span>
                                    {{ "SetRandomPassword" | localize }}
                                </label>   
                            </div>
                            <div class="form-group" *ngIf="!setRandomPassword">
                                <div class="right">
                                    <label for="Password">{{ "Password" | localize }} *</label>
                                    <input
                                        id="Password"
                                        type="password"
                                        name="Password"
                                          id="Password"
                                        class="form-control"
                                        [(ngModel)]="user.password"
                                        maxlength="32"
                                        [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                        [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                        [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                        [requiredLength]="passwordComplexitySetting.requiredLength"
                                        validateEqual="PasswordRepeat"
                                        reverse="true"
                                        autocomplete="new-password"
                                        #password="ngModel"
                                    />
                                    <p class="text-danger" *ngIf="submitted && password.invalid">{{ l("ThisFieldIsRequired") }}</p>
                                </div>
                            </div>
                            <div [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                <ul class="help-block text-danger" *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                                    <li [hidden]="!userForm.controls['Password'].errors.requireDigit">{{ "PasswordComplexity_RequireDigit_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireLowercase">{{ "PasswordComplexity_RequireLowercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireUppercase">{{ "PasswordComplexity_RequireUppercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">
                                        {{ "PasswordComplexity_RequireNonAlphanumeric_Hint" | localize }}
                                    </li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requiredLength">
                                        {{ "PasswordComplexity_RequiredLength_Hint" | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group" *ngIf="!setRandomPassword">
                                <div class="right">
                                    <label for="PasswordRepeat">{{ "PasswordRepeat" | localize }} *</label>
                                    <input
                                        id="PasswordRepeat"
                                        type="password"
                                        name="PasswordRepeat"
                                        class="form-control"
                                        [(ngModel)]="userPasswordRepeat"
                                        maxlength="32"
                                        [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                        [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                        [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                        [requiredLength]="passwordComplexitySetting.requiredLength"
                                        validateEqual="Password"
                                        reverse="false"
                                        autocomplete="new-password"
                                        #reapeatPassword="ngModel"
                                    />
                                    <p class="text-danger" *ngIf="submitted && reapeatPassword.invalid">{{ l("ThisFieldIsRequired") }}</p>

                                </div>
                            </div>
                            <span [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                <ul class="help-block text-danger pl-2" *ngIf="userForm.controls['PasswordRepeat'] && userForm.controls['PasswordRepeat'].errors">
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">{{ "PasswordComplexity_RequireDigit_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">{{ "PasswordComplexity_RequireLowercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">{{ "PasswordComplexity_RequireUppercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                                        {{ "PasswordComplexity_RequireNonAlphanumeric_Hint" | localize }}
                                    </li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">
                                        {{ "PasswordComplexity_RequiredLength_Hint" | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                    <li [hidden]="userForm.controls['PasswordRepeat'].valid">{{ "PasswordsDontMatch" | localize }}</li>
                                </ul>
                            </span>
                            <div class="checkbox-list">
                                <!-- <label for="EditUser_ShouldChangePasswordOnNextLogin" class="checkbox" *ngIf="false">
                                    <input
                                        id="EditUser_ShouldChangePasswordOnNextLogin"
                                        type="checkbox"
                                        name="ShouldChangePasswordOnNextLogin"
                                        [(ngModel)]="user.shouldChangePasswordOnNextLogin"
                                    />
                                    <span></span>
                                    {{ "ShouldChangePasswordOnNextLogin" | localize }}
                                </label> -->

                                <!-- <label for="EditUser_SendActivationEmail" class="checkbox" *ngIf="false">
                                    <input id="EditUser_SendActivationEmail" type="checkbox" name="SendActivationEmail" [(ngModel)]="sendActivationEmail" />
                                    <span></span>
                                    {{ "SendActivationEmail" | localize }}
                                </label> -->

                                <!-- <label for="EditUser_IsActive" class="checkbox" *ngIf="false">
                                    <input id="EditUser_IsActive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive" />
                                    <span></span>
                                    {{ "Active" | localize }}
                                </label> -->

                                <!-- <label *ngIf="false" for="EditUser_IsTwoFactorEnabled" class="checkbox">
                                    <input id="EditUser_IsTwoFactorEnabled" type="checkbox" name="IsTwoFactorEnabled" [(ngModel)]="user.isTwoFactorEnabled" />
                                    <span></span>
                                    {{ "IsTwoFactorEnabled" | localize }}
                                </label> -->

                 
                                <label  for="EditUser_IsLockoutEnabled" class="checkbox ">
                                    <input id="EditUser_IsLockoutEnabled" type="checkbox" style="position: relative;"  name="IsLockoutEnabled" [(ngModel)]="user.isLockoutEnabled" />
                                    <span></span>
                                    {{ "IsLockoutEnabled" | localize }}
                                </label>
                            </div>


                            <div class="checkbox-list">
                                <label  for="EditUser_isEmailConfirmed" class="checkbox ">
                                    <input id="EditUser_isEmailConfirmed" type="checkbox" style="position: relative;"  name="isEmailConfirmed" [(ngModel)]="user.isEmailConfirmed" />
                                    <span>IsActiveEmail</span>
                                </label>
                            </div>
                        </tab>
                        <tab class="pt-5" heading="{{ 'Roles' | localize }}">
                            <ng-template tabHeading>
                                <span class="label label-success label-inline assigned-role-count">{{ getAssignedRoleCount() }}</span>
                            </ng-template>
                            <div class="checkbox-inline">
                                <label attr.for="EditUser_{{ role.roleName }}" class="checkbox" *ngFor="let role of roles">
                                    <input
                                        id="EditUser_{{ role.roleName }}"
                                        type="checkbox"
                                        name="{{ role.roleName }}"
                                        [(ngModel)]="role.isAssigned"
                                        [disabled]="role.inheritedFromOrganizationUnit"
                                    />
                                    <span></span>
                                    {{ role.roleDisplayName }} <small *ngIf="role.inheritedFromOrganizationUnit">({{ "RoleIsInheritedFromOrganizationUnit" | localize }})</small>
                                </label>
                            </div>
                        </tab>
                        <tab class="pt-5" heading="{{ 'Branches' | localize }}">
                            <div class="form-group">


                                <div style="margin-top: 13px">
                                    <label><strong>  {{ "branch" | localize }}</strong> </label>

                                    <ng-multiselect-dropdown name="branches" [placeholder]="" [settings]="dropdownSettings" [data]="areas" [(ngModel)]="selectedBranchIds">
                                    </ng-multiselect-dropdown>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">{{ "Cancel" | localize }}</button>
                    <button type="submit" class="btn btn-primary font-weight-bold"  [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{ "Save" | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-dialog modal-lg" *ngIf="theme === 'theme12'">
        <div  class="modal-content">
            <form *ngIf="active" #userForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="user.id">{{ "EditUser" | localize }}: {{ user.userName }}</span>
                        <span *ngIf="!user.id">{{ "CreateNewUser" | localize }}</span>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <tabset>
                        <tab class="pt-2" heading="{{ 'UserInformations' | localize }}">
                            <div class="row">
                                <div class="col-sm-3 text-center mb-5">
                                    <img src="{{ profilePicture }}" alt="UserImages" width="90" height="90" class="user-avatar users-avatar-shadow rounded mr-2 my-25 cursor-pointer" />
                                </div>
                                <div class="col-sm-9">
                                    <div class="form-group">
                                        <label for="Name">{{ "FirstName" | localize }} *</label>
                                        <input id="Name" 
                                        maxlength="15"
                                           [class.error]="submitted && firstName.invalid" #firstName="ngModel"  
                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'" type="text" name="Name" [(ngModel)]="user.name" required  />
                                        <p class="text-danger" *ngIf="submitted && firstName.invalid">{{l("ThisFieldIsRequired") }}</p>
                                    </div>
                                    

                                    <div class="form-group mt-1">
                                        <label for="Surname">{{ "Surname" | localize }} *</label>
                                        <input
                                            id="Surname"
                                            [class.error]="submitted && surName.invalid" #surName="ngModel"                                              type="text"
                                            name="Surname"
                                          class="form-control"
                                            [(ngModel)]="user.surname"
                                            required
                                            maxlength="15"
                                        />
                                        <p class="text-danger" *ngIf="submitted && surName.invalid">{{l("ThisFieldIsRequired") }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                            <div class="form-group mt-1">
                                <label for="EmailAddress">{{ "EmailAddress" | localize }} *</label>
                                <input
                                    id="EmailAddress"
                                    #emailAddressInput="ngModel"
                                    [class.error]="submitted && emailAddressInput.invalid" 
                                    type="email"
                                    class="form-control"
                                    name="EmailAddress"
                                    [(ngModel)]="user.emailAddress"
                                    required
                                    maxlength="256"
                                    email
                                />
                                <p class="text-danger" *ngIf="submitted && emailAddressInput.invalid">{{l("ThisFieldIsRequired") }}</p>
                            </div>

                            <div class="form-group mt-1">
                                <label for="PhoneNumber">{{ "PhoneNumber" | localize }}</label>
                                <input id="PhoneNumber" type="number" name="PhoneNumber" [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'" [(ngModel)]="user.phoneNumber" maxlength="32" />
                            </div>

                            <div class="form-group mt-1">
                                <label for="UserName">{{ "UserName" | localize }} *</label>
                                <input
                                    id="UserName"
                                    #userName="ngModel"
                                    [class.error]="submitted && userName.invalid"
                                    type="text"
                                    [disabled]="!canChangeUserName"
                                    name="UserName"
                                    class="form-control"
                                    [(ngModel)]="user.userName"
                                    required
                                    maxlength="15"
                                />
                                <span class="mt-1 help-block" *ngIf="!canChangeUserName">{{ "CanNotChangeAdminUserName" | localize }}</span>
                                <p class="text-danger" *ngIf="submitted && userName.invalid">{{l("ThisFieldIsRequired") }}</p>

                            </div>

                            <div class="checkbox-list mt-1 form-check form-switch">
                                <input class="ml-1 form-check-input" id="EditUser_SetRandomPassword" type="checkbox" style="position: relative;" name="SetRandomPassword" [(ngModel)]="setRandomPassword" />
                                <label for="EditUser_SetRandomPassword" class="checkbox">
                                    {{ "SetRandomPassword" | localize }}
                                </label>
                            </div>
                            <div class="form-group mt-1" *ngIf="!setRandomPassword">
                                <div class="right">
                                    <label for="Password">{{ "Password" | localize }} *</label>
                                    <input
                                        id="Password"
                                        type="password"
                                        name="Password"
                                        id="Password"
                                        class="form-control"
                                        [class.error]="submitted && password.invalid"
                                        [(ngModel)]="user.password"
                                       required
                                        maxlength="32"
                                        [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                        [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                        [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                        [requiredLength]="passwordComplexitySetting.requiredLength"
                                        validateEqual="PasswordRepeat"
                                        reverse="true"
                                        autocomplete="new-password"
                                        #password="ngModel"
                                    />
                                    <p class="text-danger" *ngIf="submitted && password.invalid">{{ l("ThisFieldIsRequired") }}</p>


                                </div>
                            </div>
                        </div>
                            <div class="mt-1" [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                <ul class="help-block text-danger" *ngIf="userForm.controls['Password'] && userForm.controls['Password'].errors">
                                    <li [hidden]="!userForm.controls['Password'].errors.requireDigit">{{ "PasswordComplexity_RequireDigit_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireLowercase">{{ "PasswordComplexity_RequireLowercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireUppercase">{{ "PasswordComplexity_RequireUppercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requireNonAlphanumeric">
                                        {{ "PasswordComplexity_RequireNonAlphanumeric_Hint" | localize }}
                                    </li>
                                    <li [hidden]="!userForm.controls['Password'].errors.requiredLength">
                                        {{ "PasswordComplexity_RequiredLength_Hint" | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group mt-1" *ngIf="!setRandomPassword">
                                <div class="right">
                                    <label for="PasswordRepeat">{{ "PasswordRepeat" | localize }} *</label>
                                    <input
                                        id="PasswordRepeat"
                                        type="password"
                                        name="PasswordRepeat"
                                        class="form-control"
                                        [(ngModel)]="userPasswordRepeat"
                                        maxlength="32"
                                        [requireDigit]="passwordComplexitySetting.requireDigit"
                                        [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                        [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                        [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                        [requiredLength]="passwordComplexitySetting.requiredLength"
                                        validateEqual="Password"
                                        reverse="false"
                                        autocomplete="new-password"
                                        required
                                        [class.error]="submitted && reapeatPassword.invalid"
                                        #reapeatPassword="ngModel"
                                    />
                                    <p class="text-danger" *ngIf="submitted && reapeatPassword.invalid">{{ l("ThisFieldIsRequired") }}</p>

                                </div>
                            </div>
                            <span class="mt-1" [hidden]="setRandomPassword || userForm.form.valid || userForm.form.pristine">
                                <ul class="help-block list-style-none p-1 text-danger" *ngIf="userForm.controls['PasswordRepeat'] && userForm.controls['PasswordRepeat'].errors">
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireDigit">{{ "PasswordComplexity_RequireDigit_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireLowercase">{{ "PasswordComplexity_RequireLowercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireUppercase">{{ "PasswordComplexity_RequireUppercase_Hint" | localize }}</li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requireNonAlphanumeric">
                                        {{ "PasswordComplexity_RequireNonAlphanumeric_Hint" | localize }}
                                    </li>
                                    <li [hidden]="!userForm.controls['PasswordRepeat'].errors.requiredLength">
                                        {{ "PasswordComplexity_RequiredLength_Hint" | localize: passwordComplexitySetting.requiredLength }}
                                    </li>
                                    <li [hidden]="userForm.controls['PasswordRepeat'].valid">{{ "PasswordsDontMatch" | localize }}</li>
                                </ul>
                            </span>
                            <div class="row">
                            <div class="checkbox-list mt-1 form-check form-switch">
                                <!-- <input
                                    class="form-check-input"
                                    id="EditUser_ShouldChangePasswordOnNextLogin"
                                    type="checkbox"
                                    name="ShouldChangePasswordOnNextLogin"
                                    [(ngModel)]="user.shouldChangePasswordOnNextLogin"
                                />
                                <label for="EditUser_ShouldChangePasswordOnNextLogin" class="checkbox" *ngIf="false">
                                    {{ "ShouldChangePasswordOnNextLogin" | localize }}
                                </label> -->

                                <!-- <input class="form-check-input" id="EditUser_SendActivationEmail" type="checkbox" name="SendActivationEmail" [(ngModel)]="sendActivationEmail" />
                                <label for="EditUser_SendActivationEmail" class="checkbox" *ngIf="false">
                                    {{ "SendActivationEmail" | localize }}
                                </label> -->

                                <!-- <input class="form-check-input" id="EditUser_IsActive" type="checkbox" name="IsActive" [(ngModel)]="user.isActive" />
                                <label for="EditUser_IsActive" class="checkbox" *ngIf="false">
                                    {{ "Active" | localize }}
                                </label> -->

                           
                                
                                <input class="ml-1 form-check-input" id="EditUser_IsLockoutEnabled" type="checkbox" name="IsLockoutEnabled" style="position: relative;"  [(ngModel)]="user.isLockoutEnabled" />
                                <label  for="EditUser_IsLockoutEnabled" class="checkbox">
                                    {{ "IsLockoutEnabled" | localize }}
                                </label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="checkbox-list mt-1 form-check form-switch"> 
                                    <input class="ml-1 form-check-input" id="EditUser_isEmailConfirmed" type="checkbox" name="isEmailConfirmed" style="position: relative;"  [(ngModel)]="user.isEmailConfirmed" />
                                    <label  for="EditUser_isEmailConfirmed" class="checkbox">
                                         Active Email
                                    </label>
                                    </div>
                                </div>
                        </tab>
                        <tab class="pt-2 ml-1" heading="{{ 'Roles' | localize }}">
                            <div class="row">
                                <div class="col-12">
                                    <ng-template tabHeading>
                                        <span class="label label-success label-inline assigned-role-count">{{ getAssignedRoleCount() }}</span>
                                    </ng-template>
                                    <div class="checkbox-inline form-check form-switch mt-1" *ngFor="let role of roles">
                                        <input
                                            class="form-check-input"
                                            id="EditUser_{{ role.roleName }}"
                                            type="checkbox"
                                            name="{{ role.roleName }}"
                                            [(ngModel)]="role.isAssigned"
                                            [disabled]="role.inheritedFromOrganizationUnit"
                                        />
                                        <label attr.for="EditUser_{{ role.roleName }}" class="checkbox">
                                            {{ role.roleDisplayName }}
                                            <small *ngIf="role.inheritedFromOrganizationUnit">({{ "RoleIsInheritedFromOrganizationUnit" | localize }})</small>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </tab>
                        <tab class=" ml-1" heading="{{ 'branches' | localize }}">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <!-- <label >{{l("Select Branch")}} *</label>
                                <select (change)="onChangeArea($event)" name="BranchAgent" id="BranchAgent" 
                                     class="form-control" [(ngModel)]="branch.id" required>
                                     <option [value]="-1" selected="selected">All</option>   
                                        <option *ngFor="let bra of branches" [value]="bra.id">
                                            {{bra.areaName}} {{bra.areaCoordinate}}
                                        </option>
                              </select> -->

                                        <div >
                                            <label> {{ "branch" | localize }}</label>
                                            <ng-multiselect-dropdown
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : 'modal-content'"
                                                name="branches"
                                                [placeholder]=""
                                                [settings]="dropdownSettings"
                                                [data]="areas"
                                                [(ngModel)]="selectedBranchIds"
                                            >
                                            </ng-multiselect-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tab>
                    </tabset>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-light-primary font-weight-bold" (click)="close()">{{ "Cancel" | localize }}</button>
                    <button type="submit" class="btn btn-primary-info font-weight-bold"  [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        <i class="fa fa-save"></i> <span>{{ "Save" | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
