<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #serviceStatusForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="serviceStatus.id">{{l("EditServiceStatus")}}</span>
                        <span *ngIf="!serviceStatus.id">{{l("CreateNewServiceStatus")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="ServiceStatus_ServiceStatusName">{{l("ServiceStatusName")}} *</label>
									<input type="text" #ServiceStatus_ServiceStatusName="ngModel" id="ServiceStatus_ServiceStatusName" class="form-control" [(ngModel)]="serviceStatus.serviceStatusName" name="ServiceStatusName"   minlength="3"  maxlength="1024"  required/>
								    <validation-messages [formCtrl]="ServiceStatus_ServiceStatusName"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ServiceStatus_IsEnabled" class="kt-checkbox">
										<input id="ServiceStatus_IsEnabled" #ServiceStatus_IsEnabled="ngModel" type="checkbox" name="IsEnabled" [(ngModel)]="serviceStatus.isEnabled"> 
										{{l("IsEnabled")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="ServiceStatus_IsEnabled"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ServiceStatus_CreationDate">{{l("CreationDate")}}</label>
									 <input required class="form-control m-input" #ServiceStatus_CreationDate type="datetime" bsDatepicker  datePickerMomentModifier  [(date)]="serviceStatus.creationDate" id="ServiceStatus_CreationDate" name="ServiceStatus_CreationDate">
									<validation-messages [formCtrl]="ServiceStatus_CreationDate"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!serviceStatusForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>