<div class="login-form" [@routerTransition]>
       <h1>Cancellation is Allowed and no fees Will return once cancelled process done </h1>

       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       
       <div class="pb-lg-0 pb-5">
              <button  routerLink="/account/login" type="button"
                  class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"><i
                      class="fa fa-arrow-left"></i> {{"Back" | localize}}</button>
              
          </div>
</div>
