<div class="container py-5 px-4">

    <div class="row rounded-lg overflow-hidden shadow" style="height: calc(100vh - 178px);">
      <!-- Users box-->
      <div class="col-5 px-0">
        <div class="bg-white">
  
          <div class="bg-gray px-4 py-2 bg-light">
            <p class="h5 mb-0 py-1">Recent</p>
          </div>
  
          <div class="messages-box">
            <div class="list-group rounded-0">
              <!-- <a class="list-group-item list-group-item-action active text-white rounded-0">
                  <div class="media"><img src="https://res.cloudinary.com/mhmd/image/upload/v1564960395/avatar_usae7z.svg" alt="user" width="50" class="rounded-circle">
                    <div class="media-body ml-4">
                      <div class="d-flex align-items-center justify-content-between mb-1">
                        <h6 class="mb-0">{{userChannel.Name}}</h6><small class="small font-weight-bold">25 Dec</small>
                      </div>
                      <p class="font-italic mb-0 text-small">{{userChannel.PhoneNumber}}</p>
                    </div>
                  </div>
                </a> -->
  
              <a *ngFor="let userChannel of UsersChannels; let idx = index" (change)="selectMessage(idx)"
                [ngClass]="{'active text-white': SelectedMessageIndex === idx, 'list-group-item-light': SelectedMessageIndex !== idx}"
                class="list-group-item list-group-item-action rounded-0">
                <div class="media"><img [src]="userChannel.avatarUrl ? userChannel.avatarUrl : defaultImage" alt="user"
                    width="50" class="rounded-circle">
                  <div class="media-body ml-4">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                      <h6 class="mb-0">{{userChannel.displayName}}</h6><small
                        class="small font-weight-bold">{{userChannel.createDate | date: 'shortTime'}}</small>
                    </div>
                  </div>
                </div>
              </a>
  
            </div>
          </div>
        </div>
      </div>
      <!-- Chat Box-->
      <div class="col-7  chat-area-bg" style="overflow: auto;height: 100%; padding-bottom: 3em;" infiniteScroll
        [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5" [infiniteScrollThrottle]="50" [fromRoot]="true"
        [scrollWindow]="false" (scrolled)="loadMoreChat()">
        <div *ngFor="let message of UserMessage" class="px-4 py-10 chat-box">
          <!-- Sender Message-->
          <div *ngIf="message.sender === 1" class="sender-speech-bubble media w-50 mb-3">
            <div class="media-body ml-3">
              <div class="rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">{{message.text}}</p>
                <img [src]='message.mediaUrl' style="max-width: 100%;" alt="Old Data" *ngIf="message.type === 'image'" />
                <div *ngIf="message.type === 'file'">
                  <!-- <a [href]="download(message)" [download]="message.mediaUrl.split('/')[4]">Download file</a> -->
                  <a [href]="message.mediaUrl" target="_blank" >Download file</a>
                </div>
              </div>
              <p class="small text-muted">{{message.createDate | date:'shortTime' }}</p>
            </div>
          </div>
  
          <!-- Reciever Message-->
          <div *ngIf="message.sender === 2" class="reciever-speech-bubble media w-50 ml-auto mb-3">
            <div class="media-body">
              <div class="rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 ">{{message.text}}</p>
                <div *ngIf="message.type === 'image'"><img [src]='message.mediaUrl' alt="Old Data" style="max-width: 100%;"/></div>
                <div *ngIf="message.type === 'file'">
                  <!-- <a [href]="download(message)" [download]="message.mediaUrl.split('/')[4]">Download file</a> -->
                  <a [href]="message.mediaUrl" target="_blank">Download file</a>
                </div>
              </div>
              <p class="small text-muted">{{message.createDate | date:'shortTime' }}</p>
            </div>
          </div>
        </div>
  
        <!-- Typing area -->
        <!-- <form action="#" class="bg-light" style="position: absolute; bottom: 0px !important;width: inherit;">
            <div class="input-group">
              <input type="text" placeholder="Type a message" aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light">
              <div class="input-group-append">
                <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane"></i></button>
                <label for="fileUpload" class="btn btn-link"><i class="fa fa-paperclip"></i></label>
                <input type="file" id="fileUpload" style="display: none;">
                 <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paperclip"></i></button>
              </div>
            </div>
          </form> -->
  
        <form [formGroup]="myForm" (ngSubmit)="submitForm()" class="bg-light" style="padding: 10px;
        position: fixed;
        bottom: 7.5em;
        width: 47.5%;
        right: 5px;">
          <!-- <div class="input-group">
            <input type="text" id="message" formControlName="text" placeholder="Type a message" aria-describedby="button-addon2"
              class="form-control border-0 py-4 bg-white" style="border-radius: 25px;margin-top:5px">
            <img id="output" width="200" class="border-0" style="display: none;" />
            <div class="input-group-append">
              <button id="button-addon2" type="submit" class="btn"> <i class="fa fa-paper-plane"></i></button>
              <label for="fileUpload" style="position: relative;top: 3px;" class="btn"><i class="fa fa-paperclip"></i></label>
              <input type="file" id="fileUpload" (change)="uploadFile($event)" style="display: none;">
            </div>
          </div> -->
          <div class="input-group">
            <div class="input-group-append">
              <span class="input-group-text attach_btn"><label for="fileUpload"><i
                    class="fas fa-paperclip"></i></label></span>
              <input type="file" id="fileUpload" (change)="uploadFile($event)" style="display: none;"
                accept="application/pdf, image/jpeg, image/png">
            </div>
            <textarea name="" formControlName="text" class="form-control type_msg"
              placeholder="Type your message..."></textarea>
            <!-- <div class="image-area"> -->
            <img id="output" width="200" class="border-0" alt="Old Data" style="display: none;" />
            <!-- <a class="remove-image" href="#" style="display: inline;">&#215;</a> -->
            <!-- </div> -->
            <div class="input-group-append">
              <button type="submit" class="input-group-text send_btn"><span class="input-group-text send_btn border-0"><i
                    class="fas fa-location-arrow"></i></span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  