<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div *ngIf="theme != 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>Add New Delivery cost</span>
                </h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()">X</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <label for="aantal">Branches Name *</label>
                            <ng-multiselect-dropdown  required     [class.error]="submitted && branch.invalid" #branch="ngModel"   
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''" name="branches" 
                                [placeholder]="" [settings]="dropdownSettings" [data]="rType" [(ngModel)]="selectedAreaIds">
                            </ng-multiselect-dropdown>
                            <p class="text-danger" *ngIf="submitted && branch.invalid">{{l("ThisFieldIsRequired") }}</p> 
                        </div>
                    </div>
                    
                    <form [formGroup]="delCost">
                        <div class="row mt-1" formArrayName="cost">
                            <div class="row mt-1" *ngFor="let X of delCost['controls'].cost['controls']; let ix = index">
                                <div class="row" formGroupName="{{ ix }}" [(ngModel)]="deliveryCost.lstDeliveryCostDetailsDto">
                                    <div class="col-3">
                                        <label for="from" class="form-label">From (Km) *</label>
                                        <input type="number" id="from{{ ix }}" class="form-control" name="from{{ ix }}" formControlName="from" disabled />
                                    </div>
                                    <div class="col-3">
                                        <label for="to" class="form-label">To (Km) *</label>
                                        <input  [min]="minValue" 
                                        requireed   [class.error]="submitted2  && (delCost.controls.cost.getRawValue()[ix].to === null ||
                                        delCost.controls.cost.getRawValue()[ix].to  === undefined || delCost.controls.cost.getRawValue()[ix].to  === ''
                                        )"
                                     type="number"  (change)="checkTo($event,ix)" id="to{{ ix }}" class="form-control" name="to{{ ix }}" formControlName="to" />
                                        <p class="text-danger" *ngIf="submitted2  && (delCost.controls.cost.getRawValue()[ix].to === null ||
                                        delCost.controls.cost.getRawValue()[ix].to  === undefined || delCost.controls.cost.getRawValue()[ix].to  === ''
                                        )">{{l("ThisFieldIsRequired") }}</p> 

                                        <p class="text-danger" *ngIf="submitted2  && (delCost.controls.cost.getRawValue()[ix].to !=null && delCost.controls.cost.getRawValue()[ix].to <= delCost.controls.cost.getRawValue()[ix].from )">To Must be grater than From</p> 
                                        
                                    </div>
                                    <div class="col-3">
                                        <label for="value" class="form-label">Delivery Cost * <small> ({{currency}})</small></label>
                                        <input type="number" 
                                        required [class.error]="submitted2   && (delCost.controls.cost.getRawValue()[ix].value === null ||
                                        delCost.controls.cost.getRawValue()[ix].value === undefined ||delCost.controls.cost.getRawValue()[ix].value === ''
                                        )" 
                                        (change)="checkDeliveryCost($event,ix)" id="value{{ ix }}" class="form-control" name="value{{ ix }}"  formControlName="value" required/>

                                        <p class="text-danger" *ngIf="submitted2   && (delCost.controls.cost.getRawValue()[ix].value === null ||
                                            delCost.controls.cost.getRawValue()[ix].value === undefined ||delCost.controls.cost.getRawValue()[ix].value === ''
                                            )">{{l("ThisFieldIsRequired") }}</p> 
                                    </div>
                                    <div class="col-3 mt-9">
                                        <button class="btn btn-danger btn-sm" *ngIf="showDelete" id="Delete{{ ix }}" (click)="deleteDeliveryCost(ix)">
                                            <i class="fa fa-trash p-0 font-12"></i>
                                        </button>
                                    </div>
                                </div> 
                            </div>
                        </div> 
                        <div class="mt-2 col-12 text-center plusBtn" id="plus" (click)="addDeliveryCost()">
                               
                                <button id="add" class="form-control btn-sm">Add +</button>
                            </div>
                    </form>

                    <div class="row above mt-15">
                        <label for="above" class="form-label">Cost per additional kilometer * <small> ({{currency}})</small></label>
                        <input
                        required     [class.error]="submitted && cost.invalid" #cost="ngModel" 
                        type="number" min="0" id="above" class="form-control" name="aboveValue" [(ngModel)]="deliveryCost.aboveValue" required/>
                        <p class="text-danger" *ngIf="submitted && cost.invalid">{{l("ThisFieldIsRequired") }}</p> 
                    </div>
           
           

            <blockquote class="mb-2 mt-3 blockquote pl-1 border-left-primary border-left-3">
                <h6>Note:</h6>
                <span>
                    Determine the distance that you covered per kilometers 
                    and specify the delivery cost for it,
                    then enter the cost of any additional 1 kilometer 
                    it will be calculated automatically.
                </span>
              
              </blockquote>
                 </div> </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                <button  [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="button" class="btn btn-primary blue" (click)="save()">
                    <i class="fa fa-save"></i>
                    <span>{{ l("Save") }}</span>
                </button>
            </div>
        </div>
    </div>
    <div *ngIf="theme === 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l("addDeliveryCost") }}</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="aantal">{{ l("branch") }} *</label>
                            <ng-multiselect-dropdown required     [class.error]="submitted && branch.invalid" #branch="ngModel"  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''" name="branches" [placeholder]="" [settings]="dropdownSettings" [data]="rType" [(ngModel)]="selectedAreaIds">
                            </ng-multiselect-dropdown>
                            <p class="text-danger" *ngIf="submitted && branch.invalid">{{l("ThisFieldIsRequired") }}</p> 
                        </div>
                    </div>

                    <form [formGroup]="delCost">
                        <div  formArrayName="cost">
                            <div  *ngFor="let X of delCost['controls'].cost['controls']; let ix = index">
                                <div class="row" formGroupName="{{ ix }}"  [(ngModel)]="deliveryCost.lstDeliveryCostDetailsDto">
                                    <div class="col-3 mt-1 ">

                                        <div class="form-group">
                                            <label for="from" >{{ l("from") }} ({{ l("km") }}) *</label>
                                            <input class="form-control" type="number" id="from{{ ix }}" 
                                            name="from{{ ix }}" formControlName="from" disabled />
                                        </div>
                                    </div>
                                    <div class="col-3 mt-1 ">
                                        <div class="form-group">
                                            <label for="to" >{{ l("to") }} ({{ l("km") }}) *</label>
                                            <input  class="form-control" [min]="minValue"  (change)="checkTo($event,ix)" type="number"  id="to{{ ix }}"  
                                            name="to{{ ix }}" formControlName="to" 
                                            requireed   [class.error]="submitted2  && (delCost.controls.cost.getRawValue()[ix].to === null ||
                                            delCost.controls.cost.getRawValue()[ix].to  === undefined || delCost.controls.cost.getRawValue()[ix].to  === ''
                                            )" 
                                            />
                                            <p class="text-danger" *ngIf="submitted2  && (delCost.controls.cost.getRawValue()[ix].to === null ||
                                            delCost.controls.cost.getRawValue()[ix].to  === undefined || delCost.controls.cost.getRawValue()[ix].to  === ''
                                            )">{{l("ThisFieldIsRequired") }}</p> 

                                            <p class="text-danger" *ngIf="submitted2  && (delCost.controls.cost.getRawValue()[ix].to !=null && delCost.controls.cost.getRawValue()[ix].to <= delCost.controls.cost.getRawValue()[ix].from )">To Must be grater than From</p> 
                                            
                                        </div>
                                    </div>
                                    <div class="col-3 mt-1" [ngClass]="isArabic ? '' : 'p-0'">
                                        <div class="form-group">
                                            <label for="value" >{{ l("deliveryCost") }}* <small> ({{currency}})</small></label>
                                            <input type="number" id="value{{ ix }}" class="form-control" required
                                            name="value{{ ix }}" formControlName="value"
                                            required [class.error]="submitted2   && (delCost.controls.cost.getRawValue()[ix].value === null ||
                                            delCost.controls.cost.getRawValue()[ix].value === undefined ||delCost.controls.cost.getRawValue()[ix].value === ''
                                            )"  />
                                            <p class="text-danger" *ngIf="submitted2   && (delCost.controls.cost.getRawValue()[ix].value === null ||
                                            delCost.controls.cost.getRawValue()[ix].value === undefined ||delCost.controls.cost.getRawValue()[ix].value === ''
                                            )">{{l("ThisFieldIsRequired") }}</p> 
                                       
                                        </div>
                                    </div>
                                    <div class="col-3 mt-3  text-right">
                                        <div class="form-group">
                                            <button class="btn btn-default btn-sm" *ngIf="showDelete" id="Delete{{ ix }}" (click)="deleteDeliveryCost(ix)">
                                                <i class="fa fa-trash p-0 font-12 trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-1 plusBtn" id="plus" (click)="addDeliveryCost()">
                                <button id="add" class="form-control btn-circle btn-primary-info "><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                    </form>

                    <div class="col-6 mt-1 mb-1">
                        <div class="form-group">
                            <label for="above">{{ l("costPerAdditionalKilometer") }}* <small> ({{currency}})</small></label>
                            <input      
                            required     [class.error]="submitted && cost.invalid" #cost="ngModel"  class="form-control"
                             type="number" id="above" min="0" name="aboveValue" [(ngModel)]="deliveryCost.aboveValue"  />
                             <p class="text-danger" *ngIf="submitted && cost.invalid">{{l("ThisFieldIsRequired") }}</p> 
                            </div>
                    </div>
                    <blockquote class="mb-2 blockquote pl-1 border-left-primary border-left-3">
                        <h6  >{{ l("note") }}:</h6>
                        <span>
                            {{ l("deliveryCostNote") }}
                        </span>
                      
                      </blockquote>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                    <button   type="button" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary-info" (click)="save()">
                        <i class="fa fa-save"></i>
                        <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
