<div>
    <div class="header-navbar-shadow" ></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="d-flex flex-column flex-column-fluid">
                <div
                    class="content-header row content-header row subheader subheader-transparent align-items-center d-flex flex-sm-nowrap flex-wrap justify-content-between"
                    [ngClass]="theme != 'theme12' ? 'container' : ''"
                >
                    <div *ngIf="theme != 'theme12'" class="mt-1 content-header-left mt-3 col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12 d-flex">
                                <h2 class="content-header-title float-left mb-0">Menu</h2>
                                <div class="breadcrumb-wrapper d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item cursor-pointer">
                                            <a (click)="goToDashboard()">Home</a>
                                        </li>
                                        <li class="breadcrumb-item cursor-pointer">
                                            <a (click)="goToMenu()">Menu</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <span>Menu Options</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="theme === 'theme12'" class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12 d-flex">
                                <h2  class="content-header-title float-left mb-0">{{ l("menus") }}</h2>
                                <div class="breadcrumb-wrapper d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item cursor-pointer">
                                            <a (click)="goToDashboard()">{{ l("home") }}</a>
                                        </li>
                                        <li class="breadcrumb-item cursor-pointer">
                                            <a (click)="goToMenu()">{{ l("menus") }}</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                            <span>{{ l("options") }}</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="theme != 'theme12'" class="content-header-right mt-1 text-right col-md-3 col-12 d-md-block d-none">
                        <div class="form-group breadcrum-right">
                            <div>
                                <button (click)="CreateSpecifications(createSpecifications)" class="btn btn-primary btn-round btn-sm waves-effect waves-float waves-light">
                                    <i class="fa fa-plus"></i> {{ l("createOptions") }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div [ngClass]="theme != 'theme12' ? 'container' : ''">
                    <div class="card-custom gutter-b card"  >
                        <div class="card-body" [ngClass]="theme != 'theme12' ? 'p-0' : ''">
                            <div>
                                <div class="row mb-2" *ngIf="theme === 'theme12'">
                                    <div class="col-md-6 col-12">
                                        <div class="d-flex ml-1 align-items-center pr-1 pb-1 pl-1 pl-md-0 pb-md-0"></div>
                                    </div>
                                    <div class="col-md-6 col-12 p-1"  [ngClass]="isArabic? 'text-left' : 'text-right'">
                                        <button (click)="CreateSpecifications(createSpecifications)" class="btn btn-outline-primary-info mr-1">
                                            <i class="fa fa-plus"></i> {{ l("createOptions") }}
                                        </button>
                                    </div>
                                </div>
                                <div class="align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                        class="primeng-datatable-container"
                                        [busyIf]="primengTableHelper.isLoading"
                                    >
                                        <p-table
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                            #dataTable
                                            class="table-responsive"
                                            [scrollbarV]="true"
                                            [scrollbarH]="true"
                                            (onLazyLoad)="show($event)"
                                            [value]="primengTableHelper.records"
                                            rows="20"
                                            cols="10"
                                            [paginator]="false"
                                            [lazy]="true"
                                            [scrollable]="true"
                                            ScrollWidth="100%"
                                            [responsive]="true"
                                            [resizableColumns]="primengTableHelper.resizableColumns"
                                        >
                                            <ng-template pTemplate="header" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'">
                                                <tr>
                                                    <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 40px">
                                                        {{ l("Actions") }}
                                                    </th>

                                                    <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 80px">{{ l("categoryNameAr") }}</th>
                                                    <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 100px">{{ l("priority") }}</th>
                                                    <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 100px">{{ l("maxSelectNumber") }}</th>
                                                    <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 100px">{{ l("isMultipleSelection") }}</th>
                                                </tr>
                                            </ng-template>
                                            <ng-template
                                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                                pTemplate="body"
                                                let-record="$implicit"
                                                let-i="rowIndex"
                                            >
                                                <tr>
                                                    <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 40px">
                                                        <div class="btn-group dropdown" dropdown container="body">
                                                            <button
                                                                [ngClass]="theme === 'theme12' ? 'btn-primary-info' : 'btn-primary'"
                                                                class="dropdown-toggle btn btn-sm"
                                                                dropdownToggle
                                                            >
                                                                <i class="fa fa-cog"></i><span class="caret"></span>
                                                            </button>
                                                            <ul [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''" class="dropdown-menu" *dropdownMenu>
                                                                <li>
                                                                    <a (click)="viewItems(modalSLCIM, record)" href="javascript:;" class="dropdown-item">{{ l("Edit") }}</a>
                                                                </li>
                                                                <li>
                                                                    <a (click)="deleteCategoryItem(record.categoryId)" href="javascript:;" class="dropdown-item">{{
                                                                        l("Delete")
                                                                    }}</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                    <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 80px">
                                                        <span class="p-column-title"> {{ l("categoryNameAr") }}</span>
                                                        {{ record.categoryNameEnglish }}
                                                    </td>
                                                    <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 100px">
                                                        <span class="p-column-title"> {{ l("priority") }}</span>
                                                        {{ record.categoryPriority }}
                                                    </td>
                                                    <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 100px">
                                                        <span class="p-column-title">{{ l("isMultipleSelection") }}</span>
                                                        {{ record.maxSelectNumber }}
                                                    </td>

                                                    <td  [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 100px">
                                                        <span class="p-column-title">{{ l("maxSelectNumber") }}</span>
                                                        <span *ngIf="!record.isMultipleSelection" class="badge badge-pill badge-light-danger mr-1">{{ l("No") }}</span>
                                                        <span *ngIf="record.isMultipleSelection" class="badge badge-pill badge-light-success mr-1">{{ l("Yes") }}</span>
                                                    </td>
                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l("NoData") }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"
                                                [rows]="20"
                                                #paginator
                                                (onPageChange)="show($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="[10,20,30]"
                                            >
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount) }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
     <!--Create Modal -->
     <ng-template #createSpecifications let-modal>
        <div [ngClass]="darkModeService.currentSkin === 'dark' ? 'modal-content-dark ' : 'modal-content'">
            <div class="modal-header">
                <h4 [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-header ' : ''" class="modal-title" id="myModalLabel1">{{ l("createOptions") }}</h4>
                <button
                    *ngIf="theme === 'theme12'"
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="modal.close(); show()"
                    aria-label="Close"
                ></button>
                <button
                    *ngIf="theme != 'theme12'"
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="modal.close(); show()"
                    aria-label="Close"
                >
                    X
                </button>
            </div>
            <div class="modal-body" tabindex="0">
                <div class="row mb-2">
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("categoryNameAr") }} *</label>
                        <input
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            [class.error]="submitted && nameArabic.invalid"
                            #nameArabic="ngModel"
                            name="specificationDescription"
                            [(ngModel)]="CreateCategorys.specificationDescription"
                            required
                        />
                        <p class="text-danger" *ngIf="submitted && nameArabic.invalid">{{l("ThisFieldIsRequired") }}</p>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("categoryNameEn") }} *</label>
                        <input
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            [class.error]="submitted && nameEnglish.invalid"
                            #nameEnglish="ngModel"
                            name="specificationDescriptionEnglish"
                            [(ngModel)]="CreateCategorys.specificationDescriptionEnglish"
                            required
                        />
                        <p class="text-danger" *ngIf="submitted && nameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("priority") }} </label>
                        <input
                            type="number"
                            min="0"
                            name="priority"
                            [(ngModel)]="CreateCategorys.priority"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                        />
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("maxSelectNumber") }} </label>
                        <input
                            min="0"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            type="number"
                            name="maxSelectNumber"
                            [(ngModel)]="CreateCategorys.maxSelectNumber"
                        />
                    </div>
                    <div *ngIf="theme === 'theme12'" class="col-12 col-xl-6 mb-1 form-check form-switch">
                        <input type="checkbox" class="m-0 form-check-input" name="isMultipleSelection" [(ngModel)]="CreateCategorys.isMultipleSelection" />
                        <label>{{ l("isMultipleSelection") }}</label>
                    </div>
                    <div *ngIf="theme != 'theme12'" class="col-12 col-xl-6 mb-1">
                        <input type="checkbox" name="isMultipleSelection" [(ngModel)]="CreateCategorys.isMultipleSelection" class="mr-1" />
                        <label><strong>{{ l("isMultipleSelection") }}</strong></label>
                    </div>
                </div>
                <hr class="mb-2" />
                <div class="row">
                    <div
                        class="col-xxl-6 col-md-6 col-12 borderd"
                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-card' : 'card'"
                        *ngFor="let item of CreateItemsategorysList; let index = index"
                    >
                        <span>
                            <!-- <div  class="bg-light-primary rounded-top text-center">
                        <img  *ngIf="category.listItemAdditionsCategories.imageUri" [src]="category.listItemAdditionsCategories.imageUri" alt="Item Pic" height="170" />
                    </div> -->
                            <!-- <div  class="p-2 media">
                        <label *ngIf="!category.listItemAdditionsCategories.imageUri">Item Image</label>
                        <input *ngIf="!category.listItemAdditionsCategories.imageUri"  type="file" id="uplode" class="form-control" />
                        <button  *ngIf="category.listItemAdditionsCategories.imageUri" (click)="openFileUploder2(category.listItemAdditionsCategories.id)"  class="btn btn-danger w-100 btn-sm">Replace</button>
                    </div> -->

                            <div class="card-body p-2">
                                <div class="row">
                                    <div class="col-12 mt-2">
                                        <label>{{ l("itemNameAr") }} * </label>
                                        <input
                                            required
                                           
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                            type="text"
                                            [class.error]="submitted && itemName.invalid"
                                            [(ngModel)]="item.specificationChoiceDescription"
                                            #itemName="ngModel"
                                            required
                                        />
                                        <p class="text-danger" *ngIf="submitted && itemName.invalid">{{l("ThisFieldIsRequired") }}</p>
                                    </div>
                                    <div class="col-12 mt-2">
                                        <label>{{ l("itemNameEn") }} *</label>
                                        <input
                                           
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                            type="text"
                                            [class.error]="submitted && itemNameEnglish.invalid"
                                            [(ngModel)]="item.specificationChoiceDescriptionEnglish"
                                            required
                                            #itemNameEnglish="ngModel"
                                        />
                                        <p class="text-danger" *ngIf="submitted && itemNameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p>
                                    </div>
                                    <div class="col-6 mt-2">
                                        <label>{{ l("sku") }} </label>
                                        <input
                                           
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                            type="text"
                                            [(ngModel)]="item.sku"
                                        />
                                    </div>
                                    <div class="col-6 mt-2">
                                        <label
                                            >{{ l("Price") }} * <small>({{ currency }})</small></label
                                        >
                                        <input
                                            required=""
                                            min="0"
                                           
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                            type="number"
                                            [(ngModel)]="item.price"
                                            id="price{{ index }}"
                                            name="price{{ index }}"
                                            required
                                            #itemPrice="ngModel"
                                            [class.error]="submitted && itemPrice.invalid"
                                        />
                                        <p class="text-danger" *ngIf="submitted && itemPrice.invalid">{{l("ThisFieldIsRequired") }}</p>
                                    </div>
                                    <div class="col-6 mt-2" *ngIf="isTenantLoyal">
                                        <label for="loyalityPoints">{{ l("totalPoints") }}</label>
                                        <input
                                            
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                            name="loyalityPoints {{ index }}"
                                            type="number"
                                            [(ngModel)]="item.loyaltyPoints"
                                        />
                                    </div>
                                    <div class="col-12 mt-2 text-right">
                                        <button class="btn btn-danger btn-sm" (click)="deleteItem(index)">
                                            <i class="fa fa-trash p-0 font-12"></i>
                                        </button>
                                        <!-- <button class="btn btn-success btn-sm" (click)="save2(CreateItemsategorys)">
                                    <i class="fa fa-plus p-0 font-12"></i>
                                </button> -->
                                    </div>
                                </div>
                                <!-- <div class="row">
                            <div class="col-12 text-right">
                                <input type="button" class="btn btn-secondary" (click)="addItemAddition(ix, iy)" value="Add" />
                            </div>
                        </div> -->
                            </div>
                        </span>
                    </div>

                    <div class="col-xxl-6 col-md-6 col-12 borderd m-auto text-center">
                        <button
                        [ngClass]="theme === 'theme12' ? 'btn-outline-primary-info' : 'btn-outline-primary'"
                        class="btn btn-icon"
                        type="button"
                        (click)="addItem2()"
                    >
                        <span>{{ l("addItem") }}</span>
                    </button>
                    </div>
                </div>
            
            </div>

            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-outline-primary-info" (click)="addItem()" rippleEffect>Add Item</button> -->
                <button type="button" class="btn btn-default" (click)="modal.close(); show()">{{ l("Cancel") }}</button>

                <button
                    [ngClass]="theme === 'theme12' ? 'btn-primary-info' : 'btn-primary'"
                    type="button"
                    class="btn"
                    (click)="createNewCategory()"
                    [buttonBusy]="savingOnCreate"
                    [busyText]="l('SavingWithThreeDot')"
                >
                {{ l("Save") }}
                </button>
            </div>
        </div>
    </ng-template>
    <!-- /Cretae Modal -->

    <!--edit Modal -->
    <ng-template #modalSLCIM let-modal>
        <div [ngClass]="darkModeService.currentSkin === 'dark' ? 'modal-content-dark ' : 'modal-content'">
            <div class="modal-header">
                <h4 [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-header ' : ''" class="modal-title" id="myModalLabel1">{{ l("editOptions") }}</h4>
                <button
                    *ngIf="theme === 'theme12'"
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="modal.close(); show()"
                    aria-label="Close"
                ></button>
                <button
                    *ngIf="theme != 'theme12'"
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                    (click)="modal.close(); show()"
                    aria-label="Close"
                >
                    X
                </button>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>
                <div class="row mb-2">
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("categoryNameAr") }} *</label>
                        <input
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            #nameArabic="ngModel"
                            required
                            [class.error]="submitted2 && nameArabic.invalid"
                            [(ngModel)]="category.categoryName"
                        />
                        <p class="text-danger" *ngIf="submitted2 && nameArabic.invalid">{{l("ThisFieldIsRequired") }}</p>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("categoryNameEn") }} *</label>
                        <input
                            required
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            name="categoryNameEnglish"
                            #nameEnglish="ngModel"
                            [class.error]="submitted2 && nameEnglish.invalid"
                            [(ngModel)]="category.categoryNameEnglish"
                        />
                        <p class="text-danger" *ngIf="submitted2 && nameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("priority") }} </label>
                        <input
                            min="0"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            type="number"
                            name="categoryPriority"
                            [(ngModel)]="category.categoryPriority"
                        />
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <label>{{ l("maxSelectNumber") }} </label>
                        <input
                            min="0"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            type="number"
                            name="maxSelectNumber"
                            [(ngModel)]="category.maxSelectNumber"
                        />
                    </div>
                    <div *ngIf="theme === 'theme12'" class="col-12 col-xl-6 mb-1 form-check form-switch">
                        <input type="checkbox" class="m-0 form-check-input" name="isMultipleSelection" [(ngModel)]="category.isMultipleSelection" />
                        <label>{{ l("isMultipleSelection") }}</label>
                    </div>
                    <div *ngIf="theme != 'theme12'" class="col-12 col-xl-6 mb-1">
                        <input type="checkbox" name="isMultipleSelection" [(ngModel)]="category.isMultipleSelection" class="mr-1" />
                        <label><strong>{{ l("isMultipleSelection") }}</strong></label>
                    </div>
                </div>
                <hr class="mb-2" />
                <div class="row">
                    <div
                        class="col-xxl-6 col-md-6 col-12 borderd"
                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-card' : 'card'"
                        *ngFor="let item of category.listSpecificationChoices; let index = index"
                    >
                        <div class="card-body p-2">
                            <div class="row">
                                <div class="col-12 mt-2">
                                    <label>{{ l("itemNameAr") }} *</label>
                                    <input
                                        
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                        type="text"
                                        [class.error]="submitted2 && itemName.invalid"
                                        [(ngModel)]="item.specificationChoiceDescription"
                                        #itemName="ngModel"
                                        required
                                    />
                                    <p class="text-danger" *ngIf="submitted2 && itemName.invalid">{{l("ThisFieldIsRequired") }}</p>
                                </div>
                                <div class="col-12 mt-2">
                                    <label> {{ l("itemNameEn") }}* </label>
                                    <input
                                      
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                        type="text"
                                        [class.error]="submitted2 && itemNameEnglish.invalid"
                                        [(ngModel)]="item.specificationChoiceDescriptionEnglish"
                                        required
                                        #itemNameEnglish="ngModel"
                                    />
                                    <p class="text-danger" *ngIf="submitted2 && itemNameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p>
                                </div>
                                <div class="col-6 mt-2">
                                    <label>{{ l("sku") }} </label>

                                    <input
                                       
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                        type="text"
                                        [(ngModel)]="item.sku"
                                    />
                                </div>
                                <div class="col-6 mt-2">
                                    <label
                                        >{{ l("Price") }} * <small>({{ currency }})</small></label
                                    >
                                    <input
                                       
                                        min="0"
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                        type="number"
                                        required
                                        [(ngModel)]="item.price"
                                        #itemPrice="ngModel"
                                        [class.error]="submitted2 && itemPrice.invalid"
                                    />
                                    <p class="text-danger" *ngIf="submitted2 && itemPrice.invalid">{{l("ThisFieldIsRequired") }}</p>
                                </div>
                                <div class="col-6 mt-2" *ngIf="isTenantLoyal">
                                    <label for="loyalityPoints">{{ l("totalPoints") }}</label>
                                    <input
                                       
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                        type="number"
                                        [(ngModel)]="item.loyaltyPoints"
                                    />
                                </div>
                                <div class="col-12 mt-2 text-right">
                                    <button class="btn btn-danger btn-sm" (click)="deleteItem2(item, index)">
                                        <i class="fa fa-trash p-0 font-12"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="row">
                                    <div class="col-12 text-right">
                                        <input type="button" class="btn btn-secondary" (click)="addItemAddition(ix, iy)" value="Add" />
                                    </div>
                                </div> -->
                        </div>
                    </div>
                    <div class="col-xxl-6 col-md-6 col-12 borderd m-auto text-center">
                        <button
                        [ngClass]="theme === 'theme12' ? 'btn-outline-primary-info' : 'btn-outline-primary'"
                        class="btn btn-icon"
                        type="button"
                        (click)="addItem3()"
                    >
                        <span>{{ l("addItem") }}</span>
                    </button>
                    </div>
                </div>
              
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-outline-primary-info" (click)="addItem()" rippleEffect>Add Item</button> -->
                <button type="button" class="btn btn-default" (click)="modal.close(); show()">{{ l("Cancel") }}</button>

                <button
                    [ngClass]="theme === 'theme12' ? 'btn-primary-info' : 'btn-primary'"
                    type="button"
                    class="btn"
                    (click)="editMenu()"
                    [buttonBusy]="savingOnEdit"
                    [busyText]="l('SavingWithThreeDot')"
                >
                {{ l("Save") }}
                </button>
            </div>
        </div>
    </ng-template>
    <!-- /edit Modal -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
