<div>
    <div class="header-navbar-shadow"
        ></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="d-flex flex-column flex-column-fluid">

                <div class="content-header row  content-header row  subheader subheader-transparent align-items-center  d-flex flex-sm-nowrap flex-wrap justify-content-between"
                    [ngClass]="theme != 'theme12'? 'container' : ''">
                    <div *ngIf="theme != 'theme12'" class="mt-1 content-header-left mt-3 col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12 d-flex">
                                <h2 class="content-header-title float-left mb-0">Menu</h2>
                                <div class="breadcrumb-wrapper d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item cursor-pointer">
                                            <a (click)="goToDashboard()">Home</a>
                                        </li>
                                        <li class="breadcrumb-item cursor-pointer ">
                                            <a (click)="goToMenu()">Menu</a>
                                        </li>
                                        <li class="breadcrumb-item ">
                                            <span>Add Ons</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="theme === 'theme12'" class="content-header-left col-md-9 col-12 mb-2">
                        <div class="row breadcrumbs-top">
                            <div class="col-12 d-flex">
                                <h2 class="content-header-title float-left mb-0">{{ l("menus") }}</h2>
                                <div class="breadcrumb-wrapper d-flex">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item cursor-pointer">
                                            <a (click)="goToDashboard()">{{ l("home") }}</a>
                                        </li>
                                        <li class="breadcrumb-item cursor-pointer">
                                            <a (click)="goToMenu()">{{ l("menus") }}</a>
                                        </li>
                                        <li class="breadcrumb-item ">
                                            <span>{{ l("addOns") }}</span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="theme != 'theme12'" class="content-header-right mt-1 text-right col-md-3 col-12 d-md-block d-none">
                        <div class="form-group breadcrum-right">
                            <div>
                                <button (click)="CreateAddOns(createAddOns)"
                                    class="btn btn-primary btn-round btn-sm waves-effect waves-float waves-light">
                                    <i class="fa fa-plus"></i> {{ l("createAddOns") }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
             


                <div [ngClass]="theme != 'theme12' ? 'container' : ''">
                    <div>
                        <div>
                            <div class="card-custom gutter-b card"
                             >
                                <div class="card-body " [ngClass]="theme != 'theme12' ? 'p-0' : ''">
                                    <div>
                                        <div  [hidden]="theme != 'theme12'" class="row mb-2">
                                            <div class="col-md-6 col-12">
                                                <div
                                                    class="d-flex ml-1 align-items-center pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 p-1" [ngClass]="isArabic? 'text-left' : 'text-right'">
                                                <button (click)="CreateAddOns(createAddOns)"
                                                    class="btn btn-outline-primary-info mr-1">
                                                    <i class="fa fa-plus"></i> {{ l("createAddOns") }}
                                                </button>
                                            
                                            </div>
                                        </div>

                                        <div class="align-items-center">
                                            <!--<Primeng-Datatable-Start>-->
                                            <div [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                                class="primeng-datatable-container"
                                                [busyIf]="primengTableHelper.isLoading">
                                                <p-table
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                                    #dataTable class="table-responsive" [scrollbarV]="true"
                                                    [scrollbarH]="true" (onLazyLoad)="show($event)"
                                                    [value]="primengTableHelper.records"
                                                    rows="20" cols="10"
                                                    [paginator]="false" [lazy]="true" [scrollable]="true"
                                                    ScrollWidth="100%" [responsive]="true"
                                                    [resizableColumns]="primengTableHelper.resizableColumns">
                                                    <ng-template pTemplate="header"
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'">
                                                        <tr>
                                                            <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                                style="width: 40px">
                                                                {{ l("Actions") }}
                                                            </th>

                                                            <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                                style="width: 80px">{{ l("categoryNameAr") }}</th>
                                                            <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                                style="width: 40px">{{ l("priority") }}</th>
                                                            <th *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                                style="width: 40px">Is Condiments
                                                            </th>
                                                            <th *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                                style="width: 40px">Is Crispy</th>
                                                            <th *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                                style="width: 40px">Is Diserts</th>
                                                            <th *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                                style="width: 40px">Is None</th>
                                                        </tr>
                                                    </ng-template>
                                                    <ng-template
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                                        pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                                        <tr>
                                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                                style="width: 40px">
                                                                <div class="btn-group dropdown" dropdown
                                                                    container="body">
                                                                    <button
                                                                        [ngClass]="theme === 'theme12' ? 'btn-primary-info' :'btn-primary'"
                                                                        class="dropdown-toggle btn btn-sm"
                                                                        dropdownToggle>
                                                                        <i class="fa fa-cog"></i><span
                                                                            class="caret"></span>
                                                                    </button>
                                                                    <ul [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''"
                                                                        class="dropdown-menu" *dropdownMenu>
                                                                        <li>
                                                                            <a (click)="viewItems(modalSLCIM, record)"
                                                                                href="javascript:;"
                                                                                class="dropdown-item">{{ l("Edit")
                                                                                }}</a>
                                                                        </li>
                                                                        <li>
                                                                            <a (click)="deleteCategoryItemFormTable(record.categoryId)"
                                                                                href="javascript:;"
                                                                                class="dropdown-item">{{
                                                                                l("Delete")
                                                                                }}</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </td>
                                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                                style="width: 80px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis">
                                                                <span class="p-column-title">{{ l("categoryNameEn") }} </span>
                                                                {{ record.categoryNameEnglish }}
                                                            </td>
                                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                                style="width: 40px">
                                                                <span class="p-column-title"> {{ l("priority") }}</span>
                                                                {{ record.categoryPriority }}
                                                            </td>
                                                            <td *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                                style="width: 40px">
                                                                <span class="p-column-title">IS CONDIMENTS </span>
                                                                <span *ngIf="!record.isCondiments"
                                                                    class=" badge badge-pill badge-light-danger mr-1">No</span>
                                                                <span *ngIf="record.isCondiments"
                                                                    class=" badge badge-pill badge-light-success mr-1">Yes</span>
                                                            </td>
                                                            <td *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                                style="width: 40px">
                                                                <span class="p-column-title"> IS CRISPY </span>
                                                                <span *ngIf="!record.isCrispy"
                                                                    class=" badge badge-pill badge-light-danger mr-1">No</span>
                                                                <span *ngIf="record.isCrispy"
                                                                    class=" badge badge-pill badge-light-success mr-1">Yes</span>
                                                            </td>
                                                            <td *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                                style="width: 40px">
                                                                <span class="p-column-title">IS DISERTS </span>
                                                                <span *ngIf="!record.isDeserts"
                                                                    class=" badge badge-pill badge-light-danger mr-1">No</span>
                                                                <span *ngIf="record.isDeserts"
                                                                    class=" badge badge-pill badge-light-success mr-1">Yes</span>
                                                            </td>
                                                            <td *ngIf="appSession.tenantId === 42" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                                style="width: 40px">
                                                                <span class="p-column-title">IS DISERTS </span>
                                                                <span *ngIf="!record.isNon"
                                                                    class=" badge badge-pill badge-light-danger mr-1">No</span>
                                                                <span *ngIf="record.isNon"
                                                                    class=" badge badge-pill badge-light-success mr-1">Yes</span>
                                                            </td>
                                                        </tr>
                                                    </ng-template>
                                                </p-table>
                                                <div class="primeng-no-data"
                                                    *ngIf="primengTableHelper.totalRecordsCount == 0">
                                                    {{ l("NoData") }}
                                                </div>
                                                <div class="primeng-paging-container">
                                                    <p-paginator
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"
                                                        [rows]="20"
                                                        #paginator (onPageChange)="show($event)"
                                                        [totalRecords]="primengTableHelper.totalRecordsCount"
                                                        [rowsPerPageOptions]="[10,20,30]">
                                                    </p-paginator>
                                                    <span class="total-records-count">
                                                        {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount)
                                                        }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       <!--edit Modal -->
                       <ng-template #modalSLCIM let-modal
                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-modal ' : ''">
                       <div
                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'modal-content-dark ' : 'modal-content'">
                           <div class="modal-header">
                               <h4 [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-header ' : ''"
                                   class="modal-title" id="myModalLabel1">{{ l("addOns") }}</h4>
                               <button *ngIf="theme === 'theme12'" type="button" class="btn-close"
                                   data-bs-dismiss="modal" aria-label="Close"   (click)="modal.close();show()"
                                   aria-label="Close"></button>
                                   <button  *ngIf="theme != 'theme12'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close();show()" aria-label="Close">X</button>

                           </div>
                           <div class="modal-body" tabindex="0" ngbAutofocus>
                               <div class="row mb-2">
                                   <div class="col-12 col-xl-6 mb-1">
                                       <label>{{ l("categoryNameAr") }} *</label>
                                       <input
                                       [class.error]="submitted2 && nameArabic.invalid"

                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                           name="categoryName" required  #nameArabic="ngModel"  [(ngModel)]="category.categoryName" />
                                           <p class="text-danger" *ngIf="submitted2 && nameArabic.invalid">{{l("ThisFieldIsRequired") }}</p> 

                                   </div>
                                   <div class="col-12 col-xl-6 mb-1">
                                       <label>{{ l("categoryNameEn") }} *</label>
                                       <input
                                       required   [class.error]="submitted2 && nameEnglish.invalid" [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                           name="categoryNameEnglish"
                                           [(ngModel)]="category.categoryNameEnglish" #nameEnglish="ngModel" />
                                           <p class="text-danger" *ngIf="submitted2 && nameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p> 
                                   </div>
                                   <div class="col-12 col-xl-6 mb-1">
                                       <label>{{ l("priority") }}</label>
                                       <input
                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                           type="number" name="categoryPriority"
                                           [(ngModel)]="category.categoryPriority" min="0" />
                                   </div>
                               </div>
                               <div class="row" *ngIf="theme === 'theme12' && appSession.tenantId === 42">
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <input type="checkbox" class="m-0 form-check-input" name="isCondiments"
                                           id="isCondiments" (change)="fieldsChange($event, category)"
                                           [(ngModel)]="category.isCondiments" />
                                       <label>is Condiments</label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <input type="checkbox" class="m-0 form-check-input" id="isCrispy"
                                           (change)="fieldsChange($event, category)" name="isCrispy"
                                           [(ngModel)]="category.isCrispy" />
                                       <label>is Crispy</label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <input type="checkbox" class="m-0 form-check-input" id="isDeserts"
                                           (change)="fieldsChange($event, category)" name="isDeserts"
                                           [(ngModel)]="category.isDeserts" />
                                       <label>is Deserts</label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <input (change)="fieldsChange($event, category)" type="checkbox"
                                           id="isNon" class="m-0 form-check-input" name="isNon"
                                           [(ngModel)]="category.isNon" />
                                       <label>is Non</label>
                                   </div>
                               </div>
                             
                               <div class="row" *ngIf="theme != 'theme12' && appSession.tenantId === 42">
                                   <div class="col-6 col-xl-3 mb-1 ">
                                       <input type="checkbox" name="isCondiments" id="isCondiments"
                                           (change)="fieldsChange($event, category)"
                                           [(ngModel)]="category.isCondiments" class="mr-1" />
                                       <label><strong>is Condiments</strong></label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 ">
                                       <input type="checkbox" id="isCrispy"
                                           (change)="fieldsChange($event, category)" name="isCrispy"
                                           [(ngModel)]="category.isCrispy" class="mr-1" />
                                       <label><strong>is Crispy</strong></label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 ">
                                       <input type="checkbox" id="isDeserts"
                                           (change)="fieldsChange($event, category)" name="isDeserts"
                                           [(ngModel)]="category.isDeserts" class="mr-1" />
                                       <label><strong>is Deserts</strong></label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 ">
                                       <input (change)="fieldsChange($event, category)" type="checkbox"
                                           id="isNon" name="isNon" class="mr-1" [(ngModel)]="category.isNon" />
                                       <label><strong>is Non</strong></label>
                                   </div>

                               </div>
                        
                               <hr class="mb-2" />
                               <div class="row">
                                   <div class="col-xxl-6 col-md-6 col-12 borderd p-0  mt-1 "
                                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-card' : 'card'"
                                       *ngFor="let item of category.listItemAdditionsCategories; let index = index">
                                       <div class="bg-light-primary-info rounded-top text-center">
                                           <img *ngIf="item.imageUri" [src]="item.imageUri" alt="Item Pic"
                                               height="170" />
                                       </div>
                                       <div class="p-2 media">
                                           <!-- <label *ngIf="!item.imageUri">{{ l("Image") }}</label> -->
                                           <input #upload id="upload"
                                               [ngClass]="{'hidden' :item.imageUri ,'form-control-dark' : darkModeService.currentSkin === 'dark', 'form-control': darkModeService.currentSkin != 'dark' }"
                                               (change)="onFileChange($event, category, item, index)"
                                               type="file" />
                                           <button *ngIf="item.imageUri"
                                               (click)="openFileUploder2(item, index)"
                                               [ngClass]="theme === 'theme12'? 'btn-primary-info' : 'btn-primary' "
                                               class="btn  w-100 btn-sm">Replace</button>
                                       </div>
                                       <div class="card-body p-2">
                                           <div class="row">
                                               <div class="col-12 mt-2">
                                                   <label for="nameEnglish">{{ l("itemNameAr") }} *</label>
                                                   <input 
                                                   [class.error]="submitted2 && itemName.invalid"  [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                       type="text" required [(ngModel)]="item.name" #itemName="ngModel"/>
                                                       <p class="text-danger" *ngIf="submitted2 && itemName.invalid">{{l("ThisFieldIsRequired") }}</p> 

                                               </div>
                                               <div class="col-12 mt-2">
                                                   <label for="nameEnglish">{{ l("itemNameEn") }} *</label>
                                                   <input 
                                                   [class.error]="submitted2 && itemNameEnglish.invalid"
                                                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                       type="text" required [(ngModel)]="item.nameEnglish"  #itemNameEnglish="ngModel"/>
                                                       <p class="text-danger" *ngIf="submitted2 && itemNameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p> 

                                               </div>
                                               <div class="col-6 mt-2">
                                                   <label for="nameEnglish">{{ l("sku") }}</label>
                                                   <input 
                                                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                       type="text" [(ngModel)]="item.sku" />
                                               </div>
                                               <div class="col-6 mt-2">
                                                   <label for="nameEnglish">{{ l("Price") }}*  <small>({{currency}})</small></label>
                                                   <input  min="0"
                                                   [class.error]="submitted2 && itemPrice.invalid"
                                                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                       type="number" required [(ngModel)]="item.price"  #itemPrice="ngModel"/>
                                                       <p class="text-danger" *ngIf="submitted2 && itemPrice.invalid">{{l("ThisFieldIsRequired") }}</p> 

                                               </div>
                                               <div class="col-6 mt-2" *ngIf="isTenantLoyal">
                                                   <label for="loyalityPoints">{{ l("totalPoints") }}</label>
                                                   <input 
                                                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                       type="number" [(ngModel)]="item.loyaltyPoints" />
                                               </div>
                                               <div class="col-12 mt-2 text-right">
                                                   <button class="btn btn-danger btn-sm"
                                                       (click)="deleteItem2(item, index)">
                                                       <i class="fa fa-trash p-0 font-12"></i>
                                                   </button>
                                               </div>
                                           </div>
                                           <!-- <div class="row">
                                           <div class="col-12 text-right">
                                               <input type="button" class="btn btn-secondary" (click)="addItemAddition(ix, iy)" value="Add" />
                                           </div>
                                       </div> -->
                                       </div>
                                   </div>
                                   <div class="col-xxl-6 col-md-6 col-12 borderd m-auto text-center">
                                       <button
                                       [ngClass]="theme === 'theme12'? 'btn-outline-primary-info': 'btn-outline-primary'"
                                       class="btn btn-icon" type="button" (click)="addItem3()">
                                       <span>{{ l("addItem") }}</span>
                                   </button>
                                   </div>
                               </div>

                           </div>
                           <div class="modal-footer">
                               <!-- <button type="button" class="btn btn-outline-primary-info" (click)="addItem()" rippleEffect>Add Item</button> -->
                               <button type="button" class="btn btn-default"
                                   (click)="modal.close();show()">{{ l("Cancel") }}</button>

                               <button type="button"
                                   [ngClass]="theme === 'theme12'? 'btn-primary-info' : 'btn-primary' "
                                  class="btn " [buttonBusy]="savingOnEdit"   [busyText]="l('SavingWithThreeDot')" (click)="editMenu()"
                                   rippleEffect>{{ l("Save") }}</button>
                           </div>
                       </div>
                   </ng-template>
                   <!-- /edit Modal -->

                   <!--Create Modal -->
                   <ng-template #createAddOns let-modal>
                       <div
                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'modal-content-dark ' : 'modal-content'">
                           <div class="modal-header">
                               <h4 [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-header ' : ''"
                                   class="modal-title" id="myModalLabel1">{{ l("createAddOns") }}</h4>
                               <button *ngIf="theme === 'theme12'" type="button" class="btn-close"
                                   data-bs-dismiss="modal" aria-label="Close" (click)="modal.close();show()"
                                   aria-label="Close"></button>
                                   <button  *ngIf="theme != 'theme12'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.close();show()" aria-label="Close">X</button>


                           </div>
                           <div class="modal-body" tabindex="0" ngbAutofocus>
                               <div class="row mb-2">
                               
                                   <div class="col-12 col-xl-6 mb-1">
                                       <label>{{ l("categoryNameAr") }} *</label>
                                       <input
                                       [class.error]="submitted && nameArabic.invalid"
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                           name="categoryName" required  #nameArabic="ngModel" [(ngModel)]="CreateCategorys.categoryName" />
                                           <p class="text-danger" *ngIf="submitted && nameArabic.invalid">{{l("ThisFieldIsRequired") }}</p> 
                                   </div>
                                   <div class="col-12 col-xl-6 mb-1">
                                       <label>{{ l("categoryNameEn") }} * </label>
                                       <input
                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                           name="categoryNameEnglish"
                                           [class.error]="submitted && nameEnglish.invalid"
                                           [(ngModel)]="CreateCategorys.categoryNameEnglish"  required  #nameEnglish="ngModel"/>
                                           <p class="text-danger"   *ngIf="submitted && nameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p> 

                                   </div>
                                   <div class="col-12 col-xl-6 mb-1">
                                       <label>{{ l("priority") }}</label>
                                       <input  min="0"
                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                           type="number" name="categoryPriority"
                                           [(ngModel)]="CreateCategorys.categoryPriority" />

                                   </div>
                                 
                               </div>
                               <div class="row" *ngIf="theme === 'theme12' && appSession.tenantId === 42">
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <label>isNon</label>
                                       <input class="form-control form-check-input m-0" type="checkbox"
                                           id="isNon{{ CreateCategorys.categoryId }}"
                                           style="font-family: system-ui; direction: rtl"
                                           formControlName="isNon"
                                           (change)="fieldsChange($event, CreateCategorys)" />
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <label>isCondiments</label>
                                       <input class="form-control form-check-input m-0" type="checkbox"
                                           id="isCondiments{{ CreateCategorys.categoryId }}"
                                           style="font-family: system-ui; direction: rtl"
                                           formControlName="isCondiments"
                                           (change)="fieldsChange($event, CreateCategorys)" />
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <label>isDeserts</label>
                                       <input class="form-control form-check-input m-0" type="checkbox"
                                           id="isDeserts{{ CreateCategorys.categoryId }}"
                                           style="font-family: system-ui; direction: rtl"
                                           formControlName="isDeserts"
                                           (change)="fieldsChange($event, CreateCategorys)" />
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1 form-check form-switch">
                                       <label>isCrispy</label>
                                       <input class=" form-check-input m-0" type="checkbox"
                                           id="isCrispy{{ CreateCategorys.categoryId }}"
                                           style="font-family: system-ui; direction: rtl"
                                           formControlName="isCrispy"
                                           (change)="fieldsChange($event, CreateCategorys)" />
                                   </div>
                               </div>
                             

                               <div class="row" *ngIf="theme != 'theme12'  && appSession.tenantId === 42">
                                   <div class="col-6 col-xl-3 mb-1">

                                       <input type="checkbox" id="isNon{{ CreateCategorys.categoryId }}"
                                           formControlName="isNon"
                                           (change)="fieldsChange($event,CreateCategorys)" class="mr-1">
                                       <label><strong>isNon</strong></label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1">


                                       <input type="checkbox" id="isCondiments{{ CreateCategorys.categoryId }}"
                                           formControlName="isCondiments"
                                           (change)="fieldsChange($event,CreateCategorys)" class="mr-1">
                                       <label><strong>isCondiments</strong></label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1">


                                       <input type="checkbox" id="isDeserts{{ CreateCategorys.categoryId }}"
                                           (change)="fieldsChange($event,CreateCategorys)" class="mr-1">
                                       <label><strong>isDeserts</strong></label>
                                   </div>
                                   <div class="col-6 col-xl-3 mb-1">


                                       <input (change)="fieldsChange($event, CreateCategorys)" type="checkbox"
                                           id="isCrispy{{ CreateCategorys.categoryId }}" class="mr-1">
                                       <label> <strong>isCrispy</strong></label>

                                   </div>
                               </div>
                           
                               <hr class="mb-2" />

                               <div class="row">
                                   <div class="col-xxl-6 col-md-6 col-12 p-0 borderd "
                                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-card' : 'card'"
                                       *ngFor="let item of CreateItemsategorysList; let i = index">
                                       <div class="bg-light-primary rounded-top text-center">
                                           <img *ngIf="item.imageUri" [src]="item.imageUri" alt="Item Pic"
                                               height="170" />
                                       </div>
                                       <div class="p-2 media">
                                           <!-- <label *ngIf="!item.imageUri">{{ l("Image") }}</label> -->
                                           <input *ngIf="!item.imageUri" type="file"
                                               (change)="onFileChange($event, CreateCategorys, item, i)"
                                               [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'" />
                                           <button *ngIf="item.imageUri" (click)="openFileUploder2(item.id, i)"
                                               [ngClass]="theme === 'theme12' ? 'btn-primary-info': 'btn-primary'"
                                               class="btn  w-100 btn-sm">Replace</button>
                                       </div>
                                       <div class="card-body p-2">
                                           <div class="row mb-1">
                                               <div class="col-xl-6 col-12 mb-1">
                                                   <div class="form-group">
                                                       <label for="itemName{{ i }}">{{ l("itemNameAr") }}*</label>
                                                       <input type="text"
                                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                           [(ngModel)]="item.name" name="name{{ i }}"
                                                           [class.error]="submitted && itemName.invalid"
                                                           id="name{{ i }}" required  #itemName="ngModel" />
                                                           <p class="text-danger" *ngIf="submitted && itemName.invalid">{{l("ThisFieldIsRequired") }}</p> 
                                                       </div>
                                               </div>

                                               <div class="col-md-6 col-12 mb-1">
                                                   <div class="form-group">
                                                       <label for="nameEnglish">{{ l("itemNameEn") }} *</label>
                                                       <input type="text"
                                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                           [(ngModel)]="item.nameEnglish"
                                                           [class.error]="submitted && itemNameEnglish.invalid"
                                                           name="nameEnglish{{ i }}" id="nameEnglish{{ i }}"
                                                           required #itemNameEnglish="ngModel"/>
                                                           <p class="text-danger" *ngIf="submitted && itemNameEnglish.invalid">{{l("ThisFieldIsRequired") }}</p> 

                                                   </div>
                                               </div>

                                               <div class="col-md-6 col-12 mb-1">
                                                   <div class="form-group">
                                                       <label for="itemQuantity{{ i }}">{{ l("Price") }} * <small>({{currency}})</small></label>
                                                       <input type="number"
                                                       min="0"  [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                           id="price{{ i }}" name="price{{ i }}"
                                                           [(ngModel)]="item.price"   [class.error]="submitted && itemPrice.invalid" required #itemPrice="ngModel" />
                                                           <p class="text-danger" *ngIf="submitted && itemPrice.invalid">{{l("ThisFieldIsRequired") }}</p> 
                                                   </div>
                                               </div>
                                               <div class="col-md-6 col-12 mb-1" *ngIf="isTenantLoyal">
                                                   <label for="loyalityPoints">{{ l("totalPoints") }}</label>
                                                   <input
                                                       [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                       type="number" [(ngModel)]="item.loyaltyPoints" />
                                               </div>
                                               <div class="col-md-6 col-12 mb-1">
                                                   <div class="form-group">
                                                       <label for="itemQuantity{{ i }}">{{ l("sku") }}</label>
                                                       <input type="text"
                                                           [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                                           name="sku{{ i }}" [(ngModel)]="item.sku"
                                                          />
                                                   </div>
                                               </div>
                                               <div class="col-12 mt-2 text-right">
                                                   <button class="btn btn-danger btn-sm"
                                                       (click)="deleteItem(i)">
                                                       <i class="fa fa-trash p-0 font-12"></i>
                                                   </button>
                                               </div>

                                           </div>
                                       </div>
                                       <hr />
                                   </div>
                                   <div class="col-xxl-6 col-md-6 col-12 borderd m-auto text-center">
                                       <button
                                       [ngClass]="theme === 'theme12' ? 'btn-outline-primary-info' : 'btn-outline-primary'"
                                       class="btn btn-icon " type="button" (click)="addItem2()">
                                       <span>{{ l("addItem") }}</span>
                                   </button>
                                   </div>
                               </div>
                        

                             
                           </div>

                           <div class="modal-footer">
                               <button type="button" class="btn btn-default"
                                   (click)="modal.close();show()">{{ l("Cancel") }}</button>

                               <button type="button"  [buttonBusy]="savingOnCreate"   [busyText]="l('SavingWithThreeDot')"
                                   [ngClass]="theme === 'theme12'? 'btn-primary-info' : 'btn-primary'"
                                 class="btn " (click)="createNewCategory()"
                                   >{{ l("Save") }}</button>
                           </div>
                       </div>

                   </ng-template>
                   <!-- /Cretae Modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
