<div
    bsModal
    #createOrEditCategoryItemModalComponent="bs-modal"
    class="overflow-y modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div [hidden]="theme === 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-1">
                        <div class="form-group">
                            <input type="file" required name="imageFile" accept="image/*" (change)="onFileChange($event, modalBasic)" class="form-control" />
                            <p class="text-danger" *ngIf="submitted && !lstImagestDto">{{ l("ThisFieldIsRequired") }}</p>
                        </div>

                        <div class="swiper-responsive-breakpoints swiper-container px-4 py-2" *ngIf="lstImagestDto" [swiper]="swiperResponsive">
                            <div class="swiper-wrapper mb-2">
                                <div class="swiper-slide" *ngFor="let itemImages of lstImagestDto; let index = index">
                                    <div class="img-container mx-auto py-75">
                                        <img [src]="itemImages.imageUrl" class="img-fluid min-height" alt="Item Image {{ index }}" />
                                    </div>

                                    <div id="images" class="form-check">
                                        <label class="form-check-label" for="Select As Main Image{{ index }}">
                                            <input
                                                class="form-check-input"
                                                id="Select As Main
                                                Image{{ index }}"
                                                [checked]="itemImages.isMainImage"
                                                type="checkBox"
                                                name="images"
                                                [(ngModel)]="itemImages.isMainImage"
                                                (change)="changeMainImage(itemImages)"
                                                required
                                            />
                                            Select As Main Image
                                        </label>
                                    </div>

                                    <div class="item-meta mt-1">
                                        <div class="rating rating-sm">
                                            <button id="isDelete{{ index }}" class="btn btn-danger" name="isDelete{{ index }}" (click)="DeleteItem(index)">
                                                {{ l("Delete") }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="mt-1 justify-content-center row mb-1" *ngIf="loadImage">
                            <div class="spinner-border text-warning m-auto" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="aantal">Area Name *</label>
                        <!-- <select class="form-control"  name="MenuType"  [(ngModel)]="item.menuType" style="font-family: system-ui; direction: rtl;" required>
                                    <option *ngFor="let rTy of rType"
                                    [value]="rTy.id" >{{rTy.name}}</option>
                                </select> -->
                        <ng-multiselect-dropdown
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''"
                            name="branches"
                           
                            [settings]="dropdownSettings"
                            [data]="rType"
                            [(ngModel)]="selectedAreaIds"
                            [class.error]="submitted && areaName.invalid"
                            #areaName="ngModel"
                            required
                        >
                        </ng-multiselect-dropdown>
                        <p class="text-danger" *ngIf="submitted && areaName.invalid">{{ l("ThisFieldIsRequired") }}</p>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <!-- <input type="checkbox" id="IsInService" name="IsInService" [(ngModel)]="item.isInService"
                                style="margin-right: 12px" /> -->
                            <label> In Service </label>
                            <ng-multiselect-dropdown
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''"
                                name="branches2"
                            
                                [settings]="dropdownSettings"
                                [data]="rType"
                                [(ngModel)]="selectedInServiceIds"
                            >
                            </ng-multiselect-dropdown>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label>{{ l("categoryNameAr") }}* </label>

                            <select
                                id="category"
                                name="category"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark' : 'form-control'"
                                [(ngModel)]="item.itemCategoryId"
                                class="form-control"
                                required
                                (ngModelChange)="selectCategory($event)"
                                #categoryy="ngModel"
                            >
                                <option *ngFor="let record of category; let index = index" [value]="record.id">
                                    {{ record.name }}
                                </option>
                            </select>
                            <p class="text-danger" *ngIf="submitted && categoryy.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label>{{ l("subCategoryNameAr") }}* </label>

                            <select
                                id="subCategory"
                                name="subCategory"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark' : 'form-control'"
                                [(ngModel)]="item.itemSubCategoryId"
                                class="form-control"
                                required
                                #subCategory="ngModel"
                            >
                                <option *ngFor="let record of subcategory; let index = index" [value]="record.id">
                                    {{ record.name }}
                                </option>
                            </select>
                            <p class="text-danger" *ngIf="submitted && subCategory.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="ItemName">{{ l("Item Name Arabic") }} *</label>
                            <input
                                required
                                type="text"
                                id="ItemName"
                                class="form-control"
                                [(ngModel)]="item.itemName"
                                [class.error]="submitted && nameArabic.invalid"
                                #nameArabic="ngModel"
                                name="ItemName"
                                minlength="0"
                                maxlength="450"
                            />
                            <p class="text-danger" *ngIf="submitted && nameArabic.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="ItemNameEnglish">{{ l("Item Name English") }} *</label>
                            <input
                                required
                                type="text"
                                class="form-control"
                                [(ngModel)]="item.itemNameEnglish"
                                name="nameEnglish"
                                minlength="0"
                                [class.error]="submitted && nameEnglish.invalid"
                                #nameEnglish="ngModel"
                                maxlength="450"
                            />
                            <p class="text-danger" *ngIf="submitted && nameEnglish.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="itemDescription"
                                >{{
                                    l(
                                        "Item
                                Description"
                                    )
                                }}
                            </label>
                            <textarea type="text" id="itemDescription" class="form-control" [(ngModel)]="item.itemDescription" name="itemDescription"> </textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="itemDescriptionEnglish">{{ l("itemdescEn") }} </label>
                            <textarea id="itemDescriptionEnglish" type="text" class="form-control" [(ngModel)]="item.itemDescriptionEnglish" name="itemDescriptionEnglish">
                            </textarea>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <input type="checkbox" id="isQuantitative" name="isQuantitative" [(ngModel)]="item.isQuantitative" style="margin-right: 12px" />
                            <label> Is Quantitative </label>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="Price"
                                >{{ l("Price") }} * <small>({{ currency }})</small></label
                            >
                            <input
                                min="0"
                                required
                                type="number"
                                id="Price"
                                class="form-control"
                                [(ngModel)]="item.price"
                                name="Price"
                                [class.error]="submitted && price.invalid"
                                #price="ngModel"
                            />
                            <p class="text-danger" *ngIf="submitted && price.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="OldPrice"
                                >{{ l("New Price") }} <small>({{ currency }})</small></label
                            >
                            <input type="number" id="OldPrice" class="form-control" [(ngModel)]="item.oldPrice" name="OldPrice" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="Qty">{{ l("Qty") }} </label>
                            <input type="number" id="Qty" class="form-control" [(ngModel)]="item.qty" name="Qty" />
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label for="Priority">{{ l("Priority") }} </label>
                            <input min="0" type="number" id="Priority" class="form-control" [(ngModel)]="item.priority" name="Priority" />
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label>Discount %</label>
                            <input placeholder="Discount %" id="ingredients" name="ingredients" class="form-control" type="number" [(ngModel)]="item.ingredients" />
                        </div>
                    </div>
                </div>
                <div class="row" *ngIf="isTenantLoyal">
                    <div class="col-6">
                        <div class="form-group">
                            <input type="checkbox" id="isLoyal" name="isLoyal" [(ngModel)]="item.isLoyal" style="margin-right: 12px" />
                            <label> Activate loyalty </label>
                        </div>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-6" *ngIf="item.isLoyal">
                        <div class="form-group">
                            <label for="loyalityPoints">Loyalty Points : *</label>
                            <input
                                type="number"
                                min-="1"
                                class="form-control"
                                [(ngModel)]="item.loyaltyPoints"
                                name="loyalityPoints"
                                required
                                [class.error]="submitted && loyalityPoints.invalid"
                                #loyalityPoints="ngModel"
                            />
                            <p class="text-danger" *ngIf="submitted && loyalityPoints.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                </div>

                <div class="row" *ngIf="isAdmin">
                    <div class="col-md-10 text-right">
                        <input type="button" class="btn btn-secondary" (click)="addSpecification()" style="font-family: system-ui; direction: rtl" value="Add Specification" />
                    </div>
                    <div class="col-md-2 text-right">
                        <input type="button" class="btn btn-secondary" (click)="addItemAddition()" style="font-family: system-ui; direction: rtl" value="Add On's" />
                    </div>
                </div>

                <div class="row" class="pt-14">
                    <div *ngFor="let Ds of controlSpecification; let idds = index">
                        <div class="SpecificationModels-card">
                            <div class="row" style="margin: 6px">
                                <div class="col-md-5">
                                    <div style="text-align: center; border-style: solid; font-size: x-large">
                                        <label>{{ Ds.value.specificationDescription }} - {{ Ds.value.specificationDescriptionEnglish }}</label>
                                    </div>
                                </div>

                                <div class="col-md-3" *ngIf="isAdmin">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary blue" (click)="openSelectSpecificationModal(idds)" type="button">
                                                <i class="fa fa-search"></i> {{ l("pick") }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col text-right" *ngIf="isAdmin">
                                    <button class="btn btn-danger btn-sm" type="button" (click)="deleteSpecification(idds)">
                                        <i class="fa fa-trash p-0 font-12"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" class="pt-14">
                    <div *ngFor="let D of controlAdditions; let idd = index">
                        <div class="additionsCategorysListModels-card">
                            <div class="row" style="margin: 6px">
                                <div class="col-md-5">
                                    <div style="text-align: center; border-style: solid; font-size: x-large">
                                        <label>{{ D.value.name }} - {{ D.value.nameEnglish }}</label>
                                    </div>
                                </div>

                                <div class="col-md-3" *ngIf="isAdmin">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary blue" (click)="openSelectAdditionsCategoryModal(idd)" type="button">
                                                <i class="fa fa-search"></i> {{ l("pick") }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="col text-right" *ngIf="isAdmin">
                                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteitemAddition(idd)">
                                        <i class="fa fa-trash p-0 font-12"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- [disabled]="saving" -->
                <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                <button [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" (click)="save()" type="button" class="btn btn-primary blue">
                    <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                </button>
                <!-- [disabled]="!bookingForm.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" -->
            </div>
        </div>
    </div>
    <div [hidden]="theme != 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span> {{ l("Items") }}</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 mb-1">
                        <div class="form-group">
                            <input #filee required type="file" name="imageFile" accept="image/*" (change)="onFileChange($event, modalBasic)" class="form-control" />
                            <p class="text-danger" *ngIf="submitted && lstImagestDto.length === 0">{{ l("ThisFieldIsRequired") }}</p>
                        </div>

                        <div class="swiper-responsive-breakpoints swiper-container px-4 py-2" *ngIf="lstImagestDto" [swiper]="swiperResponsive">
                            <div class="swiper-wrapper mb-2" [ngStyle]="{'display': lstImagestDto.length <= 1  ? 'contents' : 'flex'}">
                                <div class="swiper-slide" *ngFor="let itemImages of lstImagestDto; let index = index" style="width: auto; margin-right: 10px;">
                                    <div class="img-container mx-auto py-75">
                                        <img [src]="itemImages.imageUrl" class="img-fluid min-height" alt="Item Image {{ index }}" />
                                    </div>

                                    <div id="images" class="form-check">
                                        <label class="form-check-label" for="Select As Main Image{{ index }}">
                                            <input
                                                class="form-check-input"
                                                id="Select As Main Image{{ index }}"
                                                [checked]="itemImages.isMainImage"
                                                type="checkBox"
                                                name="Select As Main Image{{ index }}"
                                                [(ngModel)]="itemImages.isMainImage"
                                                (change)="changeMainImage(itemImages)"
                                                required
                                            />
                                            {{ l("selectAsMainImage") }}
                                        </label>
                                    </div>

                                    <div class="item-meta mt-1">
                                        <div class="rating rating-sm">
                                            <button id="isDelete{{ index }}" class="btn btn-danger" name="isDelete{{ index }}" (click)="DeleteItem(index)">
                                                {{ l("Delete") }}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                        <div class="mt-1 justify-content-center row mb-1" *ngIf="loadImage">
                            <div class="spinner-border text-warning m-auto" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6 mb-1">
                        <label for="aantal"> {{ l("area") }} *</label>
                        <ng-multiselect-dropdown
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''"
                            required
                            name="branches"
                            
                            [settings]="dropdownSettings"
                            [data]="rType"
                            [(ngModel)]="selectedAreaIds"
                            [class.error]="submitted && areaName.invalid"
                            #areaName="ngModel"
                        >
                        </ng-multiselect-dropdown>
                        <p class="text-danger" *ngIf="submitted && areaName.invalid">{{ l("ThisFieldIsRequired") }}</p>
                    </div>

                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <!-- <input class="form-check-input" type="checkbox" id="IsInService" name="IsInService"
                                [(ngModel)]="item.isInService" /> -->
                            <label> {{ l("isAvailable") }} </label>
                            <ng-multiselect-dropdown
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark ' : ''"
                                name="inService"
                                
                                [settings]="dropdownSettings"
                                [data]="rType"
                                [(ngModel)]="selectedInServiceIds"
                                #inService="ngModel"
                            >
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label>{{ l("categoryNameAr") }} * </label>

                            <select
                                id="category"
                                name="category"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark' : 'form-control'"
                                [(ngModel)]="item.itemCategoryId"
                                class="form-control"
                                required
                                (ngModelChange)="selectCategory($event)"
                                #categoryy="ngModel"
                            >
                                <option *ngFor="let record of category; let index = index" [value]="record.id">
                                    {{ record.name }}
                                </option>
                            </select>
                            <p class="text-danger" *ngIf="submitted && categoryy.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label>{{ l("subCategoryNameAr") }} *</label>

                            <select
                                id="subCategory"
                                name="subCategory"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark' : 'form-control'"
                                [(ngModel)]="item.itemSubCategoryId"
                                class="form-control"
                                required
                                #subCategory="ngModel"
                            >
                                <option *ngFor="let record of subcategory; let index = index" [value]="record.id">
                                    {{ record.name }}
                                </option>
                            </select>
                            <p class="text-danger" *ngIf="submitted && subCategory.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label for="ItemName">{{ l("itemNameAr") }} *</label>
                            <input
                                required
                                type="text"
                                id="ItemName"
                                class="form-control"
                                [(ngModel)]="item.itemName"
                                name="ItemName"
                                minlength="0"
                                maxlength="450"
                                [class.error]="submitted && nameArabic.invalid"
                                #nameArabic="ngModel"
                            />
                            <p class="text-danger" *ngIf="submitted && nameArabic.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label for="ItemNameEnglish">{{ l("itemNameEn") }} *</label>
                            <input
                                type="text"
                                class="form-control"
                                [(ngModel)]="item.itemNameEnglish"
                                name="nameEnglishh"
                                minlength="0"
                                maxlength="450"
                                [class.error]="submitted && nameEnglishh.invalid"
                                #nameEnglishh="ngModel"
                                required
                            />
                            <p class="text-danger" *ngIf="submitted && nameEnglishh.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>

                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label for="itemDescription">{{ l("itemdescAr") }} </label>
                            <textarea type="text" id="itemDescription" class="form-control" [(ngModel)]="item.itemDescription" name="itemDescription"> </textarea>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-1">
                        <div class="form-group">
                            <label for="itemDescriptionEnglish">{{ l("itemdescEn") }} </label>
                            <textarea id="itemDescriptionEnglish" type="text" class="form-control" [(ngModel)]="item.itemDescriptionEnglish" name="itemDescriptionEnglish">
                            </textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-1">
                            <div class="form-group form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="isQuantitative" name="isQuantitative" [(ngModel)]="item.isQuantitative" />
                                <label> {{ l("isQuantitive") }} ? </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 mb-1">
                            <div class="form-group">
                                <label for="Price"
                                    >{{ l("Price") }} * <small>({{ currency }})</small></label
                                >
                                <input
                                    required
                                    type="number"
                                    id="Price"
                                    class="form-control"
                                    [(ngModel)]="item.price"
                                    name="Price"
                                    [class.error]="submitted && price.invalid"
                                    #price="ngModel"
                                />
                                <p class="text-danger" *ngIf="submitted && price.invalid">{{ l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="form-group">
                                <label for="OldPrice"
                                    >{{ l("newPrice") }} <small>({{ currency }})</small></label
                                >
                                <input type="number" id="OldPrice" class="form-control" [(ngModel)]="item.oldPrice" name="OldPrice" />
                            </div>
                        </div>

                        <div class="col-6 mb-1">
                            <div class="form-group">
                                <label for="Qty">{{ l("qty") }} </label>
                                <input type="number" id="Qty" class="form-control" [(ngModel)]="item.qty" name="Qty" />
                            </div>
                        </div>
                        <div class="col-6 mb-1">
                            <div class="form-group">
                                <label for="Priority">{{ l("priority") }} </label>
                                <input min="0" type="number" id="Priority" class="form-control" [(ngModel)]="item.priority" name="Priority" />
                            </div>
                        </div>

                        <div class="col-6 mb-1">
                            <div class="form-group">
                                <label>{{ l("discount") }} %</label>
                                <input id="ingredients" name="ingredients" class="form-control" type="number" [(ngModel)]="item.ingredients" />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="isTenantLoyal">
                        <div class="col-6 mb-1">
                            <div class="form-group form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="isLoyal" name="isLoyal" [(ngModel)]="item.isLoyal" />
                                <label> {{ l("activateLoyality") }} </label>
                            </div>
                        </div>
                        <div class="col-6 mb-1"></div>
                        <div class="col-6 mb-1" *ngIf="item.isLoyal">
                            <div class="form-group">
                                <label for="loyalityPoints">{{ l("totalPoints") }}: *</label>
                                <input
                                    type="number"
                                    class="form-control"
                                    [(ngModel)]="item.loyaltyPoints"
                                    name="loyalityPoints"
                                    required
                                    [class.error]="submitted && loyalityPoints.invalid"
                                    #loyalityPoints="ngModel"
                                />
                                <p class="text-danger" *ngIf="submitted && loyalityPoints.invalid">This field is required</p>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1" *ngIf="isAdmin">
                        <div class="col-6"></div>
                        <div class="col-12 col-xl-6 col-md-6 text-right">
                            <button class="btn btn-primary-info" (click)="addSpecification()">
                                {{ l("addOptions") }}
                            </button>
                            <button class="btn btn-primary-info" (click)="addItemAddition()">
                                {{ l("addAddOns") }}
                            </button>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div *ngFor="let Ds of controlSpecification; let idds = index">
                            <div class="SpecificationModels-card">
                                <div class="row mt-1">
                                    <div class="col-md-5 text-center m-auto">
                                        <label>{{ Ds.value.specificationDescription }} - {{ Ds.value.specificationDescriptionEnglish }}</label>
                                    </div>

                                    <div class="col-md-3" *ngIf="isAdmin">
                                        <div>
                                            <div>
                                                <button class="btn btn-primary-info" (click)="openSelectSpecificationModal(idds)" type="button">
                                                    <i class="fa fa-search"></i>
                                                    {{ l("pick") }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col text-right" *ngIf="isAdmin">
                                        <button id="234234" type="button" class="btn btn-sm" (click)="deleteSpecification(idds)">
                                            <i class="fa fa-trash p-0 font-12"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-1">
                        <div *ngFor="let D of controlAdditions; let idd = index">
                            <div class="additionsCategorysListModels-card">
                                <div class="row mt-1">
                                    <div class="col-md-5 text-center m-auto">
                                        <div>
                                            <label>{{ D.value.name }} - {{ D.value.nameEnglish }}</label>
                                        </div>
                                    </div>

                                    <div class="col-md-3" *ngIf="isAdmin">
                                        <button class="btn btn-primary-info" (click)="openSelectAdditionsCategoryModal(idd)" type="button">
                                            <i class="fa fa-search"></i> {{ l("pick") }}
                                        </button>
                                    </div>

                                    <div class="col text-right" *ngIf="isAdmin">
                                        <button type="button" class="btn btn-sm" (click)="deleteitemAddition(idd)">
                                            <i class="fa fa-trash p-0 font-12"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                       
                        <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                        <button type="button" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn btn-primary-info" (click)="save2()">
                            <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                        </button>
                        <!-- [disabled]="!bookingForm.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <specificationLookupTableModal #specificationLookupTableModal (modalSave)="UpdateSpecificationId()"> </specificationLookupTableModal>
    <addOnsLookupTableModal #addOnsLookupTableModal (modalSave)="UpdateAdditionsCategoryId()"></addOnsLookupTableModal>
</div>

<ng-template #modalBasic let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel1">Image Cropper</h4>
    </div>
    <div class="modal-body" tabindex="0" ngbAutofocus>
        <image-cropper
            [imageChangedEvent]="imageChangedEvent"
            [maintainAspectRatio]="true"
            [aspectRatio]="1"
            [cropperMinWidth]="481"
            [cropperMinHeight]="200"
            [resizeToWidth]="481"
            [resizeToHeight]="200"
            [cropperStaticWidth]="481"
            [cropperStaticHeight]="200"
            [onlyScaleDown]="true"
            [imageQuality]="80"
            (imageCropped)="imageCroppedFile($event)"
        ></image-cropper>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.dismiss('Cross click')" rippleEffect>Cancel</button>
        <button type="button" [ngClass]="theme != 'theme12' ? 'btn-primary' : 'btn-primary-info'" class="btn" (click)="saveImage(file); modal.close('Accept click')" rippleEffect>
            Accept
        </button>
    </div>
</ng-template>
