<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div *ngIf="theme != 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #orderForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ l("Details") }}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-4 col-6">
                        <label for="aantal">Shops Name</label>

                        <select class="form-control" (change)="onchangeBranch($event)" style="font-family: system-ui; direction: rtl" required>
                            <option *ngFor="let rTy of rType" [value]="rTy.id">{{ rTy.name }}</option>
                        </select>
                    </div>

                    <div class="row" *ngFor="let add of item; let index = index">
                        <div class="col-2">
                            <input disabled class="form-control m-input" [value]="add.name" />
                        </div>
                        <div class="col-2">
                            <input disabled class="form-control m-input" [value]="add.nameEnglish" />
                        </div>
                        <div class="col-2">
                            <label for="isInServes-{{ index }}" class="kt-checkbox">
                                <input
                                    id="isInServes-{{ index }}"
                                    class="form-control m-input"
                                    #isRestaurantsTypeAll="ngModel"
                                    type="checkbox"
                                    name="isInServes-{{ index }}"
                                    [(ngModel)]="add.isInServes"
                                    style="position: relative;"
                                />
                                {{ l("IsInService") }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{ l("Close") }}</button>
                    <button type="submit" class="btn btn-primary blue" [buttonBusy]="saving">
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div *ngIf="theme === 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #orderForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4    class="modal-title">
                        <span>{{ l("Details") }}</span>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="max-height: 450px; overflow: scroll;">
                    <div class="row mb-2">
                        <div class="col-12">
                            <label for="aantal">{{ l("branches") }}</label>

                            <select [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'" (change)="onchangeBranch($event)" required>
                                <option *ngFor="let rTy of rType" [value]="rTy.id">{{ rTy.name }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2" *ngFor="let add of item; let index = index">
                        <div class="col">
                            <input  disabled class="form-control m-input" [value]="add.name" />
                        </div>
                        <div class="col">
                            <input disabled class="form-control m-input" [value]="add.nameEnglish" />
                        </div>
                        <div class="col form-check form-switch ">
                            <input
                                id="isInServes-{{ index }}"
                                class="m-0 m-input form-check-input"
                                #isRestaurantsTypeAll="ngModel"
                                type="checkbox"
                                name="isInServes-{{ index }}"
                                [(ngModel)]="add.isInServes"
                                style="position: relative;"
                            />
                          
                        <label for="isInServes-{{ index }}" class="kt-checkbox">   {{ l("IsInService") }}</label> 
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary-info " [buttonBusy]="saving">
                        <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
