<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #infoSeedServiceForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="infoSeedService.id">{{l("EditInfoSeedService")}}</span>
                        <span *ngIf="!infoSeedService.id">{{l("CreateNewInfoSeedService")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="InfoSeedService_ServiceID">{{l("ServiceID")}} *</label>
                        <input type="text" #InfoSeedService_ServiceID="ngModel" id="InfoSeedService_ServiceID" class="form-control" [(ngModel)]="infoSeedService.serviceID" name="ServiceID" minlength="3" maxlength="1024" required />
                        <validation-messages [formCtrl]="InfoSeedService_ServiceID"></validation-messages>
                    </div>
                    <div class="form-group">
                        <label for="InfoSeedService_ServiceName">{{l("ServiceName")}} *</label>
                        <input type="text" #InfoSeedService_ServiceName="ngModel" id="InfoSeedService_ServiceName" class="form-control" [(ngModel)]="infoSeedService.serviceName" name="ServiceName" minlength="3" maxlength="1024" required />
                        <validation-messages [formCtrl]="InfoSeedService_ServiceName"></validation-messages>
                    </div>
                    <div class="form-group m-form__group">
                        <label for="ServiceTypeServicetypeName">{{l("ServiceType")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ServiceTypeServicetypeName" name="serviceTypeServicetypeName" [(ngModel)]="serviceTypeServicetypeName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectServiceTypeModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setServiceTypeIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="infoSeedService.serviceTypeId" [(ngModel)]="infoSeedService.serviceTypeId" type="text" required hidden>

                    <div class="form-group m-form__group">
                        <label for="ServiceStatusServiceStatusName">{{l("ServiceStatus")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ServiceStatusServiceStatusName" name="serviceStatusServiceStatusName" [(ngModel)]="serviceStatusServiceStatusName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectServiceStatusModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setServiceStatusIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="infoSeedService.serviceStatusId" [(ngModel)]="infoSeedService.serviceStatusId" type="text" required hidden>

                    <div class="form-group m-form__group">
                        <label for="ServiceFrquencyServiceFrequencyName">{{l("ServiceFrquency")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="ServiceFrquencyServiceFrequencyName" name="serviceFrquencyServiceFrequencyName" [(ngModel)]="serviceFrquencyServiceFrequencyName" type="text" disabled>
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectServiceFrquencyModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setServiceFrquencyIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="infoSeedService.serviceFrquencyId" [(ngModel)]="infoSeedService.serviceFrquencyId" type="text" required hidden>




                    <div class="form-group">
                        <label for="InfoSeedService_ServiceFees">{{l("ServiceFees")}}</label>
                        <input type="number" #InfoSeedService_ServiceFees="ngModel" id="InfoSeedService_ServiceFees" class="form-control" [(ngModel)]="infoSeedService.serviceFees" name="ServiceFees" />
                        <validation-messages [formCtrl]="InfoSeedService_ServiceFees"></validation-messages>
                    </div>

                    <div class="m-checkbox-list">
                        <label for="InfoSeedService_IsFeesPerTransaction" class="kt-checkbox">
                            <input id="InfoSeedService_IsFeesPerTransaction" #InfoSeedService_IsFeesPerTransaction="ngModel" type="checkbox" name="IsFeesPerTransaction" [(ngModel)]="infoSeedService.isFeesPerTransaction">
                            {{l("IsFeesPerTransaction")}}
                            <span></span>
                        </label>
                        <validation-messages [formCtrl]="InfoSeedService_IsFeesPerTransaction"></validation-messages>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="InfoSeedService_ServiceCreationDate">{{l("ServiceCreationDate")}}</label>
                        <input required class="form-control m-input" #InfoSeedService_ServiceCreationDate type="datetime" bsDatepicker datePickerMomentModifier [(date)]="infoSeedService.serviceCreationDate" id="InfoSeedService_ServiceCreationDate" name="InfoSeedService_ServiceCreationDate">
                        <validation-messages [formCtrl]="InfoSeedService_ServiceCreationDate"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="InfoSeedService_ServiceStoppingDate">{{l("ServiceStoppingDate")}}</label>
                        <input required class="form-control m-input" #InfoSeedService_ServiceStoppingDate type="datetime" bsDatepicker datePickerMomentModifier [(date)]="infoSeedService.serviceStoppingDate" id="InfoSeedService_ServiceStoppingDate" name="InfoSeedService_ServiceStoppingDate">
                        <validation-messages [formCtrl]="InfoSeedService_ServiceStoppingDate"></validation-messages>
                    </div>

                    <div class="form-group">
                        <label for="InfoSeedService_Remarks">{{l("Remarks")}}</label>
                        <input type="text" #InfoSeedService_Remarks="ngModel" id="InfoSeedService_Remarks" class="form-control" [(ngModel)]="infoSeedService.remarks" name="Remarks" />
                        <validation-messages [formCtrl]="InfoSeedService_Remarks"></validation-messages>
                    </div>

                  


                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!infoSeedServiceForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<infoSeedServiceServiceTypeLookupTableModal #infoSeedServiceServiceTypeLookupTableModal (modalSave)="getNewServiceTypeId()"></infoSeedServiceServiceTypeLookupTableModal>
		 <infoSeedServiceServiceStatusLookupTableModal #infoSeedServiceServiceStatusLookupTableModal (modalSave)="getNewServiceStatusId()"></infoSeedServiceServiceStatusLookupTableModal>
		 <infoSeedServiceServiceFrquencyLookupTableModal #infoSeedServiceServiceFrquencyLookupTableModal (modalSave)="getNewServiceFrquencyId()"></infoSeedServiceServiceFrquencyLookupTableModal>
		 
</div>
