    
    <div class="form-group">
      <!-- *ngIf="template.selectedCategory!='PRODUCT_MESSAGE'"  -->
      <h3 *ngIf="template.sub_category=='carousel'">WhatsApp Carousel Template</h3>
      <h3 *ngIf="template.sub_category!='carousel'">Content</h3>
      <p>Fill out the header, body, and footer sections of your template.</p>
      <div *ngIf="template.category=='UTILITY'||(template.category=='MARKETING' &&(template.sub_category=='CUSTOM')) ||(template.category=='MARKETING' &&(template.sub_category!='carousel'))" class="Content-Parts"  style="margin-bottom: 20px;" >
        <label *ngIf="template.sub_category!='carousel'"  for="header">Header <span class="Optional">· Optional</span></label>
        <select *ngIf="template.sub_category!='carousel'"  id="header" [(ngModel)]="componentHeader.format" (change)="onHeaderChange($event)">
          <option value="None">None</option>
          <option *ngIf="template.sub_category!='carousel'"  value="TEXT"> Text</option>
          <option  value="IMAGE" ><i class="fas fa-font"></i> Image</option>
          <option  value="VIDEO"><i class="fas fa-times"></i> Video</option>
          <option *ngIf="template.sub_category!='carousel'" value="DOCUMENT"><i class="fas fa-file-pdf"></i>Document</option>
        </select>
        <div *ngIf="componentHeader.format == 'TEXT'" class="header-option">
            <div class="header-content">
              <label for="headerTextContent">Header Text Content</label>
                   <div class="header-input-container" style="position: relative;">
                    <input 
                      id="headerTextContent" 
                      type="text"
                      [(ngModel)]="componentHeader.text" 
                      (ngModelChange)="onHeaderTextChange($event)"  
                      [dir]="getTextDirection2(componentHeader.text, 'header')"
                      maxlength="60"
                      class="header-with-counter"
                    />
                    <span 
                      class="header-character-count"
                      [ngClass]="{
                        'text-danger': (componentHeader.text?.length || 0) >= 60,
                        'left-position': isArabicHeader,
                        'right-position': !isArabicHeader
                      }">
                      {{componentHeader.text?.length || 0}}/60
                    </span>
                  </div>

        </div>
          <div *ngIf="errorHeadertext">
            <p class="instructions error-message">Add sample text</p>
           </div>
          <div class="toolbar">
            <button type="button" (click)="addVariableHeader()" [disabled]="!componentHeader?.text || componentHeader?.text.length === 0 || headervariable === 1">+ Add Variable</button>
          </div>
          <div *ngIf="headervariable==1" class="sample-inputs">
            <h3>Samples for header content</h3>
            <p>To help us review your content, provide examples of the variables or media in the header. Do not include any customer information. Cloud API hosted by Meta reviews templates and variable parameters to protect the security and integrity of our services.</p>
            <div class="sample-variable">
            <label style="display: inline;">  </label>
            <input 
              type="text"  
              [(ngModel)]="componentHeader.example.header_text[0]" 
              [dir]="getTextDirection(componentHeader.example.header_text[0])"
              (ngModelChange)="checkHeaderTextForEmpty()"  
              placeholder="Enter variable content" 
            />
            <button  class="remove-btn" (click)="removeVariableHeader()"><i class="fas fa-times"></i></button>
           </div>
           <div *ngIf="errorAddSampleHeader">
            <p class="instructions error-message">Add sample text</p>
           </div>
          </div>
        </div>
      
        <div *ngIf="componentHeader.format == 'IMAGE'" class="header-option">
          <div class="header-content">
            <h4>Samples for Header Content</h4>
            <p id="imageDescription">To help us review your content, provide examples of the variables or media in the header. Do not include any customer information.</p>
            <label for="headerImage">Image</label>
            <input hidden
              class="upload-button hidden-file-input"
              id="headerImage"
              type="file"
              accept="image/*"
              (change)="handleFileInput($event)"
              aria-describedby="imageDescription"
            />
            <!-- {{componentHeader.example.header_text[0]}} -->

            <label for="headerImage" class="custom-upload-button"> <i class="fas fa-file-image"></i> Choose JPG or PNG File</label>
            <div *ngIf="!errorAddMedia"  style="display: inline;">
              <button  class="remove-btn" (click)="clearUploadedFile()"><i class="fas fa-times"></i></button>
            </div>
            <div style="margin-top: 15px;">
              <p *ngIf="errorAddMedia" class="instructions error-message">Add sample media</p>
            </div>
          </div>
        </div>
        
        <div *ngIf="componentHeader.format == 'VIDEO'" class="header-option">
          <div class="header-content">
            <h4>Samples for Header Content</h4>
            <p id="videoDescription">To help us review your content, provide examples of the variables or media in the header. Do not include any customer information.</p>
            <label for="headerVideo">Video</label>
            <input
              hidden
              class="upload-button"
              id="headerVideo"
              type="file"
              accept="video/*"
              (change)="handleFileInput($event)"
              aria-describedby="videoDescription"
            />
            <label for="headerVideo" style="color:black ;font-weight: 100;" class="custom-upload-button"><i class="fas fa-file-video"></i>  Choose MP4 File</label>
            <div *ngIf="!errorAddMedia"   style="display: inline;" class="file-preview">
              <button class="remove-btn" (click)="clearUploadedFile()"><i class="fas fa-times"></i></button>
            </div>
            <div style="margin-top: 15px;">
              <p *ngIf="errorAddMedia"  class="instructions error-message">Add sample media</p>
            </div>
          </div>
        </div>
        
        <div *ngIf="componentHeader.format == 'DOCUMENT'" class="header-option">
          <div class="header-content">
            <h4>Samples for Header Content</h4>
            <p id="documentDescription">To help us review your content, provide examples of the variables or media in the header. Do not include any customer information.</p>
            <label for="headerDocument">Document </label>
            <input
              hidden
              class="upload-button"
              id="headerDocument"
              type="file"
              accept=".pdf,.doc,.docx"
              (change)="handleFileInput($event)"
              aria-describedby="documentDescription"
            />
            <label for="headerDocument" class="custom-upload-button"><i class="fas fa-file-pdf"></i> Choose PDF File</label>
            <div *ngIf="!errorAddMedia"   style="display: inline;" class="file-preview">
              <!-- <a [href]="uploadedDocumentUrl" target="_blank">View Document</a> -->
              <button  class="remove-btn" (click)="clearUploadedFile()"><i class="fas fa-times"></i></button>
            </div>
            <div style="margin-top: 15px;">
              <p *ngIf="errorAddMedia" class="instructions error-message">Add sample media</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="Content-Parts" >

        <div class="textarea-container" style="position: relative;">
            <label for="Body">Body</label>
            <textarea
              class="form-control w-100 body-text mt-1"
              [(ngModel)]="componentBody.text"
              (ngModelChange)="onBodyTextChange(componentBody?.text)"  
              [maxLength]="getMaxLength()"
              [dir]="getTextDirection(componentBody.text)"
              #bodyText="ngModel"
              rows="6"
              id="bodyText"
              #myTextarea
              [ngClass]="{'error-body-message': !isTextValid}"
              required
            ></textarea>


            <div class="body-character-counter"
                  [ngClass]="{
                    'text-danger': (componentBody?.text?.length || 0) >= getMaxLength() - 24,
                    'text-warning': (componentBody?.text?.length || 0) >= getMaxLength() - 124 && (componentBody?.text?.length || 0) < getMaxLength() - 24
                  }">
              {{componentBody?.text?.length || 0}}/{{getMaxLength()}}
            </div>
          </div>

      <!-- <p class="text-danger" *ngIf="!isTextValid">{{ ("inValidBodyText") }}</p> -->
       <div *ngIf="!isTextValid"  style="background-color: #fff6dc; padding: 15px;">
          <div class="d-flex">
              <i class="bi bi-exclamation-triangle-fill" style="color: #d27805;"></i>
              <div>
                 This template contains too many variable parameters relative to the message length. You need to decrease the number of variable parameters or increase the message lengthe
                  <div class="innerHint">
                      <span>example :Hello {{ '{{' + 1 + '}}' }} from InfoSeed World</span>
                  </div>
              </div>
          </div>
       </div>
        <div   *ngIf="showWarningMessage" style="background-color: #fff6dc; padding: 15px;">
          <ul>
            <li> This template contains too many variable parameters relative to the message length. You need to decrease the number of variable parameters or increase the message lengthexample :Hello {{1}} from InfoSeed World
            </li>
          </ul>
        </div>
        <div *ngIf="validationMessage" class="validation-message">
        </div>
        <div class="toolbar">
          <button type="button" (click)="toggleEmojiPicker()"> <i class="far fa-grin"></i></button>
          <button type="button" (click)="applyFormat('*', '*')"><i class="fas fa-bold"></i></button>
          <button type="button" (click)="applyFormat('_', '_')"><i class="fas fa-italic"></i> </button>
          <button type="button" (click)="applyFormat('~', '~')"><i class="fas fa-strikethrough"></i> </button>
          <button type="button" (click)="applyFormat('``', '``')"><i class="fas fa-code"></i> </button>
          <!-- <button type="button" (click)="addVariable()">+ Add Variable</button> -->
          <button (click)="addVariableOne()"  type="button"><i class="bi bi-plus"></i>{{ ("addVariables") }}</button>
          <button (click)="deleteVaribale()"  type="button"> <i class="bi bi-dash"></i>{{ ("deleteVariables") }}</button>

        </div>

        <div class="emoji-container" *ngIf="showEmojiPicker">
          <emoji-mart 
            (emojiClick)="addEmoji($event)">
          </emoji-mart>
         </div>
          <!-- <emoji-mart *ngIf="showEmojiPicker" style="z-index: 222222;" onclick="toggleEmojiPicker()" (emojiClick)="addEmoji($event)"></emoji-mart> -->
        </div>
        <div *ngIf="dynamicVariables?.length > 0" class="sample-inputs Content-Parts">
          <h3>Samples for body content</h3>
          <p>To help us review your message template, please add an example for each variable in your body text. Do not use real customer information. Cloud API hosted by Meta reviews templates and variable parameters to protect the security and integrity of our services.</p>
          <div *ngFor="let group of dynamicVariables || []; let groupIndex = index; trackBy: trackByGroup" class="group-variable">
            <div *ngFor="let input of group || []; let index = index; trackBy: trackByInput" class="sample-variable">
              <label>{{ '{{' + (index + 1) + '}}' }}</label>
              <input
                    id="bodyForExample"
                    name="bodyForExample"
                    type="text"
                      [dir]="getTextDirection(dynamicVariables[groupIndex][index])"
                    [(ngModel)]="dynamicVariables[groupIndex][index]"
                    maxlength="60"
                    placeholder="Enter sample content for {{ '{{' + (index + 1) + '}}' }}"
                    (input)="onInputChange($event, groupIndex, index)"
                />
            </div>
        </div>
        
          <!-- Show error message if sample text is empty -->
          <div *ngIf="errorAddSampleBody">
              <p class="instructions error-message">Add sample text</p>
          </div>
      </div>
      <!-- <div class="Content-Parts" *ngIf="template.sub_category!='carousel'">
        <label for="footer">Footer <span class="Optional">· Optional</span></label>
        <input 
          id="footer" 
          type="text" 
          maxlength="60" 
          [(ngModel)]="componentFooter.text" 
          (ngModelChange)="onfooterTextChange($event)"  
          placeholder="Enter text" 
        />
      </div> -->
      
      <div class="Content-Parts" *ngIf="template.sub_category!='carousel'">
          <label for="footer">Footer <span class="Optional">· Optional</span></label>
        <div *ngIf="componentFooter" class="footer-input-container">
          <input 
            id="footer" 
            type="text" 
            maxlength="60" 
            [(ngModel)]="componentFooter.text" 
            (ngModelChange)="onfooterTextChange($event)"  
              [dir]="getTextDirection2(componentFooter.text, 'footer')"
            placeholder="Enter text"
            class="with-character-count" 
          />
          <span
            class="footer-character-count"
            [ngClass]="{
              'text-danger': (componentFooter.text?.length || 0) >= 60,
              'left-position': isArabicFooter,
              'right-position': !isArabicFooter
            }"
          >
            {{componentFooter.text?.length || 0}}/60
          </span>
        </div>

</div>

</div>