<div appBsModal #EmbededSignIn="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form #tenantCreateForm="ngForm" role="form" novalidate class="form-validation" (submit)="save()">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <span>{{ "CustomerInfo" | localize }}</span>
                    </h5>
                </div>

                <div class="modal-body">
                    <div>
                        <div class="form-group">
                            <label for="TenancyName">{{ "TenancyName" | localize }} *</label>
                            <input
                                id="TenancyName"
                                #tenancyNameInput="ngModel"
                                class="form-control"
                                type="text"
                                [ngClass]="{ edited: tenant.tenancyName }"
                                name="tenancyName"
                                [(ngModel)]="tenant.tenancyName"
                                #tenancyName="ngModel"
                                required
                                maxlength="64"
                                pattern="^[a-zA-Z][a-zA-Z0-9_-]{1,}$"
                                autocomplete="off"
                            />
                            <validation-messages [formCtrl]="tenancyNameInput"></validation-messages>
                        </div>
                        <div class="form-group">
                            <label for="Name">{{ "Customer Business Name" | localize }} *</label>
                            <input id="Name" type="text" name="Name" class="form-control" [value]="tenant.name" disabled="true" />
                        </div>
                        <div class="form-group">
                            <label for="AdminEmailAddress">{{ "AdminEmailAddress" | localize }} *</label>
                            <input
                                id="AdminEmailAddress"
                                #adminEmailAddressInput="ngModel"
                                type="email"
                                name="AdminEmailAddress"
                                class="form-control"
                                [(ngModel)]="tenant.adminEmailAddress"
                                [ngClass]="{ edited: tenant.adminEmailAddress }"
                                required
                                pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
                                maxlength="256"
                                autocomplete="off"
                            />
                            <validation-messages [formCtrl]="adminEmailAddressInput"></validation-messages>
                        </div>
                        <div class="form-group">
                            <label for="AdminPassword">{{ "AdminUserName" | localize }}</label>
                            <input class="form-control" value="admin" disabled />
                        </div>
                        <div class="form-group">
                            <label for="AdminPassword">{{ "AdminPassword" | localize }}</label>
                            <input
                                id="AdminPassword"
                                type="password"
                                name="adminPassword"
                                class="form-control"
                                id="adminPassword"
                                [(ngModel)]="tenant.adminPassword"
                                [ngClass]="{ edited: tenant.adminPassword }"
                                [required]="true"
                                #adminPassword="ngModel"
                                validateEqual="adminPasswordRepeat"
                                autocomplete="new-password"
                                reverse="true"
                                maxlength="32"
                                [requireDigit]="passwordComplexitySetting.requireDigit"
                                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                [requiredLength]="passwordComplexitySetting.requiredLength"
                            />
                        </div>
                        <div [hidden]="tenantCreateForm.form.valid || tenantCreateForm.form.pristine">
                            <ul class="help-block text-danger" *ngIf="tenantCreateForm.controls['adminPassword'] && tenantCreateForm.controls['adminPassword'].errors">
                                <li [hidden]="!tenantCreateForm.controls['adminPassword'].errors.requireDigit">
                                    {{ "PasswordComplexity_RequireDigit_Hint" | localize }}
                                </li>
                                <li [hidden]="!tenantCreateForm.controls['adminPassword'].errors.requireLowercase">
                                    {{ "PasswordComplexity_RequireLowercase_Hint" | localize }}
                                </li>
                                <li [hidden]="!tenantCreateForm.controls['adminPassword'].errors.requireUppercase">
                                    {{ "PasswordComplexity_RequireUppercase_Hint" | localize }}
                                </li>
                                <li [hidden]="!tenantCreateForm.controls['adminPassword'].errors.requireNonAlphanumeric">
                                    {{ "PasswordComplexity_RequireNonAlphanumeric_Hint" | localize }}
                                </li>
                                <li [hidden]="!tenantCreateForm.controls['adminPassword'].errors.requiredLength">
                                    {{ "PasswordComplexity_RequiredLength_Hint" | localize : passwordComplexitySetting.requiredLength }}
                                </li>
                            </ul>
                        </div>

                        <div class="form-group">
                            <label for="AdminPasswordRepeat">{{ "AdminPasswordRepeat" | localize }}</label>
                            <input
                                id="AdminPasswordRepeat"
                                type="password"
                                name="adminPasswordRepeat"
                                class="form-control"
                                [(ngModel)]="tenantAdminPasswordRepeat"
                                [ngClass]="{ edited: adminPasswordRepeat }"
                                [required]="true"
                                #adminPasswordRepeat="ngModel"
                                [requireDigit]="passwordComplexitySetting.requireDigit"
                                [requireLowercase]="passwordComplexitySetting.requireLowercase"
                                [requireUppercase]="passwordComplexitySetting.requireUppercase"
                                [requireNonAlphanumeric]="passwordComplexitySetting.requireNonAlphanumeric"
                                [requiredLength]="passwordComplexitySetting.requiredLength"
                                validateEqual="adminPassword"
                                maxlength="32"
                            />
                        </div>
                        <div class="form-group">
                            <label for="PhoneNumber">{{ "PhoneNumber" | localize }} *</label>
                            <input id="PhoneNumber" class="form-control" type="text" name="phoneNumber" [value]="tenant.phoneNumber" disabled="true" />
                        </div>
                        <!-- <div class="form-group">
                            <label for="PhoneNumberId">{{ "Phone Number ID" | localize }} *</label>
                            <input id="PhoneNumberId" class="form-control" type="text" name="PhoneNumberId" [value]="tenant.d360Key" disabled />
                        </div>
                        <div class="form-group">
                            <label for="AccessToken">{{ "Access Token" | localize }} *</label>
                            <input
                                id="AccessToken"
                                class="form-control"
                                type="text"
                                [ngClass]="{ edited: tenant.accessToken }"
                                name="AccessToken"
                                [value]="tenant.accessToken"
                                disabled
                            />
                        </div>
                        <div class="form-group">
                            <label for="WhatsAppAccountID">{{ "WhatsApp Account ID" | localize }} *</label>
                            <input
                                id="WhatsAppAccountID"
                                class="form-control"
                                type="text"
                                [ngClass]="{ edited: tenant.whatsAppAccountID }"
                                name="WhatsAppAccountID"
                                [value]="tenant.whatsAppAccountID"
                                disabled
                            />
                        </div>
                        <div class="form-group">
                            <label for="whatsAppAppID">{{ "whatsApp App ID" | localize }} *</label>
                            <input
                                id="whatsAppAppID"
                                class="form-control"
                                type="text"
                                [ngClass]="{ edited: tenant.whatsAppAppID }"
                                name="whatsAppAppID"
                                [value]="tenant.whatsAppAppID"
                                disabled
                            />
                        </div> -->
                        <!-- <div class="form-group">
                            <label for="botId">{{ "botId" | localize }} *</label>
                            <input id="botId" class="form-control" type="text" [ngClass]="{ edited: tenant.botId }" name="botId" [value]="tenant.botId" disabled />
                        </div> -->
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        type="submit"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                        class="btn btn-primary font-weight-bold"
                        [disabled]="!tenantCreateForm.form.valid"
                    >
                        <i class="fa fa-save"></i> <span>{{ "Save" | localize }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
