<div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="d-flex flex-column flex-column-fluid">
                <sub-header *ngIf="theme != 'theme12'" [title]="'archivedOrders' | localize" [description]="'archivedOrdersHeaderInfo' | localize">
                    <div role="actions">
                        <button (click)="exportToExcel()" class="btn btn-primary btn-round btn-sm waves-effect waves-float waves-light">
                            <i class="fa fa-file-excel"></i> {{ l("ExportToExcel") }}
                        </button>
                    </div>
                </sub-header>
                <sub-header *ngIf="theme === 'theme12'" [title]="'archivedOrders' | localize" [description]="'archivedOrdersHeaderInfo' | localize"> </sub-header>

                <div [ngClass]="theme != 'theme12' ? 'container' : ''">
                    <div class="card-custom gutter-b card">
                        <div class="card-body">
                            <form *ngIf="theme != 'theme12'" class="form" autocomplete="off">
                                <div class="row p-1 mb-2">
                                    <div class="col-md-6 col-6 d-flex justify-content-md-start input-group">
                                            <select class="form-control" name="nameFilter" id="nameFilter" [(ngModel)]="nameFilter">
                                                <option value="-1" selected>{{ l("All") }}</option>
                                                <option value="1">Pending</option>
                                                <option value="2">Done</option>
                                                <option value="3">Delete</option>
                                                <option value="6">Canceled</option>
                                                <option value="7">Pre Order</option>
                                            </select>
                                            <button (click)="getOrders($event)" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                    
                                    </div>

                                    <div class="col-md-6 d-flex p-0 col-6 d-flex justify-content-md-end input-group">
                                            <input
                                                [(ngModel)]="nameFilter2"
                                                name="nameFilter2"
                                                autoFocus
                                                class="form-control m-input"
                                                [placeholder]="'searchByPhone' | localize"
                                                type="search"
                                            />

                                            <button (click)="getOrders($event)" class="btn btn-primary" type="submit">
                                                <i class="flaticon-search-1"></i>
                                            </button>
                                       
                                    </div>
                                </div>
                            </form>

                            <form  autocomplete="off">
                            <div class="row mb-2" *ngIf="theme === 'theme12'">
                                <div class="col-md-8 col-12">
                                    <div class="row ml-1 pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                                        <div class="d-flex  align-items-center col-12 col-xl-6">
                                        <select   [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"  name="nameFilter" id="nameFilter" [(ngModel)]="nameFilter">
                                            <option value="-1">{{ l("All") }}</option>
                                            <option value="1">Pending</option>
                                            <option value="2">Done</option>
                                            <option value="3">Delete</option>
                                            <option value="6">Canceled</option>
                                            <option value="7">Pre Order</option>
                                        </select>
                                        <button (click)="getOrders($event)" class="btn btn-primary-info" type="submit"><i class="flaticon-search-1"></i></button>
                                        </div>
                                        <div class="d-flex mt-1 mt-xl-0 align-items-center col-12 col-xl-6">
                                            <input
                                            [(ngModel)]="nameFilter2"
                                            name="nameFilter2"
                                            autoFocus
                                            class=" m-input form-control"
                                           [placeholder]="'searchByPhone' | localize"
                                            type="Search by phone"
                                        />

                                        <button (click)="getOrders($event)" class="btn btn-primary-info" type="submit">
                                            <i class="flaticon-search-1"></i>
                                        </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-12 text-right" [ngClass]="isArabic? 'pl-1' : ''">
                                    <button (click)="exportToExcel()" class="btn btn-outline-primary-info mr-1"><i class="fa fa-file-excel"></i> {{ l("ExportToExcel") }}</button>
                                </div>
                            </div>
                            </form>

                            <div class="align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                <div
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                    class="primeng-datatable-container "
                                    [busyIf]="primengTableHelper.isLoading"
                                >
                                    <p-table
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                        #dataTable
                                        (onLazyLoad)="getOrders($event)"
                                        [value]="primengTableHelper.records"
                                        rows="20"
                                        [paginator]="false"
                                        [lazy]="true"
                                        responsiveLayout="stack"
                                        [breakpoint]="'960px'"
                                        [responsive]="primengTableHelper.isResponsive"
                                        [resizableColumns]="primengTableHelper.resizableColumns"
                                    >
                                        <ng-template pTemplate="header" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'">
                                            <tr>
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 80px">{{ l("Actions") }}</th>

                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 80px" pSortableColumn="AgentId">
                                                    {{ l("agent") }}
                                                    <p-sortIcon field="order.AgentId"></p-sortIcon>
                                                </th>
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 155px;" pSortableColumn="customerMobile">
                                                    {{ l("phoneNumber") }} 
                                                     <p-sortIcon field="order.customerMobile"></p-sortIcon>
                                                 </th>
                                                 <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 119px;" pSortableColumn="contactId">
                                                    {{ l("customer") }}
                                                    <p-sortIcon field="order.contactId"></p-sortIcon>
                                                </th>
                                                 <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 100px" pSortableColumn="creationTime">
                                                    {{ l("Date") }}
                                                    <p-sortIcon field="order.creatTime"></p-sortIcon>
                                                </th>
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 100px" pSortableColumn="creationTime">
                                                    {{ l("Time") }}
                                                    <p-sortIcon field="order.creationTime"></p-sortIcon>
                                                </th>
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 100px" pSortableColumn="orderStatus">
                                                    {{ l("Status") }}
                                                    <p-sortIcon field="order.orderStatus"></p-sortIcon>
                                                </th>
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 83px;" pSortableColumn="Total">
                                                    {{ l("total") }}
                                                    <p-sortIcon field="order.total"></p-sortIcon>
                                                </th>

                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 150px" pSortableColumn="TotalPoints">
                                                    {{ l("totalPoints") }}
                                                    <p-sortIcon field="order.total"></p-sortIcon>
                                                </th>

                                               
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 150px" pSortableColumn="OrderType">
                                                    {{ l("type") }}                                                     <p-sortIcon field="order.OrderType"></p-sortIcon>
                                                 </th>
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="min-width: 111px;" pSortableColumn="orderNumber">
                                                    {{ l("orders") }} #
                                                    <p-sortIcon field="order.orderNumber"></p-sortIcon>
                                                </th>


                                             
                                                <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"  style="min-width: 115px;" pSortableColumn="BranchAreaName">
                                                    {{ l("branch") }}
                                                    <p-sortIcon field="order.OrderType"></p-sortIcon> 
                                                </th>

                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                            <tr>
                                                <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" >
                                                    <div
                                                        class="btn-group dropdown"
                                                        dropdown
                                                        container="body"
                                                        *ngIf="!record.order.isLockByAgent || record.order.agentId == appSession.user.id || isAdmin"
                                                    >
                                                        <button [ngClass]="theme != 'theme12' ? 'btn-primary' : 'btn-primary-info'"  class="dropdown-toggle btn btn-sm " style="cursor: pointer" dropdownToggle>
                                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                                        </button>
                                                        <ul  [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''" class="dropdown-menu" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;" class="dropdown-item" (click)="viewOrderModal.show(record, true)">{{ l("view") }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>

                                                <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"(click)="viewOrderModal.show(record, true)">
                                                    <span class="p-column-title"> {{ l("agent") }}</span>
                                                    {{ record.order.lockByAgentName }}
                                                </td>
                                                <td   [ngClass]="{'table-dark': darkModeService.currentSkin === 'dark' , 'ltr': isArabic }"
                                                style=" overflow: hidden; white-space: nowrap; text-overflow: ellipsis"
                                                (click)="viewOrderModal.show(record, false)"
                                            >
                                                <span class="p-column-title">  {{ l("phoneNumber") }}</span>
                                                {{ record.customerMobile }}
                                            </td>
                                            <td   [ngClass]="{'table-dark': darkModeService.currentSkin === 'dark' , 'ltr': isArabic }"  style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;cursor: pointer;" (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("customer") }}</span>
                                                {{ record.customerCustomerName }}
                                            </td>
                                            
                                            <td   [ngClass]="{'table-dark': darkModeService.currentSkin === 'dark' , 'ltr': isArabic }" style="cursor: pointer;" (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("Date") }}</span>
                                                {{ record.creatDate }}
                                            </td>
                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer;" (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("Time") }}</span>
                                                {{ record.creatTime }}
                                            </td>
                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  *ngIf="theme != 'theme12'" style="cursor: pointer;" (click)="viewOrderModal.show(record, false)">
                                                <span class="p-column-title"> {{ l("Status") }}</span>

                                                <span *ngIf="record.orderStatusName == 'Done'"
                                                class="badge badge-success">
                                                {{ l("done") }}
                                            </span>
                                            <span *ngIf="record.orderStatusName == 'Deleted'"
                                                class="badge badge-secondary">
                                                {{ l("deleted") }}
                                            </span>
                                            <span *ngIf="record.orderStatusName == 'Pending'"
                                                class="badge badge-danger">
                                                {{ l("pending") }}
                                            </span>
                                            <span *ngIf="record.orderStatusName == 'Canceled'"
                                                class="badge badge-warning">
                                                {{ l("canceled") }}
                                            </span>
                                            <span *ngIf="record.orderStatusName == 'Pre_Order'"
                                                class="badge badge-secondary">
                                                {{ l("preOrder") }}
                                            </span>
                                            </td>
                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  *ngIf="theme === 'theme12'" style="cursor: pointer;" (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("Status") }}</span>

                                                <span class="w-100 badge-light-success badge badge-pill" *ngIf="record.orderStatusName == 'Done'">
                                                    {{ l("done") }}
                                                </span>
                                                <span *ngIf="record.orderStatusName == 'Deleted'" class="w-100 badge-light-warning badge badge-pill">
                                                    {{ l("deleted") }}
                                                </span>
                                                <span *ngIf="record.orderStatusName == 'Pending'" class="w-100 badge-light-danger badge badge-pill">
                                                    {{ l("pending") }}
                                                </span>
                                                <span *ngIf="record.orderStatusName == 'Canceled'" class="w-100 badge-light-secondary badge badge-pill">
                                                    {{ l("canceled") }}
                                                </span>
                                                <span *ngIf="record.orderStatusName == 'Pre_Order'" class="w-100 badge-light-primary badge badge-pill">
                                                    {{ l("preOrder") }}
                                                </span>
                                            </td>
                                            
                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer;" (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("total") }}</span>
                                                {{ record.order.stringTotal }} <small>{{ currency }}</small>
                                            </td>

                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer; " (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("totalPoints") }}</span>
                                                {{ record.order.totalPoints }} 
                                            </td>
                                            
                                         
                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer; " *ngIf=" theme != 'theme12'" (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("type") }}</span>
                                              <span *ngIf="record.orderTypeName === 'Delivery' ">{{ l("delivery") }}</span>  
                                              <span *ngIf="record.orderTypeName === 'Takeaway' ">{{ l("takeAway") }}</span> 
                                              <span *ngIf="record.orderTypeName === 'Pre_Order' ">{{ l("preOrder") }}</span>  
 

                                            </td>
                                            
                                            <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer; " *ngIf="theme === 'theme12'" (click)="viewOrderModal.show(record, true)">
                                                <span class="p-column-title"> {{ l("type") }}</span>
                                                <span *ngIf="record.orderTypeName === 'Delivery' ">{{ l("delivery") }}</span>  
                                                <span *ngIf="record.orderTypeName === 'Takeaway' ">{{ l("takeAway") }}</span> 
                                                <span *ngIf="record.orderTypeName === 'Pre_Order' ">{{ l("preOrder") }}</span>  
                                            </td>
                                                <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer;" (click)="viewOrderModal.show(record, true)">
                                                    <span class="p-column-title"> {{ l("orders")}} #</span>
                                                    {{ record.order.orderNumber }}
                                                </td>

                                                <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer;" *ngIf="!(record.orderTypeName == 'Takeaway')" (click)="viewOrderModal.show(record, true)">
                                                    <span class="p-column-title"> {{ l("branch") }}</span>
                                                    {{ record.areaCoordinatetow }}
                                                </td>

                                               
                                             
                                                <td [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="cursor: pointer;" *ngIf="record.orderTypeName == 'Takeaway'" (click)="viewOrderModal.show(record, true)">
                                                    <span class="p-column-title"> {{ l("branch") }}</span>
                                                    {{ record.areahNametowTak }}
                                                </td>

                                                <!-- <td *ngIf="record.order.orderRemarks=='CancelByCustomer' && record.orderTypeName=='Takeaway'  && !(record.orderStatusName=='Done')"  style="background-color: red;  font-family: system-ui;cursor: pointer"(click)="viewOrderModal.show(record,true)">
                                        <span class="p-column-title"> {{l('Type')}}</span>
                                        {{record.orderTypeName}} / {{record.areahName}}
                                    </td>
                                    <td style=" background-color: #ffffff;font-family: system-ui;cursor: pointer" *ngIf="!(record.order.orderRemarks=='CancelByCustomer') && record.orderTypeName=='Takeaway' && !(record.orderStatusName=='Done')" (click)="viewOrderModal.show(record,true)">
                                        <span class="p-column-title"> {{l('Type')}}</span>
                                        {{record.orderTypeName}} / {{record.areahName}}
                                    </td>
                                    <td style="background-color: #eae4e4; font-family: system-ui;cursor: pointer" *ngIf="!(record.order.orderRemarks=='CancelByCustomer') && record.orderTypeName=='Takeaway' && (record.orderStatusName=='Done')" (click)="viewOrderModal.show(record,true)">
                                        <span class="p-column-title"> {{l('Type')}}</span>
                                        {{record.orderTypeName}} / {{record.areahName}}
                                    </td> -->

                                               
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ l("NoData") }}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"
                                            [rows]="20"
                                            #paginator
                                            (onPageChange)="getOrders($event)"
                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                            [rowsPerPageOptions]="[10,20,30]"
                                        >
                                        </p-paginator>
                                        <span class="total-records-count">
                                            {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount) }}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <createOrEditOrderModal #createOrEditOrderModal (modalSave)="getOrders()"></createOrEditOrderModal>     -->

                <viewOrderModal #viewOrderModal></viewOrderModal>
            </div>
        </div>
    </div>
</div>
