<div id="OrderModel" bsModal #ViewLoyaltyOrders="bs-modal" class="modal fade"
    tabindex="-1" role="dialog"
    aria-labelledby="ViewLoyaltyOrders" aria-hidden="true" [config]="{ backdrop:
    'static' }">
    
    <div  class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l("viewLoyaltyOrder") }}</span>
                </h4>
                <button type="button" class="p-1 btn-close"
                    data-bs-dismiss="modal" aria-label="Close" (click)="close()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="loyalityOrders.length > 0">
                    <div class="col-12 col-lg-6 " *ngFor="let loyaltyOrders of loyalityOrders">
                    <div class="card" >
                        <div class="card-body loyalityCard">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="p-2">
                                    <h4>
                                        {{ l("order") }} <strong># {{ loyaltyOrders.loyaltyRemainingdays.orderNumber }}</strong>
                                        <b *ngIf="loyaltyOrders.loyaltyRemainingdays.orderType === 0">({{ l("takeAway") }})</b>
                                        <b *ngIf="loyaltyOrders.loyaltyRemainingdays.orderType === 1">({{ l("delivery") }})</b>

                                    </h4>
                                    <small> <b>{{ l("earningDate") }} :</b> {{ loyaltyOrders.loyaltyRemainingdays.createdDate   | date:'short' }} </small>
                                    <br />
                                    <small> <b>{{ l("remainingDays") }} ({{ l("expiry") }}) :</b> {{ loyaltyOrders.loyaltyRemainingdays.remainingdays }} <b>{{ l("Days") }}</b> </small>
                                </div>
                                <div>
                                    <div class="badge mr-1 badge-pill badge-light-success">{{ l("done") }}</div>
                                </div>
                            </div>
                            <div class="filter-img d-flex justify-content-between align-items-center">
                                <div class="item-price color-primary mx-2">
                                    <strong> {{loyaltyOrders.loyaltyRemainingdays.total}} {{appSession.tenant.currencyCode}}</strong>
                                </div>
                                <div class="item-price">
                                    <strong class="point-style mx-2 text-warning">
                                        {{loyaltyOrders.loyaltyRemainingdays.points}}
                                        <i class="bi bi-gift"></i>
                                    </strong>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div *ngIf="loyalityOrders.length <= 0">
                    <h5 class="text-danger">{{ l("NoData") }}</h5>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row d-none d-lg-block">
                    <div class="col-12">
                        <button  type="button" class="btn
                            btn-default waves-effect"
                            (click)="close()">
                            {{ l("Close") }}
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>



