<div bsModal #addFunds="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="addFunds" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span> {{ l("estimateYourWhatsappCost") }}</span>
                </h4>
                <button type="button" class="btn-close" aria-label="Close"
                    (click)="close()"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group w-50">
                        <span class="mr-1"> {{ "country" | localize }}</span>
                        <select (change)="getEstimateCost($event)"
                            name="country"  [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                            [(ngModel)]="selectedCountry">
                            <option [value]="country"
                                *ngFor="let country of countries">{{country}}</option>
                        </select>
                    </div>
                    <p> {{ l("countryNote") }}</p>
                </div>
                <div class="row mt-1">
                    <span class="mr-1"> {{ "totalAmount" | localize }}</span>
                    <div class="form-group d-flex align-items-center">

                        <input (input)="getEstimateCost($event)"
                            name="totalAmount" class="w-50 form-control"
                            type="number" [(ngModel)]="totalAmount"
                            (keypress) = validate($event)  />
                        <span class="ml-1"> {{ "usDollar" | localize }} </span>

                        <input disabled="true"
                        name="totalAmountInSAR" class="w-50 form-control"
                        type="number" [(ngModel)]="totalAmountInSAR"
                       />
                    <span class="ml-1"> {{ "SAR" | localize }} </span>
                    </div>
                </div>
                <div class="row mt-1"
                    *ngIf="totalAmount != null && totalAmount != undefined && totalAmount > 0">
                    <div class="card p-1 m-0">
                        <div class="card-body p-0">
                            <p>{{ "yourTotalAmountWillGiveYou" | localize }}</p>
                            <div class="row">
                                <div class="col">
                                    <p>
                                        <strong>
                                            {{ "either" | localize }}
                                        </strong>
                                    </p>
                                    <p> {{ "utilityMessages" | localize }}
                                        <strong>{{conversationPrice.totalUtilityCount}}</strong>
                                        {{ "conversations" | localize }}
                                    </p>
                                </div>
                                <div class="col">
                                    <p>
                                        <strong>
                                            {{ "or" | localize }}
                                        </strong>
                                    </p>
                                    <p> {{ "marketingMessages" | localize }}
                                        <strong>{{conversationPrice.totalMarketingCount}}
                                        </strong>
                                        {{ "conversations" | localize }}
                                    </p>
                                </div>
                                <!-- <div class="col">
                                    <p>
                                        <strong>
                                            {{ "or" | localize }}
                                        </strong>
                                    </p>
                                    <p> {{ "serviceMessages" | localize }}
                                        <strong>
                                            {{conversationPrice.totalServicesCount}}
                                        </strong>
                                        {{ "conversations" | localize }}
                                    </p>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"
                    (click)="proceedEstimateCost()"
                    [disabled]="totalAmount === null || totalAmount === undefined || totalAmount < 0"
                    type="button" class="btn btn-outline-primary-info">
                    {{ l("proceed") }}
                </button>
            </div>
        </div>
    </div>
</div>
