<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section>
          <div class="card p-1">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between  " >
              <div class="card-title">
                <h4 class="title-compaign-progress" >Campaign</h4>
                <h4 class="numeric-compaign-progress">  {{ dasboardService.campaignData.totalContact
                }}</h4>
                <h4 class="hint-compaign-progress">Total campaign</h4>
              </div>
                <form>
                  <fieldset class="form-group">
                    <ng-select [items]="allCampaigns" class="ng-select"   [(ngModel)]="dasboardService.campaignId"  [bindValue]="'id'" name="title" bindLabel="title"
                      placeholder="Campaign Name"  (change)="dasboardService.getDashboardCampaignInfo()"></ng-select>
                  </fieldset>
                </form>
            </div>
            
            <div class="card-body">

              <div class="progress-wrapper">
                <div class="mb-25">
                  <div class="d-flex justify-content-between">
                    <h4 > <span class="progress-bar-dot Delivered-progress-span" ></span> Delivered </h4>
                    <h3> {{
                      dasboardService.campaignData.totalDelivered
                      }}</h3>
                  </div>
                </div>
                <ngb-progressbar  class="mb-25 Delivered-progress"  [value]="dasboardService.campaignData.totalDelivered"  [max]="dasboardService.campaignData.totalContact"
                
                ></ngb-progressbar>
              </div>

              <div class="progress-wrapper">
                <div class="mb-25">
                  <div class="d-flex justify-content-between">
                    <h4 > <span class="progress-bar-dot Read-progress-span" ></span> Read </h4>
                    <h3> {{
                      dasboardService.campaignData.totalRead }}</h3>
                  </div>
                </div>
                <ngb-progressbar  class="mb-25 Read-progress"  [value]="dasboardService.campaignData.totalRead"   [max]="dasboardService.campaignData.totalContact"
                
                ></ngb-progressbar>
              </div>

              <div class="progress-wrapper">
                <div class="mb-25">
                  <div class="d-flex justify-content-between">
                    <h4 > <span class="progress-bar-dot Send-progress-span" ></span> Send </h4>
                    <h3> {{
                      dasboardService.campaignData.totalSent }}</h3>
                  </div>
                </div>
                <ngb-progressbar  class="mb-25 Send-progress"  [value]="dasboardService.campaignData.totalSent"   [max]="dasboardService.campaignData.totalContact"
                
                ></ngb-progressbar>
              </div>

                <div class="progress-wrapper">
                <div class="mb-25">
                  <div class="d-flex justify-content-between">
                    <h4 > <span class="progress-bar-dot Replied-progress-span" ></span> Replied </h4>
                    <h3> {{
                      dasboardService.campaignData.totalReplied }}</h3>
                  </div>
                </div>
                <ngb-progressbar  class="mb-25 Replied-progress" [value]="dasboardService.campaignData.totalReplied"   [max]="dasboardService.campaignData.totalContact"
                
                ></ngb-progressbar>
              </div>


              <div class="progress-wrapper">
                <div class="mb-25">
                  <div class="d-flex justify-content-between">
                    <h4 > <span class="progress-bar-dot Faild-progress-span" ></span> Faild </h4>
                    <h3> {{
                      dasboardService.campaignData.totalFailed }}</h3>
                  </div>
                </div>
                <ngb-progressbar  class="mb-25 Faild-progress" [value]="dasboardService.campaignData.totalFailed"  [max]="dasboardService.campaignData.totalContact"
                
                ></ngb-progressbar>
              </div>

            </div>

            <div class="row">
              <div class="col-6"
                  [routerLink]="['/app/main/externalContacts']">
                  <p class="text-muted text-decoration-underline">
                      {{ l("detailedReport") }}
                  </p>
              </div>
              <div class="col-6 text-right"
                  [routerLink]="['/app/admin/usage-details']">
                  <p class="text-muted text-decoration-underline">
                      {{ l("usageDetails") }}
                  </p>
              </div>
          </div>

          </div>
    </section>
  </div>
</div>