<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
   <!--// <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedmediastoragestg;AccountKey=+3Gy4ZfF/OSNU4M/EARDUgY2HrkKtK4hEC+VYdYfD3d0N36whp7XzdKRitfX7VJwJOMd1dLoCAvVxzm/dhJV7A==;EndpointSuffix=core.windows.net" />-->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedmediastorageprod;AccountKey=H9ZtPbCTB32FioP7waMAdrGV02pRFPeCTyyFPq3+z8Zz2Py0qxFM3upLGhwRXj6jU9MTSxZAGFke/6zGOhW5MA==;EndpointSuffix=core.windows.net" />
    
	 <!--// <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedmediastoragestg;AccountKey=+3Gy4ZfF/OSNU4M/EARDUgY2HrkKtK4hEC+VYdYfD3d0N36whp7XzdKRitfX7VJwJOMd1dLoCAvVxzm/dhJV7A==;EndpointSuffix=core.windows.net" />-->
   
	  <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=infoseedmediastorageprod;AccountKey=H9ZtPbCTB32FioP7waMAdrGV02pRFPeCTyyFPq3+z8Zz2Py0qxFM3upLGhwRXj6jU9MTSxZAGFke/6zGOhW5MA==;EndpointSuffix=core.windows.net" />
   
  </connectionStrings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>