<div class="payment-detail-container"  >
  <!-- <app-payment-detial  [dahsboardService]="dahsboardService" [svgType]="svgDollarType" [objData]="tableData" ></app-payment-detial> -->
  <hr />

  <div *ngFor="let obj of tableDataPaid; let i = index"  >
    <app-payment-detial   [svgType]="svgBoltType" [objData]="obj" ></app-payment-detial>
    <hr *ngIf="i !== tableDataPaid.length-1" />
  </div>
</div>

<!-- 
<div class="payment-detail-container" >
  <app-payment-detial    [dahsboardService]="dahsboardService" [svgType]="svgDollarType" [objData]="tableData" ></app-payment-detial>
  <hr />

  <div *ngFor="let obj of tableDataPaid; let i = index"  >
    <app-payment-detial [svgType]="svgBoltType" [objData]="obj" ></app-payment-detial>
    <hr *ngIf="i !== tableDataPaid.length-1" />
  </div>
</div> -->