.custome-progresspar{
    height: 0.527rem !important;
}
.custome-dot{
    height: 10px !important;
    width: 10px !important;
}

.spinner-loading{
    display: flex !important;
    justify-content: center !important;
}