.p-tabview-nav {
   justify-content: center !important;
}
.p-tabview-ink-bar{
    display: none !important;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff ;
    border-color: #009789 !important;
    color: #009789 !important;
}


.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:focus {
    background: #ffffff ;
    border-color: #009789 !important;
    color: #009789 !important;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #009789;
  }
  
  ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #009789;
  }
  
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #009789 !important;
    background: #009789 !important;
  }
  
  
  ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #009789 !important;
    background: #009789 !important;
  }


  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #00978924;
    border-color: #00978900;
    color: #009789;
}

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #00978924;
    border-color: #00978900;
    color: #009789;
}

.custom-tabview {
  width: 100%;
}

.tab-nav {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tab-nav li {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: background 0.3s, color 0.3s;
}

.tab-nav li.active {
  background: #ffffff;
  border-color: #009789;
  color: #009789;
}

.tab-nav li.disabled {
  pointer-events: none;
  opacity: 0.6; /* Make disabled tabs look faded */
}

.tab-content {
  padding: 20px;
  border-top: 1px solid #ddd; /* Separate the tabs from the content */
}

.tab-nav li:hover {
  background: #f0f0f0; /* Optional hover effect */
}
