<div bsModal #sendMessageTeamInbox3="bs-modal" class="modal fade" aria-labelledby="sendMessageTeamInbox3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content ">
      <form *ngIf="theme != 'theme12'">
        <div class="modal-header">
          <h4 class="modal-title">
            <span *ngIf="!isEdit">Add New Message</span>
            <span *ngIf="isEdit">Edit Message Template</span>
          </h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
          <button id="btn" type="button" class="btn btn-primary blue" (click)="handleSend()" [buttonBusy]="saving"
            [busyText]="l('SavingWithThreeDot')">
            <i class="fa fa-save"></i>  
            <span>{{ l("Save") }}</span>
          </button>
        </div>
      </form>
      <div [hidden]="theme != 'theme12'">
        <div class="vertical-wizard">
          <div class="modal-header">
            <h4 class="modal-title">
              <span *ngIf="!isEdit">{{ l("addNewMessageTemplate") }}</span>
              <span *ngIf="isEdit">{{ l("EditTemplateMessage") }}</span>
            </h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"
              aria-label="Close"></button>
          </div>
          <div id="stepper3" class="modal-body mb-0 bs-stepper vertical vertical-wizard-example">
            <div class="bs-stepper-header" style="border: none;">
              <div class="step" data-target="#ContactNumberTeaminbox">

                <button type="button" class="step-trigger"></button>
              </div>
              <div class="step" data-target="#personal-info-verticalTeamInbox">
                <button type="button" class="step-trigger"></button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <div id="ContactNumberTeaminbox" class="content">
                <div>
                  <input class="form-control mb-1" type="text" [(ngModel)]="whatsAppName" placeholder="What up Name"
                    [disabled]="isExternal">
                  <p class="text-danger" *ngIf="nextbtn &&!isExternal  && whatsAppName.length==0">{{
                    l("ThisFieldIsRequired") }}</p>

                  <div class="row mb-2">
                    <div class="col-1">

                      <ngx-intl-tel-input class="contact" id="countryCode1" [preferredCountries]="preferredCountries"
                        [enablePlaceholder]="false" [enableAutoCountrySelect]="false" [searchCountryFlag]="false"
                        [selectFirstCountry]="true" [phoneValidation]="true" [separateDialCode]="separateDialCode"
                        [numberFormat]="PhoneNumberFormat.National" (countryChange)="onCountryChange($event)"
                        [disabled]="isExternal" required>
                      </ngx-intl-tel-input>

                    </div>

                    <div class="col-11 mb-2">
                      <input class="form-control" type="text" placeholder="ex:789012345" [(ngModel)]="mobileNumber"
                        (keydown)="preventNonNumeric($event)" [disabled]="isExternal">

                    </div>
                    <p class="text-danger" *ngIf="nextbtn && !isExternal  && mobileNumber.length==0">{{
                      l("ThisFieldIsRequired") }}</p>
                  </div>
                </div>

                <div class=" mb-2">
                  <div class=" m-checkbox-list form-check form-switch my-1">
                    <input class="form-check-input" id="isExternal" type="checkbox" name="isExternal"
                      [checked]="isExternal" (input)="handleIsExternal($event)" />
                    <label for="isExternal" class="kt-checkbox">Send To internal contact</label>
                  </div>
                </div>
                <div class="col-12" *ngIf="isExternal">
                  <div class="form-group">
                    <ng-select [items]="localCust" bindLabel="combinedValue" [trackByFn]="trackByFn"
                      (scrollToEnd)="onScroll()" [loading]="customerApiLoading" typeToSearchText="Please start typying "
                      [typeahead]="customerApiInput$" placeholder="Select whatsapp Number"
                      [(ngModel)]="selectedContact">
                      <ng-option></ng-option>
                    </ng-select>
                  </div>
                  <p class="text-danger" *ngIf="nextbtn && isExternal && selectedContact == null">{{
                    l("ThisFieldIsRequired") }}</p>

                </div>
                <div class="row mt-2">
                  <div class="col-6"></div>
                  <div class="col-6 text-right">
                    <button [disabled]="isValidMobileNumber" class="btn btn-primary-info btn-next"
                      [buttonBusy]="savingNext" (click)="verticalWizardNext()" rippleEffect>
                      <span class="align-middle d-sm-inline-block"> {{ l("next") }}</span>
                    </button>
                  </div>
                </div>
              </div>
              <div id="personal-info-verticalTeamInbox" class="content">
                <div class="content-header">

                </div>

                <div class="row">
                  <div class="form-group">
                    <h3 *ngIf="isExternal && selectedContact">Send Message to {{selectedContact.combinedValue}}</h3>
                    <h3 *ngIf="!isExternal && combinedValue">Send Message to {{combinedValue}}</h3>
                    <label for="template">{{ l("template") }} *</label>

                    <ng-select [items]="getItems()" bindLabel="name" placeholder="Select Template"
                      [(ngModel)]="templateById" (ngModelChange)="getTemplateById($event)">
                    </ng-select>
                  </div>
                  <p class="text-danger" *ngIf="isSubmitted && !templateById">{{
                    l("ThisFieldIsRequired") }}</p>

                  <div *ngIf="templateById" class="row justify-content-center h-100 ">
                    <div
                        *ngIf="templateById?.localTemplateId"
                        class="templateCard w-75 p-1"
                        [ngStyle]="{
                            'border-color': templateById.localTemplateId ? '#d8d6de' : 'transparent',
                            'background-color': templateById.localTemplateId ? 'white' : 'transparent'
                        }"
                    >
                        <div class="card-template p-1">
                            <div class="row mb-1" *ngIf="ComponentHeader?.text">
                                <h4 [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                    {{ ComponentHeader?.text }}
                                </h4>
                            </div>
                            <div class="row mb-1" *ngIf="imageFlag">
                                <img class="p-0" *ngIf="templateById.localTemplateId" src="{{ templateById.mediaLink }}" style="height: 150px" alt="Campaign Image" />
                            </div>
                            <div class="row mb-1" *ngIf="videoFlag">
                                <iframe class="p-0" [src]="templateById.mediaLink | custom" frameborder="0"></iframe>
                            </div>
                            <div class="row mb-1" *ngIf="documentFlag">
                                <iframe class="p-0" [src]="templateById.mediaLink | custom" style="height: 150px" frameborder="0"></iframe>
                            </div>
                            <div class="row body-text-container">
                                <div [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                    <ng-container *ngFor="let item of dynamicTextParts; let i = index">
                                        <span *ngIf="item.type == 'text'">
                                            {{ item.content }}
                                        </span>
                                        <span *ngIf="item.type == 'input'" class="body-text-exampl">
                                            {{checkPattern(item.content) ? '{{' + customeexampleBody[item.index] +'}}' : item.content }}
                                        </span>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="card-footer footerCard p-1 pt-0" *ngIf="ComponentFooter?.text">
                                <small [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                    {{ ComponentFooter.text }}
                                </small>
                            </div>
                        </div>
                        <div class="row buttonText justify-content-center  w-100" *ngIf="ComponentButton?.buttons">
                            <div class="w-50 p-1" *ngFor="let button of ComponentButton.buttons; let i = index">
                                <button class="btn w-100" [ngClass]="{ 'btn-outline-primary-info': i === 0, 'btn-primary-info': i === 1 }">
                                    {{ button.text }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <div  *ngIf="templateById?.localTemplateId && dynamicTextParts.length !==0" class="col-12  p-0 w-75 mt-1">
                      <ng-container *ngFor="let part of dynamicTextParts; let i = index">
                        <ng-container *ngIf="part.type == 'input';">
                          <!-- <label for="template-teamInbox">Custome Field {{ '{{' + ((part.index) + 1) + '}}' }} *</label> -->
                          <label [for]="'var' + (part.index + 1)" class="body-text-exampl">{{(part.index + 1)}} {{ '{{' + customeexampleBody[part.index] + '}}' }} *</label>

                          <input class="form-control" id="template-teamInbox" name="template-teamInbox"
                            [(ngModel)]="inputs[part.index].value" (ngModelChange)="updateText()"
                            [placeholder]="'Start Typing...'"
                            (keypress)="onKeyPress($event , inputs[part.index].value)"
                            />
                          <p class="text-danger" *ngIf="isSubmitted && inputs[part.index].value.length === 0">{{
                            l("ThisFieldIsRequired") }}</p>
                        </ng-container>
                      </ng-container>
                    </div>

                  </div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                  <button class="btn btn-outline-primary-info btn-prev h-25" (click)="verticalWizardPrevious()"
                    rippleEffect>
                    <span class="align-middle d-sm-inline-block"> {{ l("previus") }}</span>
                  </button>
                  <div>

                    <button id="btnSend" type="button" class="btn btn-primary-info" (click)="handleSend(false)"
                      [buttonBusy]="saving && !isScheduleBtn">
                      {{l("sendNow") }}
                    </button>

                    <!-- <div class=" m-checkbox-list form-check form-switch my-1">
                      <input class="form-check-input" id="Schedule" type="checkbox" name="Schedule"
                        (input)="handleIsSchedule($event)" />
                      <label for="Schedule" class="kt-checkbox">Schedule Message</label>
                    </div> -->


                    <div *ngIf="isSchedule===true">

                      <p-calendar [(ngModel)]="dateAndTime" [iconDisplay]="'input'" [showTime]="true"
                        [minDate]="minDate" [showIcon]="true" class="btn-primary-info my-1"></p-calendar>

                      <div class="my-1">
                        <button id="btnSend" type="button" class="btn btn-primary-info" (click)="handleSend(true)"
                          [buttonBusy]="saving && isScheduleBtn">
                          {{l("messageSchedualing") }}
                        </button>
                      </div>

                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>