<div bsModal #createCampaign="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createCampaign" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div>
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ l("createCampaign") }}</span>
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 mb-1">
                            <div class="form-group">
                                <label for="campaignTitle"> {{ l("title") }} *</label>
                                <input
                                    maxlength="30"
                                    class="form-control"
                                    id="campaignTitle"
                                    type="text"
                                    [(ngModel)]="campaign.title"
                                    name="campaignTitle"
                                    required
                                    #campaignTitle="ngModel"
                                />
                                <div class="row">
                                    <div class="col-6">
                                        <p class="text-danger" *ngIf="submitted && campaignTitle.invalid">{{ l("ThisFieldIsRequired") }}</p>
                                    </div>
                                    <div class="col-6 text-right p-0">
                                        <span class="text-muted p-0"> 30 {{ l("character") }} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                 

                        <!-- <div class="col-6 mb-1">
                                        <div class="form-group">
                                            <label for="campaignLanguage">{{l("Language") }} *</label>
                                            <select  class="form-control"  id="campaignLanguage" name="campaignLanguage"
                                                [(ngModel)]="campaign.language" required
                                                [class.error]="submitted && language.invalid" #language="ngModel">
                                                <option *ngFor="let l of languageEnum" [value]="l.id">{{ l.name }}
                                                </option>
                                            </select>
                                            <p class="text-danger" *ngIf="submitted && language.invalid">{{l("ThisFieldIsRequired") }}</p>    
                                        </div>
                            </div> -->
                        <div class="col-6 mb-1">
                            <div class="form-group">
                                <label for="template">{{ l("template") }} *</label>
                                <select
                                    class="form-control"
                                    id="template"
                                    name="template"
                                    [(ngModel)]="campaign.templateId"
                                    required
                                    [class.error]="submitted && templates.invalid"
                                    #templates="ngModel"
                                >
                                    <option *ngFor="let t of template" [value]="t.localTemplateId">{{ t.name }}</option>
                                </select>
                                <p class="text-danger" *ngIf="submitted && templates.invalid">{{ l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                    <button type="button" class="btn btn-primary-info mr-1" (click)="save()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')">
                        {{ l("next") }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
