<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static', keyboard: !saving }"
>
    <div class="modal-dialog modal-lg">
        <div *ngIf="theme != 'theme12'" class="modal-content">
            <form #templateForm="ngForm">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>View Send History</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="w-100" *ngIf="totalCampaignHistory != 0">
                        <tr>
                            <th style="width:100px">
                                Sent By
                            </th>
                            <th style="width:100px">
                                Sent Time
                            </th>
                            <th style="width:100px">
                                #Sent
                            </th>
                            <th style="width:100px">
                                #Delivered
                            </th>
                            <th style="width:100px">
                                #Read
                            </th>
                            <th style="width:100px">
                                #Failed
                            </th>
                        </tr>
                        <tr *ngFor="let item of campaignHistory; let i = index"  >
                            <td style="width:100px">
                                {{ item.userName }}
                            </td>
                            <td style="width:100px">
                                {{ item.sentTime | date: "short"}}
                            </td>
                            <td style="width:100px">
                                {{ item.sent}}
                            </td>
                            <td style="width:100px">
                                {{ item.delivered}}
                            </td>
                            <td style="width:100px">
                                {{ item.read}}
                            </td>
                            <td style="width:100px">
                                {{ item.failed}}
                            </td>
                        </tr>
                    </table>
                    <div  class="row" *ngIf="totalCampaignHistory === 0">
                        <h5>This Message Doesn't have History Yet ! </h5>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
                    <button type="button" (click)="generateReport(campaignHistory[0].campaignId,campaignHistory[0].templateId)" class="btn btn-light" >{{l("generateReport")}} </button>
                </div>
            </form>
        </div>
        <div *ngIf="theme === 'theme12'">
            <form #templateForm="ngForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            <span>{{l("viewHistory")}}</span>
                        </h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <table     [ngClass]="darkModeService.currentSkin === 'dark' ? 'darrk' : ''"  class="w-100" *ngIf="totalCampaignHistory != 0">
                            <tr>
                                <th style="width:100px">
                                    {{l("sentBy") }}
                                </th>
                                <th style="width:100px">
                                    {{l("created") }}
                                </th>
                                <th style="width:100px">
                                    #{{l("sent") }}
                                 </th>
                                 <th style="width:100px">
                                    #{{l("deliverd") }}
                                 </th>
                                 <th style="width:100px">
                                    #{{l("read") }}
                                 </th>
                                 <th style="width:100px">
                                    #{{l("Failed") }}
                                 </th>
                            </tr>
                            <tr *ngFor="let item of campaignHistory; let i = index"  >
                                <td style="width:100px">
                                    {{ item.userName }}
                                </td>
                                <td style="width:100px">
                                    {{ item.sentTime | date: "short"}}
                                </td>
                                <td style="width:100px">
                                    {{ item.sent}}
                                </td>
                                <td style="width:100px">
                                    {{ item.delivered}}
                                </td>
                                <td style="width:100px">
                                    {{ item.read}}
                                </td>
                                <td style="width:100px">
                                    {{ item.failed}}
                                </td>
                            </tr>
                        </table>
                        <div class="row" *ngIf="totalCampaignHistory === 0">
                            <h5  >{{l("noCampaignHistory") }} </h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="close()">{{l("Cancel") }} </button>
                        <button type="button" (click)="generateReport(campaignHistory[0].campaignId,campaignHistory[0].templateId)" class="btn btn-light" >
                            {{l("generateReport") }} </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
