<div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="d-flex flex-column flex-column-fluid">

                <sub-header *ngIf="theme === 'theme12'"
                    [title]="'usageTransactionsDetails' | localize"
                    [description]="'usageDetails' | localize"> </sub-header>
                <!-- end of theme 12 sub header-->
                <div [ngClass]="theme != 'theme12' ? 'container' : ''">
                    <div class="card card-custom gutter-b">
                        <div class="card-body">
                            <div class="row p-1">
                                <div class="col-12 text-right p-0">
                                    <button (click)="exportToExcel()" class="btn btn-outline-primary-info mr-1">
                                    <i class="fa fa-file-excel"></i> {{ l("ExportToExcel") }}
                                </button>
                                </div>
                            </div>
                            <div class="row p-1">
                                <div class="col-12 col-lg-4">
                                    <div class="form-group d-flex align-items-center">
                                        <span> {{ l("groupBy") }}</span>
                                        <select [(ngModel)]="groupedBy"
                                            (change)="getUsageDetails()"
                                            [ngClass]="darkModeService.currentSkin === 'dark' ?
                                            'form-control-dark ' : 'form-control'">
                                            <option
                                                value>
                                                {{ l("All")
                                                }}
                                            </option>
                                            <option
                                                value="Marketing Conversations">
                                                {{ l("MarketingMessages")
                                                }}
                                            </option>
                                            <option
                                                value="Utility Conversations">
                                                {{ l("utilityMessages") }}
                                            </option>
                                            <!-- <option value="Service Conversation">
                                                {{ l("serviceMessages") }}
                                            </option> -->
                                            <option value="Deposit">
                                                {{ l("deposit") }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                              
                                <div class="col-12 col-lg-4">
                                        <div class="form-group d-flex align-items-center">
                                            <span> {{ l("selectDateRange") }}</span>
                                            <input   [ngClass]="darkModeService.currentSkin === 'dark' ?
                                            'form-control-dark ' : 'form-control'"
                                            class="form-control" name="range-input"
                                             placement="right"
                                            (ngModelChange)="onDateRangeUpdate($event)"
                                            [(ngModel)]="dateRange" [bsValue]="dateRange"
                                            [bsConfig]="dateRangePickerOptions"
                                            bsDaterangepicker />
                                            </div>
                                </div>
                                <div class="col-12 col-lg-4">
                                    <div class="form-group d-flex align-items-center">
                                        <span> {{ l("campaignName") }}</span>
                                        <select [(ngModel)]="campaignId"
                                            (change)="getUsageDetails()"
                                            [ngClass]="darkModeService.currentSkin === 'dark' ?
                                            'form-control-dark ' : 'form-control'">
                                            <option
                                                value="0">
                                                {{ l("All")}}
                                            </option>
                                            <option *ngFor="let campaign of allCampaigns"
                                                [value]="campaign.id">
                                                {{ campaign.title }}
                                            </option>
                                           
                                        </select>
                                    </div>
                                </div>
                            </div>
                      
                            <div class="row">

                                <div class="align-items-center">
                                    <!--<Primeng-Datatable-Start>-->
                                    <div
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                        class="primeng-datatable-container"
                                        [busyIf]="primengTableHelper.isLoading">
                                        <p-table
                                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                            #dataTable class="table-responsive"
                                            [scrollbarV]="true"
                                            [scrollbarH]="true"
                                            (onLazyLoad)="getUsageDetails($event)"
                                            [value]="primengTableHelper.records"
                                            rows="20" cols="10"
                                            [paginator]="false" [lazy]="true"
                                            [scrollable]="true"
                                            ScrollWidth="100%"
                                            [responsive]="true"
                                            [resizableColumns]="primengTableHelper.resizableColumns">
                                            <ng-template pTemplate="header"
                                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'">
                                                <tr>
                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        style="width: 100px">
                                                        {{ l("categoryType") }}
                                                    </th>
                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        style=" width: 100px">
                                                        {{ l("Date") }}
                                                    </th>
                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        style=" width: 100px">
                                                        {{ l("sentBy") }}
                                                    </th>

                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        class
                                                        style="width: 100px">
                                                        {{ l("templateName") }}
                                                    </th>

                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        class
                                                        style="width: 100px">
                                                        {{ l("campaignName") }}
                                                    </th>
                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        class
                                                        style="width: 100px">
                                                        {{ l("quantity") }}
                                                    </th>
                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        class
                                                        style="width: 100px">
                                                        {{ l("totalCost") }} $
                                                    </th>
                                                    <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        class
                                                        style="width: 100px">
                                                        {{ l("totalCreditRemaining")
                                                        }} $
                                                    </th>
                                                    <!-- <th
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''"
                                                        class
                                                        style="width: 100px">
                                                        {{ l("countries") }}
                                                    </th> -->
                                                </tr>
                                            </ng-template>
                                            <ng-template pTemplate="body"
                                                let-record="$implicit"
                                                let-i="rowIndex">
                                                <tr [ngClass]="record.categoryType === 'Utility Conversations' || record.categoryType === 'Marketing Conversations' ? 'cursor-pointer' :'' " 
                                                
                                                (click)="clickOnMArketingOrUtility(record)">

                                                    <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("categoryType")
                                                            }}</span>
                                                        {{ record.categoryType
                                                        }}
                                                    </td>
                                                    <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("Date") }}</span>
                                                    
                                                        {{ record.transactionDate  | date : "YYYY-MM-dd" }}

                                                    </td>

                                                    <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("sentBy") }}</span>
                                                        {{ record.doneBy }}
                                                    </td>

                                                    <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("templateName")
                                                            }}</span>
                                                        {{record.templateName}}
                                                    </td>
                                                    <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("campaignName")
                                                            }}</span>
                                                        {{record.campaignName}}
                                                    </td>
                                                    <td
                                                    *ngIf="record.categoryType!='Deposit'"
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("quantity") }}</span>
                                                        {{record.totalQuantity}}
                                                    </td>
                                                    <td
                                                    *ngIf="record.categoryType=='Deposit'"
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                    style="width: 100px">
                                                    <span
                                                        class="p-column-title">
                                                        {{ l("quantity") }}</span>
                                                        {{ (record.totalTransaction / 0.014) | number:'1.0-0' }}
                                                    </td>
                                                    <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("totalCost") }}</span>
                                                        {{record.totalTransaction}}
                                                    </td>
                                                    <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("totalCreditRemaining")
                                                            }}</span>
                                                        {{record.totalRemaining}}
                                                    </td>
                                                    <!-- <td
                                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"
                                                        style="width: 100px">
                                                        <span
                                                            class="p-column-title">
                                                            {{ l("countries") }}</span>
                                                        {{record.country}}
                                                    </td> -->

                                                </tr>
                                            </ng-template>
                                        </p-table>
                                        <div class="primeng-no-data"
                                            *ngIf="primengTableHelper.totalRecordsCount == 0">
                                            {{ l("NoData") }}
                                        </div>
                                        <div class="primeng-paging-container">
                                            <p-paginator
                                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"
                                                [rows]="20" #paginator
                                                (onPageChange)="getUsageDetails($event)"
                                                [totalRecords]="primengTableHelper.totalRecordsCount"
                                                [rowsPerPageOptions]="[10,20,30,1000]">
                                            </p-paginator>
                                            <span class="total-records-count">
                                                {{ l("TotalRecordsCount",
                                                primengTableHelper.totalRecordsCount)
                                                }}
                                            </span>
                                            <div class="row" *ngIf="usageDetails.totalSent != undefined">
                                          
                                                <div class="col-4 col-4 border p-2 rounded-top rounded-right rounded-bottom rounded-left">
                                                    <p>
                                                        {{ l("usageDetailsNote")}} :
                                                    </p>
                                                    <p>
                                                        {{ l("totalcontactsThat")}}
                                                    </p>
                                                    <p>
                                                        {{ l("sent")}}: <strong>{{usageDetails.totalSent}}</strong>
                                                    </p>
                                                    <p>
                                                        {{ l("deliverd")}}: <strong>{{usageDetails.totalDelivered}}</strong>
                                                    </p>
                                                    <p>
                                                        {{ l("read")}}: <strong>{{usageDetails.totalRead}}</strong>
                                                    </p>
                                                    <p>
                                                        {{ l("replied")}}: <strong>{{usageDetails.totalReplied}}</strong>
                                                    </p>
                                                    <p>
                                                        {{ l("Failed")}}: <strong>{{usageDetails.totalFailed}}</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                 
                                    </div>
                                    <!--<Primeng-Datatable-End>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>