<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #orderForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="order.id">{{l("EditOrder")}}</span>
                        <span *ngIf="!order.id">{{l("CreateNewMenu")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

								<!-- <div class="form-group">
									<label for="Order_OrderNumber">{{l("OrderNumber")}} *</label>
									<input type="number" id="Order_OrderNumber" class="form-control" [(ngModel)]="order.orderNumber" name="OrderNumber"   required/>
								</div>
					
								<div class="form-group">
									<label for="Order_OrderRemarks">{{l("OrderRemarks")}}</label>
									<input type="text" id="Order_OrderRemarks" class="form-control" [(ngModel)]="order.orderRemarks" name="OrderRemarks"    minlength="0"  maxlength="450"  required/>
								</div>

					
								<div class="form-group">
									<label for="Order_CreationTime">{{l("CreationTime")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="order.creationTime" id="Order_CreationTime" name="Order_CreationTime">
								</div>

                                <div class="form-group">
									<label for="Order_OrderTime">{{l("OrderTime")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="order.orderTime" id="Order_OrderTime" name="Order_OrderTime">
								</div>
					
                                <div class="form-group">
									<label for="Order_DeletionTime">{{l("DeletionTime")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="order.deletionTime" id="Order_DeletionTime" name="Order_DeletionTime">
								</div>

                                <div class="form-group">
									<label for="Order_LastModificationTime">{{l("LastModificationTime")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="order.lastModificationTime" id="Order_LastModificationTime" name="Order_LastModificationTime">
								</div> -->

          

				
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!orderForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>