<div class="form-group" >
  <h2>Catalog setup</h2>
  <p style="color: #6b757a;">
      Connecting a catalog will allow customers to view, message, and send carts containing your products and services via WhatsApp.
  </p>
  <div class="catalog-note">
      <!-- Placeholder for the lamp icon (without color) -->
      <p class="circle">i</p>
      <span>
      </span>
      <span class="note-text">
          Please note that you cannot add media to this template. Instead, you can link your catalog to showcase your products.
      </span>
  </div>
  <button class="connect-button">Connect Catalog</button>
 </div>