
.circle {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 50%;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.catalog-note {
    background-color: #8888883d; 
    padding: 15px; 
    border-radius: 5px; 
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-top: 15px; 
    word-wrap: break-word;
  }
  
  .icon-lamp {
    font-size: 24px; /* Size of the lamp icon */
    color: inherit; /* Use inherited color (no specific color applied) */
  }
  
  .note-text {
    color: #333; /* Text color for the note */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
  }
  .note-text-Auth {
    color: #f1f4f7; /* Text color for the note */
    white-space: pre-wrap; /* Preserve whitespace and allow wrapping */
  }
  
  .connect-button {
    margin-top: 20px; /* Space above the button */
    padding: 10px 20px; /* Button padding */
    color: white; /* Text color for the button */
    background-color:#0a78be ;
    border: 2px solid #0a78be; /* Border color */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effects */
  }
  
  /* Button hover effects */
  .connect-button:hover {
    background-color: #0061a0; /* Background color on hover */
  }
  
  .buttonText{
    background-color: white;
    padding: 1%;
    padding-left: 18px;
    
  }
  .buttonText:hover {
    background-color: #f7f7f7; /* Change to your desired hover color */
  }
  .buttonTextContainer{
    padding-top: 20px;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 2%;
  
  }
  
  .buttonTextContainer:hover{
    background-color: #eceded;
    padding: 2%;
    
  }
  .buttonText input{
    background-color: #f1f4f7;
  }
  
  .form-group.active {
    background-color: #eef7ff;
    border-left: 5px solid #2196f3;
  }

  
  
  .form-group {
    margin-bottom: 25px;
    border-radius: 5px;
    border: 2px solid #e1e1e1;
    padding: 1%;
    border-radius: 5px;
    border: solid  #888 ;
  }
  