::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color 0.2s linear, width 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
    width: 6px;
    right: 2px;
    position: absolute;
      }
      .main-menu .navbar-header{
        width: unset!important;
      }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  #aaa; 
    width: 6px;
  }
  .ps__rail-y.ps--clicking .ps__thumb-y, .ps__rail-y:focus>.ps__thumb-y, .ps__rail-y:hover>.ps__thumb-y {
    background-color: #999;
    width: 6px!important;
}
.ps .ps__rail-y:hover{
width: 6px;
}
  .shadow-bottom-dark{
    background: linear-gradient(180deg, #283046 44%, rgba(40, 48, 70, 0.51) 73%, rgba(40, 48, 70, 0))!important;
}
  

#sidebar.hide {
  width: 100px;
}
#sidebar:hover{
  width: 260px!important;
}
.menu-a-dark{
  background: #0c102a;
  border-radius: 6px;
  background-color: #161d31 !important
}
.menu-item.menu-item-here > .menu-link {
  background: linear-gradient(118deg, #009789, #009789);
  box-shadow: 0 0 10px 1px #b1e0dc;
  color: #fff !important;
  font-weight: 400;
  border-radius: 4px;
}
.menu-item.menu-item-here > .menu-link-dark {
  background: linear-gradient(118deg, #009789, #009789);
  box-shadow: none;
  color: #ffff !important;
  font-weight: 400;
  border-radius: 4px;
}
.main-menu.menu-light .navigation li .menu-link-dark {
  color: #d0d2d6 ;
  padding: 10px 15px;
  line-height: 1.45;
}
.aside-menu .menu-nav .menu-submenu {
  display: none;
  float: none;
  margin: 0;
  padding: 0;
}
.pl-6{
padding-left: 20px;
}
.f-right{
float: right;
}
.main-menu .navbar-header .navbar-brand .brand-text {
color : #009789!important;
padding-right : 1rem;
margin-bottom : 0;
font-weight : 600;
letter-spacing : 0.01rem;
font-size : 1.45rem;
-webkit-animation : 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
        animation : 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) 0s normal forwards 1 fadein;
}
.w-80{
width: 36%!important;
}
.w-0{
width: 0% !important;
}
.main-menu.menu-light .navigation li a {
padding: 10px 15px 10px 11px!important;
font-weight: bold;

}
.vertical-overlay-menu .main-menu .navigation li.has-sub > a:after {
  top: 18px!important;
}

.dark-layout .main-menu .collapse-toggle-icon {
  color: #009789!important;
}
