<!-- Calendar Add/Update/Delete event modal-->
<div class="modal-dialog sidebar-lg">
  <div class="modal-content p-0">
    <div class="modal-header mb-1">
      <h5 class="modal-title" *ngIf="isDataEmpty">{{ l("add")}} {{ l("event")}} </h5>
      <h5 class="modal-title" *ngIf="!isDataEmpty">{{ l("update")}} {{ l("event")}} </h5>

      <button *ngIf="theme != 'theme12'" type="button" class="btn-close"
        aria-label="Close" (click)="_calendarService.addEventt()">X</button>
    </div>
    <div class="modal-body flex-grow-1 pb-sm-0 pb-3" [ngClass]="theme !=
      'theme12' ? 'scrollable': ''">
      <div class="form-group">
        <label for="title" class="form-label">{{ l("customer")}}</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          required
          (input)="getName($event)"
          [disabled]="!isDataEmpty"
          [(ngModel)]="createEvent.customerName"
          #customerName="ngModel"
          />
        <p class="text-danger" *ngIf="submitted && customerName.invalid">
          {{ l("ThisFieldIsRequired")}}
          </p>

      </div>
      <div class="form-group">
        <label for="phoneNumber" class="form-label"> {{ l("phoneNumber")}}</label>
      
        <ngx-intl-tel-input
          required
          class="d-block"
          [disabled]="!isDataEmpty"
          [class.error]="submitted && phoneNumberr.invalid"
          #phoneNumberr="ngModel"
          [preferredCountries]="[CountryISO.SaudiArabia]"
          (countryChange)="getCountryCode($event)"
          [enableAutoCountrySelect]="false" [enablePlaceholder]="false"
          [searchCountryFlag]="true"
          [searchCountryField]="[SearchCountryField.Iso2,
          SearchCountryField.Name]" [(ngModel)]="phoneNumber"
          [selectedCountryISO]="CountryISO.SaudiArabia" [phoneValidation]="true"
          name="phone">
        </ngx-intl-tel-input>

        <p class="text-danger" *ngIf="submitted && phoneNumberr.invalid"> {{ l("ThisFieldIsRequired")}}</p>
      </div>

      <div class="form-group">
        <label for="date" class="form-label"> {{ l("SelectDate")}}</label>

        <ng2-flatpickr

          [config]="endDateOptions"
          [setDate]="eventDate"
          #endDatePicker
          required
          [class.error]="submitted &&
          !endDatePicker.flatpickrElement.nativeElement.children[0].willValidate"></ng2-flatpickr>
     
        <p class="text-danger" *ngIf="submitted &&
          endDatePicker.flatpickrElement.nativeElement.children[0].value ===
          ''"> {{ l("ThisFieldIsRequired")}}</p>

      </div>

      <div class="form-group" *ngIf="branches.length> 0">
        <label for="branch" class="form-label"> {{ l("branches")}}</label>
        <select
          name="branch"
          [(ngModel)]="createEvent.areaId"
          [ngClass]="darkModeService.currentSkin === 'dark' ?
          'form-control-dark' : 'form-control'"
          id="branch"
          required
          [class.error]="submitted && branch.invalid"
          #branch="ngModel"
          (ngModelChange)="changeBranch($event)"
          [disabled]="!isDataEmpty">
          <option disabled value="null"></option>
          <option *ngFor="let branch of branches" [value]="branch.id"
            style="font-family: system-ui; font-size: 20px">
            {{branch.areaName}}
          </option>
        </select>
        <p class="text-danger" *ngIf="submitted && branch.invalid"> {{ l("ThisFieldIsRequired")}}</p>
      </div>

    


    <div class="form-group" *ngIf="branches.length> 0 && isAdmin">
      <label for="date" class="form-label"> {{ l("agentName")}}</label>
      <select
        name="branch"
        [(ngModel)]="createEvent.userId"
        [ngClass]="darkModeService.currentSkin === 'dark' ?
        'form-control-dark' : 'form-control'"
        id="userName"
        required
        [class.error]="submitted && drName.invalid"
        #drName="ngModel"
        [disabled]="!isDataEmpty">
        <option disabled value="null"></option>
        <option
          *ngFor="let user of users" [value]="user.id"
          style="font-family: system-ui; font-size: 20px">
          {{user.name}}
        </option>

      </select>
      <p class="text-danger" *ngIf="submitted && drName.invalid"> {{ l("ThisFieldIsRequired")}}</p>
    </div>

    <div class="form-group">
      <label for="title" class="form-label"> {{ l("note")}}</label>
      <textarea
        type="text"
        class="form-control"
        id="note"
        name="note"
        [(ngModel)]="createEvent.note"
        [disabled]="!isDataEmpty">
      </textarea>
    </div>

    <div class="form-group">
      <label for="language" class="form-label"> {{ l("templateLanguage")}} </label>
      <select
        [ngClass]="darkModeService.currentSkin === 'dark' ?
        'form-control-dark' : 'form-control'"
        id="language"
        (ngModelChange)="changeLanguage($event)"
        name="language"
        [(ngModel)]="createEvent.languageId"
        required
        [class.error]="submitted && tempLang.invalid"
        #tempLang="ngModel"
        [disabled]="!isDataEmpty">
        <option *ngFor="let language of languageEnum" [value]="language.id">{{
          language.name }}</option>
      </select>
      <p class="text-danger" *ngIf="submitted && tempLang.invalid">{{ l("ThisFieldIsRequired")}}</p>
    </div>

    <div class="form-group" *ngIf="!isDataEmpty && show">
      <label for="event-guests" class="form-label">{{ l("deleteReason")}}</label>
      <select
        [ngClass]="darkModeService.currentSkin === 'dark' ?
        'form-control-dark' : 'form-control'"
        id="deleteReason"
        name="deleteReason"
        [(ngModel)]="createEvent.deletionReasonId"
        (change)="getTemplateMessageById($event)"
        [disabled]="createEvent.statusId === 5 && disabled"
        required>
        <option *ngFor="let template of templates"
          [value]="template.templateMessage.id">{{
          template.templateMessage.templateMessageName }}
        </option>
      </select>
      <p class="text-danger" *ngIf="submitted2 && (createEvent.deletionReasonId
        === null || createEvent.deletionReasonId === undefined)">{{ l("ThisFieldIsRequired")}}</p>
    </div>


    <!--buttons-->
    <div class="form-group d-flex mt-1" *ngIf="!isLoading">
      <button
        type="button"
        class="btn btn-primary-info add-event-btn mr-1"
        *ngIf="isDataEmpty && (createEvent.statusId != 4 &&
        createEvent.statusId != 5) "
        (click)="addEvent()"
        [disabled]="saving"
        rippleEffect>
        {{ l("Save")}}
      </button>

      <button type="button" *ngIf="!isDataEmpty && (createEvent.statusId != 4
        && createEvent.statusId != 5 && createEvent.statusId != 1)" class="btn
        btn-primary-info
        update-event-btn
        mr-1"
        [disabled]="saving" (click)="updateEvent()" rippleEffect>
        {{ l("update")}}
      </button>

      <button *ngIf="!isDataEmpty && createEvent.statusId === 1"
        (click)="confirm()" [disabled]="saving" class="btn
        btn-outline-primary-info
        btn-delete-event" rippleEffect> {{ l("confirm")}} </button>

      <!--delete-->
      <button *ngIf="!isDataEmpty && (createEvent.statusId != 4 &&
        createEvent.statusId != 5 ) && !show"
        (click)="showDeleteMessage()" [disabled]="saving" class="btn
        btn-outline-danger
        btn-delete-event" rippleEffect> {{ l("Delete")}}</button>


      <button *ngIf="!isDataEmpty && (createEvent.statusId != 4 &&
        createEvent.statusId != 5 ) && show"
        (click)="deleteEvent()" [disabled]="saving" class="btn
        btn-outline-danger
        btn-delete-event" rippleEffect> {{ l("Delete")}}</button>

     
      <button
        type="button"
        *ngIf="!isDataEmpty && createEvent.customerId"
        class="btn btn-primray-info-outline "
        data-dismiss="modal"
        [disabled]="saving"
        [routerLink]="['/app/main/teamInbox/teamInbox12']" [queryParams]="{
        CustomerID: createEvent.customerId}">
        {{ l("Chat")}}
      </button>

    </div>

    <div class="row justify-content-center" *ngIf="isLoading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class=" m-auto templateCard w-100 p-3" *ngIf="isDataEmpty &&
      showArabic">
      <span class="arrow"><svg viewBox="0 0 8 13" width="8" height="13"
          class=""><path opacity=".13" fill="#0000000" d="M1.533 3.568 8
            12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z"></path><path
            fill="currentColor" d="M1.533 2.568 8 11.193V0H2.812C1.042 0 .474
            1.156 1.533 2.568z"></path></svg></span>
      <div class="card-body p-2">
        <div class="row mb-1">
          <h6 class="rtl overflow-wrap" *ngIf="textArabic">
            {{ textArabic}}
          </h6>
        </div>
      </div>
    </div>

    <div class=" m-auto templateCard w-100 p-3" *ngIf="!showArabic &&
      isDataEmpty">
      <span class="arrow"><svg viewBox="0 0 8 13" width="8" height="13"
          class=""><path opacity=".13" fill="#0000000" d="M1.533 3.568 8
            12.193V1H2.812C1.042 1 .474 2.156 1.533 3.568z"></path><path
            fill="currentColor" d="M1.533 2.568 8 11.193V0H2.812C1.042 0 .474
            1.156 1.533 2.568z"></path></svg></span>
      <div class="card-body p-2">
        <div class="row mb-1">
          <h6 class="ltr overflow-wrap" *ngIf="textEnglish">
            {{ textEnglish }}
          </h6>
        </div>
      </div>
    </div>
    </div>


  </div>
</div>
<!--/ Calendar Add/Update/Delete event modal-->