<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #serviceTypeForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="serviceType.id">{{l("EditServiceType")}}</span>
                        <span *ngIf="!serviceType.id">{{l("CreateNewServiceType")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 


								<div class="form-group">
									<label for="ServiceType_ServicetypeName">{{l("ServicetypeName")}} *</label>
									<input type="text" #ServiceType_ServicetypeName="ngModel" id="ServiceType_ServicetypeName" class="form-control" [(ngModel)]="serviceType.servicetypeName" name="ServicetypeName"   minlength="3"  maxlength="1024"  required/>
								    <validation-messages [formCtrl]="ServiceType_ServicetypeName"></validation-messages>
								</div>
					
								<br/><div class="m-checkbox-list">
									<label for="ServiceType_IsEnabled" class="kt-checkbox">
										<input id="ServiceType_IsEnabled" #ServiceType_IsEnabled="ngModel" type="checkbox" name="IsEnabled" [(ngModel)]="serviceType.isEnabled"> 
										{{l("IsEnabled")}}
										<span></span>
									</label>
									<validation-messages [formCtrl]="ServiceType_IsEnabled"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ServiceType_CreationDate">{{l("CreationDate")}}</label>
									 <input required class="form-control m-input" #ServiceType_CreationDate type="datetime" bsDatepicker  datePickerMomentModifier  [(date)]="serviceType.creationDate" id="ServiceType_CreationDate" name="ServiceType_CreationDate">
									<validation-messages [formCtrl]="ServiceType_CreationDate"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!serviceTypeForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>