
<div class="form-group" >
  <h3>Button</h3>
  <div class="catalog-note">
    <p class="circle">i</p>
      <span class="note-text">
       <p> Only one button is supported for this type of template. The button text is not editable.  </p>
      </span>
  </div>
  <div class="buttonTextContainer">
    <div class="buttonText"  *ngFor="let button of Buttons.buttons ; let i = index">
      <label for="CatalogButton">Button Text</label>
      <input 
        id="CatalogButton" 
        [(ngModel)]="button.text"
        readonly 
        type="text" 
      />
      </div>
  </div>
</div>