<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/611069e5-4027-4c5b-bd5e-48eb58ffdddc/resourceGroups/STGlinux_RG/providers/Microsoft.Web/sites/infoseedordersystem-stg</ResourceId>
    <ResourceGroup>STGlinux_RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://infoseedordersystem-stg.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>4fa2c492-65f0-4218-953c-7705aeeb18c0</ProjectGuid>
    <PublishUrl>https://infoseedordersystem-stg.scm.azurewebsites.net/</PublishUrl>
    <UserName>$infoseedordersystem-stg</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>