<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
    <h1>Basic</h1>
    <!-- basic progress -->
    
    <section>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <h4 class="card-title">Basic Progress</h4>
            <div class="card-body">
              <div class="demo-vertical-spacing">
                <div class="progress-wrapper">
                  <div class="mb-25">Reticulating splines&hellip; 0%</div>
                  <ngb-progressbar type="primary" [value]=""></ngb-progressbar>
                </div>
                <div class="progress-wrapper">
                  <div class="mb-25">Reticulating splines&hellip; 25%</div>
                  <ngb-progressbar type="primary" [value]=""></ngb-progressbar>
                </div>
                <div class="progress-wrapper">
                  <div class="mb-25">Reticulating splines&hellip; 50%</div>
                  <ngb-progressbar type="primary" [value]=""></ngb-progressbar>
                </div>
                <div class="progress-wrapper">
                  <div class="mb-25">Reticulating splines&hellip; 75%</div>
                  <ngb-progressbar type="primary" [value]=""></ngb-progressbar>
                </div>
                <div class="progress-wrapper">
                  <div class="mb-25">Reticulating splines&hellip; 100%</div>
                  <ngb-progressbar type="primary" [value]=""></ngb-progressbar>
                </div>
              </div>
            </div>
          </div>
     
        </div>
      </div>
    </section>
    <!--/ basic progress -->

    <!-- colored progress -->
    <!-- <section>
      <div class="row">
        <div class="col-12">
          <core-card-snippet [snippetCode]="_snippetCodeColoredProgress">
            <h4 class="card-title">Colored Progress</h4>
            <div class="card-body">
              <p class="card-text">Use <code>type="colorName"</code> property to get color of your choice.</p>

              <div class="demo-vertical-spacing">
                <div class="progress-wrapper">
                  <ngb-progressbar type="primary" class="progress-bar-primary" [value]="15"></ngb-progressbar>
                </div>

                <div class="progress-wrapper">
                  <ngb-progressbar type="secondary" class="progress-bar-secondary" [value]="30"></ngb-progressbar>
                </div>

                <div class="progress-wrapper">
                  <ngb-progressbar type="success" class="progress-bar-success" [value]="45"></ngb-progressbar>
                </div>

                <div class="progress-wrapper">
                  <ngb-progressbar type="danger" class="progress-bar-danger" [value]="60"></ngb-progressbar>
                </div>

                <div class="progress-wrapper">
                  <ngb-progressbar type="warning" class="progress-bar-warning" [value]="75"></ngb-progressbar>
                </div>

                <div class="progress-wrapper">
                  <ngb-progressbar type="info" class="progress-bar-info" [value]="90"></ngb-progressbar>
                </div>

                <div class="progress-wrapper">
                  <ngb-progressbar type="dark" class="progress-bar-dark" [value]="100"></ngb-progressbar>
                </div>
              </div>
            </div>
          </core-card-snippet>
        </div>
      </div>
    </section> -->
    <!--/ colored progress -->

  </div>
</div>
