<nav class="navbar navbar-expand-lg navbar-light bg-white border pl-1 pr-1 position-absolute w-100">
    <div class="headreContent collapse navbar-collapse">
        <div class="cursor-pointer">
            <a (click)="back()">
                <i class="bi bi-arrow-left"></i>
            </a>
            <span (click)="back()" class="ml-1">{{ l("Back") }}</span>
            <button (click)="openSearch()" class="btn test-button" style="margin-left: 20px">
                {{ l("Search") }}
            </button>
            <button [ngClass]="{ isDrowLines: isDrawLines }" (click)="drawLinesToggle()" class="btn test-button" title="{{ isDrawLines ? 'Disable line drawing' : 'Enable line drawing' }}">
                {{ l("DrawLines") }} <ng-container *ngIf="!isDrawLines">- off</ng-container> <ng-container *ngIf="isDrawLines">- on</ng-container>
            </button>
        </div>
        <div>
            <input maxlength="50" class="border-0 form-control text-center" [(ngModel)]="bot.flowName" [value]="bot.flowName" />
        </div>
        <div>
            <div *ngIf="nodesWithErrors.length > 0" class="dropdown d-contents">
                <button
                    (click)="moveToNode([nodesWithErrors[0].left, nodesWithErrors[0].top])"
                    class="btn-error btn hide-arrow dropdown-toggle"
                    type="button"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <span>{{ nodesWithErrors.length }} Error</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                    <li>
                        <a class="dropdown-item" *ngFor="let nodeWithError of nodesWithErrors; let i = index" href="#">{{ nodeWithError.title }}</a>
                    </li>
                </ul>
            </div>
            <span class="mr-1" *ngIf="bot.isPublished">
                <i class="bi bi-check-circle-fill text-success"></i>
                Deployed
            </span>
            <!-- <div *ngIf="hasError" class="dropdown">
                <button class="btn btn-outline-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ l("Error") }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" *ngFor="let nodeWithError of nodesWithErrors;let i= index" href="#">{{nodeWithError.title}}</a>
                </div>
              </div> -->
            <button (click)="saveBot()" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" class="btn test-button">
                {{ l("Save") }}
            </button>
            <button (click)="testBot.show(bot)" class="btn test-button">
                {{ l("testThisBot") }}
            </button>
            <button *ngIf="!bot.isPublished" (click)="askForDeploy()" class="btn deploy-button">
                {{ l("deploy") }}
            </button>
        </div>
    </div>
</nav>
<!--Nodes-->
<div #builderRoot class="pageRoot">
    <div class="draggable-box" id="root-of-nodes">
        <svg #svgContainer style="pointer-events: none" id="svgContainer" class="connection-layer no-select"></svg>
        <div [ngClass]="{ 'no-select': isDragging }" class="center-div no-select">
            <div
                #nodeRef
                *ngFor="let node of nodes; let x = index; trackBy: trackByFunction"
                [id]="node.id"
                [node]="node"
                appDraggable
                (onDrag)="onNodeDrag($event, node, x)"
                [class.initial-node]="node.isRoot"
                [style.transform]="'translate(' + node.left + 'px, ' + node.top + 'px)'"
                class="node-root"
            >
                <div class="warning-message" *ngIf="isNodeInError(node)">
                    <i class="bi bi-info-circle-fill"></i>
                </div>
                <img *ngIf="node.isRoot" class="top-right-image" src="assets/images/start-here.svg" alt="Start Here" />
                <div
                    (click)="editDialog(node, x)"
                    [ngClass]="selectedNode === x ? 'active' : ''"
                    [id]="'content_' + node.id"
                    class="node-content"
                    [style.border-left-color]="styleAvatar(node.type)"
                >
                    <div class="d-flex">
                        <div class="avatar" [style.background-color]="styleAvatar(node.type)" *ngIf="!node.isRoot">
                            <div class="avatar-content">
                                <i
                                    class="bi"
                                    [ngClass]="{
                                        'bi-cursor': node.type === 'Send Message',
                                        'bi-translate': node.type === 'Language',
                                        'bi-menu-button': node.type === 'List options',
                                        'bi-geo': node.type === 'Branches' || node.type === 'BranchesEN',
                                        'bi-reply': node.type === 'Reply buttons',
                                        'bi-headset': node.type === 'Human handover',
                                        'bi-input-cursor': node.type === 'Collect input',
                                        'bi-shuffle': node.type === 'Jump',
                                        'bi-chat-left-text': node.type === 'Interactive template',
                                        'bi-hourglass-split': node.type === 'Delay',
                                        'bi-code-slash': node.type === 'Http request',
                                        'bi-funnel': node.type === 'Condition',
                                        'bi-p-square': node.type === 'Set Parameter',
                                        'bi-whatsapp': node.type === 'whatsApp template',
                                        'bi-clock-history': node.type === 'ScheduleNode',
                                        'bi bi-sign-stop' : node.type === 'End',
                                        'bi-plug': node.type === 'Integration', 
                                        'bi-bag': node.type === 'Cataloge Single Product',  
                                        'bi-basket': node.type === 'Cataloge multity Product'   
                                    }"
                                >
                                </i>
                            </div>
                        </div>
                        <h6 class="align-self-center ml-1">{{ node.title }}</h6>
                    </div>
                    <!-- <p class="d-block">{{node.id}}</p> -->
                    <div *ngIf="node.type === 'Delay'" class="d-flex delayBox justify-content-center">
                        <div [ngClass]="node.dilationTime === 1 ? 'selectedDuration' : ''" (click)="selectDuration(1, node)" class="duration rounded-left">1S</div>
                        <div [ngClass]="node.dilationTime === 2 ? 'selectedDuration' : ''" (click)="selectDuration(2, node)" class="duration">2S</div>
                        <div [ngClass]="node.dilationTime === 5 ? 'selectedDuration' : ''" (click)="selectDuration(5, node)" class="duration">5S</div>
                        <div [ngClass]="node.dilationTime === 10 ? 'selectedDuration' : ''" (click)="selectDuration(10, node)" class="duration rounded-right">10S</div>
                    </div>
                    <p *ngIf="!node.isRoot">{{ node.captionEn }}</p>
                </div>
                <!--plus  button to create node-->
                <div
                    class="dropdown undraggble"
                    *ngIf="
                        node.isRoot ||
                        (node.childIndex === null &&
                            node.type != 'Reply buttons' &&
                            node.type != 'List options' &&
                            node.type != 'Branches' &&
                            node.type != 'BranchesEN' &&
                            node.type != 'Language' &&
                            node.type != 'End' &&
                            node.content.dtoContent.length === 0 &&
                            node.type != 'Jump')
                    "
                    dropdown
                    #dropdownMenu
                >
                    <div
                        appStretchNode
                        (stretchResult)="onNodeStretch($event)"
                        (dragStateChange)="onDragStateChange($event)"
                        [nodeIdentifier]="node"
                        dropdownToggle
                        *ngIf="node.childIndex === null && !isDraggingNode"
                        class="node-button bottom-end-node dropdown-toggle"
                    >
                        <!-- #qwer -->
                        <i class="bi bi-plus option-btn" [id]="'plus1_' + node.id"></i>
                    </div>
                    <div #dropdownMenu1 [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''" class="dropdown-menu dialogTypesContainer" *dropdownMenu>
                        <div class="input-group input-group-merge p-1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon-search2"><i class="bi bi-search"></i> </span>
                            </div>
                            <input
                                type="text"
                                class="form-control h-100"
                                placeholder="Search..."
                                aria-label="Search..."
                                aria-describedby="basic-addon-search2"
                                [(ngModel)]="searchDialogTypes"
                                (click)="stopPropagation($event)"
                            />
                        </div>
                        <div class="dialogTypes">
                            <div
                                *ngFor="let dialogTypes of dialogTypes | filter : searchDialogTypes : 'name'; let i = index"
                                (mousedown)="addNode(x, $event, dialogTypes.id, node?.isRoot)"
                            >
                                <a class="dropdown-item">
                                    <i [class]="dialogTypes.icon" [style.color]="dialogTypes.color"></i>
                                    {{ dialogTypes.name }}</a
                                >
                       
                                <hr class="line" />
                            </div>
                        </div>
                    </div>
                </div>

                <!--Child And Parent connections circles-->
                <div *ngIf="node.childIndex != null" class="child-connection bottom-end-node undraggble-hidden-elements"></div>
                <div *ngIf="!node.isRoot" [id]="'connector_' + node.id" class="child-connection top-end-node undraggble-hidden-elements"></div>

                <!--Delete and Edit buttons-->
                <div class="hide undraggble-hidden-elements" *ngIf="!node.isRoot" [hidden]="node.type === 'whatsApp template'">
                    <svg
                        (click)="copyDialog(node, $event)"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="25"
                        fill="#101010"
                        class="bi bi-copy undraggble-hidden-elements"
                        viewBox="0 0 16 16"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V2Zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H6ZM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1H2Z"
                        />
                    </svg>
                    <svg
                        (click)="deleteNode(x, node.id, $event)"
                        xmlns="http://www.w3.org/2000/svg"
                        width="13"
                        height="25"
                        fill="#101010"
                        class="bi bi-trash3 undraggble-hidden-elements"
                        viewBox="0 0 16 16"
                    >
                        <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                        />
                    </svg>
                    <!-- <i [hidden]="node.type === 'Delay'" (click)="editDialog(node, x)" class="bi bi-pencil-square"></i> -->
                </div>

                <!--Reply buttons and list-->
                <div
                    *ngIf="
                        node.type === 'Reply buttons' ||
                        node.type === 'Branches' ||
                        node.type === 'BranchesEN' ||
                        node.type === 'List options' ||
                        node.type === 'Language' ||
                        node.type === 'whatsApp template' ||
                        node.type === 'Condition'
                    "
                    class="buttons d-flex undraggble-hidden-elements justify-content-center"
                >

                     <button
                        *ngFor="let button of node.content.dtoContent; let y = index"
                        [id]="'button_' + button.key"
                        class="undraggble-hidden-elements btn buttonWidth ibbat"
                        [ngClass]="{
                            'btn-danger': node.type === 'Condition' && button.valueEn === 'No',
                            'btn-primary-info': node.type === 'Condition' && button.valueEn === 'Yes',
                            branchesBtn: node.type === 'Branches' || node.type === 'BranchesEN',
                            replayBtn: node.type === 'Reply buttons',
                            listOption: node.type === 'List options',
                            catalogeSingleProductBtn:node.type === 'Cataloge Single Product',
                            catalogeMultityProductBtn:node.type === 'Cataloge multity Product',
                            'btn-secondary': node.type != 'Condition'
                        }"
                        [ngbPopover]="button.valueEn"
                        placement="top"
                        triggers="mouseenter:mouseleave"
                    >
                        <div class="warning-message" *ngIf="button.valueEn === ''">

                            <i class="bi bi-info-circle-fill"></i>
                        </div>
                        <!-- <span class="undraggble-hidden-elements">{{ button.valueEn }}</span> -->
                        <!-- <span  *ngIf="button.type=='Branches'" class="undraggble-hidden-elements">{{ button.valueAr }}</span> -->
                        <span  *ngIf="node.type=='Branches'" class="undraggble-hidden-elements">{{ button.valueAr }}</span>
                        <span  *ngIf="node.type !='Branches'" class="undraggble-hidden-elements">{{ button.valueEn }}</span>

                        <div class="dropdown undraggble" #dropdownMenu *ngIf="button.childIndex === null" dropdown>
                            <div
                                appStretchNode
                                (stretchResult)="onNodeStretch($event)"
                                (dragStateChange)="onDragStateChange($event)"
                                [nodeIdentifier]="node"
                                [buttonIdentifier]="button"
                                [id]="'plusroot_' + button.key"
                                dropdownToggle
                                *ngIf="button.childIndex === null && !isDraggingNode"
                                class="node-button bottom-end-node dropdown-toggle"
                            >
                                <div>
                                    <i class="bi bi-plus button-connection option-btn" [id]="'plus 2_' + button.key"></i>
                                </div>
                            </div>
                            <div #dropdownMenu1 [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''" class="dropdown-menu dialogTypesContainer" *dropdownMenu>
                                <div class="input-group input-group-merge p-1">
                                    <div class="inpsut-group-prepend">
                                        <span class="input-group-text" id="basic-addon-search3"><i class="bi bi-search"></i> </span>
                                    </div>
                                    <input
                                        type="text"
                                        class="form-control h-100"
                                        placeholder="Search..."
                                        aria-label="Search..."
                                        aria-describedby="basic-addon-search2"
                                        [(ngModel)]="searchDialogTypes"
                                        (click)="stopPropagation($event)"
                                    />

                                </div>
                                <div class="dialogTypes">
                                    <div
                                        *ngFor="let dialogTypes of dialogTypes | filter : searchDialogTypes : 'name'"
                                        (mousedown)="addNode(x, $event, dialogTypes.id, node?.isRoot, true, y, button.key)"
                                    >
                                        <a class="dropdown-item">
                                            <i [class]="dialogTypes.icon" [style.color]="dialogTypes.color"></i>
                                            {{ dialogTypes.name }}</a
                                        >
                                        <hr class="line" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--centerlize the nodes-->
<button [ngbPopover]="'Recenter the page' | localize" placement="right" triggers="mouseenter:mouseleave" class="left-bar-button centerlized-btn" (click)="recenterElements()">
    <i class="bi bi-text-center"></i>
</button>
<div class="zoomIn ml-0">
    <button class="left-bar-button">
        <i class="bi bi-plus -circle"></i>
    </button>
    <div class="zoom-in-note">
        <p>Ctrl</p>
    </div>
    <div class="zoom-in-text">
        <p>+</p>
    </div>
    <div class="zoom-in-sign">
        <p>+</p>
    </div>
</div>

<!-- <button [ngbPopover]="'Reset zoom' | localize" placement="right" triggers="mouseenter:mouseleave" class="left-bar-button zoomReset ml-0" (click)="zoomReset()">
    <i class="bi bi-magic"></i>
</button> -->
<div class="zoomOut ml-0">
    <button class="left-bar-button">
        <i class="bi bi-dash-circle"></i>
    </button>
    <div class="zoom-out-note">
        <p>Ctrl</p>
    </div>
    <div class="zoom-out-text">
        <p>+</p>
    </div>
    <div class="zoom-out-sign">
        <p>-</p>
    </div>
</div>

<!-- <button  class="left-bar-button miniMap-btn" (click)="toggleMiniMap()">
    <i class="bi bi-map"></i>
</button>
<div *ngIf="showMiniMap" id="minimap-container">
    <iframe #minimapIframe src="/path-to-your-current-page" (load)="onIframeLoad(minimapIframe)"></iframe>
</div> -->

<!-- <div id="minimap"></div>-->

<!--Actions Block Length-->

<div class="action-block" *ngIf="nodes.length >= 1">
    <span> {{ nodes.length - 1 }}</span>
</div>

<!-- <createBotDialog #createBotDialog [branches]="branches"></createBotDialog> -->

<createBotDialog #createBotDialog [branches]="branches" [branchesEN]="branchesEN"></createBotDialog>
<testBot #testBot></testBot>
<app-node-search-modal #NodeSearch [Nodes]="nodes" (NodePostion)="moveToNode($event)"></app-node-search-modal>
