<div bsModal #teamInboxModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="teamInboxModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l("template") }} *</span>
                </h4>
                <button type="button" class="p-1 btn-close" aria-label="Close" (click)="close()"></button>
            </div>

            <div class="modal-body">
                <div class="col-12 mb-1">
                    <div class="form-group">
                        <label for="template">{{ l("template") }} *</label>
                        <ng-select [items]="getItems()" bindLabel="name" placeholder="Select Template" [(ngModel)]="templateById" (ngModelChange)="getTemplateById($event)">
                        </ng-select>
                        <!-- <select class="form-control" id="template" name="template"  required
              (change)="getTemplateById($event)" >
              <option value="" disabled selected>Select Template</option>

              <option *ngFor="let templateVar of template" [value]="templateVar.id">{{ templateVar.name }}
              </option>
            </select> -->
                    </div>

                    <div
                        *ngIf="templateById?.localTemplateId"
                        class="m-auto templateCard "
                        [ngStyle]="{
                            'border-color': templateById.localTemplateId ? '#d8d6de' : 'transparent',
                            'background-color': templateById.localTemplateId ? 'white' : 'transparent'
                        }"
                    >
              


                        <div class="whatsapp-carousel-container" *ngIf="componentCarousel">                          
                            <div class="wa-carousel-body">
                                <div [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                    <ng-container *ngFor="let item of dynamicTextParts; let i = index">
                                        <span *ngIf="item.type == 'text'">
                                            {{ item.content }}
                                        </span>
                                        <span *ngIf="item.type == 'input'" class="body-text-exampl">
                                            {{checkPattern(item.content) ? '{{' + customeexampleBody[item.index] +'}}' : item.content }}
                                        </span>
                                    </ng-container>
                                </div>
                            </div>

                            <!-- <div class="wa-carousel-body" *ngIf="componentBody?.text">
                              <p>{{ componentBody.text }}</p>
                            </div> -->

                            <!-- Cards container with horizontal scrolling -->
                            <div class="wa-cards-scroller">
                              <div class="wa-cards-wrapper">
                                <div class="wa-card" *ngFor="let card of componentCarousel.cards">
                                  <div class="wa-card-media">
                                    <div *ngIf="card.components[0]?.format === 'IMAGE'">
                                      <img class="wa-card-image" 
                                              [src]="card.components[0]?.example.mediaCard[0]" 
                                              alt="Card image" />
                                    </div>
                                    <div *ngIf="card.components[0]?.format === 'VIDEO'">
                                      <video class="wa-card-video" 
                                              [src]="card.components[0]?.example.mediaCard[0]" 
                                              controls></video>
                                    </div>
                                  </div>

                                  <div class="wa-card-content">
                                    <div class="wa-card-text" *ngIf="card.components[1]?.text">
                                      {{ card.components[1].text }}
                                    </div>

                                    <div class="wa-card-buttons">
                                      <div *ngFor="let button of card.components[2]?.buttons | slice:0:2" 
                                            class="wa-card-button"
                                            [class.url-button]="button.type === 'URL'"
                                            [class.phone-button]="button.type === 'PHONE_NUMBER'"
                                            [class.quick-reply]="button.type === 'QUICK_REPLY'">
                                        <span class="button-icon">
                                          <img *ngIf="button.type === 'URL'" src="assets/common/images/imageFacebookTemplate/Icon/external-link1.png" alt="Link">
                                          <img *ngIf="button.type === 'PHONE_NUMBER'" src="assets/common/images/imageFacebookTemplate/Icon/phone-receiver-silhouette1.png" alt="Call">
                                          <img *ngIf="button.type === 'QUICK_REPLY'" src="assets/common/images/imageFacebookTemplate/Icon/reply1.png" alt="Reply">
                                        </span>
                                        <span class="button-text">{{ button.text }}</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>

                  <div  *ngIf=" componentCarousel && templateById?.localTemplateId && VariableCount !==0" class="current-card2">
                      <ng-container *ngFor="let part of dynamicTextParts; let i = index">
                        <ng-container *ngIf="part.type == 'input';">
                          <h3> body  varible {{(part.index + 1)}}</h3>
                          <label [for]="'var' + (part.index + 1)" class="body-text-exampl">{{(part.index + 1)}} {{ '{{' + customeexampleBody[part.index] + '}}' }} *</label>
                          <input class="form-control" id="template-teamInbox" name="template-teamInbox"
                            [(ngModel)]="inputs[part.index].value" (ngModelChange)="updateText()"
                            [placeholder]="'Start Typing...'"
                            (keypress)="onKeyPress($event , inputs[part.index].value)"
                            />
                          <p class="text-danger" *ngIf="isSubmitted && inputs[part.index].value.length === 0">{{
                            l("ThisFieldIsRequired") }}</p>
                        </ng-container>
                      </ng-container>
                  </div>

                  <div *ngIf="componentCarousel">
                      <div class="carousel-container">
                          <div class="carousel-nav" *ngIf="VariableCountCarousel[currentCardIndex] > 0||(( urlVariables[currentCardIndex]?.[0])||(urlVariables[currentCardIndex]?.[1]))">
                              <button *ngFor="let card of cards; let i = index " 
                                      (click)="currentCardIndex = i"
                                      [class.active]="currentCardIndex === i">
                                  Card {{i + 1}}
                              </button>
                          </div>

                          <div class="current-card" *ngIf="cards[currentCardIndex]">
                              <div *ngIf="VariableCountCarousel[currentCardIndex] > 0">
                                  <div *ngFor="let input of inputsCarousel[currentCardIndex]; let i = index">
                                      <label>Variable {{i + 1}}:</label>
                                      <input [(ngModel)]="input.value" 
                                              (input)="updateCarouselText(currentCardIndex)"
                                              placeholder="Enter value for {{i + 1}}">
                                  </div>
                                  <div class="preview" >
                                      Preview: {{displayCarouselTexts[currentCardIndex]}}
                                  </div>
                              </div>
                            </div>
                          <div   class="current-card" >
                            <div *ngFor="let button of cards[currentCardIndex]?.components[2]?.buttons | slice:0:2; let buttonIndex = index"
                            [class.url-button]="button.type === 'URL'">
                              <div *ngIf="button.type === 'URL' && urlVariables[currentCardIndex]?.[buttonIndex]"
                                    class="url-variables">
                              <span class="button-text">
                                {{ updateUrlWithVariables(currentCardIndex, buttonIndex, button.url) }}
                              </span>
                                <div *ngFor="let input of urlVariables[currentCardIndex][buttonIndex]; let i = index">
                                  <label>URL Variable {{i + 1}}:</label>
                                  <input 
                                      [(ngModel)]="input.value" 
                                      name="urlVar{{currentCardIndex}}{{buttonIndex}}{{i}}" 
                                      required 
                                      #inputRef="ngModel"
                                      [class.invalid]="inputRef.invalid && inputRef.touched"
                                      (input)="updateUrlWithVariables(currentCardIndex, buttonIndex, button.url)"
                                      placeholder="Enter value for {{i + 1}}">
                                    <div *ngIf="inputRef.invalid && inputRef.touched" class="error-message">
                                      This field is required.
                                    </div>
                                    
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>


                        <div class="card-template p-1"    >
                            <div class="row mb-1" *ngIf="VariableCountHeader==0">
                                <h4 [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                    {{ ComponentHeader?.text }}
                                </h4>
                            </div>
                                <div class="row body-text-container" *ngIf="VariableCountHeader>0">
                                  <div [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                      <ng-container *ngFor="let item of dynamicTextPartsHeader; let i = index">
                                          <h4>
                                              <span *ngIf="item.type == 'text'">
                                                  {{ item.content }}
                                              </span>
                                              <span *ngIf="item.type == 'input'" class="body-text-exampl">
                                                  {{checkPattern(item.content) ? '{{' + customeexampleHeader[item.index] +'}}' : item.content }}
                                              </span>
                                          </h4>
                                      </ng-container>
                                  </div>
                                </div>

                            <div class="row mb-1" *ngIf="ComponentHeader?.format === 'IMAGE'">
                                <img class="p-0" *ngIf="templateById.localTemplateId" [src]="safeMediaLink" style="height: 150px" alt="Campaign Image" />
                            </div>
                            <div class="row mb-1"   *ngIf="ComponentHeader?.format === 'VIDEO'" >
                                <video 
                                     class="wa-card-video p-0"  
                                     frameborder="0"
                                     controls>
                                <source [src]="safeMediaLink" type="video/mp4">
                                Your browser does not support the video tag.
                              </video>
                            </div>
                            <div class="row mb-1" *ngIf="ComponentHeader?.format==='DOCUMENT'"  >
                                <iframe  
                                        class="p-0"
                                        [src]="safeMediaLink"
                                        style="height: 150px; width: 100%"
                                        frameborder="0">
                                </iframe>
                            </div>


                            <div class="row body-text-container" *ngIf="!componentCarousel">
                                <div [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                    <ng-container *ngFor="let item of dynamicTextParts; let i = index">
                                        <span *ngIf="item.type == 'text'">
                                            {{ item.content }}
                                        </span>
                                        <span *ngIf="item.type == 'input'" class="body-text-exampl">
                                            {{checkPattern(item.content) ? '{{' + customeexampleBody[item.index] +'}}' : item.content }}
                                        </span>
                                    </ng-container>
                                </div>
                            </div>


                            <div class="card-footer footerCard p-1 pt-0" *ngIf="ComponentFooter?.text">
                                <small [ngClass]="templateById.language === 'ar' ? 'rtl' : 'ltr'">
                                    {{ ComponentFooter.text }}
                                </small>
                            </div>
                        </div>
                
                      
                        <div class="row justify-content-center buttonText w-100" *ngIf="ComponentButton?.buttons">
                            <div class="w-50 p-1" *ngFor="let button of ComponentButton.buttons; let i = index">
                                <button class="btn w-100" [ngClass]="{ 'btn-outline-primary-info': i === 0, 'btn-primary-info': i === 1 }">
                                    {{ button.text }}
                                </button>
                            </div>
                        </div>


                    </div>

                    <div *ngIf="category=='AUTHENTICATION'" class="col-12  p-0 w-75 mt-1">
                    </div>

                    <div  *ngIf="templateById?.localTemplateId && VariableCountHeader !==0" class="current-card2">
                      {{VariableCountHeader}}
                      <ng-container *ngFor="let part of dynamicTextPartsHeader; let i = index">
                        <ng-container *ngIf="part.type == 'input';">
                          <h3> header varible {{(part.index + 1)}}</h3>
                          <label [for]="'var' + (part.index + 1)" class="body-text-exampl">{{(part.index + 1)}} {{ '{{' + customeexampleHeader[part.index] + '}}' }} *</label>
                          <input class="form-control" id="template-teamInbox" name="template-teamInbox"
                            [(ngModel)]="inputsHeaders[part.index].value" (ngModelChange)="updateTextHeader()"
                            [placeholder]="'Start Typing...'"
                            (keypress)="onKeyPress($event , inputsHeaders[part.index].value)"
                            />
                          <p class="text-danger" *ngIf="isSubmitted && inputsHeaders[part.index].value.length === 0">{{
                            l("ThisFieldIsRequired") }}</p>
                        </ng-container>
                      </ng-container>
                    </div>                   

                    <div   *ngIf="templateById?.localTemplateId && (!(componentCarousel?.type=='carousel')) && VariableCount !==0" class="current-card3">
                      <ng-container *ngFor="let part of dynamicTextParts; let i = index">
                        <ng-container *ngIf="part.type == 'input';">
                          <!-- <label for="template-teamInbox">Custome Field {{ '{{' + ((part.index) + 1) + '}}' }} *</label> -->
                          <h3> body  varible {{(part.index + 1)}}</h3>
                          <label [for]="'var' + (part.index + 1)" class="body-text-exampl">{{(part.index + 1)}} {{ '{{' + customeexampleBody[part.index] + '}}' }} *</label>
                          <input class="form-control" id="template-teamInbox" name="template-teamInbox"
                            [(ngModel)]="inputs[part.index].value" (ngModelChange)="updateText()"
                            [placeholder]="'Start Typing...'"
                            (keypress)="onKeyPress($event , inputs[part.index].value)"
                            />
                          <p class="text-danger" *ngIf="isSubmitted && inputs[part.index].value.length === 0">{{
                            l("ThisFieldIsRequired") }}</p>
                        </ng-container>
                      </ng-container>
                    </div>

                    
                     <div *ngIf="variableURL1 && templateById.category!='AUTHENTICATION'" class="current-card2">
                      <h3>Button <span class="body-text-exampl">{{URLBtton1.text}}</span> URL variable</h3>
                      <label for="URLvar1" class="body-text-exampl">
                        {{ buildURLButton1() }} {{ '1 {{ ' + urlExample1 + ' }}*' }}
                      </label>
                      <input class="form-control"
                              id="URLvar1"
                              name="template-teamInbox"
                              [(ngModel)]="firstButtonURLVariabllesTemplate.varOne"
                              (input)="URLValidVarible1()"
                              placeholder="Start Typing..." />
                      <p class="text-danger" *ngIf="isSubmitted && firstButtonURLVariabllesTemplate.varOne.length === 0">
                        {{ l("ThisFieldIsRequired") }}
                      </p>
                      <p class="text-danger" *ngIf="isSubmitted && !URL1isValid">
                        Write a valid URL
                      </p>
                    </div>

                    <div *ngIf="variableURL2" class="current-card2">
                      <h3>Button <span class="body-text-exampl">{{URLBtton2.text}}</span> URL variable</h3>
                      <label for="URLvar2" class="body-text-exampl">
                        {{ buildURLButton2() }} {{ '1 {{ ' + urlExample2 + ' }}*' }}
                      </label>
                      <input class="form-control"
                              id="URLvar2"
                              name="template-teamInbox"
                              [(ngModel)]="secondButtonURLVariabllesTemplate.varOne"
                              (input)="URLValidVarible2()"
                              placeholder="Start Typing..." />
                      <p class="text-danger" *ngIf="isSubmitted && secondButtonURLVariabllesTemplate.varOne.length === 0">
                        {{ l("ThisFieldIsRequired") }}
                      </p>
                      <p class="text-danger" *ngIf="isSubmitted && !URL2isValid">
                        Write a valid URL
                      </p>
                    </div>


                      <div *ngIf="copyCodeEsxist" class="current-card2">
                          <h3>Button <span class="body-text-exampl">{{copyCodeButton.text}}</span> Copy Code varible </h3>
                          <label for="'URLvar2'" class="body-text-exampl">{{buildCopyCodeButton()}} {{ '1 {{ ' + copyCodeButton.example[0] + ' }}*' }}</label>
                          <input class="form-control" id="template-teamInbox" name="template-teamInbox"
                            [(ngModel)]="buttonCopyCodeVariabllesTemplate.varOne" 
                            [placeholder]="'Start Typing...'"
                             maxlength="15"
                            />
                            <p class="text-danger" *ngIf="isSubmitted && buttonCopyCodeVariabllesTemplate.varOne.length === 0">{{
                            l("ThisFieldIsRequired") }}</p>
                      </div>

      
                </div>
                <div class="modal-footer">
                    <div class="col-12">
                        <button
                            id="btnSend"
                            [disabled]="!templateById?.localTemplateId"
                            type="button"
                            class="btn btn-primary-info"
                            (click)="handleSend(false)"
                            [buttonBusy]="saving && !isScheduleBtn"
                        >
                            {{ l("sendNow") }}
                        </button>
                        <!-- <div class="m-checkbox-list form-check form-switch my-1">
                            <input class="form-check-input" id="Schedule" type="checkbox" name="Schedule" [checked]="isSchedule" (input)="handleIsSchedule($event)" />
                            <label for="Schedule" class="kt-checkbox">Schedule Message</label>
                        </div> -->
                        <!-- 
                        <div *ngIf="isSchedule === true">
                            <p-calendar
                                [(ngModel)]="dateAndTime"
                                [iconDisplay]="'input'"
                                [showTime]="true"
                                [minDate]="minDate"
                                [showIcon]="true"
                                class="btn-primary-info my-1"
                            ></p-calendar>

                            <div class="my-1">
                                <button id="btnSend" type="button"
                                [disabled]="!templateById?.localTemplateId"
                                 class="btn btn-primary-info" (click)="handleSend(true)" [buttonBusy]="saving && isScheduleBtn">
                                    {{ l("messageSchedualing") }}
                                </button>
                            </div>
                        </div> -->
                    </div>
                    <!-- <div class="row d-none d-lg-block">
            <div class="col-12">
              <button [disabled]="saving" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="button"
                class="btn btn-secondary" (click)="done()">{{ l("Submit") }}</button>
            </div>
          </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div bsModal #teamInboxModal="bs-modal" class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
