<div bsModal #editCaption="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editCaption" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    {{ "editCaption" | localize }}
                </h4>
                <button type="button" class="p-1 btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12" *ngIf="caption.headerText">
                        <h4>{{ "title" | localize }} : {{ caption.headerText }}</h4>
                    </div>
                    <div class="col-12">
                        <h4 *ngIf="caption.languageBotId === 2">{{ "Language" | localize }} : English</h4>
                        <h4 *ngIf="caption.languageBotId === 1">{{ "Language" | localize }} : العربية</h4>
                    </div>
                    <div class="col-12">
                        <textarea rows="2" [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'" class="m-input"[(ngModel)]="caption.text">
                          </textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{ "Cancel" | localize }}</button>
                <button type="button" class="btn btn-primary-info" (click)="save()" [busyText]="l('SavingWithThreeDot')">
                    <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                </button>
                <!-- <button (click)="save()" type="submit" class="btn btn-primary blue" ><i class="fa fa-save"></i> <span>Save</span></button> -->
            </div>
        </div>
    </div>
</div>
