<div appBsModal #testBot="bs-modal" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="testBot" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body p-0">
                <div class="h-50">
                    <div class="row justify-content-center h-100">
                        <div class="chat p-0">
                            <div class="card screen p-0 m-0" >
                                <div class="card-header msg_head">
                                    <div class="d-flex bd-highlight">
                                        <div class="img_cont">
                                            <img alt="botImage"
                                            src="../../../assets/images/botImage.png"
                                                class="rounded-circle user_img" />
                                        </div>
                                        <div class="user_info">
                                            <span>{{ botName }} Bot</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body msg_card_body"   #scrollMe>
                                    <div class="row justify-content-center">
                                        <div class="divider divider-default">
                                            <div class="divider-text">{{ date |
                                                date : "fullDate" }}</div>
                                        </div>
                                    </div>
                                    <div
                                        [ngClass]="botMessage.from != null || botMessage.from != undefined ? 'justify-content-start' : 'justify-content-end'"
                                        *ngFor="let botMessage of listOfBotMessages; let i = index"
                                        class="d-flex mb-4 pl-1">
                                        <div class="img_cont_msg" >
                                            <img
                                                *ngIf="botMessage.from != null || botMessage.from != undefined && botMessage.isVisible" 
                                                src="../../../assets/images/botImage.png"
                                                class="rounded-circle user_img_msg" />
                                        </div>
                                        <div  *ngIf="botMessage.type != 'ping' && botMessage.isVisible "
                                            [ngClass]="botMessage.from != null || botMessage.from != undefined ? 'msg_cotainer' : 'msg_cotainer_send'">
                                            <div class="p-1" >
                                                <div class="centered-image">
                                                    <!--imagge from button-->
                                                    <img
                                                    *ngIf="(botMessage.suggestedActions != null || botMessage.suggestedActions != undefined) && botMessage.suggestedActions.actions[0].image != null && !checkIfVideo(botMessage.suggestedActions.actions[0].image) && !checkIfDocOrPdf(botMessage.suggestedActions.actions[0].image)"
                                                    class="w-100 logoImage rounded"
                                                    [src]="botMessage.suggestedActions.actions[0].image">
                                                      <!--video from button-->
                                                      <iframe
                                                      *ngIf="(botMessage.suggestedActions != null || botMessage.suggestedActions != undefined) && botMessage.suggestedActions.actions[0].image != null && checkIfVideo(botMessage.suggestedActions.actions[0].image) && !checkIfDocOrPdf(botMessage.suggestedActions.actions[0].image)"
                                                      class="p-0 w-100" [src]="maketheUrlSafe(botMessage.suggestedActions.actions[0].image ) "
                                                      frameborder="0"></iframe>
                                                      <!--Doc or pdf from button-->
                                                      <iframe
                                                      *ngIf="(botMessage.suggestedActions != null || botMessage.suggestedActions != undefined) && botMessage.suggestedActions.actions[0].image != null && !checkIfVideo(botMessage.suggestedActions.actions[0].image) && checkIfDocOrPdf(botMessage.suggestedActions.actions[0].image)"
                                                      class="p-0 w-100" [src]="maketheUrlSafe(botMessage.suggestedActions.actions[0].image ) "
                                                      frameborder="0"></iframe>



                                                     <!--imagge from send Message-->
                                                    <img
                                                    *ngIf="botMessage.inputHint != null && botMessage.inputHint != undefined && botMessage.inputHint === 'image' &&  !checkIfVideo(botMessage.text) && !checkIfDocOrPdf(botMessage.text)"
                                                    class="w-100 logoImage rounded"
                                                    [src]="botMessage.text">
                                                    <!--Video From Send Message-->
                                                    <iframe
                                                    *ngIf="botMessage.inputHint != null && botMessage.inputHint != undefined && botMessage.inputHint === 'image' &&  checkIfVideo(botMessage.text) && !checkIfDocOrPdf(botMessage.text)"      
                                                     class="p-0 w-100" [src]="maketheUrlSafe(botMessage.text ) "
                                                    frameborder="0"></iframe>
                                                    <!--Doc Or Pdf from Send message-->
                                                    <iframe
                                                    *ngIf="botMessage.inputHint != null && botMessage.inputHint != undefined && botMessage.inputHint === 'image' &&  !checkIfVideo(botMessage.text) && checkIfDocOrPdf(botMessage.text)"
                                                     class="p-0 w-100" [src]="maketheUrlSafe(botMessage.text) "
                                                    frameborder="0"></iframe>

                                                  
                                                </div>
                                               
                                                <div
                                                *ngIf="botMessage.inputHint === null || botMessage.inputHint === undefined  || botMessage.inputHint != 'image'">
                                                    {{ botMessage.text }}
                                                    <small class="d-block mt-1" >{{botMessage.summary}}</small>
                                                </div>
                                                <div
                                                class="mt-1"
                                                    *ngIf="botMessage.from != null || botMessage.from != undefined">
                                                    <div class="d-flex flex-wrap gap-2"
                                                        *ngIf="botMessage.suggestedActions != null || botMessage.suggestedActions != undefined">
                                                        <div
                                                            *ngFor="let option of botMessage.suggestedActions.actions; let i = index">
                                                            <button
                                                                [disabled]="showEndBot"
                                                                class="btn btn-outline-secondary"
                                                                (click)="chooseButton(option.value)">
                                                                {{ option.title
                                                                }}
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <span
                                           
                                                [ngClass]="botMessage.from != null || botMessage.from != undefined ? 'msg_time' : 'msg_time_send'">{{date
                                                |
                                                date : "shortTime"}}, Today</span>
                                        </div>
                                        
                                        <div *ngIf="botMessage.type === 'ping' &&  !botMessage.isVisible" >
                                            <div class="chat-bubble">
                                                <div class="typing">
                                                  <div class="dot"></div>
                                                  <div class="dot"></div>
                                                  <div class="dot"></div>
                                                </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer" [hidden]="showEndBot">
                                    <div class="input-group">
                                        <form class="w-100 d-flex"
                                            [formGroup]="chatForm"
                                            (ngSubmit)="save()">
                                            <textarea
                                                name="text"
                                                (keypress)="chatBoxKeyup($event)"
                                                formControlName="text"
                                                class="form-control type_msg"
                                                placeholder="Type your message..."></textarea>
                                            <div
                                                class="input-group-append p-0 m-auto"
                                                (click)="save()">
                                                <span
                                                    class="input-group-text send_btn"><i
                                                        class="fas fa-location-arrow"></i></span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <!--end Bot-->
                                <div class="card-footer text-center"
                                    [hidden]="!showEndBot">
                                    <p>This conversation has ended</p>
                                    <button (click)="startConversation()"
                                        class="btn btn-primary">Start a new
                                        conversation</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
