<div class="login-form" [@routerTransition]>
    <!-- <div class="pb-13 pt-lg-0 pt-5">
        <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
            {{ 'LogIn' | localize }}
        </h3>
    </div> -->
    <!--begin::Form-->

    <div style="display: flex; justify-content: center; align-items: center; margin-bottom: 50px;">
        <img src="assets/common/images/login-logo.svg" alt="Logo" />
    </div>

    <form #loginForm="ngForm" class="login-form form" method="post" method="post" (ngSubmit)="login()">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                style="border-radius: 27px; height: 50px; border: 1px solid #ececec; background: #f8f8f8; margin-bottom: 20px"
                placeholder="Company Name *"
                autocomplete="organization"
                [value]="tenancyName"
                (input)="handleTenantName($event)"
                required
                onchange=""
            />
        </div>
        <div class="form-group">
            <input
                #userNameOrEmailAddressInput="ngModel"
                [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
                autoFocus
                class="form-control"
                type="text"
                autocomplete="new-password"
                placeholder="{{ 'UserNameOrEmail' | localize }} *"
                name="userNameOrEmailAddress"
                required
            />
            <validation-messages [formCtrl]="userNameOrEmailAddressInput" *ngIf="!userNameOrEmailAddressInput.touched"> </validation-messages>
        </div>

        <div class="input-group input-group-merge form-password-toggle">
            <input
                #passwordInput="ngModel"
                [(ngModel)]="loginService.authenticateModel.password"
                class="form-control form-control-merge password-feild"
                [type]="passwordTextType ? 'text' : 'password'"
                [class.error]="passwordInput.invalid"
                autocomplete="new-password"
                placeholder="{{ 'Password' | localize }} *"
                name="password"
                required
                maxlength="32"
            />
            <div class="input-group-append">
                <span class="input-group-text cursor-pointer"
                    ><i
                        class="fa eye"
                        [ngClass]="{
                            'fa-eye-slash': passwordTextType,
                            'fa-eye': !passwordTextType
                        }"
                        (click)="togglePasswordTextType()"
                    ></i
                ></span>
            </div>
        </div>
        <validation-messages [formCtrl]="passwordInput" *ngIf="passwordInput.invalid"></validation-messages>

        <div class="form-group d-flex justify-content-between bootstrap-mt-4" >
            <label class="checkbox checkbox-outline">
                <input [(ngModel)]="rememberMe" type="checkbox" name="rememberMe" value="true" style="display: none;" />
                <span class="ml-2"></span>
                {{ "RememberMe" | localize }}
            </label>
            <!-- //comment <a routerLink="/account/forgot-password" id="forget-password" class="text-forget-password">{{ "ForgotPassword" | localize }}</a> -->
        </div>

        <div class="pb-0 pb-lg-0">
            <button
                type="submit"
                class="btn btn-block btn-login font-weight-bolder font-size-h6 bootstrap-px-8 bootsrap-py-4 bootstrap-my-3 mr-3"
                [disabled]="!isValid || !loginForm.form.valid || saving"
            >
                {{ "LogIn" | localize }}
            </button>
        </div>

        <!-- <div class="pb-0 pb-lg-0">
            <button
                type="submit"
                class="btn btn-block btn-signup btn-outline-primary-info font-weight-bolder font-size-h6 bootstrap-px-8 bootsrap-py-4 bootstrap-my-3 mr-3"
                routerLink="/account/register"
            >
                {{ "SignUp" | localize }}
            </button>
        </div> -->
    </form>
    <div
        class="pb-0 pb-lg-0"
        style="display: flex; flex-direction: row; justify-content: center; align-items: center; text-align: center; height: 46px; border: 1px solid #d1d1d1; border-radius: 4px;cursor: pointer;"
        (click)="handleFaceBookSignIn()"
    >
        <i class="bi bi-facebook" style="color: #1877f2; font-size: 22px; margin-right: 10px"></i>
        <div  style="border: 0; color: #aba9a9; font-family: Helvetica, Arial, sans-serif; font-size: 16px; padding: 0px">
            {{ "Facebook" | localize }}
        </div>
    </div>
    <!-- <div class="pb-0 pb-lg-0">
        <button
            (click)="handleFaceBookSignIn()"
            style="
                background-color: #1877f2;
                border: 0;
                border-radius: 4px;
                color: #fff;
                cursor: pointer;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: bold;
                height: 40px;
                padding: 0 24px;
            "
        >
            Login with Facebook
        </button>
    </div> -->
    <!--end::Form-->

    <!--begin::Options-->
    <div class="mt-10 mb-2" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
        <div class="divider">
            <span></span>
            <span>{{ "LoginWith" | localize }}</span>
            <span></span>
        </div>
    </div>

    <div class="pb-0 pb-lg-0" *ngIf="(multiTenancySideIsTeanant || !isMultiTenancyEnabled) && loginService.externalLoginProviders.length > 0">
        <a
            *ngFor="let provider of loginService.externalLoginProviders"
            class="btn btn-sm btn-light-primary font-weight-bolder py-2"
            (click)="externalLogin(provider)"
            title="{{ provider.name }}"
        >
            <i class="fab fa-{{ provider.icon }}"></i>
            {{ provider.name }}
        </a>
    </div>
    <!--end::Options-->
</div>
<app-embeded-sign-in-modal #embededsigninmodal (tenancyName)="receiveMessage($event)"></app-embeded-sign-in-modal>

<!-- <div class="mt-5">
    <div>
        <span>
            {{"NotAMemberYet" | localize}}
        </span>
    </div>
    <span *ngIf="isSelfRegistrationAllowed">
        <a routerLink="/account/register">{{"CreateAnAccount" | localize}}</a>
        <span> | </span>
    </span>
    <span *ngIf="!multiTenancySideIsTeanant && isTenantSelfRegistrationAllowed">
        <a routerLink="/account/select-edition">{{"NewTenant" | localize}}</a>
        <span> | </span>
    </span>
    <a routerLink="/account/email-activation" id="email-activation-btn">{{"EmailActivation" | localize}}</a>
</div> -->
