<div [@routerTransition]>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
            <div class="d-flex flex-column flex-column-fluid">
                <sub-header *ngIf="theme != 'theme12'" [title]="'Branches' | localize" [description]="'Branches Header Info' | localize">
                    <div role="actions">

                        <button (click)="createBranch()" class="btn btn-primary btn-round btn-sm waves-effect waves-float waves-light">
                            <i class="fa fa-plus"></i> {{ l("Create New Branch") }}
                        </button>
                    </div>
                </sub-header>
                <sub-header *ngIf="theme === 'theme12'" [title]="'branches' | localize" [description]="'branchesHeaderInfo' | localize"> </sub-header>
                <div  [ngClass]="theme != 'theme12' ? 'container' : ''">
                    <div class="card-custom gutter-b card" >
                        <div class="card-body" [ngClass]="theme != 'theme12' ? 'p-0' : ''">
                            <div class="row  mb-2 " *ngIf="theme === 'theme12'">
                                <div class="col-md-6 col-12 text-right"></div>
                                <div class="col-md-6 col-12 p-1" [ngClass]="isArabic? 'text-left' : 'text-right'">
                                    <button (click)="createBranch()" class="btn btn-outline-primary-info mr-1"><i class="fa fa-plus"></i> {{ l("createBranch") }}</button>
                                </div>
                            </div>
                            <div class="align-items-center">
                                <!--<Primeng-Datatable-Start>-->
                                <div class="primeng-datatable-container" [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'" [busyIf]="primengTableHelper.isLoading">
                                    <p-table
                                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                        #dataTable
                                        (onLazyLoad)="getBranches($event)"
                                        [value]="primengTableHelper.records"
                                        rows="20"
                                        [paginator]="false"
                                        [lazy]="true"
                                        [scrollbarV]="true"
                                        [scrollbarH]="true"
                                        [scrollable]="true"                                
                                        ScrollWidth="100%"
                                        [responsive]="primengTableHelper.isResponsive"
                                        [resizableColumns]="primengTableHelper.resizableColumns"
                                    >
                                        <ng-template pTemplate="header"  [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'">
                                            <tr>
                                                <th   [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 40px" >{{ l("Actions") }}</th>
                                                <th   [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 100px" pSortableColumn="areaName">
                                                    {{ l("branchNameAr") }}
                                                    <p-sortIcon field="areaName"></p-sortIcon>
                                                </th>
                                            

                                                <th   [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 100px" pSortableColumn="areaNameEnglish">
                                                    {{ l("branchNameEn") }}
                                                    <p-sortIcon field="areaNameEnglish"></p-sortIcon>
                                                </th>
                                          
                                                <th   [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 80px" pSortableColumn="isAvailableBranch">
                                                    {{ l("isAvailable") }}
                                                    <p-sortIcon field="isAvailableBranch"></p-sortIcon>
                                                </th>
                                                <th   [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 80px"  pSortableColumn="isRestaurantsTypeAll">
                                                    {{ l("assignToAll") }}
                                                    <p-sortIcon field="isRestaurantsTypeAll"></p-sortIcon>
                                                </th>
                                            
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                            <tr>
                                                <td  [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="width: 40px">
                                                    <div class="btn-group dropdown" dropdown container="body">
                                                        <button [ngClass]="theme != 'theme12' ? 'btn-primary' : 'btn-primary-info'"  class="dropdown-toggle btn btn-sm " dropdownToggle>
                                                            <i class="fa fa-cog"></i><span class="caret"></span>
                                                        </button>
                                                        <ul [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''" class="dropdown-menu" *dropdownMenu>
                                                            <li>
                                                                <a href="javascript:;" class="dropdown-item" (click)="viewBranchessModal.show(record)">{{ l("view") }}</a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:;" class="dropdown-item" (click)="createOrEditBranchessModal.show(record.id)">{{
                                                                    l("Edit")
                                                                }}</a>
                                                            </li>

                                                            <li>
                                                                <a href="javascript:;" class="dropdown-item" (click)="createOrEditBranchSettingModel.show(record.id)">{{
                                                                    l("Settings")
                                                                }}</a>
                                                            </li>
                                                            <li>
                                                                <a class="dropdown-item" href="javascript:;" (click)="deleteBranches(record.id)">{{ l("Delete") }}</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td  [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 100px; font-family: system-ui">
                                                    <span class="p-column-title"> {{ l("Branch Name") }}</span>
                                                    {{ record.areaName }}
                                                </td>

                                                <td  [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="width: 100px; font-family: system-ui">
                                                    <span class="p-column-title"> {{ l("branchNameEn") }}</span>
                                                    {{ record.areaNameEnglish }}
                                                </td>
                                              
                                                <td  [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="width: 80px">
                                                    <span class="p-column-title"> {{ l("isAvailable") }}</span>
                                                    <span *ngIf="record.isAvailableBranch" ><i class="fa fa-check-circle text-success" title="True"></i></span>
                                                    <span *ngIf="!record.isAvailableBranch" ><i class="fa fa-times-circle" title="False"></i></span>
                                                </td>

                                                <td  [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''" style="width: 80px">
                                                    <span class="p-column-title"> {{ l("assignToAll") }}</span>
                                                    <span *ngIf="record.isRestaurantsTypeAll" ><i class="fa fa-check-circle text-success" title="True"></i></span>
                                                    <span *ngIf="!record.isRestaurantsTypeAll" ><i class="fa fa-times-circle" title="False"></i></span>
                                                </td>                         
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                    <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                        {{ l("NoData") }}
                                    </div>
                                    <div class="primeng-paging-container">
                                        <p-paginator [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''"
                                            [rows]="20"
                                            #paginator
                                            (onPageChange)="getBranches($event)"
                                            [totalRecords]="primengTableHelper.totalRecordsCount"
                                            [rowsPerPageOptions]="[10,20,30]"
                                        >
                                        </p-paginator>
                                        <span class="total-records-count">
                                            {{ l("TotalRecordsCount", primengTableHelper.totalRecordsCount) }}
                                        </span>
                                    </div>
                                </div>
                                <!--<Primeng-Datatable-End>-->
                            </div>
                        </div>
                    </div>
                </div>
                <createOrEditBranchessModal #createOrEditBranchessModal (modalSave)="getBranches()"></createOrEditBranchessModal>
                <viewBranchessModal #viewBranchessModal></viewBranchessModal>

                <createOrEditBranchSettingModel #createOrEditBranchSettingModel></createOrEditBranchSettingModel>
            </div>
        </div>
    </div>
</div>
