<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true">
    <div *ngIf="theme != 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="btn-close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-6 mb-3">
                        <h6>{{l('BranchName')}}:</h6>
                        {{ area.areaName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>Shop Name :</h6>
                        {{ area.areaCoordinate }}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="theme === 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4  class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="row">

                    <div class="col-6 mb-1 d-flex">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-home font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{l('branchNameAr')}}:<small> {{ area.areaName}}</small></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mb-1 d-flex">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-user font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6
                                        class="transaction-title">{{l("area")}} : <small> {{area.areaCoordinate }}</small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <agm-map id="map" [latitude]="area.latitude" [longitude]="area.longitude" [zoom]="zoom">
                        <agm-marker [latitude]="area.latitude" [longitude]="area.longitude"></agm-marker>
                    </agm-map>
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary-info"
                    (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>