<div class="row match-height grid-container">
    <div class="box2">
        <div class="row match-height">
            <!-- WhatsApp Campaign -->
            <div class="col-12">
                <div class="card card-statistic">
                    <div class="pb-0 card-header">
                        <h4>{{ l("campaign") }}</h4>
                    </div>
                    <div class="card-body pb-50 pt-0 p-2">
                        <div class="row">
                            <div class="col-sm-8 col-6 d-flex flex-column flex-wrap">
                                <h1 class="font-large-2 font-weight-bolder mb-0">
                                    {{ dasboardService.campaignData.totalContact }}
                                </h1>
                                <p class="card-text">
                                    <b>{{ l("Total Campaigns") }}</b>
                                </p>
                            </div>
                            <div class="col-sm-4 col-6 p-0">
                                <label>Campaign Name</label>
                                <select
                                    (change)="dasboardService.getDashboardCampaignInfo()"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    name="campaignId"
                                    id="campaignId"
                                    [(ngModel)]="dasboardService.campaignId"
                                    (click)="onClickCampaignHandle()"
                                >
                                    <option [value]="undefined" selected>{{ l("All") }}</option>
                                    <option *ngFor="let campaign of getAllCampaignValue()" [value]="campaign.id">{{ campaign.title }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("deliverd") }}: {{ dasboardService.campaignData.totalDelivered }}</p>
                                <ngb-progressbar
                                    type="success"
                                    [height]="'6px'"
                                    [max]="dasboardService.campaignData.totalContact"
                                    [value]="dasboardService.campaignData.totalDelivered"
                                ></ngb-progressbar>
                            </div>

                            <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("read") }}: {{ dasboardService.campaignData.totalRead }}</p>

                                <ngb-progressbar
                                    type="info"
                                    [height]="'6px'"
                                    [max]="dasboardService.campaignData.totalContact"
                                    [value]="dasboardService.campaignData.totalRead"
                                ></ngb-progressbar>
                            </div>
                            <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("sent") }}: {{ dasboardService.campaignData.totalSent }}</p>
                                <ngb-progressbar
                                    type="primary"
                                    [height]="'6px'"
                                    [max]="dasboardService.campaignData.totalContact"
                                    [value]="dasboardService.campaignData.totalSent"
                                ></ngb-progressbar>
                            </div>
                        </div>

                        <div class="row my-1">
                            <!-- <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("Replied") }}: {{ dasboardService.campaignData.totalReplied }}</p>
                                <ngb-progressbar
                                    type="primary"
                                    [height]="'6px'"
                                    [max]="dasboardService.campaignData.totalContact"
                                    [value]="dasboardService.campaignData.totalReplied"
                                ></ngb-progressbar>
                            </div> -->

                            <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("Failed") }}: {{ dasboardService.campaignData.totalFailed }}</p>

                                <ngb-progressbar
                                    type="danger"
                                    [height]="'6px'"
                                    [max]="dasboardService.campaignData.totalContact"
                                    [value]="dasboardService.campaignData.totalFailed"
                                ></ngb-progressbar>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6" [routerLink]="['/app/main/externalContacts']">
                                <p class="text-muted text-decoration-underline">
                                    {{ l("detailedReport") }}
                                </p>
                            </div>
                            <div  *ngIf="isGranted('Pages_Administration_Usage_details')" class="col-6 text-right" [routerLink]="['/app/admin/usage-details']">
                                <p class="text-muted text-decoration-underline">
                                    {{ l("usageDetails") }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- WhatsApp Campaign-->

            <!-- Contact -->
            <div class="col-12">
                <div class="card card-statistic">
                    <div class="pb-0 card-header">
                        <h4>{{ l("Contacts") }}</h4>
                    </div>
                    <div class="card-body pb-50 pt-0 p-2">
                        <div class="row">
                            <div class="col-sm-8 col-6 d-flex flex-column flex-wrap">
                                <h1 class="font-large-2 font-weight-bolder mb-0">
                                    {{ dasboardService.contactData.totalContact }}
                                </h1>
                                <p class="card-text">
                                    <b>{{ l("Total Contacts") }}</b>
                                </p>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("optIn") }}: {{ dasboardService.contactData.totalContactOptIn }}</p>
                                <ngb-progressbar
                                    type="success"
                                    [height]="'6px'"
                                    [max]="dasboardService.contactData.totalContact"
                                    [value]="dasboardService.contactData.totalContactOptIn"
                                ></ngb-progressbar>
                            </div>

                            <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("optOut") }}: {{ dasboardService.contactData.totalContactOptOut }}</p>

                                <ngb-progressbar
                                    type="info"
                                    [height]="'6px'"
                                    [max]="dasboardService.contactData.totalContact"
                                    [value]="dasboardService.contactData.totalContactOptOut"
                                ></ngb-progressbar>
                            </div>
                            <div class="col-sm-12 col-xl-4 mb-2 mb-xl-0">
                                <p class="mb-50">{{ l("netural") }}: {{ dasboardService.contactData.totalContactNeutral }}</p>
                                <ngb-progressbar
                                    type="primary"
                                    [height]="'6px'"
                                    [max]="dasboardService.contactData.totalContact"
                                    [value]="dasboardService.contactData.totalContactNeutral"
                                ></ngb-progressbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End of contacts-->
        </div>
    </div>

    <!-- Live Chat -->
    <div class="box" *ngIf="isHasPermissionLiveChat">
        <div class="card">
            <div class="card-header d-flex justify-content-between pb-0">
                <h4 class="card-title">{{ l("tickets") }}</h4>
            </div>
            <div class="card-body p-2">
                <div class="row">
                    <div class="col-sm-2 col-12 d-flex flex-column flex-wrap text-center">
                        <h1 class="font-large-2 font-weight-bolder mt-2 mb-0">
                            {{ dasboardService.ticketsData.totalTickets }}
                        </h1>
                        <!-- <p class="card-text">{{ l("tickets") }}</p> -->
                    </div>
                    <div class="col-sm-10 col-12 d-flex justify-content-center" #supportChartRef>
                        <div id="supportChartoptions" *ngIf="dasboardService.ticketsData.percentageClosed != undefined" style="text-align: -webkit-center">
                            <apx-chart
                                [series]="[dasboardService.ticketsData.percentageClosed]"
                                [chart]="{
                                    height: 290,
                                    width: 200,
                                    type: 'radialBar',
                                    sparkline: {
                                        enabled: false
                                    }
                                }"
                                [plotOptions]="supportChartoptions.plotOptions"
                                [colors]="supportChartoptions.colors"
                                [fill]="supportChartoptions.fill"
                                [stroke]="supportChartoptions.stroke"
                                [labels]="supportChartoptions.labels"
                            ></apx-chart>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex card-footer p-1 justify-content-between mt-1">
                <div class="text-center">
                    <p class="card-text mb-50">{{ l("pending") }}</p>
                    <span class="font-medium-2 font-weight-bold"> {{ dasboardService.ticketsData.totalPending }}</span>
                </div>
                <div class="text-center">
                    <p class="card-text mb-50">{{ l("opened") }}</p>
                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ticketsData.totalOpened }}</span>
                </div>
                <div class="text-center">
                    <p class="card-text mb-50">{{ l("closed") }}</p>
                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ticketsData.totalClosed }}</span>
                </div>
                <!-- <div class="text-center">
                    <p class="card-text mb-50">{{ l("expired") }}</p>
                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ticketsData.totalExpired }}</span>
                </div> -->
                <div class="text-center">
                    <p class="card-text mb-50">{{ l("avgOfResolutionTime") }}</p>
                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ticketsData.avgResolutionTime }}</span>
                </div>
            </div>
        </div>
    </div>
    <!--End of Live chat-->

    <!-- Orders -->
    <div class="box" *ngIf="isHasPermissionOrder">
        <div class="card earnings-card">
            <div class="card-body p-1">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-8 col-6 d-flex flex-column flex-wrap">
                            <h4 class="card-title mb-1">{{ l("orders") }}</h4>
                        </div>
                        <div class="col-sm-4 col-6 p-0 d-flex flex-column flex-wrap">
                            <label>Branch Order</label>
                            <select
                                (change)="dasboardService.getDashboardOrdersInfo()"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                name="branchId"
                                id="branchId"
                                [(ngModel)]="dasboardService.branchId"
                            >
                                <option [value]="undefined" selected>{{ l("All") }}</option>
                                <option *ngFor="let branch of allBranches" [value]="branch.id">{{ branch.areaName }}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div
                            id="earningChartRef"
                            #earningChartRef
                            *ngIf="
                                dasboardService.ordersData.percentageCompleted != undefined &&
                                (dasboardService.ordersData.percentageCompleted != 0 ||
                                    dasboardService.ordersData.percentagePending != 0 ||
                                    dasboardService.ordersData.percentageCanceled != 0)
                            "
                            style="text-align: -webkit-center"
                        >
                            <!-- Apexchart component-->
                            <apx-chart
                                [chart]="{
                                    type: 'donut',
                                    height: 200,
                                    width: 500,
                                    toolbar: {
                                        show: false
                                    }
                                }"
                                [dataLabels]="earningChartoptions.dataLabels"
                                [series]="[
                                    dasboardService.ordersData.percentageCompleted,
                                    dasboardService.ordersData.percentagePending,
                                    dasboardService.ordersData.percentageCanceled
                                ]"
                                [legend]="earningChartoptions.legend"
                                [labels]="earningChartoptions.labels"
                                [stroke]="earningChartoptions.stroke"
                                [colors]="earningChartoptions.colors"
                                [grid]="earningChartoptions.grid"
                            ></apx-chart>
                            <!-- / Apexchart component-->
                        </div>
                        <div
                            class="row text-center justify-content-center"
                            style="height: 500px"
                            *ngIf="
                                dasboardService.ordersData.percentageCompleted != undefined &&
                                dasboardService.ordersData.percentageCompleted === 0 &&
                                dasboardService.ordersData.percentagePending === 0 &&
                                dasboardService.ordersData.percentageCanceled === 0
                            "
                        >
                            <div class="m-auto progress-circle">
                                <div class="circle-content">
                                    <h5>{{ dasboardService.ordersData.percentageCompleted }} %</h5>
                                    <p>{{ l("completed") }}</p>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row text-center justify-content-center"
                                style="height: 500px;"
                                *ngIf="dasboardService.ordersData.percentageCompleted != undefined && (dasboardService.ordersData.percentageCompleted === 100 )">
                                <div class=" m-auto  progress-circle">
                                    <div class="circle-content">
                                        <h5>{{dasboardService.ordersData.percentageCompleted}}
                                            %</h5>
                                        <p>{{ l("completed")}} </p>
                                    </div>
                                </div>
                            </div> -->

                        <!-- <div class="row text-center justify-content-center"
                                style="height: 500px;"
                                *ngIf="dasboardService.ordersData.percentageCompleted != undefined && (dasboardService.ordersData.percentageCanceled === 100 )">
                                <div class=" m-auto  progress-circle">
                                    <div class="circle-content">
                                        <h5>{{dasboardService.ordersData.percentageCanceled}}
                                            %</h5>
                                        <p>{{ l("canceled")}} </p>
                                    </div>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="card-footer p-1">
                <ngb-accordion class="p-0" #acc="ngbAccordion">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span class="lead collapse-title"> {{ l("statistic") }} </span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row mt-1">
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("total") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalOrder }}</span>
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("Completed") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalOrderCompleted }}</span>
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("pending") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalOrderPending }}</span>
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("canceled") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalOrderCanceled }}</span>
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("deleted") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalOrderDeleted }}</span>
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("preOrder") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalOrderPreOrder }}</span>
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("Total revenue") }}</p>
                                    <span class="font-medium-2 font-weight-bold"
                                        >{{ dasboardService.ordersData.totalRevenue }} <small> {{ appSession.tenant.currencyCode }}</small></span
                                    >
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("Redeemed points") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.redeemedPoints }}</span>
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("Reward points") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.rewardPoints }}</span>
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("takeAway") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalTakeaway }}</span>
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("delivery") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.totalDelivery }}</span>
                                </div>
                                <div class="col text-center">
                                    <p class="card-text mb-50">{{ l("deliveryCost") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.ordersData.deliveryCost }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <div class="row mt-1 w-100" *ngIf="dasboardService.bestSellingItems.length > 0">
                    <ngb-accordion class="p-0" #acc="ngbAccordion">
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <span class="lead collapse-title"> {{ l("bestSellers") }} </span>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <table class="w-100" [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-layout ' : ''">
                                    <tr class="sticky-header">
                                        <th class="p-1">{{ l("produstName") }}</th>
                                        <th class="p-1">{{ l("quantity") }}</th>
                                    </tr>
                                    <tr class="border" *ngFor="let product of dasboardService.bestSellingItems; let index = index">
                                        <td class="p-1">
                                            {{ product.itemNameEnglish }}
                                        </td>
                                        <td class="p-1">
                                            {{ product.totalQuantity }}
                                        </td>

                                        <hr />
                                    </tr>
                                </table>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
    <!--End Of Orders-->

    <!-- Appoitments -->
    <div class="box" *ngIf="isHasPermissionBooking">
        <div class="card earnings-card">
            <div class="card-body p-1">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-8 col-6 d-flex flex-column flex-wrap">
                            <h4 class="card-title mb-1">{{ l("appoitments") }}</h4>
                        </div>
                        <div class="col-sm-4 col-6 p-0 d-flex flex-column flex-wrap">
                            <label>{{ l("Users") }}</label>
                            <select
                                (change)="dasboardService.getDashboardAppoitmentsInfo()"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                name="userId"
                                id="userId"
                                [(ngModel)]="dasboardService.selectedUser"
                            >
                                <option [value]="undefined" selected>{{ l("All") }}</option>
                                <option *ngFor="let user of allUsers" [value]="user.id">{{ user.name }}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div
                            id="appoitmentsChartRef"
                            #appoitmentsChartRef
                            style="text-align: -webkit-center"
                            *ngIf="
                                dasboardService.appoitmentsData.percentageBooked != undefined &&
                                (dasboardService.appoitmentsData.percentagePending != 0 ||
                                    dasboardService.appoitmentsData.percentageCanceled != 0 ||
                                    dasboardService.appoitmentsData.percentageBooked != 0)
                            "
                        >
                            <!-- Apexchart component-->
                            <apx-chart
                                [chart]="{
                                    type: 'donut',
                                    height: 300,
                                    width: 500,
                                    toolbar: {
                                        show: false
                                    }
                                }"
                                [dataLabels]="appoitmentChartoptions.dataLabels"
                                [series]="[
                                    dasboardService.appoitmentsData.percentageBooked,
                                    dasboardService.appoitmentsData.percentagePending,
                                    dasboardService.appoitmentsData.percentageCanceled
                                ]"
                                [legend]="appoitmentChartoptions.legend"
                                [labels]="appoitmentChartoptions.labels"
                                [stroke]="appoitmentChartoptions.stroke"
                                [colors]="appoitmentChartoptions.colors"
                                [grid]="appoitmentChartoptions.grid"
                                [plotOptions]="appoitmentChartoptions.plotOptions"
                            ></apx-chart>
                            <!-- / Apexchart component-->
                        </div>
                        <div
                            class="row text-center justify-content-center"
                            style="height: 500px"
                            *ngIf="
                                dasboardService.appoitmentsData.percentageBooked != undefined &&
                                dasboardService.appoitmentsData.percentageBooked === 0 &&
                                dasboardService.appoitmentsData.percentageCanceled === 0 &&
                                dasboardService.appoitmentsData.percentagePending === 0
                            "
                        >
                            <div class="m-auto progress-circle">
                                <div class="circle-content">
                                    <h5>{{ dasboardService.appoitmentsData.percentageBooked }} %</h5>
                                    <p>{{ l("booked") }}</p>
                                </div>
                            </div>
                        </div>
                        <!--
                            <div class="row text-center justify-content-center"
                                style="height: 500px;"
                                *ngIf="dasboardService.appoitmentsData.percentageBooked  != undefined && (dasboardService.appoitmentsData.percentageCanceled === 100 )">
                                <div class=" m-auto  progress-circle">
                                    <div class="circle-content">
                                        <h5>{{dasboardService.appoitmentsData.percentageCanceled}}
                                            %</h5>
                                        <p>{{ l("canceled")}} </p>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row text-center justify-content-center"
                                style="height: 500px;"
                                *ngIf="dasboardService.appoitmentsData.percentageBooked  != undefined && (dasboardService.appoitmentsData.percentagePending === 100 )">
                                <div class=" m-auto  progress-circle">
                                    <div class="circle-content">
                                        <h5>{{dasboardService.appoitmentsData.percentagePending}}
                                            %</h5>
                                        <p>{{ l("pending")}} </p>
                                    </div>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="card-footer p-1">
                <ngb-accordion class="p-0" #acc="ngbAccordion">
                    <ngb-panel>
                        <ng-template ngbPanelTitle>
                            <span class="lead collapse-title"> {{ l("statistic") }} </span>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row mt-1">
                                <div class="col-4 text-center">
                                    <p class="card-text mb-50">{{ l("total") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.appoitmentsData.totalAppointments }}</span>
                                </div>
                                <div class="col-4 text-center">
                                    <p class="card-text mb-50">{{ l("booked") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.appoitmentsData.totalBooked }}</span>
                                </div>
                                <div class="col-4 text-center">
                                    <p class="card-text mb-50">{{ l("confirmed") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.appoitmentsData.totalConfirmed }}</span>
                                </div>
                            </div>

                            <div class="row mt-1">
                                <div class="col-4 text-center">
                                    <p class="card-text mb-50">{{ l("canceled") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.appoitmentsData.totalCancelled }}</span>
                                </div>
                                <div class="col-4 text-center">
                                    <p class="card-text mb-50">{{ l("pending") }}</p>
                                    <span class="font-medium-2 font-weight-bold">{{ dasboardService.appoitmentsData.totalPending }}</span>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
            </div>
        </div>
    </div>
    <!--End Of Appoitments-->

    <!-- User performance for Tickts Table-->
    <!-- <div class="box" *ngIf="isHasPermissionLiveChat">
        <div class="card card-browser-states">
            <div class="card-header">
                <h4 class="card-title">{{ l("userPerfermence") }}</h4>
                <div class="col-sm-12 col-12 d-flex flex-column flex-wrap mt-1">
                    <h1>{{ dasboardService.ticketPerformence.totalTickets }}</h1>
                    <p>{{ l("totalTickets") }}</p>
                </div>
            </div>
            <div class="card-body">
                <div class="ticketPerformance">
                    <table [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-layout ' : ''">
                        <tr class="sticky-header">
                            <th style="width: 25%" class="p-1">{{ l("User") }}</th>
                            <th style="width: 25%" class="p-1">{{ l("completed") }}</th>
                            <th style="width: 25%" class="p-1">{{ l("opened") }}</th>
                            <th style="width: 25%" class="p-1">{{ l("avgOfResolutionTime") }}</th>
                        </tr>
                        <tr class="border" *ngFor="let user of dasboardService.ticketPerformence.userPerformanceTicketModel; let index = index">
                            <td style="width: 25%" class="p-1">
                                <div class="media">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./../../../../assets/images/avatarImage.png" class="rounded mr-1" height="30" alt="User Image" />
                                        </div>
                                        <div class="col-8">
                                            <div class="row">
                                                <h6 class="align-self-center mb-0">{{ user.userName }}</h6>
                                            </div>
                                            <div class="row">
                                                <div class="font-small-2 text-muted">{{ user.emailAddress }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 25%" class="p-1">
                                {{ user.totalClose }} %
                                <div class="row font-small-2">
                                    #
                                    {{ l("ofCompletedTickets") }}
                                </div>
                            </td>
                            <td style="width: 25%" class="p-1">
                                {{ user.totalOpen }} %
                                <div class="row font-small-2"># {{ l("ofopenedTickets") }}</div>
                            </td>
                            <td style="width: 25%" class="p-1">
                                {{ user.avg_ActionTime }}
                            </td>
                            <hr />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div> -->

        <!-- User performance for tickets -->
        <!-- <div class="box">
            <div class="card card-browser-states">
                <div class="card-header">
                    <div class="row" style="display: flex; justify-content: space-between; width: 100%">
                        <div class="col-sm-8 col-6 d-flex flex-column flex-wrap">
                            <h4 class="card-title mb-1">{{ l("userPerfermence") }}</h4>
                        </div>
                        <div class="col-sm-4 col-6 p-0 d-flex flex-column flex-wrap">
                            <label>{{ l("Users") }}</label>
                            <select [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'" name="userId" id="userId"
                             (change)="getDashboardUserPreformanceForBarChartInfo()" 
                             [(ngModel)]="dasboardService.selectedUserForBarChart">
                                <option *ngFor="let user of allUsers" [value]="user.id">{{ user.userName }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                    <app-bar-chart [DataFromParent]="dataForChart"></app-bar-chart>
                </div>
            </div>
        </div>
     -->

    <!-- User performance for booking Table-->
    <div class="box" *ngIf="isHasPermissionBooking">
        <div class="card card-browser-states">
            <div class="card-header">
                <h4 class="card-title">{{ l("userPerfermence") }}</h4>
                <div class="col-sm-12 col-12 d-flex flex-column flex-wrap mt-1">
                    <h1>{{ dasboardService.bookingPerformence.totalBooking }}</h1>
                    <p>{{ l("total") }} {{ l("Appoitments") }}</p>
                </div>
            </div>
            <div class="card-body">
                <div class="ticketPerformance">
                    <table [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-layout ' : ''">
                        <tr class="sticky-header">
                            <th style="width: 15%" class="p-1">{{ l("User") }}</th>
                            <th style="width: 15%" class="p-1">{{ l("booked") }}</th>
                            <th style="width: 15%" class="p-1">{{ l("confirmed") }}</th>
                            <th style="width: 15%" class="p-1">{{ l("canceled") }}</th>
                            <th style="width: 15%" class="p-1">{{ l("deleted") }}</th>
                            <th style="width: 15%" class="p-1">{{ l("pending") }}</th>
                        </tr>
                        <tr class="border" *ngFor="let user of dasboardService.bookingPerformence.userPerformanceBookingModel; let index = index">
                            <td style="width: 15%" class="p-1">
                                <div class="media">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./../../../../assets/images/avatarImage.png" class="rounded mr-1" height="30" alt="User Image" />
                                        </div>
                                        <div class="col-8">
                                            <div class="row">
                                                <h6 class="align-self-center mb-0">{{ user.userName }}</h6>
                                            </div>
                                            <div class="row">
                                                <div class="font-small-2 text-muted">{{ user.emailAddress }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 15%" class="p-1">
                                {{ user.totalBooked }} %
                                <div class="row font-small-2"># {{ l("ofBookedAppoitments") }}</div>
                            </td>
                            <td style="width: 15%" class="p-1">
                                {{ user.totalConfirmed }} %
                                <div class="row font-small-2"># {{ l("ofConfirmedAppoitments") }}</div>
                            </td>
                            <td style="width: 15%" class="p-1">
                                {{ user.totalCancelled }} %
                                <div class="row font-small-2"># {{ l("ofCanceledAppoitments") }}</div>
                            </td>
                            <td style="width: 15%" class="p-1">
                                {{ user.totalDeleted }} %
                                <div class="row font-small-2"># {{ l("ofDeletedAppoitments") }}</div>
                            </td>
                            <td style="width: 15%" class="p-1">
                                {{ user.totalPending }} %
                                <div class="row font-small-2">#{{ l("ofPendingAppoitments") }}</div>
                            </td>
                            <hr />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- User performance for tickets -->
    <div class="box" style="display: none;">
        <div class="card card-browser-states">
            <div class="card-header">
                <div class="row" style="display: flex; justify-content: space-between; width: 100%">
                    <div class="col-sm-8 col-6 d-flex flex-column flex-wrap">
                        <h4 class="card-title mb-1">{{ l("userPerfermence") }}</h4>
                    </div>
                    <div class="col-sm-4 col-6 p-0 d-flex flex-column flex-wrap">
                        <label>{{ l("Users") }}</label>
                        <select [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'" name="userId" id="userId" (change)="getDashboardUserPreformanceForBarChartInfo()" [(ngModel)]="dasboardService.selectedUserForBarChart">
                            <option *ngFor="let user of allUsers" [value]="user.id">{{ user.name }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="card-body" style="display: flex; flex-direction: column; justify-content: center; align-items: center">
                <app-bar-chart [DataFromParent]="dataForChart"></app-bar-chart>
            </div>
        </div>
    </div>

    <!-- User performance for order Table-->
    <div class="box" *ngIf="isHasPermissionOrder">
        <div class="card card-browser-states">
            <div class="card-header">
                <h4 class="card-title">{{ l("userPerfermence") }}</h4>
                <div class="col-sm-12 col-12 d-flex flex-column flex-wrap mt-1">
                    <h1>{{ dasboardService.orderPerformence.totalOrders }}</h1>
                    <p>{{ l("total") }} {{ l("Orders") }}</p>
                </div>
            </div>
            <div class="card-body">
                <div class="ticketPerformance">
                    <table [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-layout ' : ''">
                        <tr class="sticky-header">
                            <th style="width: 25%" class="p-1">{{ l("User") }}</th>
                            <th style="width: 25%" class="p-1">{{ l("completed") }}</th>
                            <th style="width: 25%" class="p-1">{{ l("deleted") }}</th>
                            <th style="width: 25%" class="p-1">{{ l("avgOfActionTime") }}</th>
                        </tr>
                        <tr class="border" *ngFor="let user of dasboardService.orderPerformence.userPerformanceOrderModel; let index = index">
                            <td style="width: 25%" class="p-1">
                                <div class="media">
                                    <div class="row">
                                        <div class="col-3">
                                            <img src="./../../../../assets/images/avatarImage.png" class="rounded mr-1" height="30" alt="User Image" />
                                        </div>
                                        <div class="col-8">
                                            <div class="row">
                                                <h6 class="align-self-center mb-0">{{ user.userName }}</h6>
                                            </div>
                                            <div class="row">
                                                <div class="font-small-2 text-muted">{{ user.emailAddress }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 25%" class="p-1">
                                {{ user.countDone }} %
                                <div class="row font-small-2"># {{ l("ofDoneOrders") }}</div>
                            </td>
                            <td style="width: 25%" class="p-1">
                                {{ user.countDelete }} %
                                <div class="row font-small-2">#{{ l("ofDeletedOrders") }}</div>
                            </td>
                            <td style="width: 25%" class="p-1">
                                {{ user.avg_ActionTime }}
                            </td>

                            <hr />
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

        <!-- new  User performance for order Table-->
    <div class="box" *ngIf="isHasPermissionLiveChat">
       <div class="ticket-container">
  <h2>Tickets you are handling</h2>
  <!-- <div class="search-bar">
    <input type="text" placeholder="Search Agent..." />
  </div> -->

  <table>
    <thead>
      <tr>
        <th><input type="checkbox" /></th>
        <th>Agent Name</th>
        <!-- <th>Progress</th> -->
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let user of dasboardService.ticketPerformence?.userPerformanceTicketModel; let index = index" > -->
      <tr *ngFor="let user of dasboardService.ticketPerformence.userPerformanceTicketModel; let index = index" >

        <td><input type="checkbox" /></td>
        <td><div class="agent-info"><span class="avatar admin">🛠️</span> <div><strong>{{ user.userName }}</strong><br><small>{{ user.emailAddress }}</small></div></div></td>
        <!-- <td><div class="progress-wrapper"><span>76%</span><div class="progress"><div style="width: 76%;"></div></div><small>19/25</small></div></td> -->
        <td><div class="status"><span class="pending">● Pending {{user.totalPending}}</span><span class="opened">● Opened {{user.totalOpen}}</span><span class="closed">● Closed {{user.totalClose}}</span></div></td>
      </tr>
      
    </tbody>
  </table>

  <div class="pagination">
<span>Showing {{ dasboardService.ticketPerformence?.userPerformanceTicketModel?.length || 0 }} </span>
    <div>
      <button disabled>&laquo;</button>
      <button class="active">1</button>
      <!-- <button>2</button>
      <button>3</button>
      <button>4</button>
      <button>5</button> -->
      <button disabled >&raquo;</button>
    </div>
  </div>
</div>
    </div>


</div>
