<section class="horizontal-wizard">
    <div id="stepper1" class="bs-stepper horizontal-wizard-example">
        <div class="bs-stepper-header">
            <div class="step" data-target="#clientInfo">
                <button class="step-trigger">
                    <span class="bs-stepper-box">1</span>
                </button>
            </div>
            <div class="line"><i class="bi bi-arrow-right"></i></div>
            <div class="step" data-target="#packageInfo">
                <button class="step-trigger">
                    <span class="bs-stepper-box">2</span>
                </button>
            </div>
            <div class="line"><i class="bi bi-arrow-right"></i></div>
            <div class="step" data-target="#paymentInfo">
                <button class="step-trigger">
                    <span class="bs-stepper-box">3</span>
                </button>
            </div>
        </div>
        <div class="bs-stepper-content">
            <div id="clientInfo" class="content">
                <div class="row mt-1">
                    <div class="form-check">
                        <span class="mr-1 botSettings"> Service You Want?</span>

                        <input (change)="changeService($event)" [(ngModel)]="service" class="mr-1" type="radio" id="wos" value="0" name="service" />
                        <label for="wos" class="mr-1"> WhatsApp online store</label>

                        <input (change)="changeService($event)" class="mr-1" [(ngModel)]="service" type="radio" id="wc" value="1" name="service" />
                        <label for="wc" class="mr-1"> WhatsApp campaign</label>

                        <input (change)="changeService($event)" class="mr-1" [(ngModel)]="service" type="radio" id="wb" value="2" name="service" />
                        <label for="wb" class="mr-1"> WhatsApp booking</label>

                        <input (change)="changeService($event)" class="mr-1" [(ngModel)]="service" type="radio" id="ecb" value="3" name="service" />
                        <label for="ecb" class="mr-1"> Enterprise custom bot</label>
                    </div>
                </div>

                <div class="row mt-2">
                    <span class="mr-1 botSettings"> Country*</span>

                    <input class="mr-1" [(ngModel)]="isUAE" type="checkbox" id="uae" name="uae" />
                    <label for="uae" class="mr-1"> UAE</label>

                    <input class="mr-1" [(ngModel)]="isKSA" type="checkbox" id="ksa" name="ksa" />
                    <label for="ksa" class="mr-1"> KSA</label>

                    <input class="mr-1" type="checkbox" [(ngModel)]="isJordan" id="jordan" name="jordan" />
                    <label for="jordan" class="mr-1"> Jordan</label>

                    <input class="mr-1" type="checkbox" [(ngModel)]="isIraq" id="iraq" name="iraq" />
                    <label for="iraq" class="mr-1"> Iraq</label>

                    <input class="mr-1" type="checkbox" [(ngModel)]="isBahrain" id="bahrain" name="bahrain" />
                    <label for="bahrain" class="mr-1"> Bahrain</label>

                    <input class="mr-1" type="checkbox" id="qatar" [(ngModel)]="isQatar" name="qatar" />
                    <label for="qatar" class="mr-1"> Qatar</label>

                    <input class="mr-1" type="checkbox" id="kuwait" [(ngModel)]="isKuwait" name="kuwait" />
                    <label for="kuwait" class="mr-1"> Kuwait</label>
                </div>
                <p class="text-danger" *ngIf="submitted && (!isUAE && !isKSA && !isJordan && !isIraq && !isBahrain && !isQatar && !isKuwait)">{{ l("ThisFieldIsRequired") }}</p>
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-sm-6 col-form-label">
                                <span>Buisness Owner Name</span>
                            </div>
                            <div class="col-sm-6">
                                <input [(ngModel)]="signUpModel.sginUpRequest.ownerName" type="text" id="first-name" class="form-control" name="fname" placeholder="Name" />
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-sm-6 col-form-label">
                                <span>Contact Number*</span>
                            </div>
                            <div class="col-sm-6">
                                <ngx-intl-tel-input
                                    required
                                    class="d-block"
                                    #phoneNumberr="ngModel"
                                    [preferredCountries]="[CountryISO.SaudiArabia]"
                                    (countryChange)="getCountryCode($event)"
                                    [enableAutoCountrySelect]="false"
                                    [enablePlaceholder]="false"
                                    [searchCountryFlag]="true"
                                    [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                                    [(ngModel)]="phoneNumber"
                                    [selectedCountryISO]="CountryISO.SaudiArabia"
                                    [phoneValidation]="true"
                                    name="phone"
                                >
                                </ngx-intl-tel-input>
                                <p class="text-danger" *ngIf="submitted && phoneNumberr.invalid">{{ l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-1">
                    <agm-map id="map" [latitude]="signUpModel.sginUpRequest.latitude" [longitude]="signUpModel.sginUpRequest.longitude" [zoom]="zoom">
                        <agm-marker
                            [latitude]="signUpModel.sginUpRequest.latitude"
                            [longitude]="signUpModel.sginUpRequest.longitude"
                            [markerDraggable]="true"
                            (dragEnd)="markerDragEnd($event)"
                        ></agm-marker>
                    </agm-map>
                </div>
                <!--Ordering Choices-->
                <div class="row mt-2" *ngIf="service === '0'">
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-sm-6 col-form-label">
                                <span>Number Of Branches*</span>
                            </div>
                            <div class="col-sm-6">
                                <input
                                    [(ngModel)]="signUpModel.sginUpRequest.onlineStoreRequestModel.numberOfBranches"
                                    type="number"
                                    id="numberOfBranches"
                                    class="form-control"
                                    name="numberOfBranches"
                                    placeholder="Number Of Branches"
                                    #numberOrderOfBranches="ngModel"
                                    required
                                />
                                <p class="text-danger" *ngIf="submitted && numberOrderOfBranches.invalid">{{ l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-1" *ngIf="service === '0'">
                    <div class="form-check">
                        <span class="mr-1 botSettings">Delivery Pricing Method*</span>

                        <input #pricingMethod="ngModel" [(ngModel)]="isPerKiloMeter" class="mr-1" type="radio" id="kolometer" value="0" name="kolometer" />
                        <label for="kolometer" class="mr-1">Per KiloMeter</label>

                        <input #pricingMethod="ngModel" class="mr-1" [(ngModel)]="isPerZone" type="radio" id="zones" value="1" name="zones" />
                        <label for="zones" class="mr-1"> Per Zones</label>
                        <p class="text-danger" *ngIf="submitted && !isPerKiloMeter && !isPerZone">{{ l("ThisFieldIsRequired") }}</p>
                    </div>
                </div>

                <div class="row mt-2" *ngIf="service === '0'">
                    <span class="mr-1 botSettings"> Chatbot Language*</span>

                    <input class="mr-1" #languages="ngModel" [(ngModel)]="isArabic" type="checkbox" id="arabic" name="arabic" />
                    <label for="arabic" class="mr-1"> Arabic</label>

                    <input class="mr-1" #languages="ngModel" [(ngModel)]="isEnglish" type="checkbox" id="english" name="english" />
                    <label for="english" class="mr-1"> English</label>
                    <p class="text-danger w-100" *ngIf="submitted && !isArabic && !isEnglish">{{ l("ThisFieldIsRequired") }}</p>
                </div>

                <div class="row mt-2" *ngIf="service === '0'">
                    <span class="mr-1 botSettings"> Choose The Options Included*</span>

                    <input class="mr-1" #options="ngModel" [(ngModel)]="isDelivery" type="checkbox" id="delivery" name="delivery" />
                    <label for="delivery" class="mr-1"> Delivery</label>

                    <input class="mr-1" #options="ngModel" [(ngModel)]="isTakeAway" type="checkbox" id="isTakeAway" name="isTakeAway" />
                    <label for="isTakeAway" class="mr-1"> Takeaway</label>

                    <input class="mr-1" #options="ngModel" [(ngModel)]="isPreOrder" type="checkbox" id="isPreOrder" name="isPreOrder" />
                    <label for="isPreOrder" class="mr-1"> Pre-Order</label>

                    <input class="mr-1" #options="ngModel" [(ngModel)]="isInquiry" type="checkbox" id="isInquery" name="isInquery" />
                    <label for="isInquery" class="mr-1"> Inquiry</label>
                    <p class="text-danger w-100" *ngIf="submitted && !isDelivery && !isTakeAway && !isPreOrder && !isInquiry">{{ l("ThisFieldIsRequired") }}</p>
                </div>
                <!--End Of Ordering Choices-->

                <!--Whatsapp Campaign-->
                <div class="row mt-2" *ngIf="service === '1'">
                    <div class="form-check">
                        <span class="mr-1 botSettings">Use WhatsApp campaign with possibility to chat customer*</span>

                        <input [(ngModel)]="isChatcustomer" class="mr-1" [value]="true" type="radio" id="yes" name="chatCuatomer" />
                        <label for="yes" class="mr-1">Yes</label>

                        <input class="mr-1" [(ngModel)]="isChatcustomer" [value]="false" type="radio" id="no" name="chatCustomer" />
                        <label for="no" class="mr-1"> No</label>
                    </div>
                    <p class="text-danger w-100" *ngIf="submitted && (isChatcustomer === undefined || isChatcustomer === null)">{{ l("ThisFieldIsRequired") }}</p>
                </div>
                <!--End Of Whatsapp Campaign-->

                <!--booking-->
                <div class="row mt-2" *ngIf="service === '2'">
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-sm-6 col-form-label">
                                <span>Number Of Branches*</span>
                            </div>
                            <div class="col-sm-6">
                                <input
                                    [(ngModel)]="signUpModel.sginUpRequest.bookingRequestModel.numberOfBranches"
                                    type="number"
                                    id="numberOfBranches"
                                    class="form-control"
                                    name="numberOfBranches"
                                    placeholder="Number Of Branches"
                                    #numberOfBranches="ngModel"
                                    required
                                />
                            </div>
                            <p class="text-danger" *ngIf="submitted && numberOfBranches.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2" *ngIf="service === '2'">
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-sm-6 col-form-label">
                                <span>Total Number Of Departments Or Doctors*</span>
                            </div>
                            <div class="col-sm-6">
                                <input
                                    [(ngModel)]="signUpModel.sginUpRequest.bookingRequestModel.totalNumberOfDepartmentsOrDoctor"
                                    type="number"
                                    id="numberOfBranches"
                                    class="form-control"
                                    name="numberOfBranches"
                                    placeholder="Number Of Departments"
                                    required
                                    #numberOfDepartments="ngModel"
                                />
                            </div>
                            <p class="text-danger" *ngIf="submitted && numberOfDepartments.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                </div>

                <div class="row mt-2" *ngIf="service === '2'">
                    <div class="form-check">
                        <span class="mr-1 botSettings">Chatbot included customer inquiry*</span>

                        <input [(ngModel)]="bookingInquiry" class="mr-1" [value]="true" type="radio" id="yesInquiry" name="ChatInquiry" />
                        <label for="yesInquiry" class="mr-1">Yes</label>

                        <input class="mr-1" [(ngModel)]="bookingInquiry" [value]="false" type="radio" id="noInquiry" name="ChatInquiry" />
                        <label for="noInquiry" class="mr-1"> No</label>
                    </div>
                    <p class="text-danger w-100" *ngIf="submitted && (bookingInquiry === undefined || bookingInquiry === null)">{{ l("ThisFieldIsRequired") }}</p>
                </div>
                <!--End Of booking-->

                <!--Enterprise Custom Bot-->
                <div class="row mt-2" *ngIf="service === '3'">
                    <div class="form-check">
                        <span class="mr-1 botSettings">Integration With Your System*</span>

                        <input [(ngModel)]="enterpriseIntegration" [value]="true" class="mr-1" type="radio" id="yesItegration" name="integration" />
                        <label for="yesItegration" class="mr-1">Yes</label>

                        <input class="mr-1" [(ngModel)]="enterpriseIntegration" [value]="false" type="radio" id="noItegration" name="integration" />
                        <label for="noItegration" class="mr-1"> No</label>
                    </div>
                    <p class="text-danger w-100" *ngIf="submitted && (enterpriseIntegration === undefined || enterpriseIntegration === null)">{{ l("ThisFieldIsRequired") }}</p>
                </div>

                <div class="row mt-2" *ngIf="service === '3'">
                    <div class="col-6">
                        <div class="form-group row">
                            <div class="col-sm-6 col-form-label">
                                <span>Book Demo*</span>
                                <p>Metting Duration 60 Mins</p>
                                <p class="text-danger w-100" *ngIf="submitted && dates.invalid">{{ l("ThisFieldIsRequired") }}</p>
                            </div>
                            <div class="col-sm-6 signUp">
                                <ng2-flatpickr
                                    #dates="ngModel"
                                    required
                                    [(ngModel)]="signUpModel.sginUpRequest.enterpriseRequestModel.bookDemo"
                                    [config]="dateTimeOptions"
                                    name="dateTime"
                                ></ng2-flatpickr>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Of Enterprise Custom Bot-->

                <div class="d-flex justify-content-between mt-2">
                    <button (click)="horizontalWizardStepperPrevious()" class="btn btn-outline-secondary btn-prev" disabled rippleEffect>Previous</button>
                    <button (click)="horizontalWizardStepperNext()" type="submit" class="btn btn-primary-info btn-next" rippleEffect>Next</button>
                </div>
            </div>
            <div id="packageInfo" class="content">
                <div class="content-header">
                    <h1 class="mb-0">Infoseed Pricing Plan</h1>
                </div>

                <div class="row mt-1">
                    <div class="row mt-1">
                        <div class="form-check">
                            <input
                                required
                                #pricingPlan="ngModel"
                                [(ngModel)]="signUpModel.sginUpRequest.pricingPlanId"
                                value="0"
                                class="mr-1"
                                type="radio"
                                id="monthly"
                                name="monthly"
                            />
                            <label for="monthly" class="mr-1">
                                <div class="card basic-pricing text-center">
                                    <div class="card-body p-0">
                                        <i class="bi bi-star"></i>
                                        <h3>Monthly</h3>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-1 mb-1">
                                                <span class="pricing-basic-value font-weight-bolder text-primary">50 JOD</span>
                                                <sub class="pricing-duration text-body font-medium-1 font-weight-bold">/Month</sub>
                                            </div>
                                            <small class="annual-pricing d-none text-muted"></small>
                                        </div>
                                        <ul class="list-group list-group-circle text-left">
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                1 User</li>
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                ChatBot</li>
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                Whatsapp Campaign</li>
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                Conatact Managment</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer p-1">
                                        <button class="btn btn-block btn-outline-success " rippleEffect>Buy Now</button>
                                    </div>
                                </div>
                            </label>
                            <input
                                required
                                #pricingPlan="ngModel"
                                class="mr-1"
                                [(ngModel)]="signUpModel.sginUpRequest.pricingPlanId"
                                value="1"
                                type="radio"
                                id="annual"
                                name="annual"
                            />

                            <label for="annual" class="mr-1">
                                <div class="card basic-pricing text-center">
                                    <div class="card-body p-0">
                                        <div class="offer-span badge  badge-warning"> 16% OFF </div>
                                        <i class="bi bi-gem"></i>
                                          <h3>Annual</h3>
                                        <div class="annual-plan">
                                            <div class="plan-price mt-1 mb-1">
                                                <span class="pricing-basic-value font-weight-bolder text-primary">500 JOD</span>
                                                <sub class="pricing-duration text-body font-medium-1 font-weight-bold">/Year</sub>
                                            </div>
                                            <small class="annual-pricing d-none text-muted"></small>
                                        </div>
                                        <ul class="list-group list-group-circle text-left">
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                3 Users</li>
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                ChatBot</li>
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                Whatsapp Campaign</li>
                                            <li class="list-group-item">
                                                <i class="bi bi-check2 mr-1"></i>
                                                Conatact Managment</li>
                                        </ul>
                                    </div>
                                    <div class="card-footer p-1">
                                        <button class="btn btn-block btn-outline-success " rippleEffect>Buy Now</button>
                                    </div>
                                </div>
                            </label>
                            <p class="text-danger" *ngIf="submitted && pricingPlan.invalid">{{ l("ThisFieldIsRequired") }}</p>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <button type="button" (click)="horizontalWizardStepperPrevious()" class="btn btn-outline-secondary btn-prev" rippleEffect>Previous</button>
                    <button (click)="horizontalWizardStepperNext()" class="btn btn-primary-info btn-next" rippleEffect>Next</button>
                </div>
            </div>
            <div id="paymentInfo" class="content">
                <!-- <div class="content-header">
                    <h5 class="mb-0">Address</h5>
                    <small>Enter Your Address.</small>
                </div> -->

                <div class="row">
                    <iframe [src]="source " title="" ></iframe>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <button type="button" (click)="horizontalWizardStepperPrevious()" class="btn btn-outline-secondary btn-prev" rippleEffect>Previous</button>
                    <button class="btn btn-primary-info btn-next" rippleEffect (click)="save()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>
