<div appBsModal #AllSettingsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AllSettingsModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0px; overflow: hidden">
                <div>
                    <p-tabView (onChange)="switchHeaders($event)" [(activeIndex)]="tabIndex">
                        <p-tabPanel>
                            <ng-template pTemplate="header">
                                <i class="bi bi-eye-fill" style="font-size: 20px; margin-right: 10px"></i>
                                <span>{{ l("View") }}</span>
                            </ng-template>
                        </p-tabPanel>

                        <p-tabPanel header="Header II" >
                            <ng-template pTemplate="header">
                                <i class="bi bi-gear-wide-connected" style="font-size: 20px; margin-right: 10px"></i>
                                <span>{{ l("Settings") }}</span>
                                <div
                                    *ngIf="errors.currencyError"
                                    style="position: absolute; background-color: red; height: 10px; width: 10px; top: 16px; right: 3px; border-radius: 20px"
                                ></div>
                            </ng-template>
                        </p-tabPanel>

                        <p-tabPanel header="Header III">
                            <ng-template pTemplate="header" >
                                <i class="bi bi-pencil-square" style="font-size: 20px; margin-right: 10px"></i>
                                <span>{{ l("Edit") }}</span>
                                <div
                                    *ngIf="checkEditErrors()"
                                    style="position: absolute; background-color: red; height: 10px; width: 10px; top: 16px; right: 3px; border-radius: 20px"
                                ></div>
                            </ng-template>
                        </p-tabPanel>

                        <p-tabPanel header="Header IV">
                            <ng-template pTemplate="header">
                                <i class="bi bi-diagram-3-fill" style="font-size: 20px; margin-right: 10px"></i>
                                <span>{{ l("Features") }}</span>
                            </ng-template>
                        </p-tabPanel>

                        <p-tabPanel header="Header V">
                            <ng-template pTemplate="header">
                                <i class="bi bi-cone-striped" style="font-size: 20px; margin-right: 10px"></i>
                                <span>{{ l("Service") }}</span>
                            </ng-template>
                        </p-tabPanel>
                    </p-tabView>
                </div>
                <button (click)="close()" style="border: 0px; background-color: #f8f8f8; color: 8d8d8d">
                    <i class="ki ki-close" style="font-size: 13px"></i>
                </button>
            </div>

            <div class="modal-body">
                <!-- View Tab -->
                <ng-container *ngIf="tabIndex == 0 ">
                    <div style="display: flex; flex-direction: column">
                        <div style="display: flex; flex-direction: row; justify-content: space-evenly">
                            <div style="display: flex; flex-direction: column">
                                <div>
                                    <p class="viewHeader">Customers Name:</p>
                                    <p class="viewBody">{{ ViewValues.customerName }}</p>
                                </div>

                                
                                <div>
                                    <p class="viewHeader">Phone Number:</p>
                                    <p class="viewBody">{{ ViewValues.phoneNumber }}</p>
                                </div>
                                <div>
                                    <p class="viewHeader">Email:</p>
                                    <p class="viewBody">{{ ViewValues.email }}</p>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column">
                                <div>
                                    <p class="viewHeader">Edit Customer:</p>
                                    <p class="viewBody">{{ ViewValues.editCustomer }}</p>
                                </div>
                                <div>
                                    <p class="viewHeader">Tenant Website:</p>
                                    <p class="viewBody">{{ ViewValues.tenantwebSite }}</p>
                                </div>
                                <div>
                                    <p class="viewHeader">Address:</p>
                                    <p class="viewBody">{{ ViewValues.address }}</p>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center">
                            <p class="viewHeader" style="margin-bottom: 10px">Upload Contract</p>
                            <input type="file" id="uplode2" class="form-control" style="width: 300px" (change)="onFileChange2($event)" accept=".pdf, .png, .jpeg" />
                        </div>
                        <div style="display: flex; width: 100%; height: 4px; background-color: #009789; border-radius: 20px; margin-top: 58px"></div>
                        <div class="iframe-container" *ngIf="isPDFView">
                            <iframe *ngIf="ViewValues?.uploadedFileUrl.length > 0" class="p-0" [src]="uploadedViewFileUrl" frameborder="0"></iframe>
                        </div>
                        <div class="iframe-container" *ngIf="!isPDFView">
                            <img [src]="uploadedViewFileUrl" alt="" style="max-height: 400px" />
                        </div>
                    </div>
                </ng-container>

                <!-- Settings Tab -->
                <ng-container *ngIf="tabIndex == 1 && isGranted('Pages.Tenants.Settings')">
                    <div style="display: flex; flex-direction: column">
                        <div style="display: flex; flex-direction: row; justify-content: space-evenly">
                            <div style="display: flex; flex-direction: column">
                                <p style="font-weight: bold; font-size: 17px">Tenant Settings:</p>
                                <div style="border-radius: 20px; border: 2px solid #009789; padding: 20px; margin-left: 10px">
                                    <div>
                                        <p class="viewHeader">Time Zone:</p>
                                        <input
                                            class="form-control"
                                            type="text"
                                            style="margin-block: 10px"
                                            [value]="SettingsValues.timeZone"
                                            (input)="handleTextInputSettings('TZ', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Currency:</p>
                                        <select
                                            class="form-control"
                                            [ngClass]="{ valError: errors.currencyError }"
                                            [(ngModel)]="SettingsValues.currency"
                                            (change)="handleChangeInputSettings('C', $event)"
                                            style="margin-block: 10px"
                                        >
                                            <option value="" disabled>Select a currency</option>
                                            <option *ngFor="let c of SettingsValues.currencyList" [value]="c.currencyName">
                                                {{ c.currencyName }}
                                            </option>
                                        </select>
                                    </div>
                                    <div>
                                        <p class="viewHeader">Total Customer Wallet:</p>
                                        <input
                                            class="form-control"
                                            type="number"
                                            style="margin-block: 10px"
                                            [value]="SettingsValues.totalCustomerWallet"
                                            (input)="handleTextInputSettings('TCW', $event)"
                                            step="0.01"
                                        />
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column">
                                <p style="font-weight: bold; font-size: 17px">Zoho Settings:</p>
                                <div style="border-radius: 20px; border: 2px solid #009789; padding: 20px; margin-left: 10px">
                                    <div>
                                        <p class="viewHeader">Zoho Customer Id:</p>
                                        <input
                                            class="form-control"
                                            type="text"
                                            style="margin-block: 10px"
                                            [value]="SettingsValues.zohoCustomerId"
                                            (input)="handleTextInputSettings('ZCI', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Caution Days:</p>
                                        <input
                                            class="form-control"
                                            type="text"
                                            style="margin-block: 10px"
                                            [value]="SettingsValues.cautionDays"
                                            (input)="handleTextInputSettings('CD', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Warning Days:</p>
                                        <input
                                            class="form-control"
                                            type="text"
                                            style="margin-block: 10px"
                                            [value]="SettingsValues.warningDays"
                                            (input)="handleTextInputSettings('WD', $event)"
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column; width: 100%; justify-content: center; align-items: center">
                            <div>
                                <p class="viewHeader" style="margin-top: 20px">Client Ip Address:</p>
                                <input
                                    class="form-control"
                                    type="text"
                                    style="margin-block: 10px"
                                    [value]="SettingsValues.clientIpAddress"
                                    (input)="handleTextInputSettings('CIA', $event)"
                                />
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-inline: 135px; text-align: center">
                            <p>Note: If you set an IP address restriction, your tenant’s users will only be able to log in if they are on the same network.</p>
                        </div>
                        <div style="display: flex; width: 100%; height: 4px; background-color: #009789; border-radius: 20px; margin-top: 58px"></div>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 20px">
                            <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input class="form-check-input" type="checkbox" [checked]="SettingsValues.isPreOrder" (change)="handleChangeInputSettings('IPO', $event)" />
                                        <label for="isPreOrder" class="checkbox">
                                            {{ "Is Pre Order" | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input class="form-check-input" type="checkbox" [checked]="SettingsValues.isPickup" (change)="handleChangeInputSettings('IP', $event)" />
                                        <label for="isPickUp" class="checkbox">
                                            {{ "Is Pickup" | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input class="form-check-input" type="checkbox" [checked]="SettingsValues.isDelivery" (change)="handleChangeInputSettings('ID', $event)" />
                                        <label for="isDelivery" class="checkbox">
                                            {{ "Is Delivery" | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <!-- Edit Tab -->
                <ng-container *ngIf="tabIndex == 2 && isGranted('Pages.Tenants.Edit')">
                    <div style="display: flex; flex-direction: column">
                        <div style="display: flex; flex-direction: row; justify-content: space-evenly">
                            <div style="display: flex; flex-direction: column">
                                <!-- <p style="font-weight: bold; font-size: 17px">Tenant Settings:</p> -->
                                <div style="border-radius: 20px; border: 2px solid #009789; padding: 20px; margin-left: 10px">
                                    <div>
                                        <p class="viewHeader">Customers Name:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorCN }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.name"
                                            (input)="handleModificationEdit('CN', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Legal ID:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorLI }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.legalID"
                                            (input)="handleModificationEdit('LI', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Tenant website:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorTW }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.website"
                                            (input)="handleModificationEdit('TW', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Phone Number:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorPN }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.phoneNumber"
                                            (input)="handleModificationEdit('PN', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Address:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorA }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.address"
                                            (input)="handleModificationEdit('A', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Tenant Type:</p>
                                        <select
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorTT }"
                                            #smoochAPIKeyIDInput="ngModel"
                                            name="TenantType"
                                            id="TenantType"
                                            (change)="handleModificationEdit('TT', $event)"
                                            [(ngModel)]="this.EditValues.tenant.tenantType"
                                            style="font-family: system-ui; margin-block: 10px"
                                            required
                                        >
                                            <option [value]="0">Shop</option>
                                            <option [value]="1">Delivery</option>
                                            <option [value]="2">Sales</option>
                                            <option [value]="4">Booking</option>
                                        </select>
                                    </div>
                                    <div>
                                        <p class="viewHeader">Template Number:</p>
                                        <select
                                            id="templateId"
                                            name="templateId"
                                            [ngClass]="{ valError: errors.editErrorTN }"
                                            class="form-control"
                                            (change)="handleModificationEdit('TN', $event)"
                                            [(ngModel)]="this.EditValues.tenant.botTemplateId"
                                            style="margin-block: 10px"
                                        >
                                            <option></option>
                                            <option *ngFor="let Template of this.EditValues.botTemplates" [value]="Template.id">
                                                {{ Template.templateName }}
                                            </option>
                                        </select>
                                    </div> 
                                    <div>
                                        <p class="viewHeader">Merchant ID:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorMI }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.merchantID"
                                            (input)="handleModificationEdit('MI', $event)"
                                        />
                                    </div>


                                    <div>
                                        <p class="viewHeader">Facebook Page Id:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorFP }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.facebookPageId"
                                            (input)="handleModificationEdit('FP', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Instagram Id:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorII }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.instagramId"
                                            (input)="handleModificationEdit('II', $event)"
                                        />
                                    </div>
                                  

                                </div>
                            </div>
                            <div style="display: flex; flex-direction: column">
                                <!-- <p style="font-weight: bold; font-size: 17px">Zoho Settings:</p> -->
                                <div style="border-radius: 20px; border: 2px solid #009789; padding: 20px; margin-left: 10px">
                                    <div>
                                        <p class="viewHeader">Tenant Bot Local:</p>
                                        <select
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorTL }"
                                            [(ngModel)]="this.EditValues.tenant.botLocal"
                                            style="margin-block: 10px"
                                            (change)="handleModificationEdit('TL', $event)"
                                        >
                                            <option [value]="0">All</option>
                                            <option [value]="1">Arabic</option>
                                            <option [value]="2">English</option>
                                        </select>
                                    </div>
                                    <div>
                                        <p class="viewHeader">WhatsApp Account ID:</p>
                                        <input
                                            class="form-control"
                                            type="text"
                                            [ngClass]="{ valError: errors.editErrorWBL }"
                                            style="margin-block: 10px"
                                            (input)="handleModificationEdit('WBL', $event)"
                                            [(ngModel)]="this.EditValues.tenant.whatsAppAccountID"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">WhatsApp App ID:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorWAI }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.whatsAppAppID"
                                            (input)="handleModificationEdit('WAI', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Bi Daily Limit:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorBDL }"
                                            type="number"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.biDailyLimit"
                                            (input)="handleModificationEdit('BDL', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Phone Number ID:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorPI }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.d360Key"
                                            (input)="handleModificationEdit('PI', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Bot Id:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorBI }"
                                            type="text"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.botId"
                                            (input)="handleModificationEdit('BI', $event)"
                                        />
                                    </div>
                                    <div>
                                        <p class="viewHeader">Invoice Number:</p>
                                        <input
                                            class="form-control"
                                            [ngClass]="{ valError: errors.editErrorIN }"
                                            type="number"
                                            style="margin-block: 10px"
                                            [(ngModel)]="this.EditValues.tenant.dueDay"
                                            (input)="handleModificationEdit('IN', $event)"
                                        />
                                    </div>

                                     <div class="form-group">
                                        <p class="viewHeader">Catalogue Link:</p>
                        <textarea id="CatalogueLink" class="form-control" type="text"
                               [ngClass]="{'edited':this.EditValues.tenant.catalogueLink}" name="CatalogueLink"
                               [(ngModel)]="this.EditValues.tenant.catalogueLink" (input)="handleModificationEdit('CL', $event)" ></textarea>
                    </div>

                       <div class="form-group">
                        <p class="viewHeader">Business ID:</p>
                        <input id="BusinessId" class="form-control" type="text"
                               [ngClass]="{'edited':this.EditValues.tenant.businessId}" name="BusinessId"
                               [(ngModel)]="this.EditValues.tenant.businessId" (input)="handleModificationEdit('BI', $event)">
                    </div>

                      <div class="form-group">
                        <p class="viewHeader">Catalogue Access Token:</p>
                        <textarea id="CatalogueAccessToken" class="form-control" type="text"
                               [ngClass]="{'edited':this.EditValues.tenant.catalogueAccessToken}" name="CatalogueAccessToken"
                               [(ngModel)]="this.EditValues.tenant.catalogueAccessToken" (input)="handleModificationEdit('CAT', $event)"></textarea>
                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; width: 100%; justify-content: space-evenly; align-items: center; margin-top: 20px">
                            <div style="width: 100%; margin: 10px">
                                <p class="viewHeader">Access Token:</p>
                                <input
                                    class="form-control"
                                    [ngClass]="{ valError: errors.editErrorAT }"
                                    type="text"
                                    style="margin-block: 10px"
                                    [(ngModel)]="this.EditValues.tenant.accessToken"
                                    (input)="handleModificationEdit('AT', $event)"
                                />
                            </div>
                            <div style="width: 100%; margin: 10px">
                                <p class="viewHeader">DirectLineSecret:</p>
                                <input
                                    class="form-control"
                                    [ngClass]="{ valError: errors.editErrorDLS }"
                                    type="text"
                                    style="margin-block: 10px"
                                    [(ngModel)]="this.EditValues.tenant.directLineSecret"
                                    (input)="handleModificationEdit('DLS', $event)"
                                />
                            </div>

                            <div style="width: 100%; margin: 10px">
                                <p class="viewHeader">Facebook Access Token:</p>
                                <input
                                    class="form-control"
                                    [ngClass]="{ valError: errors.editErrorFAT }"
                                    type="text"
                                    style="margin-block: 10px"
                                    [(ngModel)]="this.EditValues.tenant.facebookAccessToken"
                                    (input)="handleModificationEdit('FAT', $event)"
                                />
                            </div>

                            <div style="width: 100%; margin: 10px">
                                <p class="viewHeader">Instagram Access Token:</p>
                                <input
                                    class="form-control"
                                    [ngClass]="{ valError: errors.editErrorIAT }"
                                    type="text"
                                    style="margin-block: 10px"
                                    [(ngModel)]="this.EditValues.tenant.instagramAccessToken"
                                    (input)="handleModificationEdit('IAT', $event)"
                                />
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-inline: 135px; text-align: center">
                            <!-- <p>Note: If you set an IP address restriction, your tenant’s users will only be able to log in if they are on the same network.</p> -->
                        </div>
                        <div style="display: flex; width: 100%; height: 4px; background-color: #009789; border-radius: 20px; margin-top: 58px"></div>
                        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 20px">
                            <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            [(ngModel)]="this.EditValues.tenant.isBotActive"
                                            (change)="handleModificationEdit('', $event)"
                                        />
                                        <label for="isPreOrder" class="checkbox">
                                            {{ "Is Bot Active" | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="this.EditValues.isUnlimited" (change)="handleModificationEdit('', $event)" />
                                        <label for="isPickUp" class="checkbox">
                                            {{ "Unlimited time subscription" | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            [(ngModel)]="this.EditValues.tenant.isActive"
                                            (change)="handleModificationEdit('', $event)"
                                        />
                                        <label for="isDelivery" class="checkbox">
                                            {{ "Active" | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            [(ngModel)]="this.EditValues.tenant.isD360Dialog"
                                            (change)="handleModificationEdit('', $event)"
                                        />
                                        <label for="isDelivery" class="checkbox">
                                            {{ "Is 360Dialog" | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                             <div class="col" style="display: flex; align-items: center; justify-content: center">
                                <div class="md-checkbox-list form-check form-switch mb-2">
                                    <div>
                                        <input
                                            class="form-check-input"
                                            type="checkbox"
                                            [(ngModel)]="this.EditValues.tenant.integration"
                                            (change)="handleModificationEdit('', $event)"
                                        />
                                        <label for="Integration " class="checkbox">
                                            {{ "Integration " | localize }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="tabIndex == 3 && isGranted('Pages.Tenants.ChangeFeatures')">
                    <feature-tree #featureTree></feature-tree>
                    <div style="display: flex; width: 100%; justify-content: center; align-items: center; margin-top: 20px">
                        <button
                            type="button"
                            style="background-color: #009789; color: white; border: 0px"
                            [busyText]="l('SavingWithThreeDot')"
                            class="btn btn-light-primary font-weight-bold pull-left"
                            (click)="resetFeatures()"
                            [tooltipHtml]="l('ResetFeaturesTooltip')"
                            placement="top"
                        >
                            <span>{{ "ResetSpecialFeatures" | localize }}</span>
                        </button>
                    </div>
                </ng-container>

                <ng-container *ngIf="tabIndex == 4">
                    <p-table [value]="ServiceValues.services" [responsive]="true" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 130px">{{ l("Actions") }}</th>
                                <th style="width: 150px">{{ l("ServiceName") }}</th>
                                <th style="width: 150px">{{ l("ServiceFees") }}</th>
                                <th style="width: 150px">{{ l("First Order") }}</th>
                                <th style="width: 150px">{{ l("Fees") }}</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-service let-rowIndex="rowIndex">
                            <tr>
                                <td style="width: 130px">
                                    <div class="btn-group dropdown" normalizePosition>
                                        <label class="checkbox">
                                            <input
                                                type="checkbox"
                                                name="IsSelected"
                                                [ngModelOptions]="{ standalone: service.isSelected }"
                                                [(ngModel)]="service.isSelected"
                                                (change)="handleServiceIsModified($event)"
                                            />
                                            <span></span>
                                        </label>
                                    </div>
                                </td>
                                <td style="width: 150px">{{ service.serviceName }}</td>
                                <td style="width: 150px">
                                    <input name="fees{{ rowIndex }}" type="number" [(ngModel)]="service.fees" (input)="handleServiceIsModified($event)" />
                                </td>
                                <td style="width: 150px">
                                    <div *ngIf="service.isFeesPerTransaction">
                                        <input
                                            name="firstNumberOfOrders{{ rowIndex }}"
                                            type="number"
                                            [(ngModel)]="service.firstNumberOfOrders"
                                            (input)="handleServiceIsModified($event)"
                                        />
                                    </div>
                                </td>
                                <td style="width: 150px">
                                    <div *ngIf="service.isFeesPerTransaction">
                                        <input
                                            name="feesForFirstOrder{{ rowIndex }}"
                                            type="number"
                                            [(ngModel)]="service.feesForFirstOrder"
                                            (input)="handleServiceIsModified($event)"
                                        />
                                    </div>
                                </td>
                            </tr>
                            <!-- Nested Table -->
                            <tr *ngIf="service.subServices && service.subServices.length > 0">
                                <td colspan="5">
                                    <p-table [value]="service.subServices" [paginator]="true" [rows]="5">
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Sub-Service Name</th>
                                                <th>Sub-Service Fee</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-subService>
                                            <tr>
                                                <td>{{ subService.subServiceName }}</td>
                                                <td>{{ subService.subServiceFee }}</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </div>
            <div class="modal-footer">
                <button
                    (click)="onSubmit()"
                    type="button"
                    name="RefreshButton"
                    [busyText]="l('SavingWithThreeDot')"
                    class="btn font-weight-bold"
                    style="background-color: #009789; color: white; border: 0px"
                >
                    <i class="fa fa-save" style="margin-right: 10px"></i> <span>{{ "Save" | localize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
