.facebook-logo {
    width: 32px;
    height: 32px;
    background-color: #1877f2; /* Facebook blue */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 18px;
  }
  .whatsapp-logo {
    width: 32px;
    height: 32px;
    background-color: #25D366; /* WhatsApp green */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 18px;
  }

  .instagram-logo {
    width: 32px;
    height: 32px;
    background: radial-gradient(circle at 30% 107%, 
                #fdf497 0%, #fdf497 5%, 
                #fd5949 45%, #d6249f 60%, #285AEB 90%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 18px;
  }
  