<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<form *ngIf="active" #itemForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
				<div class="modal-header">
					<h4 class="modal-title">
						<span *ngIf="item.id">{{l("EditItem")}}</span>
						<span *ngIf="!item.id">{{l("CreateNewItem")}}</span>
					</h4>
					<button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">



					<div class="form-group">
						<label for="Item_ItemName">{{l("ItemName")}} *</label>
						<input type="text" id="Item_ItemName" class="form-control" [(ngModel)]="item.itemName"
							name="ItemName"  #itemName="ngModel" minlength="0" maxlength="450" required />
							<validation-messages [formCtrl]="itemName"></validation-messages>

					</div>

					<div class="form-group">
						<label for="Item_ItemDescription">{{l("ItemDescription")}}</label>
						<input type="text" id="Item_ItemDescription" class="form-control"
							[(ngModel)]="item.itemDescription" name="ItemDescription" />
					</div>

					<!-- <div class="form-group">
									<label for="Item_Ingredients">{{l("Ingredients")}}</label>
									<input type="text" id="Item_Ingredients" class="form-control" [(ngModel)]="item.ingredients" name="Ingredients"    />
								</div> -->


					<br />
					<div class="m-checkbox-list">
						<label for="Item_IsInService" class="kt-checkbox">
							<input id="Item_IsInService" type="checkbox" name="IsInService"
								[(ngModel)]="item.isInService">
							{{l("IsInService")}}
							<span></span>
						</label>
					</div>

					<div class="form-group">
						<label for="Item_CategoryNames">{{l("CategoryNames")}}</label>
						<input type="text" id="Item_CategoryNames" class="form-control" [(ngModel)]="item.categoryNames"
							name="CategoryNames" />
					</div>

					<!-- <div class="form-group">
									<label for="Item_CreationTime">{{l("CreationTime")}}</label>
									 <input required class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="item.creationTime" id="Item_CreationTime" name="Item_CreationTime">
								</div>
					
								<div class="form-group">
									<label for="Item_DeletionTime">{{l("DeletionTime")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="item.deletionTime" id="Item_DeletionTime" name="Item_DeletionTime">
								</div>
					
								<div class="form-group">
									<label for="Item_LastModificationTime">{{l("LastModificationTime")}}</label>
									 <input class="form-control m-input" type="datetime" bsDatepicker datePickerMomentModifier [(date)]="item.lastModificationTime" id="Item_LastModificationTime" name="Item_LastModificationTime">
								</div> -->

					<div class="form-group">
						<label for="Item_price">{{l("price")}} *</label>
						<input type="number"  #price="ngModel" id="Item_price" class="form-control" [(ngModel)]="item.price" name="price"
							required />
							<validation-messages [formCtrl]="price"></validation-messages>

					</div>

					<div class="form-group">
						<label for="Item_ImageUri">{{l("ImageUri")}} *</label>
						<input type="text"  #image="ngModel" id="Item_ImageUri" class="form-control" [(ngModel)]="item.imageUri"
							name="imageUri" required />
							<validation-messages [formCtrl]="image"></validation-messages>
					</div>

					<div class="form-group">
						<label for="Item_priority">{{l("priority")}} *</label>
						<input type="number"  #itemPriority="ngModel" id="Item_priority" class="form-control" [(ngModel)]="item.priority"
							name="priority" required />
							<validation-messages [formCtrl]="itemPriority"></validation-messages>
					</div>

					<div class="form-group">
						<label for="Item_itemCategoryId">{{l("itemCategoryId")}} *</label>
						<input #itemCat="ngModel"  type="number" id="Item_itemCategoryId" class="form-control"
							[(ngModel)]="item.itemCategoryId" name="itemCategoryId" required />
						<validation-messages [formCtrl]="itemCat"></validation-messages>

					</div>

					<div class="form-group">
						<label for="Item_menuId">{{l("menuId")}} *</label>
						<input type="number"  #menuId="ngModel"  id="Item_menuId" class="form-control" [(ngModel)]="item.menuId"
							name="menuId" required />
							<validation-messages [formCtrl]="menuId"></validation-messages>

					</div>



				</div>
				<div class="modal-footer">
					<button [disabled]="saving" type="button" class="btn btn-default"
						(click)="close()">{{l("Cancel")}}</button>
					<button type="submit" class="btn btn-primary blue" [disabled]="!itemForm.form.valid"
						[buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i>
						<span>{{l("Save")}}</span></button>
				</div>
			</form>
		</div>
	</div>

</div>