<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("ItemDescription")}} :</h6>
                        {{ item.item.itemDescription }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("Ingredients")}} :</h6>
                        {{ item.item.ingredients }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ItemName")}} :</h6>
                        {{ item.item.itemName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("IsInService")}} :</h6>
                        <div *ngIf="item.item.isInService" class="text-left"><i class="fa fa-check-circle text-success"
                                title="True"></i></div>
                        <div *ngIf="!item.item.isInService" class="text-left"><i class="fa fa-times-circle" title="False"></i></div>
                    </div>                    <div class="col-6 mb-3">
                        <h6>{{l("CategoryNames")}} :</h6>
                        {{ item.item.categoryNames }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CreationTime")}} :</h6>
                        {{ item.item.creationTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("DeletionTime")}} :</h6>
                        {{ item.item.deletionTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("LastModificationTime")}} :</h6>
                        {{ item.item.lastModificationTime | momentFormat:'YYYY-MM-DD HH:mm:ss' }}
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
