.search-results {
    height: 30rem;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-custome-contact{

  }

  .card-body-custom{
    width: 78% !important;
    margin: 1rem !important;
    padding: 0rem 1rem !important;
    background-color: #8080803b !important;
    color: white !important;
    height: 100% !important;
    cursor: pointer;
    border-radius: 10px;
    background-color: #009789b0 !important;
  }

  .card-body-custom:hover {
    background-color: #14a99aac !important;
}

  .card-title-custom{
    color: white !important;
  }

 .message-costume{
    margin: 0rem 1rem;
        padding: 0rem 0rem;
  }

  .card-subtitle-custom{
    color: #fffffffc !important;
  }

  .card-custome-contact{

    width: 90% !important;
    border-radius: 13px !important;
    margin: 1rem !important;
  }