<div *ngIf="isOffline" class="offline-notification">
    <div class="Inner-Container">
        <div class="Img-Container">
            <i class="bi bi-exclamation-triangle-fill" style="font-size: 50px;color: #ffcc00;"></i>
        </div>
        <p style="font-weight: bold;">Internet connection appears to be offline. This can happen if the network is down or a firewall or browser extension (such as an ad blocker) is mistakenly preventing access. Your experience may be degraded.</p>
        <div style="margin-top: 10px;">
            <a href="#" class="Reload-Button">Reload</a>
        </div>
    </div>

</div>
