<div [@routerTransition]>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-body">
      <div class="d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Group' | localize" [description]="groupName | localize">
          <div role="actions"></div>
        </sub-header>
        <div class="container custome-container">
          <div *ngIf="isExternal || isUnsubscribed" class="card card-custom gutter-b">
            <div class="card-body">
              <app-newContact [isUnsubscribed]="isUnsubscribed"></app-newContact>
            </div>
          </div>
          <div *ngIf="!isUnsubscribed && !isExternal" class="card card-custom gutter-b">
            <div class="card-body">
              <app-oldgroup></app-oldgroup>

            </div>

          </div>


        </div>
      </div>
    </div>
  </div>