.custome-container{
    max-width: 100% !important;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #009789;
  }
  
  ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: #009789;
  }
  
  .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #009789 !important;
    background: #009789 !important;
  }
  
  
  ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
    border-color: #009789 !important;
    background: #009789 !important;
  }


  ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #00978924;
    border-color: #00978900;
    color: #009789;
}

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #00978924;
    border-color: #00978900;
    color: #009789;
}