<div class="row match-height">
    <div class="col-lg-6 col-md-12 col-sm-12" [ngClass]="isArabic ? 'p-0' : ''">
        <div class="row mb-auto mt-auto">
            <h1 class="mb-1 welcome">{{ l("welcome") }} {{ appSession.tenancyName | titlecase }}!</h1>
            <p class="welcome-p">{{ l("welcomeMessage") }}</p>
        </div>
    </div>

    <div class="col-lg-6 col-md-12 col-sm-12" style="display: flex; align-items: flex-end">
        <div class="card p-2 card-wallet" style="width: 300px">
            <div class="card-header p-0">
                <div class="row w-100">
                    <div class="col-6" (click)="transactionsModal.show()">
                        <h4>{{ l("wallet") }}</h4>
                    </div>
                    <!-- <div class="col-6 p-0 text-right"  (click)="addFunds.show()">
                        <i class="bi bi-plus-lg"></i>
                        <p class="mb-0 text-muted text-decoration-underline">
                            {{l("addFunds") }}</p>
                    </div> -->
                </div>
            </div>
            <div class="card-body p-0">
                <div class="row" (click)="transactionsModal.show()">
                    <div class="d-flex align-items-center">
                        <div class="avatar bg-light-info p-50 m-0">
                            <div class="avatar-content">
                                <i class="bi bi-wallet-fill"></i>
                            </div>
                        </div>
                        <div class="media-body my-auto">
                            <p class="ml-1 font-small-3 mb-0">
                                {{ l("TotalAmount") }}: $ <strong>{{ dasboardService.walletModel.totalAmount }}</strong>
                            </p>
                            <p *ngIf="!isJOD() || !isPLS()" class="ml-1 font-small-3 mb-0">
                                {{ l("TotalAmountInSar") }}: (SAR) <strong>{{ dasboardService.walletModel.totalAmountSAR }}</strong>
                            </p>
                            <p *ngIf="isJOD()" class="ml-1 font-small-3 mb-0">
                                {{ l("TotalAmountInSar") }}: (JOD) <strong>{{ getJOD(dasboardService?.walletModel.totalAmount) }}</strong>
                            </p>    
                            <p *ngIf="isPLS()" class="ml-1 font-small-3 mb-0">
                                {{ l("TotalAmountInSar") }}: (PIS) <strong>{{ getShekel(dasboardService?.walletModel.totalAmount) }}</strong>
                            </p>
                            <p class="ml-1 font-small-3 mb-0">
                                {{ l("TotalMessages") }}: <strong>{{ getTotalMessages(dasboardService.walletModel.totalAmount) }}</strong>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- <div class="row mt-1 "  (click)="transactionsModal.show()">
                    <p class="cursor-pointer">
                        {{ l("walletNote") }}
                    </p>
                </div> -->
                <div class="row">
                    <div  *ngIf="isGranted('Pages_Administration_Usage_details')" class="col" [routerLink]="['/app/admin/usage-details']">
                        <p class="text-muted text-decoration-underline">
                            {{ l("usageDetails") }}
                        </p>
                    </div>
                    <!-- <div *ngIf="isHasBillingPermission" class="col text-right" [routerLink]="['/app/main/billings/billings']">
                        <p class="text-muted text-decoration-underline">
                            {{ l("bills") }}
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!--conversations-->
<div class="row match-height">
    <div class="col-sm-6 col-xl-4" [ngClass]="isArabic ? 'p-0' : ''">
        <div class="card card-statistic">
            <div class="card-body statistics-body p-2">
                <div class="media">
                    <div class="media-body my-auto">
                        <div class="d-flex align-items-center">
                            <div class="avatar bg-light-info p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("totalSessions") }}: <strong>{{ dasboardService.bundleData.totalConversation }}</strong>
                            </p>
                        </div>
                        <h4 class="mt-1 font-weight-bolder mb-0">
                            Free Conversations:
                            {{ dasboardService.bundleData.totalFreeConversation }}
                        </h4>
                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-info p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Total Facebook Entry") }}: <strong>{{ dasboardService.bundleData.totalFacebookEntry }}</strong>
                            </p>
                        </div>

                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-info p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Free Tier") }}:<strong>{{ dasboardService.bundleData.totalFreeTier }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--paid conversations-->
    <div class="col-sm-6 col-xl-4">
        <div class="card card-statistic">
            <div class="card-body statistics-body p-2">
                <div class="media">
                    <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0">
                            Paid Conversations:
                            {{ dasboardService.bundleData.totalPaidConversation }}
                        </h4>
                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-danger p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Marketing Conversations") }}: <strong>{{ dasboardService.bundleData.totalMarketingConversation }}</strong>
                            </p>
                        </div>

                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-danger p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Utility Conversations") }}:<strong>{{ dasboardService.bundleData.totalUtilityConversation }}</strong>
                            </p>
                        </div>

                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-danger p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Service Conversations") }}:<strong>{{ dasboardService.bundleData.totalServicesConversation }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of paid conversations-->

    <!--Approximate charge-->
    <div class="col-sm-6 col-xl-4">
        <div class="card card-statistic">
            <div class="card-body statistics-body p-2">
                <div class="media">
                    <div class="media-body my-auto">
                        <h4 class="font-weight-bolder mb-0">
                            Approximate charges: $
                            {{ dasboardService.bundleData.totalCharge }}
                        </h4>
                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-info p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Marketing") }}: <strong>$ {{ dasboardService.bundleData.totalMarketingCharge }}</strong>
                            </p>
                        </div>

                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-info p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Utility ") }}:<strong>$ {{ dasboardService.bundleData.totalUtilityCharge }}</strong>
                            </p>
                        </div>

                        <div class="mt-1 d-flex align-items-center">
                            <div class="avatar bg-light-info p-50 m-0">
                                <div class="avatar-content">
                                    <i class="far fa-comments avatar-icon"></i>
                                </div>
                            </div>
                            <p class="ml-1 card-text font-small-3 mb-0">
                                {{ l("Service") }}:<strong>$ {{ dasboardService.bundleData.totalServicesCharge }}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of Approximate charge-->
</div>

<transactionsModal #transactionsModal></transactionsModal>
<addFunds #addFunds></addFunds>
