.welcome{
    color: #009789;
    font-weight: 700;
    font-size: 35px;
}
.welcome-p{
    font-size: 20px;
}

.bi{
    font-size: 20px;
}

.avatar .avatar-content .avatar-icon {
    font-size: 26px;
    width: 100%!important;
    height: auto!important;
}


.row{
    margin-right: calc(var(--bs-gutter-x) * -.5)!important; ;
    }
.card-wallet .text-decoration-underline,.bi-plus-lg{
    cursor: pointer;
}

.card-wallet .bi-plus-lg{
    color: #009789;
}
.avatar.bg-light-info{
    color: #009789!important;
}
