.ele{
    font-family: system-ui;
    width: 200px;
    text-align: center;
    margin-right: 20px;
}

.Des{
    font-family: system-ui;
    width: 400px;
    text-align: center;
}

.asset-doc{
    min-height: 115px;
}
.asset-img{
    max-height: 115px;
    height: 115px;
}

.assetForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 50px;
}
.body {
    padding: 2rem 1.5rem;
    font: 1rem/1.5 "PT Sans", Arial, sans-serif;
    color: #5a5a5a;
}
.file {
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 2.5rem;
    margin: 10px;
}
.file-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    line-height: 1.5;
    color: #555;
    background-color: transparent;
    border: 0.075rem solid #ddd;
    border-radius: 0.25rem;
    box-shadow: inset 0 0.2rem 0.4rem rgb(0 0 0 / 5%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
