<div id="AssetDeatils" bsModal #ViewAssetDeatils="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="center" style="padding-left: 64px ;font-size: 20px;">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-4" class="elestyle">
                                    <strong>{{l("Name Arabic")}} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ assetDto.assetNameAr }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4" class="elestyle">
                                    <strong>{{l("Name Engilsh")}} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ assetDto.assetNameEn }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="height:2px;border-width:0;color:rgb(47, 1, 253);background-color:rgb(0, 4, 255)">

                <div class="center" style="padding-left: 64px ;font-size: 20px;">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4" class="elestyle">
                                    <strong>{{l("Description Arabic")}} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ assetDto.assetDescriptionAr }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4" class="elestyle">
                                    <strong>{{l("Description English")}} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ assetDto.assetDescriptionEn }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"  >
                <div class="row">
                    <!-- <a [routerLink]="['/app/main/teamInbox/teamInbox']" [queryParams]="{CustomerID: userId}" ><button class="btn btn-outline-dark" style="margin: 5px"> Chat</button></a> -->
                    <!-- <button [disabled]="saving" type="button" class="btn btn-outline-danger" (click)="delete()"style="margin: 5px">{{l("Delete")}}</button> -->
                </div>
                <button [disabled]="saving" type="button"  class="btn btn-outline-secondary" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>
</div>



