<div [@routerTransition]>
    <div class=" d-flex flex-column flex-column-fluid">
        <sub-header [title]="'FileUpload' | localize">
        </sub-header>
        <div [class]="containerClass">
            <div class="card card-custom">
                <div class="card-body">
                    <form id="fileUploadForm" enctype="multipart/form-data" #fileUploadForm="ngForm"
                          (ngSubmit)="save()">
                        <div class="form-group">
                            <label for="Description">{{"Description" | localize}}</label>
                            <input class="form-control" type="text" id="Description" name="Description"
                                   [(ngModel)]="description" required>
                        </div>

                        <div class="form-group">
                            <label for="Image">{{"Image" | localize}}</label>
                            <input class="form-control" type="file" id="Image" name="Image" required
                                   (change)="fileChangeEvent($event)">
                        </div>
                        <button type="submit"
                                class="btn btn-light-primary font-weight-bold close-button"
                                [disabled]="!fileUploadForm.form.valid">{{"Upload" | localize}}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>