<div bsModal #assignusersmodal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="assignToUsers" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg" style="max-width: 600px">
        <div class="modal-content" style="border-radius: 16px; padding: 0px">
            <form #userForm="ngForm" novalidate (ngSubmit)="assignUsers()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{ "assign ticket " | localize }}</span>
                        <span>{{ ticketId }} </span>
                        <span>{{ "to user/users " | localize }}</span>
                    </h4>
                    <button *ngIf="theme != 'theme12'" type="button" class="close" (click)="close()" [attr.aria-label]="l('Close')" style="right: 0">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                    <button
                        *ngIf="theme === 'theme12'"
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                        (click)="close()"
                        aria-label="Close"
                        style="right: 0"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="list-container">
                        <ng-container *ngFor="let user of selectedUsersToAssign; let i = index">
                            <div style="border-bottom: 1px solid #f1f1f3; padding: 10px">
                                <label class="custom-checkbox">
                                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center">
                                        <input [ngModelOptions]="{ standalone: true }" type="checkbox" [checked]="user.isActive" (change)="onCheckboxChange(user)" />
                                        <span class="checkmark"></span>
                                        <img
                                            style="height: 41px; width: auto; border-radius: 20px; margin-right: 10px"
                                            src="https://icon-library.com/images/no-profile-pic-icon/no-profile-pic-icon-11.jpg"
                                            alt=""
                                        />
                                        <p style="margin: 0px">{{ user.fullName }}</p>
                                    </div>
                                </label>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="modal-footer" style="min-height: 50px">
                    <div class="">
                        <button
                            style="background-color: #e5e5e5 !important; color: #ef4a4a !important"
                            [busyText]="l('SavingWithThreeDot')"
                            type="button"
                            class="btn btn-secondary"
                            (click)="close()"
                        >
                            {{ l("close") }}
                        </button>
                        <button
                            [disabled]="!isModified"
                            style="background-color: #009789 !important"
                            [busyText]="l('SavingWithThreeDot')"
                            type="button"
                            class="btn btn-secondary"
                            (click)="assignUsers()"
                        >
                            {{ l("Submit") }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
