<div appBsModal #createBotFlow="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createBotFlow" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span> {{ "createFlow" | localize }}</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col col-6 form-group">
                        <label for="flowName" class="form-label">{{ l("flowName") }}</label>
                        <input [(ngModel)]="botFlow.flowName" type="text" #flowName="ngModel"  class="form-control" id="flowName" name="flowName" required maxlength="50" />
                        <p class="text-danger" *ngIf="submitted && flowName.invalid">
                                {{ l("ThisFieldIsRequired")}}
                                </p> 
                    </div>
                </div>

                <div class="row mt-1">
                    <div class=" col col-6 form-group">
                        <label for="template" class="form-label">{{ l("selectTemplate") }}</label>
                        <select [(ngModel)]="botFlow.statusId" #flowStatus="ngModel"  name="template" [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark' : 'form-control'" id="statusId" required>
                            <option  value="0">{{ l("buildFromScratch") }}</option>
                            <option  value="4">{{ l("buildFromScratchOutBound") }}</option>
                            <option  value="1">{{ l("eCommerceAndCustomerSupport") }}</option>
                            <option  value="2">{{ l("bookAppoitment") }}</option>
                            <option  value="3">{{ l("onlineStore") }}</option>
                            <option  value="7">{{ l("RestaurantBot") }}</option>
                            <option  value="8">{{ l("RestaurantBot-Menu-Link-first") }}</option>
                            <option  value="9">{{ l("RestaurantBot-English") }}</option>
                            <option  value="10">{{ l("RestaurantBo-Arabic") }}</option>
                            <option  value="5">{{ l("Facebook") }}</option>
                            <option  value="6">{{ l("Instagram") }}</option>
                        </select>
                        <p class="text-danger" *ngIf="submitted && flowStatus.invalid">
                            {{ l("ThisFieldIsRequired")}}
                            </p> 
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                <button  [buttonBusy]="saving" (click)="save()"  [busyText]="l('SavingWithThreeDot')" class="btn btn-primary-info" type="button">
                    <i class="fa fa-save"></i> <span>{{ l("Save") }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
