<div class="fb-item">
  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>

  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  <div class="first-section-wrapper">
    <div class="gravatar">
      <ngx-skeleton-loader
        appearance="circle"
        [theme]="{
          backgroundColor: '#80808061',
          width: '60px',
          height: '60px'
        }"
      >
      </ngx-skeleton-loader>
    </div>
    <div class="gravatar-title">
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '100px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
      <div>
        <ngx-skeleton-loader
          [theme]="{
            backgroundColor: '#80808061',
            width: '200px',
            'border-radius': '3',
            height: '12px',
            'margin-bottom': '10px'
          }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
  
  

</div>

