.Policy {
    display: flex;
    align-items: center;
    flex: 1;
    margin-top: 20%;
    margin-right: 5%;
    flex-wrap: wrap;
    overflow-y: auto; 
    max-height: 60vh; 
}
h2{
    color: #000000; 
    font-weight: bold; 
}