<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div [ngClass]="darkModeService.currentSkin === 'dark' ? 'modal-content-dark ' : 'modal-content'">
            <form *ngIf="active" #bookingForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>{{l("Details")}}</span>
                    </h4>
                    <button *ngIf="theme != 'theme12'" type="button" class="btn-close" aria-label="Close"
                        (click)="close()">X</button>
                    <button *ngIf="theme === 'theme12'" type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close" (click)="close()" aria-label="Close"></button>
                </div>
                <div class="modal-body">


                    <div class="row mt-1">

                        <div class="col-12 justify-content-center">
                            <!-- <label>Logo Image</label> -->
                            <input hidden type="file" id="uplodeImage"
                                [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                style="width: 100%" (change)="onFileChange($event,item)">
                            <div class="product-img text-center">
                                <img [src]="imagSrc" alt="Image" style="width: 195px; height: 256px;">
                            </div>
                            <div class="row justify-content-center ">
                                <button class="btn btn-danger w-50" (click)="openFileUploder(item)">Replace
                                </button>
                            </div>
                        </div>


                    </div>

                    <div class="row ">

                        <div class="col-6 mt-1">

                            <div class="form-group">
                                <label for="ItemName">{{l("Item Name")}} *</label>
                                <input type="text" id="ItemName" required [class.error]="submitted && itemName.invalid"
                                    #itemName="ngModel"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.itemName" name="ItemName" minlength="0" maxlength="450" />
                                <p class="text-danger" *ngIf="submitted && itemName.invalid">{{l("ThisFieldIsRequired") }}</p>
                            </div>
                        </div>
                        <div class="col-6 mt-1">
                            <div class="form-group">
                                <label for="ItemNameEnglish">{{l("Item Name English")}} *</label>
                                <input type="text" required id="ItemNameEnglish"
                                    [class.error]="submitted && itemNameEnglish.invalid" #itemNameEnglish="ngModel"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.itemNameEnglish" name="ItemNameEnglish" minlength="0"
                                    maxlength="450" />
                                <p class="text-danger" *ngIf="submitted && itemNameEnglish.invalid">This field is
                                    required</p>
                            </div>

                        </div>


                        <div class="col-6  mt-1">

                            <div class="form-group">
                                <label for="SKU">{{l("SKU")}} </label>
                                <input disabled type="text" id="SKU"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.sku" name="SKU" minlength="0" maxlength="450" />
                            </div>
                        </div>
                        <div class="col-6  mt-1">
                            <div class="form-group">
                                <label for="Barcode">{{l("Barcode")}} *</label>
                                <input disabled type="text" id="Barcode"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.barcode" name="Barcode" minlength="0" maxlength="450" />
                            </div>

                        </div>

                        <div class="col-6  mt-1">

                            <div class="form-group">
                                <label for="Price">{{l("Price")}} *</label>
                                <input required min="0" type="number" id="Price"
                                    [class.error]="submitted && price.invalid" #price="ngModel"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.price" name="Price" />
                                <p class="text-danger" *ngIf="submitted && price.invalid">{{l("ThisFieldIsRequired") }}</p>

                            </div>
                        </div>

                        <div class="col-6  mt-1">
                            <div class="form-group">
                                <label for="Price">{{l("Status Code")}} </label>
                                <input min="0" type="number" id="statusCode"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.status_Code" name="statusCode" />
                            </div>
                        </div>
                        <div class="col-6  mt-1">
                            <div class="form-group">
                                <label for="OldPrice">{{l("Old Price")}} </label>
                                <input min="0" type="number" id="OldPrice"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.oldPrice" name="OldPrice" />
                            </div>

                        </div>



                        <div class="col-6  mt-1">

                            <div class="form-group">
                                <label for="DateFrom">{{l("DateFrom")}} </label>
                                <input
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    class=" m-input" #DateFrom type="datetime" bsDatepicker datePickerMomentModifier
                                    [(date)]="item.dateFrom" id="dateFrom" name="dateFrom">
                            </div>
                        </div>
                        <div class="col-6  mt-1">
                            <div class="form-group">
                                <label for="DateTo">{{l("DateTo")}} </label>
                                <input
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    class=" m-input" #DateTo type="datetime" bsDatepicker datePickerMomentModifier
                                    [(date)]="item.dateTo" id="DateTo" name="DateTo">
                            </div>

                        </div>



                        <div class="col-6  mt-1">

                            <div class="form-group">
                                <label for="Size">{{l("Description")}} </label>
                                <input type="text" id="Size"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.itemDescription" name="Size" />
                            </div>
                        </div>
                        <div class="col-6  mt-1">
                            <div class="form-group">
                                <label for="Priority">{{l("Priority")}} *</label>
                                <input required min="0" type="number" id="Priority"
                                    [class.error]="submitted && priority.invalid" #priority="ngModel"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.priority" name="Priority" />
                                <p class="text-danger" *ngIf="submitted && priority.invalid">{{l("ThisFieldIsRequired") }}</p>

                            </div>

                        </div>



                        <div class="col-6  mt-1">

                            <div class="form-group">
                                <label for="Qty">{{l("Qty")}} </label>
                                <input min="0" type="number" id="Qty"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.qty" name="Qty" />
                            </div>
                        </div>

                        <div class="col-6 mt-1" *ngIf="theme === 'theme12' && isTenantLoyal">

                            <div class="form-group form-check form-switch mt-1">

                                <input class="form-check-input " type="checkbox" id="isLoyal" name="isLoyal"
                                    [(ngModel)]="item.isLoyal">
                                <label> Is Loyality </label>
                            </div>

                        </div>
                        <div class="col-6 mt-1" *ngIf="theme != 'theme12' && isTenantLoyal">

                            <label for="isReplec" class="kt-checkbox mt-1">
                                <input id="isLoyal" name="isLoyal" #hasSubDistrict="ngModel" type="checkbox"
                                    [(ngModel)]="item.isLoyal">
                                Is Loyality
                                <span></span>
                            </label>
                        </div>
                        <div class="col-6  mt-1" *ngIf="item.isLoyal && theme === 'theme12' && isTenantLoyal">
                            <div class="form-group">
                                <label for="loyalityPoints">Loyality Points: *</label>
                                <input required min="0" type="number"
                                    [class.error]="submitted && loyalityPoints.invalid" #loyalityPoints="ngModel"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.loyaltyPoints" name="loyalityPoints" required />
                                <p class="text-danger" *ngIf="submitted && loyalityPoints.invalid">This field is
                                    required</p>

                            </div>
                        </div>

                        <div class="col-6  mt-1" *ngIf="item.isLoyal && theme != 'theme12' && isTenantLoyal">
                            <div class="form-group">
                                <label for="loyalityPoints">Loyality Points: *</label>
                                <input required min="0" type="number"
                                    [class.error]="submitted && loyalityPoints.invalid" #loyalityPoints="ngModel"
                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                                    [(ngModel)]="item.loyaltyPoints" name="loyalityPoints" required />
                                <p class="text-danger" *ngIf="submitted && loyalityPoints.invalid">This field is
                                    required</p>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default"
                        (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" [ngClass]="theme != 'theme12' ? 'btn-primary' : 'btn-primary-info'"
                        class="btn " [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i
                            class="fa fa-save"></i>
                        <span>{{l("Save")}}</span></button>

                </div>
            </form>
        </div>
    </div>

</div>