    <div [class]="containerClass">
        <div class="card card-custom gutter-b">
                       
                <div class="card-header align-items-center border-0 mt-4">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="font-weight-bolder text-dark">  {{"ReceiptDetails" | localize}}</span>
                    </h3>
                    <div class="card-toolbar">
                            <button (click)="exportToExcel()" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> {{l("ExportToExcel")}}</button>
                <button *ngIf="isGranted('Pages.ReceiptDetails.Create')" (click)="createReceiptDetail()" 
                            class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewReceiptDetail")}}</button>                    
                    </div>
                </div>
            
            <div class="card-body">
                <form class="form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                <div class="form-group m-form__group align-items-center">
                                    <div class="input-group">
                                        <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                                        <span class="input-group-btn">
                                            <button (click)="getReceiptDetails()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="BillingNumberFilter">{{l("BillingNumber")}}</label>
									<input type="text" class="form-control" id="BillingNumberFilter" name="billingNumberFilter" [(ngModel)]="billingNumberFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinBillDateFromFilter">{{l("BillDateFromRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinBillDateFromFilter" name="MinBillDateFromFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minBillDateFromFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxBillDateFromFilter" name="MaxBillDateFromFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxBillDateFromFilter">
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinBillDateToFilter">{{l("BillDateToRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinBillDateToFilter" name="MinBillDateToFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minBillDateToFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxBillDateToFilter" name="MaxBillDateToFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxBillDateToFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="ServiceNameFilter">{{l("ServiceName")}}</label>
									<input type="text" class="form-control" id="ServiceNameFilter" name="serviceNameFilter" [(ngModel)]="serviceNameFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinBillAmountFilter">{{l("MinMax")}} {{l("BillAmount")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinBillAmountFilter" [(ngModel)]="minBillAmountFilter" placeholder="{{l('MinValue')}}" name="minBillAmountFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxBillAmountFilter" placeholder="{{l('MaxValue')}}" name="maxBillAmountFilter" />
									</div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinOpenAmountFilter">{{l("MinMax")}} {{l("OpenAmount")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinOpenAmountFilter" [(ngModel)]="minOpenAmountFilter" placeholder="{{l('MinValue')}}" name="minOpenAmountFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxOpenAmountFilter" placeholder="{{l('MaxValue')}}" name="maxOpenAmountFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CurrencyNameFilter">{{l("CurrencyName")}}</label>
									<input type="text" class="form-control" id="CurrencyNameFilter" name="currencyNameFilter" [(ngModel)]="currencyNameFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="AccountBillingBillIDFilter">({{l("AccountBilling")}}) {{l("BillID")}}</label>
									<input type="text" class="form-control" id="AccountBillingBillIDFilter" name="accountBillingBillIDFilter" [(ngModel)]="accountBillingBillIDFilter">
                                </div>
                            </div>

                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getReceiptDetails($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.ReceiptDetails.Edit', 'Pages.ReceiptDetails.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="accountBillingFk.billID">
                                        {{l('BillID')}}
                                        <p-sortIcon field="accountBillingBillID"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="billingNumber">
                                        {{l('BillingNumber')}}
                                        <p-sortIcon field="receiptDetail.billingNumber"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="billDateFrom">
                                        {{l('BillDateFrom')}}
                                        <p-sortIcon field="receiptDetail.billDateFrom"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="billDateTo">
                                        {{l('BillDateTo')}}
                                        <p-sortIcon field="receiptDetail.billDateTo"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="serviceName">
                                        {{l('ServiceName')}}
                                        <p-sortIcon field="receiptDetail.serviceName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="billAmount">
                                        {{l('BillAmount')}}
                                        <p-sortIcon field="receiptDetail.billAmount"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="openAmount">
                                        {{l('OpenAmount')}}
                                        <p-sortIcon field="receiptDetail.openAmount"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="currencyName">
                                        {{l('CurrencyName')}}
                                        <p-sortIcon field="receiptDetail.currencyName"></p-sortIcon>
                                    </th>

                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.ReceiptDetails.Edit', 'Pages.ReceiptDetails.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" class="dropdown-item"
														(click)="viewReceiptDetailModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.ReceiptDetails.Edit')" class="dropdown-item"
														(click)="createOrEditReceiptDetailModal.show(receiptId,record.receiptDetail.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a class="dropdown-item" href="javascript:;" *ngIf="permission.isGranted('Pages.ReceiptDetails.Delete')"
														(click)="deleteReceiptDetail(record.receiptDetail)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="p-column-title"> {{l('BillID')}}</span>
												{{record.accountBillingBillID}}
											</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('BillingNumber')}}</span>
											{{record.receiptDetail.billingNumber}}
										</td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('BillDateFrom')}}</span>
                                        <span *ngIf="record.receiptDetail.billDateFrom">
											{{record.receiptDetail.billDateFrom |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.receiptDetail.billDateFrom">-</span>
                                    </td>
                                    <td style="width:150px">
										<span class="p-column-title"> {{l('BillDateTo')}}</span>
                                        <span *ngIf="record.receiptDetail.billDateTo">
											{{record.receiptDetail.billDateTo |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.receiptDetail.billDateTo">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('ServiceName')}}</span>
											{{record.receiptDetail.serviceName}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('BillAmount')}}</span>
											{{record.receiptDetail.billAmount}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('OpenAmount')}}</span>
											{{record.receiptDetail.openAmount}}
										</td>
                                    <td style="width:150px">
											<span class="p-column-title"> {{l('CurrencyName')}}</span>
											{{record.receiptDetail.currencyName}}
										</td>

                                </tr>
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getReceiptDetails($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                            </p-paginator>
                            <span class="total-records-count">
                                {{l('TotalRecordsCount', primengTableHelper.totalRecordsCount)}}
                            </span>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <masterDetailChild_Receipt_createOrEditReceiptDetailModal #createOrEditReceiptDetailModal (modalSave)="getReceiptDetails()"></masterDetailChild_Receipt_createOrEditReceiptDetailModal>    
    <masterDetailChild_Receipt_viewReceiptDetailModal #viewReceiptDetailModal></masterDetailChild_Receipt_viewReceiptDetailModal>
    