<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{l("BillingNumber")}} :</h6>
                        {{ item.receiptDetail.billingNumber }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BillDateFrom")}} :</h6>
                        {{ item.receiptDetail.billDateFrom |  momentFormat:'YYYY-MM-DD HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BillDateTo")}} :</h6>
                        {{ item.receiptDetail.billDateTo |  momentFormat:'YYYY-MM-DD HH:mm:ss'  }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("ServiceName")}} :</h6>
                        {{ item.receiptDetail.serviceName }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("BillAmount")}} :</h6>
                        {{ item.receiptDetail.billAmount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("OpenAmount")}} :</h6>
                        {{ item.receiptDetail.openAmount }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{l("CurrencyName")}} :</h6>
                        {{ item.receiptDetail.currencyName }}
                    </div>

                    <div class="col-6 mb-3">
                        <h6>({{l("AccountBilling")}}) {{l("BillID")}} :</h6>
                        {{item.accountBillingBillID}}
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
