<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #receiptDetailForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="receiptDetail.id">{{l("EditReceiptDetail")}}</span>
                        <span *ngIf="!receiptDetail.id">{{l("CreateNewReceiptDetail")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                 

					<div class="form-group m-form__group">
                        <label for="AccountBillingBillID">{{l("AccountBilling")}}</label>
                        <div class="input-group">
                            <input class="form-control" id="AccountBillingBillID" name="accountBillingBillID" [(ngModel)]="accountBillingBillID" type="text" disabled>     
                            <div class="input-group-append">
                                <button class="btn btn-primary blue" (click)="openSelectAccountBillingModal()" type="button"><i class="fa fa-search"></i> {{l("Pick")}}</button>
                            </div> <div class="input-group-prepend">
                                <button class="btn btn-danger btn-icon" type="button" (click)="setAccountBillingIdNull()"><i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <input class="form-control" name="receiptDetail.accountBillingId" [(ngModel)]="receiptDetail.accountBillingId" type="text"  hidden>
		 

								<div class="form-group">
									<label for="ReceiptDetail_BillingNumber">{{l("BillingNumber")}}</label>
									<input type="text" #ReceiptDetail_BillingNumber="ngModel" id="ReceiptDetail_BillingNumber" class="form-control" [(ngModel)]="receiptDetail.billingNumber" name="BillingNumber"   minlength="0"  maxlength="256" />
								    <validation-messages [formCtrl]="ReceiptDetail_BillingNumber"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ReceiptDetail_BillDateFrom">{{l("BillDateFrom")}}</label>
									 <input required class="form-control m-input" #ReceiptDetail_BillDateFrom type="datetime" bsDatepicker  datePickerMomentModifier  [(date)]="receiptDetail.billDateFrom" id="ReceiptDetail_BillDateFrom" name="ReceiptDetail_BillDateFrom">
									<validation-messages [formCtrl]="ReceiptDetail_BillDateFrom"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ReceiptDetail_BillDateTo">{{l("BillDateTo")}}</label>
									 <input required class="form-control m-input" #ReceiptDetail_BillDateTo type="datetime" bsDatepicker  datePickerMomentModifier  [(date)]="receiptDetail.billDateTo" id="ReceiptDetail_BillDateTo" name="ReceiptDetail_BillDateTo">
									<validation-messages [formCtrl]="ReceiptDetail_BillDateTo"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ReceiptDetail_ServiceName">{{l("ServiceName")}} *</label>
									<input type="text" #ReceiptDetail_ServiceName="ngModel" id="ReceiptDetail_ServiceName" class="form-control" [(ngModel)]="receiptDetail.serviceName" name="ServiceName"   minlength="0"  maxlength="1024"  required/>
								    <validation-messages [formCtrl]="ReceiptDetail_ServiceName"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ReceiptDetail_BillAmount">{{l("BillAmount")}}</label>
									<input type="number" #ReceiptDetail_BillAmount="ngModel" id="ReceiptDetail_BillAmount" class="form-control" [(ngModel)]="receiptDetail.billAmount" name="BillAmount"   />
									<validation-messages [formCtrl]="ReceiptDetail_BillAmount"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ReceiptDetail_OpenAmount">{{l("OpenAmount")}}</label>
									<input type="number" #ReceiptDetail_OpenAmount="ngModel" id="ReceiptDetail_OpenAmount" class="form-control" [(ngModel)]="receiptDetail.openAmount" name="OpenAmount"   />
									<validation-messages [formCtrl]="ReceiptDetail_OpenAmount"></validation-messages>
								</div>
					
								<div class="form-group">
									<label for="ReceiptDetail_CurrencyName">{{l("CurrencyName")}} *</label>
									<input type="text" #ReceiptDetail_CurrencyName="ngModel" id="ReceiptDetail_CurrencyName" class="form-control" [(ngModel)]="receiptDetail.currencyName" name="CurrencyName"   minlength="0"  maxlength="256"  required/>
								    <validation-messages [formCtrl]="ReceiptDetail_CurrencyName"></validation-messages>
								</div>
					

                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!receiptDetailForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>
<masterDetailChild_Receipt_receiptDetailAccountBillingLookupTableModal #receiptDetailAccountBillingLookupTableModal (modalSave)="getNewAccountBillingId()"></masterDetailChild_Receipt_receiptDetailAccountBillingLookupTableModal>
		 
</div>