.trpadding tr th{
    background-color: black;
    color: white;
}

.trpadding  .trclass_evenrow {
    background-color: #f9f9f9;
}

@font-face {
    font-family: NotoNaskhArabic;
    src: url(../../../../assets/fonts/NotoNaskhArabic-VariableFont_wght.ttf) format("ttf");
  }

  #sampleTable{
    font-family:NotoNaskhArabic;
    word-wrap: normal;
    word-spacing: 10px;
  }

  .pcs-title-section{
    width: 100%;
  }

  .pcs-title-section tr{
    text-align: right;
  }

  .summary-section{
    width: 100%;
  }

  .invoice-date-wrapper{
    display: flex;
    align-items: center;
  }

  .invoice-preview .invoice-date-wrapper .invoice-date{
    margin-left: 0.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .invoice-preview .invoice-date-wrapper .invoice-date-title{
    width: 7rem;
    margin-bottom: 0;
  }

  .pr-1, .px-1 {
    padding-right: 1rem !important;
} 

.bshadow img{
  height: 150px;
}

.primeng-datatable-container td{
  cursor: pointer;
}


  