<div class="content-wrapper container-xxl p-0">

<div class="template-container">
  <div class="template-form">
    <div class="form-group">
      <div class="TemplateConstructionstages">
        <div class="circle-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="check-icon">
            <polyline points="20 6 9 17 4 12" />
          </svg>
        </div>
        <p>Set up template</p>
        <div class="circle-active">
          <div class="circle" >
          </div>
          <p>Edit template</p>
        </div>
        <div class="circle-empty" ></div>
        <p>Submit for review</p>
      </div>
    </div>

    <div class="form-group">
        <div class="info-template">
          <div>
            <img src="assets\common\images\imageFacebookTemplate\Icon\Screenshot 2024-11-10 102710.png" alt="">
          </div>
          <div>
            <h2>{{ template?.name ? template.name : 'your_template_name' }} •
              {{ language==='en'?'English' :language === 'ar' ? 'Arabic' : language }}</h2>
            <p>{{selectedCategory}} {{selectedMessageType}}</p>
          </div>
        </div>
    </div>
    
    <app-TemplateNameAndLanguage 
     [template]="template"  
     [templateId]="templateId"
     (languageChanged)="handleLanguageChange($event)"
     (isUsedChange)="handleifNameTemplteUsedChange($event)" >     
    </app-TemplateNameAndLanguage>

    <app-CatalogFormat [template]="template"
      (formatSelected)="handleFormatChange($event)"
      *ngIf="template.category === 'MARKETING' 
      && template.sub_category === 'PRODUCT_MESSAGE'">
    </app-CatalogFormat>


    <app-CatalogSetupTemplate  [template]="template" *ngIf="template.category==='MARKETING' && template.sub_category==='PRODUCT_MESSAGE' "></app-CatalogSetupTemplate>

    <app-ContentTemplate 
    [(template)]="template"     
    [template]="template"
    *ngIf="(template.category==='MARKETING'  ) ||template.category==='UTILITY'"
    [(componentFooter)]="componentFooter"
    [(componentBody)]="componentBody"
    [(componentHeader)]="componentHeader"
    (errorStatusChanged)="onErrorStatusChanged($event)"
    (errorSampleBodyChange)="onErrorBodyChange($event)" 
    (errorsampleHeaderChange)="onErrorHeaderChange($event)"
    (errorHeaderChange)="onErrorHEaderTextChange($event)"
    (whatsAppHeaderChanged)="handleWhatsAppHeader($event)"
    (errorBodyTextIsEmpty)="handleErrorBodyIsEmpty($event)"
    >
  </app-ContentTemplate>
    <!-- <div>
      <button (click)="senddata()">
        clicckk
      </button>
    </div> -->
    <!-- <app-CardTemplate
    [(isValid)]="CardIsValidTemplate"
    [(carousel)]="template.components[1]" 
    [(carouselCards)]="template.components[1].cardsModel"
    [(template)]="template"     
    [template]="template"
    *ngIf="template.category==='MARKETING' && template.sub_category==='carousel'"
    [(carousel)]="carousel"
    >
    </app-CardTemplate> -->
    <app-CardTemplate
    [(isValid)]="CardIsValidTemplate"
    [(carousel)]="template.components[1]" 
    [(carouselCards)]="template.components[1].cards"
    [template]="template"
    (isValidChange)="CardComponent($event)"
    [(isValid)]="CardIsValidTemplate"
    *ngIf="template.category==='MARKETING' && template.sub_category==='carousel'"
    >
    </app-CardTemplate>


    <app-ButtonsTemplate
   *ngIf="(template.category==='MARKETING' && template.sub_category!=='carousel' && template.sub_category !='PRODUCT_MESSAGE' &&  template.sub_category !='carousel') ||( template.category==='UTILITY')"
    [template]="template"
    [selectedCategory]="selectedCategory"
    [selectedMessageType]="selectedMessageType"
    [isPlayVisible]="isPlayVisible"
    (isFormInvalidChange)="onIsFormInvalidChange($event)"
    ></app-ButtonsTemplate>

    <app-AuthenticationCodeDeliverySetup
      *ngIf="template.category==='AUTHENTICATION'  && template.sub_category!=='carousel'"
      [template]="template"
      (otpTypeChange)="updateOtpType($event)"
      [(ctaDisplayName)]="ctaDisplayName"
      [(Button)]="Button"
      (submitEvent)="handleSubmit($event)"
    ></app-AuthenticationCodeDeliverySetup>

    <app-ButtonInCatalog 
    [template]="template"
    [selectedCategory]="selectedCategory"
    [selectedMessageType]="selectedMessageType"
    [selectedFormat]="selectedFormat"
    *ngIf="template.sub_category=='PRODUCT_MESSAGE' "
    ></app-ButtonInCatalog>

    <app-MessageValidityPeriodTemplate
    [template]="template"
    *ngIf="(template.category==='UTILITY' &&  template.sub_category==='CUSTOM')"
    ></app-MessageValidityPeriodTemplate>

    <!-- <div hedd class="form-group" style="height: 15vh;"></div> -->
  </div>

<div class="template-preview" >
  <!-- TemplatePreview-Header -->
  <div class="TemplatePreview-Header" >
    <div>
      <h3>Template Preview</h3>
    </div>
          <div *ngIf="template.sub_category !=='carousel'">
                <div *ngIf="Buttons?.buttons?.length>=3">
                  <svg
                  class="svg-icon"
                    *ngIf="!isPlayVisible"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 50"
                    width="100"
                    height="50"
                    style="cursor: pointer; transition: all 0.3s ease;"
                    (click)="toggleIcons()"
                  >
                    <rect x="0" y="0" width="100" height="50" rx="10" ry="10" fill="white" stroke="black" stroke-width="2" />
                    <polygon points="35,15 35,35 55,25" fill="black" />
                  </svg>
                
                  <svg
                  class="svg-icon"
                  *ngIf="isPlayVisible"
                  class="svg-icon"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 100 50"
                  width="100"
                  height="50"
                  style="cursor: pointer; transition: all 0.3s ease;"
                  (click)="toggleIcons()"
                >
                  <rect x="0" y="0" width="100" height="50" rx="10" ry="10" fill="white" stroke="black" stroke-width="2" />
                  <line x1="30" y1="15" x2="70" y2="35" stroke="black" stroke-width="4" />
                  <line x1="70" y1="15" x2="30" y2="35" stroke="black" stroke-width="4" />
                  </svg>
                </div> 
          </div>
  </div>
    <!-- TemplatePreview-Header end -->

        <!-- container-preview-content  -->
  <div   class="templateCard"
  *ngIf="template.sub_category !=='carousel'">
  <div 
        [ngClass]="{
        'templateCard-AR': template.language === 'ar',
        'templateCard': template.language !== 'ar'
      }">

    <div *ngIf="(selectedCategory !== 'carousel' )" [ngClass]="{
    'preview-content-AR': template.language === 'ar',
    'preview-content': template.language !== 'ar'
  }">
      <div>
        <div *ngIf="(selectedCategory !== 'carousel' )">
          <img *ngIf="componentHeader?.format=='IMAGE' " [src]="template.mediaLink" alt="Uploaded Image" class="uploaded-image" />
          <video *ngIf="componentHeader?.format=='VIDEO'" [src]="template.mediaLink" controls class="uploaded-video"></video>
          <img class="Document-preview " *ngIf="componentHeader?.format=='DOCUMENT'" src="assets/common/images/imageFacebookTemplate/Icon/google-docs.png">
        </div>
      
       <div *ngIf="(selectedCategory === 'MARKETING' && selectedMessageType === 'PRODUCT_MESSAGE')" class="catalog-container">
        <div class="catalog-content">
          <div class="catalog-image">
            <img src="assets/common/images/imageFacebookTemplate/Icon/image-.png" alt="Catalog Icon">
          </div>
          <div class="catalog-text" *ngIf="this.selectedFormat=='CatalogMessage'" >
            <h4>{{componentHeader?.text}}</h4>
            <h4 >View BIZ_NAME’s Catalog on WhatsApp</h4>
            <p>Browse pictures and details of their offerings</p>
          </div>
          <div class="catalog-text" *ngIf="this.selectedFormat=='MultiProductMessage'">
            <p> &#123; # items &#125;</p>
          </div>
        </div>
      </div>

      <div *ngIf="selectedCategory === 'MARKETING' || selectedCategory === 'UTILITY'">
       <h3 *ngIf="template.sub_category !== 'PRODUCT_MESSAGE' && template.sub_category!=='carousel'" >{{componentHeader?.text}}</h3>
       <p  [ngClass]="{
            'body-AR': template.language === 'ar',
            'body': template.language !== 'ar'
          }"
       >{{ componentBody?.text || '' }}</p>
       <div  [ngClass]="{
            'footer-container-AR': template.language === 'ar',
            'footer-container': template.language !== 'ar'
          }"
       *ngIf="selectedCategory === 'MARKETING'  && template.sub_category!=='carousel'">
        <p  [ngClass]="{
            'footer-container-AR': template.language === 'ar',
            'footer-container': template.language !== 'ar'
          }" >{{ componentFooter?.text || '' }}</p>
        <span  [ngClass]="{
            'time-AR': template.language === 'ar',
            'time': template.language !== 'ar'
          }">9:31AM</span>
       </div>

      </div>
      <div *ngIf="((selectedCategory === 'MARKETING' ||selectedCategory === 'UTILITY')&& template.sub_category !== 'carousel' ) &&Buttons?.buttons.length>3"> 
      <div *ngFor="let button of Buttons.buttons | slice:0:2" class="button-preview">
        <img *ngIf="button.type == 'URL'" src="assets/common/images/imageFacebookTemplate/Icon/external-link1.png" alt="">
        <img *ngIf=" button.type == 'PHONE_NUMBER'" src="assets/common/images/imageFacebookTemplate/Icon/phone-receiver-silhouette1.png" alt="">
        <img *ngIf=" button.type == 'COPY_CODE'" src="assets/common/images/imageFacebookTemplate/Icon/copy (1).png" alt="">
        <img *ngIf="(button.type == 'QUICK_REPLY' )" src="assets/common/images/imageFacebookTemplate/Icon/reply1.png" alt="">
        <button class="preview-button">{{ button.text }} </button>
        <hr>
      </div>
      <!-- is bom -->
      <div style="display: block;" *ngIf="(Buttons.buttons.length>=3)" class="button-preview" >
        <img  src="assets/common/images/imageFacebookTemplate/Icon/menu.png" alt="">
        <button class="preview-button">See All option</button>
        <hr>
      </div>
            <!-- is bom -->
    </div>
          <div *ngIf="((selectedCategory === 'MARKETING' ||selectedCategory === 'UTILITY')&& template.sub_category !== 'carousel' ) &&Buttons?.buttons.length<=3"> 
      <div *ngFor="let button of Buttons.buttons | slice:0:3" class="button-preview">
        <img *ngIf="button.type == 'URL'" src="assets/common/images/imageFacebookTemplate/Icon/external-link1.png" alt="">
        <img *ngIf=" button.type == 'PHONE_NUMBER'" src="assets/common/images/imageFacebookTemplate/Icon/phone-receiver-silhouette1.png" alt="">
        <img *ngIf=" button.type == 'COPY_CODE'" src="assets/common/images/imageFacebookTemplate/Icon/copy (1).png" alt="">
        <img *ngIf="(button.type == 'QUICK_REPLY' )" src="assets/common/images/imageFacebookTemplate/Icon/reply1.png" alt="">
        <button class="preview-button">{{ button.text }} </button>
        <hr>
      </div>
      <!-- is bom -->
      <!-- <div style="display: block;" *ngIf="(Buttons.buttons.length>=3)" class="button-preview" >
        <img  src="assets/common/images/imageFacebookTemplate/Icon/menu.png" alt="">
        <button class="preview-button">See All option</button>
        <hr>
      </div> -->
            <!-- is bom -->
    </div>

    <div  *ngIf="(selectedCategory === 'AUTHENTICATION' )">
        <p  style="color: black;font-weight: normal;"> {{componentBody.text}} </p>
        <!-- <p   style="color: rgba(55, 55, 55, 0.368);" *ngIf="componentFooter.text">{{componentFooter.text}}</p>
        <span class="time">9:31 AM</span> -->
        <div class="footer-container">
          <p class="footer-preview">{{ componentFooter?.text || '' }}</p>
          <span class="time">9:31AM</span>
         </div>
        <div class="button-preview" *ngIf="otpType === 'COPY_CODE'">
          <hr>
          <img  src="assets/common/images/imageFacebookTemplate/Icon/copy1.png" alt="">
          <button class="preview-button">{{Button.text}}</button>
        </div>
        <div class="button-preview"  *ngIf="otpType === 'ONE_TAP'">
          <hr>
          <button class="preview-button">{{ctaDisplayName}}</button>
        </div>
      </div>
     </div>
    </div>


  </div>

    <div class="options-container-preview" *ngIf="isPlayVisible && Buttons.buttons.length>=3 && selectedCategory !== 'carousel'">
      <div class="line-above"></div>
      <div class="header" >
        <i class="fas fa-times close-icon"></i>
        <p class="title-preview">All Option</p>
      </div>
      <ul class="button-list-preview">
        <div *ngFor="let button of Buttons.buttons" class="button-item-preview" [ngClass]="{ 'visible': isPlayVisible }">
          <img *ngIf="button.type=='URL'" src="assets/common/images/imageFacebookTemplate/Icon/external-link1.png" alt="">
          <img *ngIf="button.type == 'PHONE_NUMBER'" src="assets/common/images/imageFacebookTemplate/Icon/phone-receiver-silhouette1.png" alt="">
          <img *ngIf="button.type == 'COPY_CODE'" src="assets/common/images/imageFacebookTemplate/Icon/copy1.png" alt="">
          <img *ngIf="button.type=='QUICK_REPLY'" src="assets/common/images/imageFacebookTemplate/Icon/reply1.png" alt="">
          <span>{{ button.text }}</span>
        </div>    
      </ul>      
    </div>

  </div>



        <!-- container-preview-content end -->

        <!-- carousel  -->
        <div class="container-preview-content-Body" *ngIf="template.sub_category === 'carousel'">
          <div class="preview-content-carousel">
            <p  class="body">{{ componentBody?.text || '' }}</p>
          </div>
        </div>

        <div  class="container-preview-content-card"  *ngIf="template.sub_category === 'carousel'">
          <div class="preview-content-card">
            <div  class="card" *ngFor="let card of carousel.cards">
              <div *ngIf="card.components[0]?.format=='IMAGE'">
                <img style="width: 285px;" class="wa-card-img" [src]="card.components[0]?.example.mediaCard[0]" alt="card-image" />
              </div>
              <div *ngIf="card.components[0]?.format=='VIDEO'">
                <video  [src]="card.components[0]?.example.mediaCard[0]" controls class="uploaded-video"  alt="card-video"></video>
              </div>
              <div class="wa-card-body">
                <h4>{{ card.components[1]?.text }}</h4>
              </div>
              <div *ngFor="let button of card.components[2].buttons | slice:0:2" class="button-preview">
                <img *ngIf="button.type == 'URL'" src="assets/common/images/imageFacebookTemplate/Icon/external-link1.png" alt="">
                <img *ngIf=" button.type == 'PHONE_NUMBER'" src="assets/common/images/imageFacebookTemplate/Icon/phone-receiver-silhouette1.png" alt="">
                <img *ngIf="(button.type == 'QUICK_REPLY' )" src="assets/common/images/imageFacebookTemplate/Icon/reply1.png" alt="">
                <button class="preview-button">{{ button.text }} </button>
                <hr>
              </div>
            </div>
          </div>
        </div>
    </div>
        <!-- end carousel  -->


        
<div>
        <!-- action-buttons -->

<div class="action-buttons">
  <button *ngIf="templateId" (click)="Discard()" class="discard-button">Discard</button>
  <button *ngIf="!templateId" (click)="Previous()" class="discard-button">Previous</button>
  <button (click)="showModal()" 
  [disabled]=" (!validSubmit || !CardIsValidTemplate)" 
    *ngIf="!templateId"
  [ngClass]="{'disabled-button': (!validSubmit || !CardIsValidTemplate)}"
  class="Submit-button">Submit for review </button>


  <button (click)="showModalforEdit()" 
    [disabled]=" (!validSubmit || !CardIsValidTemplate)" 
    *ngIf="templateId"
    [ngClass]="{'disabled-button': (!validSubmit || !CardIsValidTemplate)}" 
    class="Submit-button">Submit for review edit
  </button>

  <!-- <button (click)="showModal()" class="Submit-button">Submit</button> -->
</div>
        <!-- action-buttons end -->

</div>

        <!-- modal-->

<div *ngIf="isModalVisible" class="modal">
  <div class="modal-content">
    <h3>Confirm Which Languages You're Submitting</h3>
    <p>
      If you choose not to submit a completed language now, it will not be saved, and you'll lose the content.
    </p>
    <div class="complete-field">
      <div class="model-sub-contractor">
      <div class="English">
        <span class="language-label">English</span>
        <span class="circle-full">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="check-icon">
            <polyline points="20 6 9 17 4 12"></polyline>
          </svg>
        </span>
        <span class="status-text">Required fields complete</span>
      </div>
    <div>
      <input type="checkbox" id="submit-language" />
    </div>
  </div>
    </div>
    <div class="modal-footer">
      <button class="button discard-button" (click)="cancelModal()">Cancel</button>
      <button class="btn confirm"  [disabled]="isLoading" (click)="confirmSubmission()">
        <span *ngIf="isLoading" class="spinner"></span>
        <span >Confirm</span>
      </button>
      </div>
  </div>
</div>

<div class="dialog-container" *ngIf="isModalVisibleEdit">
  <div class="dialog-box">
    <div class="dialog-header">
      <p class="dialog-title">Confirm Edits</p>
      <button class="close-icon" (click)="cancelModalforEdit()">✖</button>
    </div>
    <div class="dialog-info">
      <p class="info-icon">ℹ️</p>
      <h3 class="info-text">You can only edit a template once in 24 hours.</h3>
    </div>

    <div class="dialog-body">
      <p>Are you sure you want to submit the content for English?</p>
      <p>
        If these edits are rejected, you can edit the template to match a previously approved version. This will allow you to continue sending the template.
      </p>
    </div>

    <div class="dialog-footer">
      <button class="btn cancel" (click)="cancelModalforEdit()">Cancel</button>
      <button class="btn confirm" (click)="confirmSubmission()" [disabled]="isLoading">
        <span *ngIf="isLoading" class="spinner"></span>
        <span >Confirm</span>
      </button>
      </div>
  </div>
</div>
        <!--end modal-->

</div>


</div>

<!-- <div *ngIf="isLoading" class="spinner-overlay">
  <div class="spinner"></div>
</div>
-->