<div [@routerTransition]>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-body">
    <div class=" d-flex flex-column flex-column-fluid">
        <sub-header  [title]="'Notifications'  | localize " [description]="'bookingNotifications' | localize">
        </sub-header>
        <div [ngClass]="theme != 'theme12' ? 'container' : ''">
            <div class="card card-custom">
                <div class="card-body">
                    <div class="form" *ngIf="theme != 'theme12'">
                        <div class="row mb-4">
                            <div class="col-xl-6">
                                <input class="form-control" id="StartEndRange" name="StartEndRange"
                                    #drp="bsDaterangepicker" readonly="readonly" bsDaterangepicker
                                    dateRangePickerMomentModifier [(date)]="dateRange"
                                    >

                            </div>
                            <div class="col-xl-6">
                                <div class="form-group">
                                    <select #TargetValueFilterSelectionCombobox class="form-control"
                                        [(ngModel)]="readStateFilter" name="readStateFilter">
                                        <option value="ALL">{{"All" | localize}}</option>
                                        <option value="UNREAD">{{"Unread" | localize}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 text-right">
                                <div class="form-group">
                                    <button class="btn btn-danger" (click)="deleteNotifications()"><i
                                            class="la la-times"></i>{{"DeleteListedNotifications" | localize}}</button>
                                    <button class="btn btn-primary" (click)="getNotifications()"><i
                                            class="fa fa-sync"></i>
                                        {{"Refresh" | localize}}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form" *ngIf="theme === 'theme12'">
                        <div class="row  p-1">
                            <div class="col-xl-6">
                                <input class="form-control" 
                                id="StartEndRange" 
                                name="StartEndRange"
                                #drp="bsDaterangepicker"  
                                bsDaterangepicker
                                [(ngModel)]="dateRange"
                                (bsValueChange)="onDateRangeUpdate()">
                            </div>
                            <div class="col-xl-6 p-0">
                                <div class="form-group">
                                    <select #TargetValueFilterSelectionCombobox class="form-control"
                                        [(ngModel)]="readStateFilter" name="readStateFilter">
                                        <option value="ALL">{{"All" | localize}}</option>
                                        <option value="UNREAD">{{"Unread" | localize}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-xl-12 text-right">
                                <div class="form-group">
                                    <button class="btn btn-danger" (click)="deleteNotifications()"><i
                                            class="la la-times"></i>{{"DeleteListedNotifications" | localize}}</button>
                                    <button class="btn btn-primary-info" (click)="getNotifications()"><i
                                            class="fa fa-sync"></i>
                                        {{"Refresh" | localize}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class=" primeng-datatable-container"   [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                            [busyIf]="primengTableHelper.isLoading">
                            <p-table #dataTable (onLazyLoad)="getNotifications($event)"
                            [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'"
                                [value]="primengTableHelper.records"
                                rows="{{primengTableHelper.defaultRecordsCountPerPage}}" [paginator]="false"
                                [lazy]="true" [responsive]="primengTableHelper.isResponsive">
                                <ng-template [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : 'light'" pTemplate="header">
                                    <tr>
                                        <th  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width:100px;text-align:center">
                                            {{'Actions' | localize}}
                                        </th>
                                        <!-- <th [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width: 80px;text-align:center;width:150px">{{'Status' | localize}}</th> -->
                                        <th  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''">
                                            {{'Notification' | localize}}
                                        </th>
                                        <th  [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-table' : ''" style="width:200px;text-align:center">
                                            {{'CreationTime' | localize}}
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-record="$implicit">
                                    <tr>
                                        <td [ngClass]="{
                                            'table-dark': darkModeService.currentSkin === 'dark',
                                            'read-notification': !isRead(record)
                                        }">
                                            <div class="btn-group dropdown" dropdown container="body" placement="bottom-start">
                                                <button
                                                    [ngClass]="theme != 'theme12' ? 'btn-primary' : 'btn-primary-info'"
                                                    class="dropdown-toggle btn btn-sm"
                                                    dropdownToggle
                                                >
                                                    <i class="fa fa-cog"></i><span class="caret"></span>
                                                </button>
                                             
                                                <ul
                                                    placement="bottom-start"
                                                    class="dropdown-menu"
                                                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'drop-down-dark' : ''"
                                                    *dropdownMenu
                                                >
                                                <li>
                                                    <a id="openLiveChat" class="dropdown-item"  
                                                    (click)="setAsRead(record); UserAssignToTeamInox(getNumberAfterComma(record.formattedNotification.text))">
                                                        {{ l("OpenChat") }} 
                                                    </a>
                                                </li>                                                
                                                    <li>
                                                        <!-- <button class="btn btn-sm btn-icon btn-danger" [attr.title]="l('Delete')"
                                                        (click)="deleteNotification(record)">
                                                        <i class="fa fa-times" [attr.aria-label]="l('Delete')"></i>
                                                    </button> -->
                                                    <a id="openLiveChat" class="dropdown-item"  (click)="deleteNotification(record)"> {{ l("Delete") }}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                        <!-- <td   [ngClass]="darkModeService.currentSkin === 'dark' ? 'table-dark' : ''"  style="text-align: center;width: 150px">
                                            <div
                                                class="{{record.formattedNotification.icon}} ">
                                               {{getNotificationTextBySeverity(record.formattedNotification.severity)}}</div>
                                        </td> -->
                                        <td [ngClass]="{
                                            'table-dark': darkModeService.currentSkin === 'dark',
                                            'read-notification': !isRead(record)
                                        }">
                                        <span class="p-column-title">{{ 'Notification' | localize }}</span>
                                        
                                        <a *ngIf="record.formattedNotification.url"
                                           href="{{record.formattedNotification.url}}"
                                           class="{{getRowClass(record)}}">
                                            {{ truncateString(record.formattedNotification.text.split(',')[0], 120) }}
                                        </a>
                                        
                                        <span *ngIf="!record.formattedNotification.url"
                                              title="{{ record.formattedNotification.text }}"
                                              class="{{getRowClass(record)}}">
                                            {{ truncateString(record.formattedNotification.text.split(',')[0], 120) }}
                                        </span>
                                    </td>
                                    

                                        <!-- <td  ><button (click)="UserAssignToTeamInox('27_962798255580')">click in here</button> </td> -->
                                        <td   [ngClass]="{
                                            'table-dark': darkModeService.currentSkin === 'dark',
                                            'read-notification': !isRead(record)
                                        }"  style="text-align:center">
                                            <span title="{{record.notification.creationTime | momentFormat:'llll'}}"
                                                class="{{getRowClass(record)}}">
                                                {{fromNow(record.notification.creationTime)}}
                                            </span>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                                {{'NoData' | localize}}
                            </div>
                            <div class="primeng-paging-container">
                                <p-paginator [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark' : ''" [rows]="primengTableHelper.defaultRecordsCountPerPage" #paginator
                                    (onPageChange)="getNotifications($event)"
                                    [totalRecords]="primengTableHelper.totalRecordsCount"
                                    [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage">
                                </p-paginator>
                                <span class="total-records-count">
                                    {{'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount}}
                                </span>
                            </div>
                        </div>
                        <!--<Primeng-TurboTable-End>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>  