<div
    class="modal modal-slide-in fade event-sidebar"
    id="modelDialog"
    #NodeSearch="bs-modal"
    bsModal
    role="dialog"
    [config]="{ backdrop: 'static', ignoreBackdropClick: true }"
    aria-labelledby="NodeSearch"
    (click)="close()"
>
    <div class="modal-dialog sidebar-lg" (click)="$event.stopPropagation()">
        <div class="modal-content p-0">
            <div class="modal-body flex-grow-1 pb-sm-0 pb-3" (mousedown)="onModalMouseDown($event)">
                <div class="header-content pt-1" style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 0px">
                    <div style="display: flex; height: 40px; width: 40px; background-color: #92dcff; justify-content: center; align-items: center; border-radius: 20px">
                        <i class="bi bi-search"></i>
                    </div>
                    <div>
                        <i (click)="close()" class="bi bi-x-lg close-icon" style="font-size: 18px"></i>
                    </div>
                </div>
                <div>
                    <div style="border-bottom: 1px solid #858585; padding: 30px 0 0; margin-top: 10px">
                        <p style="color: black; font-size: 21px;">Search</p>
                    </div>
                    <p style="color: #858585; font-size: 14px; margin-top: 10px; margin-right: 20px">Use the search bar to find the information you are looking for</p>
                </div>
                <div class="search-container">
                    <input type="text" placeholder="Search by keyword..." class="search-input" [(ngModel)]="searchQuery" />
                </div>
                <div class="search-button" (click)="search()">
                    <p style="padding: 0px;margin: 0px;">Search</p>
                </div>
                <div class="card-container">
                    <div class="card" (click)="clickNode(item)" *ngFor="let item of nodesAfterSearch" style="margin: 0px; padding: 0px; overflow: hidden; cursor: pointer">
                        <div
                            class="avatar-content"
                            [ngClass]="{
                                Send_Message_Node: item.type === 'Send Message',
                                Language_Node: item.type === 'Language',
                                List_options_Node: item.type === 'List options',
                                Branches_Node: item.type === 'Branches' || item.type === 'BranchesEN',
                                Reply_buttons_Node: item.type === 'Reply buttons',
                                Human_handover_Node: item.type === 'Human handover',
                                Collect_input_Node: item.type === 'Collect input',
                                Jump_Node: item.type === 'Jump',
                                Interactive_template_Node: item.type === 'Interactive template',
                                Delay_Node: item.type === 'Delay',
                                Http_request_Node: item.type === 'Http request',
                                Condition_Node: item.type === 'Condition',
                                Set_Parameter_Node: item.type === 'Set Parameter',
                                whatsApp_template_Node: item.type === 'whatsApp template',
                                ScheduleNode_Node: item.type === 'ScheduleNode',
                                Cataloge_Single_Product_Node: item.type === 'Cataloge Single Product',
                                Cataloge_multity_Product_Node: item.type === 'Cataloge multity Product'
                            }"
                        >
                        <!-- ScheduleNode_Node: item.type === 'ScheduleNode', -->
                            <i
                                style="color: white; font-size: 22px"
                                class="bi"
                                [ngClass]="{
                                    'bi-cursor': item.type === 'Send Message',
                                    'bi-translate': item.type === 'Language',
                                    'bi-menu-button': item.type === 'List options',
                                    'bi-geo': item.type === 'Branches' || item.type === 'BranchesEN',
                                    'bi-reply': item.type === 'Reply buttons',
                                    'bi-headset': item.type === 'Human handover',
                                    'bi-input-cursor': item.type === 'Collect input',
                                    'bi-shuffle': item.type === 'Jump',
                                    'bi-chat-left-text': item.type === 'Interactive template',
                                    'bi-hourglass-split': item.type === 'Delay',
                                    'bi-code-slash': item.type === 'Http request',
                                    'bi-funnel': item.type === 'Condition',
                                    'bi-p-square': item.type === 'Set Parameter',
                                    'bi-whatsapp': item.type === 'whatsApp template',
                                    'bi-clock-history': item.type === 'ScheduleNode',
                                    'bi-bag': item.type === 'Cataloge Single Product',
                                    'bi-basket': item.type === 'Cataloge multity Product'
                                }"
                            >
                            </i>
                        </div>
                        <div class="card-content">
                            <p>{{ item.captionEn }}</p>
                            <!-- Add more fields as necessary -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
