.modal {
    position: fixed;
    top: 0;
    right: -42%; /* Start hidden off-screen */
    height: 100%;
    transition: right 0.3s ease;
    z-index: 1050; /* Make sure it's on top */
    cursor: default;
}

.modal.show {
    right: 0; /* Slide in */
}

.modal-dialog.sidebar-lg {
    margin: 0;
    height: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.close-icon {
    cursor: pointer;
    font-size: 1.5rem;
}

.search-container {
    display: flex;
    padding: 15px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #009789; /* Primary color */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}
.close-button {
    padding: 10px 15px;
    background-color: #ffffff;
    color: #ff0000;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    height: 40px;
    width: 74px;
    border: 1px solid #ff0000;
}

.search-button:hover {
    background-color: #009789; /* Darker shade on hover */
}

.modal {
    pointer-events: auto; /* Ensure modal can be interacted with */
}

.modal-backdrop {
    pointer-events: auto; /* Ensure backdrop can be interacted with */
}

.card-container {
    display: flex;
    flex-direction: column; /* Stack cards vertically */
    gap: 16px; /* Space between cards */
}

.card {
    display: flex;
    align-items: center; /* Center items vertically */
    background-color: #fff; /* Card background */
    border: 1px solid #ccc; /* Border for the card */
    border-radius: 8px; /* Rounded corners */
    padding: 16px; /* Internal spacing */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow effect */
    transition: box-shadow 0.3s; /* Transition for hover effect */
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

.card-image {
    width: 80px; /* Set width for the image */
    height: 80px; /* Set height for the image */
    border-radius: 4px; /* Optional: rounded image corners */
    margin-right: 16px; /* Space between image and content */
}

.card-content {
    padding: 12px;
    display: flex;
    flex-direction: column; /* Stack title and description */
}
.avatar-content {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.Send_Message_Node {
    background-color: rgb(52, 184, 202);
}

.Language_Node {
    background-color: rgb(255, 217, 45);
}

.List_options_Node {
    background-color: rgb(9, 178, 83);
}

.Branches_Node {
    background-color: rgb(8, 2, 163);
}

.Reply_buttons_Node {
    background-color: rgb(53, 156, 236);
}

.Human_handover_Node {
    background-color: rgb(248, 204, 114);
}

.Collect_input_Node {
    background-color: rgb(203, 98, 228);
}

.Jump_Node {
    background-color: rgb(252, 124, 41);
}

.Interactive_template_Node {
    background-color: rgb(88, 0, 110);
}

.Delay_Node {
    background-color: rgb(203, 98, 228);
}

.Http_request_Node {
    background-color: rgb(252, 124, 41);
}
.Condition_Node {
    background-color: rgb(46, 182, 125);
}

.Set_Parameter_Node {
    background-color: rgb(252, 124, 41);
}

.whatsApp_template_Node {
    background-color: rgb(9, 178, 83);
}

.ScheduleNode_Node {
    background-color: rgb(184, 166, 9);
}


.Cataloge_Single_Product_Node {
    background-color: rgb(255, 152, 0);
}

.Cataloge_multity_Product_Node {
    background-color: rgb(76, 175, 80);
}