<div appBsModal #tenantSettingsModal="bs-modal" class="modal fade" tabindex="-1"
    role="dialog"
    aria-labelledby="tenantSettingsModal" aria-hidden="true"
    [config]="{ backdrop: 'static' }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ "Settings" | localize }} - {{ tenantName }}</span>
                </h4>
                <button type="button" class="close" data-dismiss="modal"
                    aria-hidden="true" (click)="close()">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>

            <div class="modal-body">

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="timeZoneId">{{ "time Zone" | localize }} *</label>
                            <input  id="timeZoneId"
                             class="form-control"
                             type="text" 
                            formControlName="timeZoneId"
                            name="timeZoneId"
                            />
                            <!-- <div class="invalid-form-label" *ngIf="form.get('timeZoneId')?.hasError('required') && (form.get('timeZoneId')?.dirty || form.get('timeZoneId')?.touched)"
                                [ngClass]="{ 'is-valid': form.get('timeZoneId')?.valid, 'is-invalid': form.get('timeZoneId')?.invalid }"
                               >
                               {{ "invalidFeild" | localize }} *
                              </div> -->
                        </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-12 form-group">
                                <label for="currencyCode">{{ "Currency" | localize }} *</label>
                        <select id="currencyCode" name="currencyCode" class="form-control"
                        formControlName="currencyCode"
                            
                            >
                            <option></option>
                            <option *ngFor="let c of tenant.currencyList" [value]="c.currencyName">
                               
                                {{ c.currencyName }}
                            </option>
                        </select>
                      </div>
                      </div>

                      <div class="row">
                        <div class="col-12 form-group">
                            <label for="zohoCustomerId">zoho Customer Id</label>
                            <input class="form-control" id="zohoCustomerId"
                                type="text" name="zohoCustomerId"
                                formControlName="zohoCustomerId" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="cautionDays">Caution Days</label>
                            <input class="form-control" id="cautionDays"
                                type="text" name="cautionDays"
                                formControlName="cautionDays" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="warningDays">Warning Days</label>
                            <input class="form-control" id="warningDays"
                                type="text" name="warningDays"
                                formControlName="warningDays" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="totalCustomerWallet">Total customer wallet</label>
                            <input class="form-control" id="totalCustomerWallet" type="text" name="totalCustomerWallet"
                            formControlName="totalCustomerWallet" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="clientIpAddress">Client Ip Address</label>
                            <input class="form-control" id="clientIpAddress"
                                type="text" name="clientIpAddress"
                                formControlName="clientIpAddress" />
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <div
                                class="md-checkbox-list form-check form-switch mb-2">
                                <div>
                                    <input class="form-check-input"
                                        id="isPreOrder" type="checkbox"
                                        name="isPreOrder"
                                        formControlName="isPreOrder"
                                         />
                                    <label for="isPreOrder" class="checkbox">
                                        {{ "Is Pre Order" | localize }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="md-checkbox-list form-check form-switch mb-2">
                                <div>
                                    <input class="form-check-input"
                                        id="isPickUp" type="checkbox"
                                        name="isPickUp"
                                        formControlName="isPickup" 
                                        />
                                    <label for="isPickUp" class="checkbox">
                                        {{ "Is Pickup" | localize }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="md-checkbox-list form-check form-switch mb-2">
                                <div>
                                    <input class="form-check-input"
                                        id="isDelivery" type="checkbox"
                                        name="isDelivery"
                                        formControlName="isDelivery" 
                                        />
                                    <label for="isDelivery" class="checkbox">
                                        {{ "Is Delivery" | localize }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                  </form>
                  
                  <!-- <div *ngIf="form.invalid">
                    Please fill out the form correctly.
                  </div> -->

                <!-- <form #editTenantSettingsForm="ngForm"
                    name="editTenantSettingsForm" role="form" 
                    novalidate
                    class="form-validation">
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="timeZoneId">{{ "time Zone" | localize }} *</label>
                            <input  id="timeZoneId" class="form-control" required type="text" name="timeZoneId"
                                [(ngModel)]="tenant.timeZone"  />
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-12 form-group">
                                <label for="currencyCode">{{ "Currency" | localize }} *</label>
                        <select id="currencyCode" name="currencyCode" class="form-control"
                            [(ngModel)]="tenant.currency">
                            <option></option>
                            <option *ngFor="let c of tenant.currencyList" [value]="c.currencyName">
                              
                                {{ c.currencyName }}
                            </option>
                        </select>
                      </div>
                      </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="zohoCustomerId">zoho Customer Id</label>
                            <input class="form-control" id="zohoCustomerId"
                                type="text" name="zohoCustomerId"
                                [(ngModel)]="tenant.zohoCustomerId" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="cautionDays">Caution Days</label>
                            <input class="form-control" id="cautionDays"
                                type="text" name="cautionDays"
                                [(ngModel)]="tenant.cautionDays" />

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="warningDays">Warning Days</label>
                            <input class="form-control" id="warningDays"
                                type="text" name="warningDays"
                                [(ngModel)]="tenant.warningDays" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="totalCustomerWallet">Total customer wallet</label>
                            <input class="form-control" id="totalCustomerWallet" type="text" name="totalCustomerWallet"
                                [(ngModel)]="tenant.totalCustomerWallet" />
                        </div>
                    </div> -->
                    <!-- <div class="row">
                        <div class="col-12 form-group">
                            <label for="totalUi">Total Ui conversations</label>
                            <input
                                [(ngModel)]="conversations.totalUIConversation"
                                class="form-control" id="totalUi" type="number"
                                name="totalUi" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="usageUi"> Total Ui Usage</label>
                            <input
                                [(ngModel)]="conversations.totalUsageUIConversation"
                                class="form-control" id="usageUi" type="number"
                                name="usageUi" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="totalBi">Total Bi conversations</label>
                            <input
                                [(ngModel)]="conversations.totalBIConversation"
                                class="form-control" id="totalBi" type="number"
                                name="totalBi" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="usageBi">Total Bi Usage</label>
                            <input
                                [(ngModel)]="conversations.totalUsageBIConversation"
                                class="form-control" id="usageBi" type="number"
                                name="usageBi" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="usageBi">Total Marketing Bi</label>
                            <input
                                [(ngModel)]="conversations.totalMarketingBIConversation"
                                class="form-control" id="usageBi" type="number"
                                name="usageBi" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="usageBi">Total Marketing Bi Usage</label>
                            <input
                                [(ngModel)]="conversations.totalUsageMarketingBIConversation"
                                class="form-control" id="usageBi" type="number"
                                name="usageBi" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="usageBi">Total Utility Bi</label>
                            <input
                                [(ngModel)]="conversations.totalUtilityBIConversation"
                                class="form-control" id="usageBi" type="number"
                                name="usageBi" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 form-group">
                            <label for="usageBi">Total Utility Bi Usage</label>
                            <input
                                [(ngModel)]="conversations.totalUsageUtilityBIConversation"
                                class="form-control" id="usageBi" type="number"
                                name="usageBi" />
                        </div>
                    </div> -->
                    <!-- <div class="row mt-4">
                        <div class="col">
                            <div
                                class="md-checkbox-list form-check form-switch mb-2">
                                <div>
                                    <input class="form-check-input"
                                        id="isPreOrder" type="checkbox"
                                        name="isPreOrder"
                                        [(ngModel)]="tenant.isPreOrder" />
                                    <label for="isPreOrder" class="checkbox">
                                        {{ "Is Pre Order" | localize }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="md-checkbox-list form-check form-switch mb-2">
                                <div>
                                    <input class="form-check-input"
                                        id="isPickUp" type="checkbox"
                                        name="isPickUp"
                                        [(ngModel)]="tenant.isPickup" />
                                    <label for="isPickUp" class="checkbox">
                                        {{ "Is Pickup" | localize }}
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div
                                class="md-checkbox-list form-check form-switch mb-2">
                                <div>
                                    <input class="form-check-input"
                                        id="isDelivery" type="checkbox"
                                        name="isDelivery"
                                        [(ngModel)]="tenant.isDelivery" />
                                    <label for="isDelivery" class="checkbox">
                                        {{ "Is Delivery" | localize }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary font-weight-bold"
                    (click)="ZohoSync()">
                    <i class="fa fa-plus"></i> <span>{{ "Zoho Sync" | localize
                        }}</span>
                </button>
                <button type="button" class="btn btn-secondary font-weight-bold"
                    (click)="generateBookingTemplates()">
                    <i class="fa fa-plus"></i> <span>{{ "Booking Templtes" |
                        localize }}</span>
                </button>
                <button type="button" [disabled]="saving"
                    class="btn btn-light-primary font-weight-bold"
                    (click)="close()">{{ "Cancel" | localize }}</button>
                    
                <button (click)="onSubmit()" type="button" [buttonBusy]="saving"
                   
                [disabled]="form.invalid || isButtonDisabled"
                  
                    name="RefreshButton"
                    [busyText]="l('SavingWithThreeDot')"
                    class="btn btn-primary font-weight-bold">
                    <i class="fa fa-save"></i> <span>{{ "Save" | localize }}</span>
                </button>
            </div>
        </div>
    </div>
</div>