<div appBsModal #viewModal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="viewModal"  [config]="{backdrop: 'static', keyboard: !saving}">


    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{l("Details")}}</span>
                </h4>
                <button type="button" class="close" (click)="close()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-6 mb-3">
                        <h6>{{"TenantName" | localize}} :</h6>
                        {{ name }}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{"EditTenant" | localize}} :</h6>
                        {{tenancyName}}
                    </div>
    
                    <div class="col-6 mb-3">
                        <h6>{{"PhoneNumber" | localize}} :</h6>
                        {{phoneNumber}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{"Tenant website" | localize}} :</h6>
                        {{website}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{"Email" | localize}} :</h6>
                        {{email}}
                    </div>
                    <div class="col-6 mb-3">
                        <h6>{{"Address" | localize}} :</h6>
                        {{address}}
                    </div>
    
                </div>

                <br>
                <br>
                <hr style="height:2px;border-width:0;color:rgb(47, 1, 253);background-color:rgb(0, 4, 255)">
                <br>
                <br>

                <div class="row">

                    <div class="col-6" >

                           <div class="row" style="padding: 20px;">
                            <label>Upload Contract</label>
                            <input type="file" id="uplode2" class="form-control" style="width: 300px"
                                
                                   (change)="onFileChange2($event)"
                            >
                            </div>

                            <div class="row" style="padding: 20px;">
                                <div class="product-img" >
                          
                                    <button class="btn btn-danger"style="width: 300px" 
                                            (click)="onSaveButton()">Save
                                    </button>
                                </div>
                            </div>
                       
    
                    </div>


                    <div class="col-6" >
                           <div class="row" style="padding: 50px;">

                            </div>

                            
                            <div class="row" style="padding: 23px;">
                                <div class="product-img" >
                                    <a *ngIf="fileUrl" type="button" target="_blank" class="btn btn-danger" [href]="fileUrl"><i class="fa fa-file-excel"></i>View Contract</a>
                                </div>
                            </div>
                      
    
                    </div>
                    
                </div>

            </div>
            <div class="modal-footer">
                <button [disabled]="saving" type="button" class="btn btn-primary blue" (click)="close()">{{l("Close")}}</button>
            </div>
        </div>
    </div>

</div>
