<div style="min-height:100vh" [ngClass]="darkModeService.currentSkin === 'dark' ?
    'dark': 'light'">


    <div class=" vertical-layout vertical-menu-modern navbar-floating
        footer-static"
        [ngClass]="{'menu-collapsed': darkModeService.hideSideNav ,
        'menu-expanded': darkModeService.hideSideNav === false}">
        <!-- BEGIN: Header-->
        <div *ngIf="!isInBotBuilderPage">
            <nav class=" navbar navbar-expand-lg align-items-center
                header-navbar navbar-shadow navbar-light container-xxl "
                [ngClass]="{'navbar-light' : darkModeService.currentSkin !=
                'dark' , 'bg-primary': darkModeService.navBarColor ===
                'bg-primary' , 'bg-secondary': darkModeService.navBarColor ===
                'bg-secondary'
                ,'bg-success': darkModeService.navBarColor ===
                'bg-success','bg-danger': darkModeService.navBarColor ===
                'bg-danger','bg-info': darkModeService.navBarColor ===
                'bg-info','bg-warning': darkModeService.navBarColor ===
                'bg-warning','floating-nav': darkModeService.navBarStyle ===
                'floating-nav','hidden': darkModeService.navBarStyle ===
                'hidden'
                }">

                <div class="navbar-container d-flex ">
                    <div class="bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav bookmark-icons">
                            <li class="nav-item d-block">
                                <a routerLink="../app/main/dashboard"
                                    class="nav-link">
                                    <i class="bi bi-whatsapp blob" *ngIf=""></i>
                                </a>
                            </li>
                        </ul>
                        <ul *ngIf="!searchOpened" class="nav navbar-nav
                            d-xl-none">
                            <li class="nav-item"><a class="nav-link menu-toggle"
                                    (click)="darkModeService.toggleNavMenu()"
                                    id="kt_aside_tablet_and_mobile_toggle"><i
                                        class="ficon" data-feather="menu"></i></a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav ">
                            <!--
                        <li class="nav-item d-none d-lg-block">
                            <chat-toggle-button [customStyle]="'btn btn-icon btn-hover-text-primary'"></chat-toggle-button>
                        </li>
                    -->
                            <!-- <li class="nav-item d-none d-lg-block pt-1"><i class="ficon" data-feather="check-square"></i></li>-->
                        </ul>
                        <!--
                <ul class="nav navbar-nav">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link bookmark-star"><i class="ficon text-warning" data-feather="star"></i></a>
                        <div class="bookmark-input search-input">
                            <div class="bookmark-input-icon"><i data-feather="search"></i></div>
                            <input class="form-control input" type="text" placeholder="Bookmark" tabindex="0" data-search="search">
                            <ul class="search-list search-list-bookmark"></ul>
                        </div>
                    </li>
                </ul>
                -->
                    </div>
                    <ul *ngIf="!searchOpened" class="nav navbar-nav
                        align-items-center ms-auto">
                        <!--language-->
                        <!-- <li class="nav-item dropdown "><a class="nav-link
                                dropdown-toggle" id="dropdown-flag" href="#"
                                data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><i
                                    class="flag-icon flag-icon-us"></i><span
                                    style="margin-left:6px"
                                    class="selected-language">{{currentLanguage.displayName}}</span></a>
                            <div class="dropdown-menu dropdown-menu-end"
                                aria-labelledby="dropdown-flag">
                                <li class="navi-item" *ngFor="let language of
                                    languages">
                                    <a href="javascript:;"
                                        (click)="changeLanguage(language.name)"
                                        class="dropdown-item">
                                        <span class="symbol symbol-20 mr-3">
                                            <i [class]=language.icon></i>
                                        </span>
                                        <span class="navi-text">
                                            {{language.displayName}}
                                        </span>
                                    </a>
                                </li>
                            </div>
                        </li> -->
                        <li class="nav-item d-lg-block">
                            <a class="nav-link nav-link-style btn"
                                (click)="toggleDarkSkin()">
                                <i [ngClass]="darkModeService.currentSkin ===
                                    'dark' ? 'fas fa-sun' : 'fas fa-moon'"
                                    class="ficon font-medium-5"></i>
                            </a>
                        </li>
                        <!-- <li class="nav-item nav-search d-none d-lg-block">
                            <a class="nav-link nav-link-search"
                                (click)="openSearch()"><i class="bi bi-search"></i></a>

                        </li> -->
                        <!--Notifications-->
                        <li class="nav-item dropdown dropdown-notification
                            me-25" *ngIf="ishasPermissionToBooking"><a
                                class="nav-link"
                                aria-expanded="false"
                                data-bs-toggle="dropdown"><i class="bi bi-bell" style="font-size: 21px;"></i><span *ngIf="notificationService.unreadNotificationCount"
                                    class="badge rounded-pill bg-danger
                                    badge-up">{{notificationService.unreadNotificationCount}}</span></a>
                            <ul class="notifications-ul dropdown-menu
                                dropdown-menu-media dropdown-menu-end">
                                <li class="dropdown-menu-header">
                                    <div class="dropdown-header d-flex">
                                        <h4 class="notification-title mb-0
                                            me-auto">{{"Notifications" |
                                            localize}}</h4>
                                        <div class="badge rounded-pill ml-1
                                            badge-light-primary">{{notificationService.unreadNotificationCount}}
                                            {{"New" | localize}}</div>
                                    </div>
                                </li>

                                <li class="scrollable-container media-list">
                                    <a class="d-flex"
                                       *ngFor="let notification of notificationService.notifications"
                                       (click)="gotoUrl(notification.url,getNumberAfterComma(notification.text));setNotificationAsRead(notification)"
                                       [ngClass]="{
                                           'user-notification-item-clickable': notification.url,
                                           'user-notification-item-unread': notification.isUnread,
                                            'read-notification': !isRead(notification)
                                       }">


                                        <div class="list-item d-flex align-items-start">
                                            <div class="avatar-content me-1">
                                                <div class="">
                                                    <i class="{{notification.icon}} {{notification.iconFontClass}}" style="font-size: 1px;"></i>
                                                </div>
                                            </div>
                                            <div class="list-item-body flex-grow-1">
                                                <p class="media-heading wrap">
                                                    <span class="fw-bolder">  {{ notification.text.split(',')[0] }}
                                                    </span>
                                                    {{notification.time | momentFromNow}}
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                
                                <li class="dropdown-menu-footer "
                                    *ngIf="notificationService.notifications.length"><a
                                        class="btn btn-primary-info w-100"
                                        routerLink="notifications">{{"SeeAllNotifications"
                                        | localize}}</a>
                                </li>
                            </ul>
                        </li>
                        
                          <a (click)="copyPhoneNumber()" title=" Copy phone number">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-copy" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                              </svg>
                          </a>
                        <li class="nav-item dropdown dropdown-user">
                            <a
                                class="nav-link dropdown-toggle
                                dropdown-user-link" id="dropdown-user" href="#"
                                data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">

                                <div class="user-nav d-sm-flex ">
                                    <span
                                        class="user-name fw-bolder"> {{phoneNumber}}
                                    </span>
                                    <span class="user-status">
                                        {{tenancyName}} - {{userName}}
                                        <i *ngIf="isImpersonatedLogin" class="fa
                                            fa-reply text-danger"></i>
                                    </span>
                                </div>
                                <span class="avatar">
                                    <img class="round"
                                        [src]="profilePicture" alt="avatar"
                                        height="40"
                                        width="40">
                                    <span
                                        class="avatar-status-online">
                                    </span>
                                </span>
                            </a>
                            <!--Profile menu-->
                            <div [ngClass]="isArabic? 'rtl-text-right' : ''" class="dropdown-menu dropdown-menu-end"
                                style="width:15rem"
                                aria-labelledby="dropdown-user">
                                <a class="dropdown-item" href="javascript:;"
                                    *ngIf="isImpersonatedLogin"
                                    (click)="backToMyAccount()"
                                    id="UserProfileBackToMyAccountButton">
                                    <i class="me-50 fa fa-reply "></i>
                                    {{"BackToMyAccount" | localize}}
                                </a>
                                <a class="dropdown-item"
                                    (click)="changeMySettings()"><i
                                        class="me-50"
                                        data-feather="settings"></i>
                                    {{"MySettings" |
                                    localize}}</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item"
                                    (click)="changePassword()"><i class="me-50"
                                        data-feather="more-horizontal"></i>
                                    {{"ChangePassword" |
                                    localize}}</a>
                                <a class="dropdown-item"
                                    (click)="showLoginAttempts()"><i
                                        class="me-50"
                                        data-feather="file"></i>
                                    {{"LoginAttempts" |
                                    localize}}</a>
                                <a class="dropdown-item  change-profile-picture"
                                    (click)="changeProfilePicture()"><i
                                        class="me-50"
                                        data-feather="image"></i>
                                    {{"ChangeProfilePicture" |
                                    localize}}</a>
                                <a
                                    *ngIf="appSession.application.userDelegationIsEnabled
                                    && !isImpersonatedLogin"
                                    class="dropdown-item"
                                    (click)="showUserDelegations()"><i
                                        class="me-50"
                                        data-feather="alert-triangle"></i>
                                    {{"Authority" | localize}} </a>

                                    <!-- <a class="dropdown-item" (click)="connectFacebookPopup()">
                                        <i class="me-25 bi bi-facebook"></i>
                                        Facebook Plugin
                                      </a>

                                      <a class="dropdown-item" (click)="connectInstagram()">
                                        <i class="me-25 bi bi-instagram"></i>
                                        Instagram Plugin
                                      </a> -->
                                      
                                <a class="dropdown-item" (click)="logout()"><i
                                     class="me-50" data-feather="power"></i>
                                    {{"Logout" |
                                    localize}}</a>
                            </div>
                        </li>

                    </ul>

                    <div *ngIf="searchOpened" class="search-input open">
                        <!-- Search Input -->
                        <div class="search-input-icon"><span class="fa
                                fa-search"></span></div>
                        <input class="form-control input" type="text"
                            placeholder="Search ..." tabindex="-1"
                            data-search="search" (keyup.enter)="search()"
                            [formControl]="searchCtrl" />
                        <a type="button" (click)="openSearch()" class="btn
                            search-input-close p-0">
                            <span class="fa fa-times"></span></a>


                    </div>
                </div>
            </nav>

        </div>

        <!-- END: Header-->


        <div>
            <div>
                <div>
                    <div id="kt_wrapper">

                        <div class=" vertical-layout vertical-menu-modern
                            navbar-floating footer-static"
                            [ngClass]="{'menu-collapsed':
                            darkModeService.hideSideNav , 'menu-expanded':
                            darkModeService.hideSideNav === false}">
                            <div [ngClass]="isInBotBuilderPage ? '' : 'app-content content'">
                                <div class="content-overlay"></div>
                                <!-- CONTENT -->
                                <router-outlet></router-outlet>
                                <!--/ CONTENT -->
                            </div>

                        </div>
                        <!-- BEGIN: Footer-->

                        <!-- <button class="btn btn-primary-info btn-icon "
                            [ngClass]="windowScrolled ? 'show-scroll-to-top' :
                            'scroll-to-top' " (click)="scrollToTop()"
                            type="button"><i class="fas fa-angle-up"></i></button> -->
                        <!-- END: Footer-->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class=" vertical-layout footer-static" *ngIf="!isInBotBuilderPage"
        [ngClass]="{'menu-collapsed':
        darkModeService.hideSideNav,'vertical-menu-modern':
        darkModeService.hideSideNav , 'menu-expanded':
        darkModeService.hideSideNav === false ,'menu-hide' :
        darkModeService.toglleMenu === 'close' ,'menu-open' :
        darkModeService.toglleMenu === 'open' ,
        'vertical-overlay-menu' :
        darkModeService.toglleMenu === 'open' }"
        id="kt_aside_menu_wrapper">
        <sidebarthem12></sidebarthem12>
    </div>
    <div *ngIf="isMobileDevice() && subscriptionStatusBarVisible()">
        <subscription-notification-bar></subscription-notification-bar>
    </div>
    <!--Whatsapp Support-->
    <!-- <div class="whatsapp-support d-lg-block">
        <a
            target="_blank"
            href="https://api.whatsapp.com/send?phone=+15716220929&text=Hello,%20I%20have%20a%20question"
            class="whatspp-btn d-flex align-items-center
            justify-content-center">
            <i class="bi bi-whatsapp"></i>
        </a>
    </div> -->
    <!--End OfWhatsapp Support-->



    <!-- Theme Customier-->
    <div class="customizer d-none d-lg-block">
        <a (click)="toggleSideBar()" id="customizer-toggle"
            class="customizer-toggle d-flex align-items-center
            justify-content-center">
            <span class="fa fa-cog" [class]="'spinner-customize'"></span>
        </a>
    </div>



    <div class="customizer open"
        *ngIf="this.customized_side_bar_opened">
        <a (click)="toggleSideBar()" id="customizer-toggle"
            class="customizer-toggle d-flex align-items-center
            justify-content-center">
            <span class="fa fa-cog" [class]="'spinner'"></span>
        </a>

        <div class="customizer-content" [perfectScrollbar]>
            <div class="customizer-header px-2 pt-1 pb-0 position-relative">
                <h4 class="mb-0">{{ l("themeCustomizer") }}</h4>
                <p class="m-0">{{ l("themeCustomizerText") }}</p>

                <a (click)="toggleSideBar()" class="customizer-close"><span
                        class="fa fa-times"></span></a>
            </div>

            <hr />
            <form [formGroup]="form">
                <div formGroupName="layout">
                    <div id="customizer-styling" class="px-2">
                        <div id="customizer-styling-skin">
                            <p class="font-weight-bold">{{ l("skin") }}</p>
                            <div class="d-flex">
                                <div class="custom-control mr-1">
                                    <button
                                        [disabled]="darkModeService.currentSkin
                                        != 'dark'"
                                        class="nav-link nav-link-style btn"
                                        (click)="toggleDarkSkin()">
                                        <i Class="fas fa-sun" cl></i> <span>{{
                                            l("light") }}</span>
                                    </button>
                                </div>
                                <div class="custom-control mr-1">
                                    <button
                                        [disabled]="darkModeService.currentSkin
                                        === 'dark'"
                                        class="nav-link nav-link-style btn"
                                        (click)="toggleDarkSkin()">
                                        <i Class="bi bi-moon"></i><span>{{
                                            l("dark") }}</span>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <hr />

                    <div class="customizer-menu px-2">
                        <div id="customizer-menu-type">
                            <p class="font-weight-bold">{{ l("menuLayout") }}</p>
                        </div>

                        <div id="customizer-menu-collapsible" class="d-flex
                            mt-2">
                            <p class="font-weight-bold mr-auto m-0">{{
                                l("menuCollapsed") }}</p>
                            <div class="ml-auto custom-control m-checkbox-list
                                form-check form-switch custom-switch">
                                <input (change)="toggleSideNav()"
                                    name="collapsedMenu" type="checkbox"
                                    class="form-check-input" id="collapsedMenu"
                                    [checked]="collapsedMenu">
                            </div>
                        </div>

                        <!-- <div (click)="closeMenu()"  id="customizer-menu-hidden" class="d-flex mt-2" formGroupName="menu">
                            <p class="font-weight-bold mr-auto m-0">Menu Hidden</p>
                            <div class="ml-auto custom-control m-checkbox-list form-check form-switch custom-switch">
                                <input type="checkbox" class="form-check-input" id="collapse-sidebar-hidden"
                                    formControlName="hidden" />
                                <label class="custom-control-label" for="collapse-sidebar-hidden"></label>
                            </div>
                        </div> -->
                    </div>
                    <hr />

                    <div id="customizer-navbar" class="px-2"
                        formGroupName="navbar">
                        <div id="customizer-navbar-colors">
                            <p class="font-weight-bold">{{ l("navBarColor") }}</p>
                            <ul class="list-inline unstyled-list">
                                <li
                                    (click)="darkModeService.navbarColor('navbar-light')"
                                    class="color-box bg-white border"
                                    [ngClass]="darkModeService.navBarColor ===
                                    'navbar-light'? 'selected' : ''"></li>
                                <li
                                    (click)="darkModeService.navbarColor('bg-primary')"
                                    class="color-box bg-primary"
                                    [ngClass]="darkModeService.navBarColor ===
                                    'bg-primary'? 'selected' : ''">
                                </li>
                                <li
                                    (click)="darkModeService.navbarColor('bg-secondary')"
                                    [ngClass]="darkModeService.navBarColor ===
                                    'bg-secondary'? 'selected' : ''"
                                    class="color-box bg-secondary"></li>
                                <li
                                    (click)="darkModeService.navbarColor('bg-success')"
                                    class="color-box bg-success"
                                    [ngClass]="darkModeService.navBarColor ===
                                    'bg-success'? 'selected' : ''">
                                </li>
                                <li
                                    (click)="darkModeService.navbarColor('bg-danger')"
                                    class="color-box bg-danger"
                                    [ngClass]="darkModeService.navBarColor ===
                                    'bg-danger'? 'selected' : ''"></li>
                                <li
                                    (click)="darkModeService.navbarColor('bg-info')"
                                    class="color-box bg-info"
                                    [ngClass]="darkModeService.navBarColor ===
                                    'bg-info'? 'selected' : ''"></li>
                                <li
                                    (click)="darkModeService.navbarColor('bg-warning')"
                                    class="color-box bg-warning"
                                    [ngClass]="darkModeService.navBarColor ===
                                    'bg-warning'? 'selected' : ''">
                                </li>
                            </ul>
                        </div>
                        <div id="customizer-navbar-type">
                            <p class="navbar-type-text font-weight-bold">
                                {{ l("navBarType") }}
                            </p>

                            <div class="d-flex">
                                <div class="custom-control custom-radio">
                                    <input type="radio" id="nav-type-floating"
                                        value="floating-nav"
                                        (click)="darkModeService.navbarStyle('floating-nav')"
                                        formControlName="type"
                                        class="custom-control-input" />
                                    <label class="custom-control-label"
                                        for="nav-type-floating">{{ l("floating")
                                        }}</label>
                                </div>

                                <div class="custom-control ml-1 custom-radio">
                                    <input
                                        (click)="darkModeService.navbarStyle('hidden')"
                                        type="radio"
                                        id="nav-type-hidden" value="d-none"
                                        formControlName="type"
                                        class="custom-control-input" />
                                    <label class="custom-control-label"
                                        for="nav-type-hidden">{{ l("hidden") }}</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>



    </div>
</div>
<!--
    <footer class="footer footer-static footer-light" >
        <p class="clearfix mb-0"><span class="float-md-start d-block d-md-inline-block mt-25">COPYRIGHT
                &copy; {{currentYear}}<span class="d-none d-sm-inline-block"> , All rights
                    Reserved</span></span><span class="float-md-end d-none d-md-block">For any support
                or help you can contact us via our Live Chat<i data-feather="heart"></i></span></p>
    </footer>-->
<div class="d-block d-xl-none sidenav-overlay "
    (click)="darkModeService.toggleNavMenu()"
    [ngClass]="{'show' : darkModeService.toglleMenu === 'open','' :
    darkModeService.toglleMenu === 'close'}"></div>


