<div
    bsModal
    #exportToExcelModel="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exportToExcelModel"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l("Tkitat Statistic") }}</span>
                </h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
            </div>
            <div class="modal-body pt-5 pl-5">
                <label style="color: rgb(153 153 153); font-size: 18px">Username</label>
                <input type="text" class="form-control" placeholder="your username" [(ngModel)]="username" />

                <label style="color: rgb(153 153 153); margin-top: 20px; font-size: 18px">Password</label>
                <input type="password" class="form-control" placeholder="your password" [(ngModel)]="password" />

                <label style="color: rgb(153 153 153); margin-top: 20px; font-size: 18px">Date of today</label>
                <input type="text" class="form-control" placeholder="dd/m/yyyy" [(ngModel)]="Date" style="margin-bottom: 10px;"/>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{ l("Close") }}</button>
                <button type="button" class="btn btn-primary-info" [busyText]="l('SavingWithThreeDot')" (click)="backup()" type="button">
                    {{ l("Export") }}
                </button>
            </div>
        </div>
    </div>
</div>
