<div id="SellingRequestDetails" bsModal #ViewSellingRequestDeatils="bs-modal" class="modal fade" tabindex="-1"
    role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{ backdrop: 'static' }">
    <div *ngIf="theme != 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <span>{{ l("Details") }}</span>
                </h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="close()">x</button>
            </div>

            <div class="modal-body">
                <div class="center">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4" class="elestyle">
                                    <strong>{{ l("Name") }} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ createdBy }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-4" class="elestyle">
                                    <strong>{{ l("Mobile") }} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ phoneNumber }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="center">
                    <div class="row">
                        <div class="col-12">


                            <div *ngIf="isRequestForm">
                                <div class="row" *ngIf="data.length">
                                    <div class="col-4" class="elestyle">
                                        <strong>{{ l("Information ") }} :</strong>
                                    </div>
                                    <div class="col-6 mb-3" style="font-size: 15px">
                                        <ul>
                                            <li *ngFor="let data of data" [innerHTML]="data | linkify">
                                              
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" class="elestyle">
                                        <strong>{{ l("Content") }} :</strong>
                                    </div>
                                    <div class="col-6 mb-3" style="font-size: 15px">
                                        {{ sellingRequestDto.requestForm.contentPlate }}
                                    </div>
                                </div>

                                <div class="row" *ngIf="price != 0">
                                    <div class="col-4" class="elestyle">
                                        <strong>{{ l("Price") }} :</strong>
                                    </div>
                                    <div class="col-6 mb-3" style="font-size: 15px">
                                        {{ price }}
                                    </div>
                                </div>
                                <div class="row" *ngIf="price == 0">
                                    <div class="col-4" class="elestyle">
                                        <strong>{{ l("Price") }} :</strong>
                                    </div>
                                    <div class="col-6 mb-3" style="font-size: 15px">
                                        {{ price2 }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" class="elestyle">
                                        <strong>{{ l("Contract Name Person") }} :</strong>
                                    </div>
                                    <div class="col-6 mb-3" style="font-size: 15px">
                                        {{ sellingRequestDto.requestForm.contractName }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-4" class="elestyle">
                                        <strong>{{ l("Contact Info") }} :</strong>
                                    </div>
                                    <div class="col-6 mb-3" style="font-size: 15px">
                                        {{ sellingRequestDto.requestForm.phoneNumber }}
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-4" class="elestyle">
                                        <strong>{{ l("Payment Method") }} :</strong>
                                    </div>
                                    <div class="col-6 mb-3" style="font-size: 15px">
                                        {{ sellingRequestDto.requestForm.paymentType }}
                                    </div>
                                </div>

                            </div>
                            <div class="row" *ngIf="!isRequestForm">
                                <div class="col-4" class="elestyle" *ngIf="data.length != 0">
                                    <strong>{{ l("Information") }} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px" *ngIf="data.length != 0">
                                    <ul>
                                        <li *ngFor="let data of data" class="mt-1">
                                            {{
                                            data }}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row" *ngIf="!isRequestForm && price != 0">
                                <div class="col-4" class="elestyle">
                                    <strong>{{ l("Price") }} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ price }}
                                </div>
                            </div>

                            <div class="row" *ngIf="!isRequestForm && contactInfo != ''">
                                <div class="col-4" class="elestyle">
                                    <strong>{{ l("Contact Info") }} :</strong>
                                </div>
                                <div class="col-6 mb-3" style="font-size: 15px">
                                    {{ contactInfo }}
                                </div>
                            </div>

                            <div class="row" *ngIf="!isRequestForm && lstSellingRequestDetailsDto != null">
                                <div class="col-4" class="elestyle">
                                    <strong>{{ l("Images") }} :</strong>
                                </div>

                                <div *ngFor="let person of lstSellingRequestDetailsDto; index as i" class="col-1 mb-2"
                                    style="font-size: 15px">
                                    <a target="_blank" href="{{ person.documentURL }}"> Image</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <a [routerLink]="['/app/main/teamInbox/teamInbox12']" [queryParams]="{ CustomerID: userId }"><button
                            class="p-1 mr-1 btn btn-outline-dark">{{ l("Chat") }}</button></a>
                    <button [disabled]="sellingRequestStatus == 2" type="button"
                        class="p-1 mr-1 btn btn-outline-success" (click)="done()">{{ l("done") }}</button>
                    <button [disabled]="sellingRequestStatus == 3" type="button" class="p-1 mr-1 btn btn-outline-danger"
                        (click)="delete()">{{ l("Delete") }}</button>
                </div>
                <button [disabled]="saving" type="button" class="p-1 mr-1 btn btn-outline-secondary"
                    (click)="close()">{{
                    l("Close") }}</button>
            </div>
        </div>
    </div>
    <div *ngIf="theme === 'theme12'" class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-header ' : ''" class="modal-title">
                    <span>{{ l("Details") }}</span>
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"
                    aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-6 mb-1 d-flex">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-user font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("Name") }} : <small> {{ createdBy }} </small>
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 mb-1 d-flex">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-phone font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("phoneNumber") }} : <small> {{ phoneNumber }} </small>
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="isRequestForm &&  data.length != 0 ">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="bi bi-clipboard-data-fill"></i>                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("information") }} :
                                        <small><ul>
                                            <li *ngFor="let data of data" [innerHTML]="data | linkify">
                                            </li>
                                        </ul>
                                    </small> 
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="isRequestForm">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-user-check font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("information") }} : <small> {{
                                            sellingRequestDto.requestForm.contentPlate }}</small></h6>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="price != 0 && isRequestForm">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-dollar-sign font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("Price") }} : <small> {{ price }} </small>
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="price == 0 && isRequestForm">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-dollar-sign font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6
                                        class="transaction-title">{{ l("Price") }} : <small> {{ price2 }} </small>
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="isRequestForm">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-dollar-sign font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6
                                        class="transaction-title">{{ l("Contract Name Person") }} : <small> {{
                                            sellingRequestDto.requestForm.contractName }}  </small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="isRequestForm">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-phone font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("contactInfo") }} : <small> {{
                                            sellingRequestDto.requestForm.phoneNumber }} </small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="isRequestForm">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-dollar-sign font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("Payment Method") }} : <small> {{
                                            sellingRequestDto.requestForm.paymentType }} </small>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-6 mb-1 d-flex" *ngIf="!isRequestForm &&  data.length != 0">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="bi bi-clipboard-data-fill"></i>                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                    class="transaction-title">{{ l("information") }} :  <small><ul>
                                        <li *ngFor="let data of data" class="mt-1" [innerHTML]="data | linkify">
                                        </li>
                                    </ul>
                                </small> 
                                </h6>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="!isRequestForm && price != 0">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-dollar-sign medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("Price") }} : <small> {{ price }} </small>
                                    </h6>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 mb-1 d-flex" *ngIf="!isRequestForm && contactInfo != ''">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-phone font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6
                                        class="transaction-title">{{ l("contactInfo") }} : <small> {{ contactInfo
                                            }} </small></h6>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-lg-6 mb-1 d-flex"
                        *ngIf="!isRequestForm && lstSellingRequestDetailsDto != null">
                        <div class="transaction-item">
                            <div class="media">
                                <div class="avatar bg-light-primary-info rounded">
                                    <div class="avatar-content">
                                        <i class="fa fa-image font-medium-3"></i>
                                    </div>
                                </div>
                                <div class="media-body ml-1">
                                    <h6 
                                        class="transaction-title">{{ l("Images") }} : <small
                                            *ngFor="let person of lstSellingRequestDetailsDto; index as i">
                                            <a target="_blank" href="{{ person.documentURL }}"> Image</a>
                                        </small></h6>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row d-none d-lg-block">
                    <div class="col-12">
                        <a *ngIf="theme === 'theme12'" [routerLink]="['/app/main/teamInbox/teamInbox12']"
                            [queryParams]="{ CustomerID: userId }"><button
                                class="btn btn-outline-dark mr-1">{{ l("Chat") }}</button></a>
                        <a *ngIf="theme != 'theme12'" [routerLink]="['/app/main/teamInbox/teamInbox12']"
                            [queryParams]="{ CustomerID: userId }"><button
                                class="btn btn-outline-dark mr-1">{{ l("Chat")}}</button></a>
                        <button [disabled]="sellingRequestStatus == 2" type="button"
                            class=" mr-1 btn btn-outline-success" (click)="done()">{{ l("done") }}</button>
                        <button [disabled]="sellingRequestStatus == 3" type="button"
                            class=" mr-1 btn btn-outline-danger" (click)="delete()">
                            {{ l("Delete") }}
                        </button>

                        <button [disabled]="saving" type="button" class=" mr-1 btn btn-outline-secondary"
                            (click)="close()">{{ l("Close") }}</button>
                    </div>
                </div>
                <div class="row d-flex d-lg-none">
                    <div class="col-4 mb-1">
                        <a *ngIf="theme === 'theme12'" [routerLink]="['/app/main/teamInbox/teamInbox12']"
                            [queryParams]="{ CustomerID: userId }"><button
                                class="btn btn-outline-dark mr-1">{{ l("chat") }}</button></a>


                        <a *ngIf="theme != 'theme12'" [routerLink]="['/app/main/teamInbox/teamInbox12']"
                            [queryParams]="{ CustomerID: userId }"><button
                                class="btn btn-outline-dark mr-1">{{ l("done") }}</button></a>
                    </div>
                    <div class="col-4 mb-1">

                        <button [disabled]="sellingRequestStatus == 2" type="button"
                            class=" mr-1 btn btn-outline-success" (click)="done()">{{ l("done") }}</button>
                    </div>
                    <div class="col-4 mb-1">

                        <button [disabled]="sellingRequestStatus == 3" type="button"
                            class=" mr-1 btn btn-outline-danger" (click)="delete()">
                            {{ l("Delete") }}
                        </button>
                    </div>
                    <div class="col-4 mb-1">

                        <button [disabled]="saving" type="button" class=" mr-1 btn btn-outline-secondary"
                            (click)="close()">{{ l("Close") }}</button>
                    </div>

                </div>
            </div>
        </div>
    </div>