
.fa-facebook-f{
    font-size: 20px;
}
main {
    position: relative;
    width: 100%;
    padding: 1rem 2rem 0 2rem;
    background-color: #f8f8f8;
}
.doule-row-height{
    height: 97%;
}

.welcome{
    color: #009789;
    font-weight: 700;
    font-size: 35px;
}
.welcome-p{
    font-size: 20px;
}

#earningChartRef{
    text-align: -webkit-center;
}

#requestChartoptions{
    text-align: -webkit-center;

}

.btn-refresh{
    border-radius: 100%!important;
}

::ng-deep bs-daterangepicker-container {
    top: 125px !important;
    left: 180px !important;
    transform: none !important;
}

.bi-arrow-clockwise{
    cursor: pointer;
    font-size: 30px;
}

.range-input {
    border-radius: 0.8rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    height: 30px;
    cursor: pointer;
}

.dashboard-card {
    display: flex;
    align-items: center;
    background-color: white;
    background-clip: padding-box;
}


.icon-wrapper {
    position: relative;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    background-color: var(--purple);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper span {
    color: white;
    font-weight: 700;
}

.dashboard-card-title {
    font-weight: 500;
}
.avatar .avatar-content .avatar-icon{
    height: unset;
}

.dashboard-card-value-wrapper {
    text-align: center;
}

.dashboard-card-value {
    font-size: 2rem;
    font-weight: 700;
}

.dashboard-card-percentage {
    font-size: 1.4rem;
    font-weight: 500;
}

.green-text {
    color: var(--green);
}

.red-text {
    color: var(--red);
}



.users-view .dashboard-users {
    font-weight: 500;
    height: 500px;
    overflow-y: auto;
}
.active{
    background-color: #e4e6e8!important;
    color: #5e6278!important;
}

.users-view .dashboard-users ul::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #f5f5f5;
}

.users-view .dashboard-users ul::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
}

.users-view .dashboard-users ul::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #999;
}

.users-view .dashboard-users ul {
    list-style: none;
    padding-inline-start: 0;
    height: 90%;
    overflow-y: auto;
}

.users-view .dashboard-users ul li {
    background-color: white;
    cursor: pointer;
}

.users-view .dashboard-users ul li:hover {
    background-color: #f5f5f5;
}

.users-view .user-image {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 1rem;
}

.users-view .user-image img {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.dashboard-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.users-view .chart-wrapper {
    margin-top: 2rem;
    width: 55%;
}

.user-info-img-wrapper {
    position: relative;
    margin-top: -11rem !important;
    margin-bottom: 2rem;
    width: 16%;
    margin: auto;
    min-width: 50px;
}

.user-info-img-wrapper img {
    width: 100%;
    border-radius: 50%;
}

.user-info-img-wrapper p {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.user-info-numbers {
    align-items: center;
    text-align: center;
}

.user-info-numbers>span {
    font-weight: 700;
}

.user-info-numbers span:last-of-type {
    font-size: 2rem;
    width: min-content;
}

.max-width {
    max-width: 800px;
}

.avatar .fas {
    font-size: 26px;
    width: 100% !important;
    height: auto !important;
}

.avatar .far {
    font-size: 26px;
    width: 100% !important;
    height: auto !important;
}

.avatar .avatar-conten2 {
    width: 5rem !important;
    height: 5rem !important;
}

.media {
    display: flex !important;
    align-items: flex-start !important;
}

.avatar .avatar-content2 {
    background-color: var(--purple) !important;
}
.fa-paper-plane{
    margin-right: 3px;
}

.mr-1 {
    margin-right: 1rem;
}

.bg-light-seed {
    background: rgb(40 128 120 / 20%) !important;
    color: #009789 !important;
}

.fa-whatsapp {
    font-size: 25px;
}

.card-congratulation-medal {
    background: linear-gradient(118deg, #009789, #b7d7d4);
    color: #fff;
    border-radius: 0.428rem;
}

.card-statistic .card-body .avatar .avatar-content {
    width: 48px;
    height: 48px;
}

.card-congratulation-medal h5 {
    color: #fff !important;
}

.card-congratulation-medal h3 {
    color: #fff !important;
}

.congratulation-medal {
    position: absolute;
    top: 0;
    right: 0px !important;
}

.doneOrders {
    height: 500px;
    overflow-y: auto;
}
.ticketPerformance{
    height: 390px;
    overflow-y: auto;
    overflow-x: auto;
}

.card-browser-states .browser-states {
    cursor: pointer;
}

.card-browser-states .browser-states.active {
    background-color: #e4e6e8 !important;
    color: #5e6278 !important;
}

.card-browser-states .browser-states:hover {
    background-color: #e4e6e8 !important;
    color: #5e6278 !important;
}

.card-congratulation-medal .card-body .avatar .avatar-content {
    width: 48px;
    height: 48px;

}

.dark-card .card-body .avatar .avatar-content {
    width: 48px;
    height: 48px;

}
.sticky-header{
position: sticky;
top: 0;
background-color: white;
}

.row{
margin-right: calc(var(--bs-gutter-x) * -.5)!important; ;
}


