<div class="form-group">
  <h2>Catalog format</h2>
  <p style="color: #6b757a;">Choose the message format that best fits your needs.</p>
  <div>
    <div class="option">
      <input
      id="CatalogMessage"
        type="radio"
        name="catalogFormat"
        value="CatalogMessage"
        [checked]="CatalogFormat === 'CatalogMessage'"
        (change)="onCatalogFormatChange($event.target.value)"
        />
      <label for="CatalogMessage">
        <strong>Catalog message</strong>
        <span class="desc">
          Include the entire catalog to give your users a comprehensive view of all your products.
                </span>
      </label>
    </div>
    <div class="option">
      <input
      id="MultiProductMessage"
        type="radio"
        name="catalogFormat"
        value="MultiProductMessage"
        [checked]="CatalogFormat === 'MultiProductMessage'"
        (change)="onCatalogFormatChange($event.target.value)"
        />
      <label for="MultiProductMessage">
        <strong>Multi-product message</strong>
        <span class="desc">
          Include up to 30 products from the catalog. Useful for showcasing new collections or a specific product category. You will need to specify which products via the API.
        </span>
      </label>
    </div>
  </div>
</div>

