<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">
            <span>{{ l("writeTicketSummery") }}</span>
          </h4>
          <button type="button" class="p-1 btn-close" aria-label="Close" (click)="close()"></button>
        </div>
        <div class="modal-body">
          <p>{{ l("youCannotEditAfterSubmitting") }}</p>
          <div>
            <textarea [(ngModel)]="summary" class="form-control" rows="3" maxlength="50" id="summery" placeholder="Summary"></textarea>
            <p class="text-danger" *ngIf="submitted && !summary">{{ l("ThisFieldIsRequired") }}</p>
          </div>
          <div class="modal-footer">
            <div class="row d-none d-lg-block">
              <div class="col-12">
              
                <button
                placement="left"
                ngbTooltip="Quick Answers"
                data-bs-toggle="modal"
                data-bs-target="#quickAnswersModal"
                class="btn cursor-pointer"
                (click)="getAllTemplates()"
              >
                <span>QA</span>
            </button>
                <button [disabled]="saving" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')" type="button" class="btn btn-secondary" (click)="done()">{{ l("Submit") }}</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
        <!-- Quick answers modal-->
          <div class="modal fade" id="quickAnswersModal" tabindex="-1" aria-labelledby="quickAnswersModal">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content" style="max-height: 300px;">
                    <header class="user-profile-header">
                        <div class="modal-header">
                            <h2>{{ l("quickAnswers") }}</h2>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </header>
                    <div  style="height: 200px;  overflow: auto;" >
                        <ul>
                            <li
                                *ngFor="let template of templates"
                                class="template-text p-1 cursor-pointer"
                                (click)="getTemplateMessage(template.templateMessage.id)"
                                [title]="titleMessage"
                            >
                                {{ template.templateMessage.templateMessageName }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
  </div>
  