$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

@font-face {
  font-family: 'varelRound';
  src: url('../../../../../assets/fonts/Varela_Round/VarelaRound-Regular.ttf');
}

.checkbox > input:checked ~ span {
  background-color: #009789 !important;
  padding: 4px !important;
}

p{
  font-family: "varelRound";
  color: #858585;
}
span,button,label,input,textarea{
  font-family: "varelRound";
}
h6{
  font-family: "varelRound";
  font-weight: 500;
  color: #101010;
}
.header-content{
  display: flex;
  justify-content: space-between;
  .avatar-content{
    width: 40px;
    height: 40px;
  }
  i{
    font-size: 20px;
}
  .right-content{
    display: flex;
    i{
        margin-right: 1rem;
        font-size: 20px;
        cursor: pointer;
    }
    .bi-trash3-fill:hover{
        color:red ;
    }
  }
}
.dropdown-toggle:empty::after {
  display: none!important;
}

.inputForm{
  p{
    color:#858585 ;
    font-size: 14px;
  }
  .form-group{

    span{
      color:#858585 ;
      font-size: 11px;
    }
  }

  #modelDialog{
    width: 50% !important;
  }
  label{
    color: #101010;
    font-size: 15px;
  }
  textarea{
    color: #101010;  
  }
  .bodyText{
    color: #101010;  
    border-bottom: solid 1px #d8d6de;
    border-left: solid 1px #d8d6de;
    border-top-right-radius: 0px;
    border-right: solid 1px #d8d6de;
    border-top-left-radius: 0px;
    font-size: 15px;
  }
    emoji-mart {
      position: absolute;
      z-index: 1;
      top: 300px;
      left: 0;
      }

      a:hover{
        text-decoration: underline;
        cursor: pointer;
      }

   .bi-plus-lg{
    cursor: pointer;
   }


    .body-actions{
      background-color: #fafafa;
      padding-top: 6.5px;
      padding-bottom: 6.5px;
      border-radius: 4px 4px 0 0;
      height: 40px;
      border-top: 1px solid #d8d6de;
      border-left: 1px solid #d8d6de;
      border-right: 1px solid #d8d6de;
    i{
        cursor: pointer;
        font-size: 20px;
        color: #858585;
      }
      .bi-emoji-smile{
        float: right;
      }
    }
  }

.button-input{
  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  text-align: center;
}
.button-input:focus{
  background-color: transparent;
  border: none;
  outline: none;
}
.checkbox-branch{
  padding: 1px 3px;
  margin: 9px 9px;
}
.btn-text{
  cursor: text;
  input{
    cursor: text;
  }
}
.templateCard{
  border-top-left-radius: 0;
  background-image: url('../../../../../assets/common/images/wahtsappBackground.bmp');
  box-shadow: 0 1px 0.5px #ffecec;
  border-radius: 7.5px;
  padding: 6px 7px 8px 9px;
  position: relative;
}
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: #101010;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
  }
  padding-bottom: 6px;  
  border-width: 3px;
  border-image-slice: 1;
}
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

input[type="file"] {
  position: relative;
  background-color: #fafafa ;
  width: 100%;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
  background-color: #fafafa ;
}


input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  background-color: #fafafa ;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: #0964b0;
  background-color: #fafafa ;
  content: "Upload File";
}



input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: #fafafa ;
  border: 1px solid #fafafa;
  box-shadow: 0px 1px 0px #fafafa;
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

.error{
  border-color: red;
  .ng-select-container{
    border-color: red;
  }
}
.arrow{
  position: absolute;
  left: 34px;
  color: white;
}

.msg{
  width: 400px;
}
.containerMsg{
  background-color: #d3d3d36e;
  border-radius: 16px;
  padding: 15px;
}
.headerMessage{
  font-size: 18px;
  font-weight: 700;
}
.bodyText{
  white-space: pre-wrap; 
}
.bodyMessage{
  font-size: 13px;
  font-weight: 550;

}
.footerMessage{
  font-weight: 325;

}
span{
  line-break: anywhere;
}
.footerCard{
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.buttonText{
  margin-top: 3px!important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.card-body{
  background-color: white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}
.btn-light{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 99%;
  min-width: 99%;
}
.image-box{
  border: 1px solid #b1b8bb;
    padding: 1rem;
    border-radius: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 100%;
    cursor: move;

}
.buttons{
  cursor: move;
}
.dragDrop{
  margin: auto;
  margin-right: 5px;
  cursor: move;
}


.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}



.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.pr-1
{
  padding-right: 1rem;
}

.pl-2{
  padding-left: 2rem;
}
.line{
  border: 1px solid;
  border-color: transparent;
  border-radius: 5px;
}
.variable-dropDown{
  max-height: 200px;
  overflow: auto;
}

.parameter-container{
  display: grid;
  background: #8f8f8f30;
  border-radius: 5px;
  padding: 10px;

}

.conditions-container{
  display: grid;
  gap: 20px;
  margin-bottom: 10px;
  background: rgb(245, 246, 250);
  border-radius: 5px;
  padding: 10px;
}
.toggle-button-container {
  border: 1px solid #ccc;
  border-radius: 20px;
  display: inline-flex;
  overflow: hidden;
}

.toggle-button-container button {
  border: none;
  padding: 5px 20px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.toggle-button-container button.active {
  background-color: #4CAF50; 
  color: white;
}

.toggle-button-container button:hover:not(.active) {
  background-color: #f0f0f0;
}
.parameters{
  max-height: 200px;
  overflow: scroll;
}

.p-dropdown:not(.p-disabled):hover {
  border-color:$primary ;
}

.p-dropdown:not(.p-disabled).p-focus {
  outline: 0 none;
  outline-offset: 0;
  border-color:$primary ;
}


// ::ng-deep .p-datepicker table td > span {
//   background-color: orange;
// }

// ::ng-deep .p-datepicker table td.p-datepicker-today > span {
//   background-color: burlywood;
// }


::ng-deep .p-datepicker table td > span.p-highlight {
  color: white;
  background: #5fb1ab;
}


::ng-deep .flatpickr-calendar .flatpickr-day.startRange, .flatpickr-calendar .flatpickr-day.endRange, .flatpickr-calendar .flatpickr-day.startRange:hover, .flatpickr-calendar .flatpickr-day.endRange:hover {
  background: #5fb1ab;
  color: #fff;
  border-color: #5fb1ab;
}


::ng-deep .flatpickr-calendar .flatpickr-day.endRange, .flatpickr-calendar .flatpickr-day.endRange, .flatpickr-calendar .flatpickr-day.endRange:hover, .flatpickr-calendar .flatpickr-day.endRange:hover {
  background: #5fb1ab;
  color: #fff;
  border-color: #5fb1ab;
}

// ::ng-deep .flatpickr-calendar .flatpickr-day.endRange, .flatpickr-calendar .flatpickr-day.endRange, .flatpickr-calendar .flatpickr-day.flatpickr-day.endRange, .flatpickr-calendar .flatpickr-day.endRange:hover {
//   background: #5fb1ab;
//   color: #fff;
//   border-color: #5fb1ab;
// }

::ng-deep  .flatpickr-calendar .flatpickr-day.today {
  border-color: #5fb1ab;
}
 
::ng-deep .ng-select .ng-dropdown-panel .ng-option:hover {
  background-color: #D2D7D3; 
  color: black;
}

::ng-deep iframe.picker-dialog-frame {
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  position: fixed !important;
  z-index: 99999 !important;
  opacity: 1 !important;
  display: block !important;
}

.hint-integration{
  font-family: 'Verdana', sans-serif !important;
  font-weight: 400;
  font-size: 14px;
  color: #B6BAC3;
  padding-bottom: 10px;
}