<div bsModal #createReservedWordsModal="bs-modal" class="modal fade h-100" tabindex="-1" role="dialog"
    aria-labelledby="createReservedWordsModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">
                    {{ l("addKeyWord") }}
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="close()"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <label class="mr-1"> {{ l("reservedWords") }}(s)* : </label>
                        <div *ngFor="let item of keyWord; let i = index"
                            class="mt-1 badge badge-pill badge-light-secondary mr-1" placement="top"
                            [ngbTooltip]="item">
                            <span class="text">{{ item }}</span>
                            <span style="cursor: pointer" (click)="deleteItem(i)">
                                <i class="bi bi-x-circle"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-12 text-right p-0 mt-1 m-md-0 m-lg-0">
                        <button class="btn btn-icon btn-outline-primary-info" type="button"
                            (click)="modalOpen(modalBasic)" rippleEffect>
                            <i class="bi bi-plus"></i>
                            <span> {{ l("addKeyWord") }}</span>
                        </button>
                    </div>
                </div>
                <div class="selection-container">
                    <h3 class="selection-title">Select method</h3>
                    <div class="radio-group">
                        <p>Select method</p>
                        <label class="radio-label" >
                            <input type="radio" name="matchType1" value="1" [(ngModel)]="KeyWordType" (change)="onSelectMatchType(KeyWordType)" />
                            Fuzzy match   
                        </label>
                        <i class="fas fa-info-circle radio-label  pr-5" title=" Customizable similarity percentage to handle errors."></i>
                        <label class="radio-label" >
                            <input type="radio" name="matchType2" value="2" [(ngModel)]="KeyWordType" (change)="onSelectMatchType(KeyWordType)" />
                            Exact matching
                        </label>
                        <i  class="fas fa-info-circle radio-label  pr-5"  title="exact  match of user input and keyword. " ></i>
                        <label class="radio-label" >
                            <input type="radio" name="matchType3" value="3" [(ngModel)]="KeyWordType" (change)="onSelectMatchType(KeyWordType)" />
                            Contains
                        </label>
                        <i  class="fas fa-info-circle radio-label" title="Keyword is recognized within a longer text, useful for conversational context."></i>
                        
                    </div>
                    
                </div>
                
                <!-- Input field for percentage that only appears when fuzzy match is selected -->
                <div *ngIf="isFuzzyMatch" class="percentage-container">
                    <input
                    sty
                        type="range" 
                        [(ngModel)]="percentage" 
                        [min]="0" 
                        [max]="2" 
                        [step]="1" 
                        (change)="updatePercentage($event.target.value)" 
                        class="percentage-input" 
                    />
                    <span class="percentage-sign">{{ getPercentageValue() }}%</span>
                </div>
                

                <div *ngIf="bots" class="form-gro mt-1">
                    <label for="action">{{ l("replyAction") }} *:</label>
                    <select name="selectBot" id="selectBot"
                        [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                        (change)="selectBot($event)" [(ngModel)]="selectedBotId" required>
                        <option [value]="null" selected disabled>Select Bot</option>
                        <option *ngFor="let bot of bots" [value]="bot.id">{{ bot.id }} : {{ bot.flowName }}</option>
                    </select>
                    <p class="text-danger" *ngIf="submitted && !selectedBot">{{ l("ThisFieldIsRequired") }}</p>
                    

                <div *ngIf="nodes" class="form-group mt-1">
                    <label for="action">Select Node *:</label>
                    <select [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                        name="selectNode" id="selectNode"  (change)="selectNode($event)"  [(ngModel)]="selectedNodeId" required>
                        <option [value]="null" selected disabled>Select Node</option>
                        <option *ngFor="let node of nodes" [value]="node.id">{{ node.title }}</option>
                    </select>
                    <p class="text-danger" *ngIf="submitted && !selectedNode">{{ l("ThisFieldIsRequired") }}</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="close()">{{ l("Cancel") }}</button>
                <button [buttonBusy]="saving" (click)="save()" [busyText]="l('SavingWithThreeDot')"
                    class="btn btn-primary-info" type="button">
                    <i  *ngIf="!this.isUpdate" class="fa fa-save"></i> <span *ngIf="!this.isUpdate">{{  l("Save") }}</span>
                    <i *ngIf="this.isUpdate"  class="fa fa-pencil-alt"></i> <span *ngIf="this.isUpdate">{{  l("update") }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<ng-template #modalBasic let-modal>
    <div [ngClass]="darkModeService.currentSkin === 'dark' ? 'modal-content-dark ' : 'modal-content'">
        <div class="modal-header">
            <h4 [ngClass]="darkModeService.currentSkin === 'dark' ? 'dark-header ' : ''" class="modal-title"
                id="myModalLabel1">{{ l("addKeyWord") }}</h4>
        </div>
        <div class="modal-body" tabindex="0" ngbAutofocus>
            <div class="form-group">
                <input #keyWord="ngModel" required
                    [ngClass]="darkModeService.currentSkin === 'dark' ? 'form-control-dark ' : 'form-control'"
                    maxlength="20" type="text" [(ngModel)]="text" name="itemText" id="itemText" />
                <p class="text-danger" *ngIf="submitted2 && keyWord.invalid">{{l("ThisFieldIsRequired") }}</p>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="modal.dismiss('Cross click')" rippleEffect>{{
                l("Cancel") }}</button>
            <button type="button" class="btn btn-primary-info" (click)="saveKeyWord(text)" rippleEffect>{{ l("add")
                }}</button>
        </div>
    </div>

</ng-template>