.delete{
        position: absolute;
        top: 128px;
        left: 80px;
}
.text{
    overflow: hidden;
    white-space: nowrap;
    padding-left: 12px;
    padding-right: 12px;
    text-overflow: ellipsis;
    line-height: 20px;
    width: 100px;
    display: block;

}
.badge{
    display: inline-flex;
}
.bi-x-circle{
font-size: 20px;
}

.bi-x-circle:hover{
    color: rgb(51, 51, 51);
}


.selection-container {
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.selection-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.radio-group {
    display: flex;
    gap: 10px;
}

.radio-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.radio-label input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #009789;
    border-radius: 50%;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-label input[type="radio"]:checked {
    background-color: #009789;
}

.percentage-container {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.percentage-title {
    font-size: 24px;
    color: #333;
    margin-right: 10px;
}

.percentage-input {
    -webkit-appearance: none;
    width: 100px;
    height: 8px;
    background: #009789;
    border-radius: 4px;
    margin-right: 5px;
}

.percentage-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #009789;
    cursor: pointer;
}

.percentage-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #009789;
    cursor: pointer;
}

.percentage-input:focus {
    outline: none;
}

.percentage-sign {
    font-size: 18px;
    color: #333;
}


